@import "./porn1.vip.scss";
$main-color: #e42a30;

.vip-top-info {
  background: white url("/static/image/ey1/mcenter/vip/vip_bg.png") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.header-title {
  color: $main-color;
}
