@import "@/css/variable.scss";

.header {
    margin-bottom: 10px;
    padding: 7px 11px;
    background-color: #fffefe;

    .change-btn {
        display: inline-block;
        line-height: 12px;
        margin: 0 11px;
        color: $headerTextColor;
        font-size: 12px;

        &.current {
            color: $headerTextColorActive;
        }
    }
}

.top-link {
    display: flex;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
    background-color: #fff;
}

.link {
    padding-left: 20px;
    color: $main_text_color2;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
        color: #be9e7f;
    }
}

.search-form {
    background-color: #fff;
    border-top: 1px solid #eee;
}

.form-row {
    border-bottom: 1px solid #eaeaea;
    padding: 4px 8px;

    select {
        width: 100%;
        outline: none;
        background: transparent;
        border: none;
        appearance: none;
    }

    input {
        padding-left: 5px;
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        appearance: none;
    }
}

.form-title {
    font-size: 12px;
    padding: 0 0 0 5px;
    color: #bebcbc;
}

.form-date-start,
.form-date-end {
    position: relative;
    float: left;
    width: 50%;

    input {
        opacity: 0;
    }

    span {
        position: absolute;
        padding-left: 7px;
        bottom: 0;
        left: 0;
    }
}

.form-date-start {
    border-right: 1px solid #eaeaea;
}

.submit-form-row {
    padding: 8px 0;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.submit {
    background: linear-gradient(to left, #bd9d7d, #f9ddbd);
    margin: 0 auto;
    width: 85%;
    line-height: 45px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
}

.tips {
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;
    width: 233px;
    margin: auto;
    padding: 11px 34px;
    border-radius: 10px;
    background-color: #161616;
    color: #fff;
    text-align: center;
    opacity: 0.9;
}
