.preset-color {
    $headerTextColor: #000;
    $headerTextColorActive: #00347D;
    $submitButtonBackgroundColor: #00347D;
    $submitTextColor: #FFF;

    @import './commission.scss';
}

.site-500011,
.site-52,
.site-53 {
    $headerTextColor: #000;
    $headerTextColorActive: #EDB83F;
    $submitButtonBackgroundColor: #EDB83F;
    $submitTextColor: #222;

    @import './commission.scss';
}
