.info-wrap {
    margin-top: 32px;
}

.deposit-info-title {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #262626;
}

.deposit-info-table {
    display: table;
    width: 100%;
    border-collapse: collapse;

    &.application-table {
        margin-bottom: 16px;
    }
}

.deposit-info-tr {
    display: table-row;
}

.deposit-info-td {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 79%;
    padding: 12px;
    border: 1px solid #DDD;

    &.deposit-info-thead {
        width: 21%;
        line-height: 20px;
        text-align: right;
        background: #F0F3F7;
    }
}

.info-yourBank {
    color: #53B2F3;
}

.icon-wrap {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 12px;
    line-height: 32px;
    margin-top: -15px;
    text-align: center;
    font-size: 16px;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    color: #FFF;
    background: #53B2F3;
}

.info-important {
    font-weight: bold;
}

.qrcode-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 36px;
    text-align: center;
}

.qrcode-title {
    display: block;
    color: #000;
}

.qrcode-img {
    width: 100px;
    height: 100px;

    img {
        display: block;
    }
}

.deposit-info-more {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    color: #53B2F3;
}

.method-item {
    display: inline-block;
    vertical-align: top;
    min-width: 82px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    padding: 0 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    color: #7E7E7E;

    &.is-current {
        border-color: #53B2F3;
        color: #FFF;
        background-color: #53B2F3;
    }
}

.deposit-input {
    box-sizing: border-box;
    width: 176px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    outline: none;
    border: 1px solid #CDCDCD;
    border-radius: 4px;

    // Chrome/Opera/Safari
    &::-webkit-input-placeholder {
        color: #DDD;
    }
    // Firefox 19+
    &::-moz-placeholder {
        color: #DDD;
    }
    // IE 10+
    &:-ms-input-placeholder {
        color: #DDD;
    }
    // Firefox 18-
    &:-moz-placeholder {
        color: #DDD;
    }
}

.speed-icon-wrap {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    line-height: 24px;
    margin-left: 4px;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
    background: #53B2F3;
}

.submit-btn {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 190px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    color: #FFF;
    background: #53B2F3;
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
