@import "./porn1.module.scss";

#js-nc-check-bar {
  &.drag-verify-wrap {
    :global {
      .nc_scale {
        min-height: inherit;
        height: initial;
        border-radius: 5px;

        .nc_bg {
          width: 0px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          background: linear-gradient(to right, #E61938, #FE593C);
        }
      }
    }
  }
}
