@import "./porn1.module.scss";

.member-total {
    background-color: #e9dacc;
    color: #222222;
}

.btn-check {
    border-radius: 5px;
    background: #E42A30;
    color: white;
}


.member-text {
    color: #222222;
}
