.preset-color {
    $dateBorderColor: #19A3FF;
    $dateBackgroundColor: #222;
    $dateTextColor: #AAA;
    $dateTextColorActive: #FFF;
    $titleColor: #19A3FF;
    $buttonBackgroundColor: #00347D;
    $buttonTextColor: #FFF;

    @import './memberInfo.scss';
}

.site-500011,
.site-52,
.site-53 {
    $dateBorderColor: #EDB83F;
    $dateBackgroundColor: #FFF;
    $dateTextColor: #AAA;
    $dateTextColorActive: #000;
    $titleColor: #EDB83F;
    $buttonBackgroundColor: #EDB83F;
    $buttonTextColor: #000;

    @import './memberInfo.scss';
}
