@import "./porn1.module.scss";

.date-wrap {
  > div {
    &.active {
      &::after {
        background: var(--member_gradient_color1);
      }
    }
  }
}

.member-total {
  background-color: #ffedef;
  color: #e61938;
}

.btn-check {
  border-radius: 5px;
  background: var(--member_gradient_color1);
  color: white;
}

.member-text {
  color: #fe593c;
}
