// footer
.footer-wrap {
    padding: 12px 0;
    font-size: 14px;
    background-color: #191A23;

    .footer {
        margin: 0 auto;
        width: 1000px;
        text-align: center;
        color: #FFF;

        .footer-info,
        .footer-copyright {
            margin-bottom: 8px;
            line-height: 18px;
        }
    }
}
