.mem-info-wrap {
    float: left;
    margin: 10px 0 0 54px;
    height: 30px;
    color: #FFF;

    .mem-info-item {
        float: left;

        &.account {
            margin-right: 26px;
        }

        strong {
            color: inherit;
        }
    }

    // 加號選單
    .balance-wrap {
        float: left;
        position: relative;
        top: 7px;
        width: 14px;
        height: 16px;
        margin: 0 28px 0 10px;
        color: #F5B917;

        .balance-icon {
            display: block;
            color: inherit;
            cursor: pointer;
        }

        .balance-list {
            border-color: #E4635E;
            color: #FFF;
            background: #E4635E;
        }

        .balance-list-bottom {
            background: #B564A0;

            .balance-translate {
                color: #FFF;
                background: #502260;
                border-radius: 0;
                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
            }
        }
    }
}

//  水藍紫 
.mem-info-wrap {
    .water-blue-purple & {
        .balance-wrap {
            color: #4DFFD2;

            .balance-list {
                border-color: #918EDB;
                color: #FFF;
                background: #918EDB;
            }

            .balance-list-bottom {
                background: #5C59CA;

                .balance-translate {
                    background: #333895;
                }
            }
        }
    }
}

//  墨黑 
.mem-info-wrap {
    .black & {
        .balance-wrap {
            color: #FFF;

            .balance-list {
                border-color: #202020;
                color: #FFF;
                background: #202020;
            }
    
            .balance-list-bottom {
                background: #4D4D4D;
    
                .balance-translate {
                    background: #222;
                }
            }
        }
    }
}
