.mem-menu-wrap {
    float: left;
    margin-top: 10px;
    height: 30px;
    color: #FFF;

    >.link-line {
        float: left;
        width: 1px;
        height: 10px;
        margin: 0 10px;
    }

    span {
        float: left;

        &.link-item {
            cursor: pointer;

            &:hover {
                color: inherit;
            }
        }
    }
}
