@import "~@/css/variable.scss";

.agent-pwd-forget-wrap {
    position: relative;
    width: 98%;
    max-width: 430px;
    margin: 194px auto 0;
    padding: 50px 0;
    background: url('/static/image/agent/agcenter_login_bg.png') 50% 0 repeat-y;
    text-align: center;
}
.member-pwd-forget-wrap {
    position: relative;
    margin: 194px auto 0;
    border-radius: 4px;
    background: #2F2F2F;
    padding-bottom: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    max-width: 400px;
    color: #FFF;
    .title {
        margin-bottom: 44px;
        padding: 15px 20%;
        background: #292929;
        width: 100%;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .field {
        margin: 0 auto 32px;
        width: 80%;
        max-width: 240px;
    }
    input {
        display: block;
        border: none;
        border-radius: 8px;
        width: 100%;
        height: 40px;
        text-indent: 10px;
        outline: none;
        &.fail {
            border-color: #DC5575;
        }
    }
    .tip {
        margin: 10px 0 0 10px;
        color: #F3FD9D;
        text-align: left;
    }
    .submit {
        margin: 0 auto;
        border-radius: 8px;
        background: #BA2622;
        width: 80%;
        max-width: 240px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        text-align: center;
        &:hover {
            background: #D43E3D;
        }
    }
    .close {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 40px;
        height: 40px;
        line-height: 36px;
        font-size: 36px;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            transform:rotate(90deg);
        }
    }
    .text-msg {
        margin: 12px auto 0;
        width: 80%;
        color: #B9B9B9;
        font-size: 15px;
        text-align: center;
    }
}
