@import "./porn1.index.module.scss";
$main_color: $share_member_text_color4;

.more-method-header {
  .prev {
    color: $main_text_color3;
  }
}

.more-method-content {
  .cell {
    color: #0477e9;
  }
}
