@import "./porn1.popup.scss";

.pop-wrap {
  .title {
    background-color: #222;
  }

  .rebate-entry-button-wrap {
    .button-entry-history {
      background: #e42a30;
      color: #ffffff;
    }

    .button-entry-close {
      background: #222;
      color: #ffffff;
    }
  }
  .path-bottom {
    .path-back {
      color: #e42a30;
    }
    .path-only-close {
      width: 100%;
      color: #e42a30;
    }
  }
}
