@import "./porn1.popup.scss";

.pop-wrap {
  .title {
    background-color: #333333;
  }


  .rebate-entry-button-wrap {

    .button-entry-history {
      background: linear-gradient(to left, #E61938, #FE593C);
    }

    .button-entry-close {
      background: #333333;
      color: white;
    }
  }
}
