@import "./porn1.popup.scss";

.pop-wrap {
  .title {
    background-color: #333333;
  }

  .pop-block {
    border-radius: 20px;
  }

  .rebate-entry-button-wrap {
    .button-entry-history {
      background: #000000;
    }

    .button-entry-close {
      background: #333333;
      color: white;
    }
  }

  .path-bottom {
    .path-back {
      color: #000000;
      border-left: 1px solid #f8f8f7;
    }

    .path-only-close {
      color: #000000;
    }

    .path-close {
      color: #000000;
    }
  }
}
