@import "./porn1.module.scss";

.active-slider {
  background-color: var(--find_password_underline_active_color);
}

.method-item {
  color: var(--find_password_text_color);
  &.active {
    color: var(--find_password_text_active_color);
  }
}

.forget-submit {
  > div {
    background: var(--main_button_color2);
    color: var(--main_button_text_color2);
  }

  &.active {
    > div {
      color: var(--main_button_text_color1);
      background: var(--main_button_color1);
    }
  }
}

.send-keyring {
  border-radius: 15px;
  background: var(--send_keyring_disabled);
  color: var(--main_button_text_color2);
  &.active {
    background: var(--send_keyring);
    color: var(--main_button_text_color1);
  }
}
