@import "./porn1.module.scss";

.active-slider {
  background-color: #e61938;
}

.method-item {
  &.active {
    color: #222222;
  }
}

.forget-submit {
  > div {
    background: var(--mcenter_button_color2);
  }

  &.active {
    > div {
      background: var(--mcenter_button_color1);
      color: #ffffff;
    }
  }
}

.send-keyring {
  background: var(--mcenter_button_color2);

  &.active {
    background: var(--mcenter_button_color1);
  }
}
