@import "@/css/variable.scss";
.content-wrap {
  .content-item {
    margin-top: 10px;
    background-color: #fff;

    .rebate-header {
      padding: 4px 0;
      text-align: center;
      border-bottom: 1px solid #eaeaea;
      color: #000;
      font-size: 12px;

      &.pathheader {
        display: flex;
        justify-content: space-between;
        padding: 7px 12px;

        .rebate-time {
          font-weight: bold;
          font-size: 14px;
        }
      }
    }

    .rebate-body {
      padding: 10px 0;

      .detail-content {
        padding: 2px 30px;

        .content-left {
          color: #a6a9b2;
        }

        .content-right {
          float: right;
          color: #222;

          &.is-negative {
            color: #db6372;
          }
        }
      }
      &.pathbody {
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: 12px;

        > .detail-content {
          padding: 2px 12px;
        }
        > .detail-content:first-child {
          padding-top: 6px;
        }
        > .detail-content:last-child {
          padding-bottom: 10px;
        }
      }
    }

    .rebate-btn {
      padding-bottom: 10px;
      text-align: center;

      button {
        width: 270px;
        height: 39px;
        color: #fff;
        // background: #00347d;
        background: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);

        border: 0;
        outline: none;
        border-radius: 3px;
      }

      .unrebate-btn {
        color: #f3ede7;
        background: linear-gradient(to left, #e9dacb, #eee5db);
      }
    }

    .rebate-nodata {
      padding-top: 40px;
      text-align: center;

      img {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-bottom: 14px;
      }

      p {
        font-size: 14px;
        color: #a6a9b2;
      }
    }
  }

  &.pathwrap {
    border-radius: 7px;
    margin: 10px;
  }
}

// No-data
.no-data {
  line-height: 40px;
  margin: 5px 0;
  background: #fff;
  color: #aaa;
  text-align: center;

  &.pathnodata {
    border-radius: 7px;
    margin: 10px;
    font-size: 12px;
  }
}

// 實返說明
.rebate-manual-title {
  height: 43px;
  line-height: 43px;
  margin-top: 7px;
  padding: 0 19px;
  background: #fff;
}

.rebate-manual-wrap {
  background: #fff;

  &.pathmanual {
    background-color: #f8f8f8;
  }
}

.manual-line {
  height: 1px;
  margin: 0 14px;
  background: #cfcfcf;
}

.rebate-manual-tip {
  padding: 7px 19px;
  color: #aaa;

  &.pathtip {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-size: 12px;

    div {
      padding: 3px 0;
    }
  }
}

.title-icon,
.manual-title {
  display: inline-block;
  vertical-align: middle;
}

.maintains-list {
  color: #2693fc;
}
