@import "./porn1.index.scss";
.content-wrap {
  .content-item {
    .rebate-btn {
      button {
        background: #e42a30;
      }

      .unrebate-btn {
        color: #ffffff;
        background: #fdcccc;
      }
    }
  }
}
