@import "./porn1.module.scss";

.submit {
  background: #e42a30;
  color: #fff;
}

.all-data {
  .data-content-wrap {
    .data-content {
      .title {
        &::before {
          background-color: #e42a30;
        }
      }
    }
  }
}
