@import "./porn1.module.scss";

.link {
  color: #a2a2a2;

  &.active {
    color: var(--member_color100);
  }
}

.submit {
  background: var(--member_gradient_color1);
  color: #fff;
}

.all-data {
  .data-content-wrap {
    .data-content {
      .title {
        &::before {
          background-color: #e61938;
        }
      }
    }
  }
}
