@import "./porn1.module.scss";

.link {
  color: #a2a2a2;

  &.active {
    color: $main_title_color1;
  }
}

.submit {
  background: $main_title_color1;
  border-radius: 23px;
  color: #fff;
}

.all-data {
  .data-content-wrap {
    .data-content {
      .title {
        &::before {
          background-color: $main_title_color1;
        }
      }
    }
  }
}

.link {
  &.active {
    color: $main_title_color1;
  }
}
