@import "./porn1.module.scss";

.title {
  color: #fe593c;
}
.code-wrap {
  background-color: #ffedef;
}

.register-wrap {
  > button {
    border-radius: 23px;
  }
}

.qrcode-wrap {
  border: 1px solid #eeeeee;
}

.button-wrap {
  > div {
    border: 1px solid #000000;
    border-radius: 23px;
    background-color: #ededed;
  }
}
