@import "./porn1.module.scss";

.title {
  color: #fe593c;
}
.code-wrap {
  background-color: #ffedef;
}

.register-wrap {
  > button {
    border-radius: 23px;
  }
}

.qrcode-wrap {
  border: 1px solid #eeeeee;
}

.bind-code-wrap {
  .bind-code-item {
    border-radius: 23px;
  }
}

.friend-and-register-wrap {
  .content-footer {
    > button {
      border-radius: 23px;
    }
  }
}
