$popupBg: #FFF;
$popupColor: inherit;
$popupBorder: 0;
$popupBorderRadius: 4px;
$titleBg: #333;
$linkColor: #56BAFF;
$linkHoverColor: #87CDFD;
$agentLinkColor: #F7B500;
$agentLinkHoverColor: #FFD152;
$closeColor: #999;
