@charset 'UTF-8';

/****** css reset ******/
@import './normalize.scss';

/* clear float */
.clearfix {
    &:before {
        content: "";
        display: table;
    }

    &:after {
        @extend .clearfix:before;
        clear: both;
    }
}

/* Slider */
.slider {
    height: 100%;
    animation: slide-in 0.31s forwards;
    opacity: 1;
    -webkit-opacity: 1;
    animation-timing-function: forwards;
    -webkit-animation-timing-function: forwards;

    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #f8f8f8;
}

.slider-close {
    animation: slide-out 0.31s;
}

:global {
    @keyframes slide-in {
        0% {
            right: calc(-100%);
        }

        100% {
            right: 0;
        }
    }

    @-webkit-keyframes slide-in {
        0% {
            right: calc(-100%);
        }

        100% {
            right: 0;
        }
    }

    @keyframes slide-out {
        0% {
            right: 0;
        }

        100% {
            display: none;
            right: calc(-100%);
            opacity: 0;
        }
    }

    @-webkit-keyframes slide-out {
        0% {
            right: calc(-100%);
        }

        100% {
            display: none;
            right: 0;
            opacity: 0;
        }
    }

    @keyframes fade-in {
        0% {
            display: flex;
            opacity: 0;
        }

        100% {
            display: flex;
            opacity: 1;
        }
    }

    @-webkit-keyframes fade-in {
        0% {
            display: flex;
            opacity: 0;
        }

        100% {
            display: flex;
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            display: flex;
            opacity: 1;
        }

        100% {
            display: none;
            opacity: 0;
        }
    }

    @-webkit-keyframes fade-out {
        0% {
            display: flex;
            opacity: 1;
        }

        100% {
            display: flex;
            opacity: 0;
        }
    }

    .video-js .vjs-volume-panel .vjs-volume-control.vjs-slider-active.vjs-volume-vertical .vjs-volume-bar,
    .video-js .vjs-big-play-button,
    .vjs-flat-skin .vjs-fullscreen-control,
    .vjs-flat-skin .vjs-subtitles-button,
    .video-js.vjs-default-skin.vjs-paused .vjs-big-play-button {
        outline: none !important;
        box-shadow: none !important;
    }
}
