@charset 'UTF-8';

/****** css reset ******/
@import './normalize.scss';

/* clear float */
.clearfix {
    &:before {
        content: "";
        display: table;
    }

    &:after {
        @extend .clearfix:before;
        clear: both;
    }
}

:global {
    @keyframes fade-in {
        0% {
            display: flex;
            opacity: 0;
        }

        100% {
            display: flex;
            opacity: 1;
        }
    }

    @-webkit-keyframes fade-in {
        0% {
            display: flex;
            opacity: 0;
        }

        100% {
            display: flex;
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            display: flex;
            opacity: 1;
        }

        100% {
            display: none;
            opacity: 0;
        }
    }

    @-webkit-keyframes fade-out {
        0% {
            display: flex;
            opacity: 1;
        }

        100% {
            display: flex;
            opacity: 0;
        }
    }
}
