/* RWD 斷點 */
$sidebar: 0px;
$phone: 375px;
$pad: 768px;
$pc: 960px;
$layoutWidth: 1366px !default;
$mobile_max_width: 420px;
$mobile_max_landscape_width: 768px;

$main_background_white1: #f8f8f8;
$main_white_color1: #fefffe;

// $main_text_color1: #9ca3bf;
// $main_text_color2: #a6a9b2;
// $main_text_color3: #414655;
// $main_text_color4: #5e626d;
// $main_text_color5: #bebcbc;
// $main_text_color6: #222222;

$main_title_color1: #000000;

$main_footer_color1: #9aa4c2;
$main_footer_active_color1: #d2b79c;
$main_footer_color2: #b1b1b1;
$main_footer_active_color2: #000000;

$main_vip_color1: #eeb72d;
$main_discover_color1: #bf8646;

$main_error_color1: #db6372;

/* 包網 */
/*--- 澳博 ---*/
//大廳 遊戲
$share_main_button_color: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);
$share_main_button_text_color: #ffffff;
$share_text_color1: #ad9982; //首頁上方icon文字顏色
$share_text_color2: #5e626d; //登入 左下字
$share_text_color3: #9ca3bf; //登入 右下字
$share_text_color4: #fb7126; //訪客彩金
$share_text_color5: #be9e7f;
$share_text_color6: var(--main_text_color2); //首頁左邊遊戲icon文字
$share_text_color7: #ffffff; //首頁左邊遊戲icon文字(active)
$share_footer_color1: #9ca3bf;
$share_footer_active_color1: $share_text_color5;

/*---  51国际 ---*/
$sp1_main_color1: #ffbb00;

//包網 會員中心
$share_member_text_color1: #d1b79c;
$share_member_text_color2: #414655; //文字前面的長方形
$share_member_text_color3: #ffffff;
$share_member_text_color4: #6aaaf5;
$share_member_text_color5: #be9e7f;
$share_member_text_color6: #eeeeee;
$share_member_text_color7: #e9dacc;
$share_member_text_color8: #db6372;
$share_member_text_color9: #9ca3bf;
$share_member_text_color10: #cccccc;
$share_member_text_color11: #5e626d;
$share_member_text_color12: #ad9982;
$share_member_text_color13: #a6a9b2;
$share_member_text_color14: #7086ce; //vip文字

$share_main_button_color1: linear-gradient(to left, #e9dacb 0%, #eee5db 100%);
$share_main_button_color2: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);

/*--- 币发 ---*/
//大廳 遊戲
$befa_main_color: #3354ad;

//會員中心
$befa_member_main_color1: #3354ad;
$befa_member_main_color2: #3354ad;
$befa_member_main_color3: #adbade;
$befa_member_main_color4: #adbade;

$befa_member_text_color1: #ffffff; //主色
$befa_member_text_color2: #ffffff; //補色

$befa_main_button_color1: linear-gradient(
  to left,
  $befa_member_main_color3 0%,
  $befa_member_main_color4 100%
);
$befa_main_button_color2: linear-gradient(
  to left,
  $befa_member_main_color1 0%,
  $befa_member_main_color2 100%
);

/*--- 原絲瓜 ---*/
$sg_main_text_color1: #be9e7f;
$sg_main_text_color2: #bf8646;
$sg_main_button_color1: linear-gradient(#fe593c, #e61938);

/*--- 澳博、51 還沒改藍色 ---*/
$share_origin_color1: #d1b79c; //$share_member_text_color4
$share_origin_color2: #d1b79c; //$share_member_text_color9
$share_origin_color3: #d1b79c; //$share_member_text_color11;
$share_origin_color4: linear-gradient(
  90deg,
  #eeddd0,
  #d5b69c
); //$share_member_text_color9
$share_origin_color5: #be9e7f; //$share_member_text_color4
$share_origin_color6: #be9e7f; //$share_member_text_color8
$share_origin_color7: linear-gradient(
  to bottom,
  #bd9d7d 0%,
  #f9ddbd 100%
); //$share_member_text_color2
$share_origin_color8: linear-gradient(
  to left,
  #bd9d7d 0%,
  #f9ddbd 100%
); //$share_member_text_color1
$share_origin_color9: #faf5f0; //$share_main_button_color1
$share_origin_color10: #be9e7f; //$share_member_text_color3
$share_origin_color12: #e9dacc; //$share_member_text_color10
$share_origin_color13: #f3ede7; //$share_member_text_color3
$share_origin_color14: #bbab98; //$share_member_text_color2
$share_origin_color15: #9ba3bf; //$share_member_text_color14
$share_origin_color16: #bf8646; //$share_member_text_color4
$share_origin_color17: #414655; //$share_member_text_color4
$share_origin_color18: #be9e7f; //$share_member_text_color13;
