/* RWD 斷點 */
$sidebar: 0px;
$phone: 480px;
$pad: 768px;
$pc: 960px;
$layoutWidth: 1366px !default;

$main_background_white1: #f8f8f8;
$main_white_color1: #fefffe;

$main_text_color1:#9ca3bf;
$main_text_color2:#A6A9B2;
$main_text_color3:#414655;
$main_text_color4:#BEBCBC;
$main_text_color4:#5E626D;

$main_title_color1:#000000;

$main_footer_color1:#9aa4c2;
$main_footer_active_color1:#d2b79c;

$main_vip_color1:#EEB72D;

$main_discover_color1: #bf8646;
