/* RWD 斷點 */
$sidebar: 0px;
$phone: 375px;
$pad: 768px;
$pc: 960px;
$layoutWidth: 1366px !default;
$mobile_max_width: 420px;
$mobile_max_landscape_width: 768px;

$main_background_white1: #f8f8f8;
$main_white_color1: #fefffe;

$main_text_color1: #9ca3bf;
$main_text_color2: #a6a9b2;
$main_text_color3: #414655;
$main_text_color4: #5e626d;
$main_text_color5: #bebcbc;
$main_text_color6: #222222;

$main_title_color1: #000000;

$main_footer_color1: #9aa4c2;
$main_footer_active_color1: #d2b79c;

$main_vip_color1: #eeb72d;
$main_discover_color1: #bf8646;

$main_error_color1: #db6372;

/* 包網 */
/*--- 澳博 ---*/
//大廳 遊戲
$share_main_button_color: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);
$share_main_button_text_color: #ffffff;
$share_text_color1: #ad9982; //首頁上方icon文字顏色
$share_text_color2: #5e626d; //登入 左下字
$share_text_color3: #9ca3bf; //登入 右下字
$share_text_color4: #fb7126; //訪客彩金
$share_text_color5: #be9e7f;
$share_text_color6: $main_text_color2; //首頁左邊遊戲icon文字
$share_text_color7: #ffffff; //首頁左邊遊戲icon文字(active)
$share_footer_color1: #9ca3bf;
$share_footer_active_color1: $share_text_color5;

/*---  51国际 ---*/
$sp1_main_color1: #ffbb00;

//包網 會員中心
$share_member_text_color1: #ad9982;
$share_member_text_color2: #bd9d7d;
$share_member_text_color3: #ffffff;
$share_member_text_color4: #6aaaf5;
$share_member_text_color5: #be9e7f;
$share_member_text_color6: #414655;
$share_main_button_color2: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);

/*--- 币发 ---*/
//大廳 遊戲
$befa_main_color: #3354ad;

//會員中心
$befa_member_main_color1: #3354ad;
$befa_member_main_color2: #adbade;
$befa_member_main_color3: #3676d5;
$befa_member_text_color1: #ffffff;
