$titleColor: #FFF;
$msgTitle: #CA8C54;
$msgHoverTitle: #000;

// table
$theadBorder: #CA8C54;
$theadBg: #CECECE;
$theadColor: #000;
$tableBorder: #CA8C54;
$tableBg: #FFF;
$tableColor: #000;
$tableBottomBorder: 1px solid #CA8C54;
$tableCollapse: collapse;
