$titleColor: #262626;
$msgTitle: #CE6C6C;
$msgHoverTitle: #262626;

// table
$theadBorder: #CCC;
$theadBg: #CBCED3;
$theadColor: #FFF;
$tableBorder: #EEE;
$tableBg: transparent;
$tableColor: #313F52;
$tableBottomBorder: 1px solid #EEE;
$tableCollapse: initial;
