$titleColor: #262626;
$msgTitle: #643DCA;
$msgHoverTitle: #262626;

// table
$theadBorder: #EBEEF5;
$theadBg: #F9F9F9;
$theadColor: #7E7E7E;
$tableBorder: #EBEEF5;
$tableBg: #7E7E7E;
$tableColor: #313F52;
$tableBottomBorder: 1px solid #EBEEF5;
$tableCollapse: initial;
