@import "~@/css/variable.scss";

.info-post {
    overflow: auto;

    .main-title {
        padding-bottom: 25px;
        span {
            float: left;
            color: $titleColor;
            font-size: 17px;
            font-weight: bold;
        }
    }

    .main-table {
        border-bottom: none;
        word-break: normal;
        .main-thead {
            &.agcenter-pc {
                display: none;
            }
        }
        .number {
            width: 7%;
        }
        .category {
            width: 14%;
        }
        .title {
            padding-left: 1%;
            width: 54.9%;
            text-align: left;
        }
        .date {
            width: 24%;
        }
        .main-tbody {
            tr {
                &.message-list {
                    background: #FFF;
                    cursor: pointer;
                    .title {
                        color: $msgTitle;
                        text-decoration: underline;
                    }
                    &.agcenter-pc {
                        display: none;
                    }
                    &:hover {
                        .title {
                            color: $msgHoverTitle;
                        }
                    }
                }
                &.message-detail {
                    border-top-color: transparent;
                    background: #F9F9F9;
                    .message-detail-wrap {
                        padding: 14px 2.6% 14px 3%;
                        line-height: 24px;
                        text-align: left;
                        word-break: break-word;
                        .message-detail-img {
                            max-width: 100%;
                        }
                        table {
                            tr {
                                border-width: initial;
                                border-style: initial;
                                border-color: inherit;
                                td {
                                    min-height: auto;
                                    line-height: initial;
                                    padding: 0;
                                    text-align: initial;
                                }
                            }
                        }
                    }
                    img {
                        cursor: pointer;
                    }
                    &.agcenter-pc {
                        display: none;
                    }
                }
            }
            .pad {
                border-collapse: $tableCollapse;
                width: 100%;
                margin-bottom: 40px;
                border: $tableBottomBorder;
                td {
                    &.caption {
                        padding-left: 3%;
                        width: 30%;
                        color: #313F52;
                        text-align: left;
                        &.title {
                            text-decoration: none;
                        }
                    }
                    &.content {
                        width: auto;
                        text-align: left;
                        word-break: break-word;

                        &.title {
                            padding-left: 0;
                        }
                    }
                    &.number {
                        background: $theadBg;
                        color: $theadColor;
                    }
                }
            }
        }
    }
}

// pad.pc
@media screen and (min-width: $pad) {
    .info-post {
        .main-table {
            border-bottom: $tableBottomBorder;
            .main-thead {
                &.agcenter-pc {
                    display: none;
                    display: table-header-group;
                }
            }
            .main-tbody {
                tr {
                    &.message-list {
                        &.agcenter-pc {
                            display: table-row;
                        }
                    }
                    &.message-detail {
                        &.agcenter-pc {
                            display: table-row;
                            .message-detail-wrap {
                                padding-left: 10.2%;
                            }
                        }
                    }
                }
                .pad {
                    display: none;
                }
            }
        }
    }
}
