$popupBg: #FFF;
$popupColor: inherit;
$popupBorder: 0;
$popupBorderRadius: 4px;
$titleBg: #333;
$linkColor: #56BAFF;
$linkHoverColor: #87CDFD;
$agentLinkColor: #FF8989;
$agentLinkHoverColor: #F99A9A;
$closeColor: #999;
