@import "~@/css/variable.scss";

.empty-wrap {
    padding-top: 110px;
    color: #EFD497;
    font-size: 16px;
    text-align: center;
}

.empty-icon {
    margin: 0 auto 20px;
    width: 61px;
    height: 61px;
    background: url('/static/image/mobile/tpl/theme3/cant_find_icon.png') 0 0/contain no-repeat;

    &.activity {
        background: none;
    }
}
