@import "~@/css/variable.scss";

.empty-wrap {
    padding-top: 110px;
    color: #A6A9B2;
    font-size: 16px;
    text-align: center;
}

.empty-icon {
    margin: 0 auto 20px;
    width: 61px;
    height: 61px;
    background: url('/static/image/_new/common/search_none.png') 0 0/contain no-repeat;

    &.activity {
        background: none;
    }
}
