@import '~@/css/variable.scss';

// 帳戶資料
.account-data {
    .main-area {
        padding: 0 5.3%;

        &.top {
            margin-bottom: 36px;
            padding-top: 20px;
            padding-bottom: 30px;
            background: url("/static/image/member_repeat_x.png") 50% 100% repeat-x;
        }
    }

    .receipt-address-data {
        margin-top: 50px;
        padding: 35px 15.6% 0 5.2%;
        background: url("/static/image/member_repeat_x.png") 0 0 repeat-x;
    }

    .main-title {
        margin-bottom: 15px;

        span {
            float: left;
            font-size: 16px;
            font-weight: normal;
            color: #262626;
        }

        .tip {
            float: left;
            margin-left: 15px;

            span {
                font-size: 15px;
                font-weight: normal;
                color: $color;
            }
        }
    }

    .account-data-field {
        position: relative;
        margin-bottom: 15px;

        .main-input {
            position: relative;
            float: left;
            width: 82.5%;
            height: auto;
            min-height: 39px;
            line-height: 39px;
            padding: 0 1% 0 2.6%;
            font-size: 14px;
            font-family: sans-serif;
            text-align: right;
            border-radius: 4px;
            border: 1px solid #E8E8E8;
            color: #756E6E;
            border-color: #CCC;
            background: #EEE;

            label,
            span {
                line-height: 37px;
                min-height: 37px;
            }

            label {
                font-size: 14px;
                position: absolute;
                top: 50%;
                left: 2.6%;
                margin-top: -18px;
                color: #000;
            }

            span {
                display: block;
                width: 100%;
                padding-left: 66px;
            }
        }

        .main-btn {
            float: right;
            height: 39px;
            line-height: 39px;
            text-align: center;
            font-size: 14px;
            cursor: pointer;
            border-radius: 4px;
            color: $mainBtnTextColor;
            background: $mainBtnColor;

            &.mcenter-pc {
                line-height: 39px;
                display: none;
                width: 10.3%;
            }

            &.icon {
                line-height: 58px;
                width: 16.3%;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            &:hover {
                background: $mainBtnColorHover;
            }
        }
    }
}

// pc
@media screen and (min-width: $pad) {
    .account-data {
        .account-data-field {
            .main-input {
                width: 88.5%;
            }

            .main-btn {
                &.mcenter-pc {
                    display: block;
                }

                &.icon {
                    display: none;
                }
            }
        }
    }
}

// 收貨地址，之後會拔掉 --Kai
@media screen and (max-width: $phone) {
    .account-data {
        .receipt-address-data {
            margin-top: 50px;
            padding: 5.3%;
        }
    }
}
