@import "~@/css/variable.scss";

// 綁定裝置
.account-binding-device {
    margin-top: 50px;
    padding: 35px 40px 0;
    background: url("/static/image/member_repeat_x.png") 0 0 repeat-x;

    .binding-device-title {
        margin-bottom: 20px;
        font-size: 16px;
        color: #333;

        span {
            margin-left: 15px;
            font-size: 15px;
            color: $titleColor;
        }
    }

    .binding-device-table {
        .device-table-thead {
            display: none;
            color: $tableTitleColor;
            background: $tableTitleBg;
        }

        .device-table-wrap-type {
            display: table;
            width: 100%;
            text-align: left;
            margin-top: 20px;
            border-collapse: collapse;

            .device-table-type {
                display: table-row;
                width: 100%;

                .device-title,
                .device-data {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    height: 40px;
                    padding: 5px 2.3%;
                }

                .device-title {
                    width: 35%;
                    font-size: 16px;
                    color: #FFF;
                    background-color: #CCC;
                }

                .device-data {
                    width: 65%;
                    border: 1px solid #EEE;
                    color: $tbodyColor;

                    .device-modify-wrap,
                    .device-delete-wrap {
                        margin-bottom: 10px;
                        text-align: center;

                        button {
                            display: inline-block;
                            max-width: 50%;
                            height: 35px;
                            margin: 0 1.8%;
                            padding: 0 6.2%;
                            cursor: pointer;
                            border-radius: 2px;
                            color: $btnColor;

                            &.modify-cancel-btn {
                                color: $secBtnColor;
                                background-color: $secBtnColorBg;

                                &:hover {
                                    background-color: $cancelColorHover;
                                }
                            }

                            &.modify-confirm-btn {
                                background-color: $btnColorBg;

                                &:hover {
                                    background-color: $btnColorBgHover;
                                }
                            }
                        }
                    }

                    .device-modify-wrap {
                        input {
                            width: 100%;
                            margin: 10px 0;
                            padding: 8px;
                            text-align: center;
                            border: 2px solid #EEE;
                            border-radius: 5px;
                        }
                    }

                    .device-delete-wrap {
                        span {
                            display: block;
                            margin: 25px 0;
                        }
                    }

                    .device-name {
                        color: $btnColorBg;
                        word-break: break-word;
                    }

                    .device-name-btn,
                    .device-delete-btn {
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                    }

                    .device-name-btn {
                        margin-left: 10px;
                    }

                    .device-delete-btn {
                        width: 30px;
                        height: 30px;
                        line-height: 36px;
                        border: none;
                        padding: 0;
                        text-align: center;
                        border-radius: 15px;
                        color: $btnColor;;
                        background-color: $btnColorBg;

                        &:hover {
                            background-color: $btnColorBgHover;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $pad) {
    .account-binding-device {
        padding: 35px 15.6% 0 5.2%;

        .binding-device-table {
            display: table;
            width: 100%;
            margin: 0;
            border-collapse: collapse;

            .device-table-thead {
                display: table-header-group;
                font-size: 16px;
                color: $tableTitleColor;
                background: $tableTitleBg;

                .device-table-type {
                    padding: 5px 2.7%;
                }
            }

            .device-table-tbody {
                display: table-row-group;

                .no-data {
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid #CCC;
                    text-align: center;
                    color: #313F52;
                }
            }

            .device-table-wrap-type {
                display: table-row;
                text-align: center;

                .device-table-type {
                    display: table-cell;
                    vertical-align: middle;
                    width: auto;
                    height: 40px;
                    text-align: center;
                    border: 1px solid #CCC;

                    &.device-modify-type,
                    &.device-delete-table {
                        width: 30%
                    }

                    .device-title {
                        display: none;
                    }

                    .device-data {
                        display: inline-block;
                        width: 100%;
                        height: auto;
                        padding: 5px 5.5%;
                        border: none;

                        .device-modify-wrap {
                            input {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
