@import "~@/css/variable.scss";
$btnColorBg: initial;
$btnColorBgHover: initial;
$tableTitleColor: initial;
$tableTitleBg: initial;
$secBtnColor: initial;
$secBtnColorBg: initial;

.theme-basic,
.theme-brilliant {
    $btnColor: #FFF;
    $btnColorBg: #55B9FF;
    $btnColorBgHover: #71BFF5;
    $titleColor: #55B9FF;
    $cancelColorHover: #DDD;
    $tbodyColor: #555;
    $tableTitleColor: #FFF;
    $tableTitleBg: #CCC;
    $secBtnColor: initial;
    $secBtnColorBg: #CCC;
    @import './bindingDevice.scss';
}

.theme-theme3 {
    $btnColor: #FFF;
    $btnColorBg: #DFAF50;
    $btnColorBgHover: #E2BA6C;
    $titleColor: #DFAF50;
    $cancelColorHover: #DDD;
    $tbodyColor: #555;
    $tableTitleColor: #FFF;
    $tableTitleBg: #CCC;
    $secBtnColor: initial;
    $secBtnColorBg: #CCC;
    @import './bindingDevice.scss';
}

.theme-519 {
    $btnColor: #FFF;
    $btnColorBg: #CA8C54;
    $btnColorBgHover: #B16F34;
    $titleColor: #F97D61;
    $cancelColorHover: #A5A1A1;
    $tbodyColor: #000;
    $tableTitleColor: #FFF;
    $tableTitleBg: #CCC;
    $secBtnColor: initial;
    $secBtnColorBg: #CCC;
    @import './bindingDevice.scss';

    .account-binding-device {
        border-top: 2px dashed #F4EFE6;
        background: none;

        .binding-device-title {
            color: #FFF;

            span {
                display: block;
                margin: 13px 0 0 0;
            }
        }

        .binding-device-table {
            color: #000;

            .device-table-thead {
                .device-table-wrap-type {
                    font-weight: bold;
                    color: #000;
                    background: #CECECE;
                }
            }

            .device-table-tbody {
                .device-table-wrap-type {
                    background: #FFF;
                }
            }

            .device-table-wrap-type {
                border: 1px solid #CA8C54;

                .device-table-type {
                    .device-data {
                        border-color: #CA8C54;

                        .device-modify-wrap,
                        .device-delete-wrap {
                            button {
                                border-radius: 0;
                                border: none;
                            }
                        }

                        .device-modify-wrap {
                            input {
                                border-radius: 0;
                                border: 1px solid #CA8C54;
                            }
                        }

                        .device-name-btn {
                            width: 30px;
                            height: 30px;
                            padding-top: 8px;
                            text-align: center;
                            border-radius: 30px;
                            color: $btnColor;
                            background: $btnColorBg;

                            &:hover {
                                background: $btnColorBgHover;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: $pad) {
        .account-binding-device {
            .binding-device-title {
                font-size: 20px;

                span {
                    display: initial;
                    margin: 0 0 0 20px;
                    font-size: 20px;
                }
            }

            .binding-device-table {
                .device-table-wrap-type {
                    .device-table-type {
                        border: none;
                    }
                }
            }
        }
    }
}

.theme-miller {
    $btnColor: #292929;
    $btnColorBg: #F7B500;
    $btnColorBgHover: #FFD152;
    $titleColor: #F7B500;
    $cancelColorHover: #424242;
    $tbodyColor: #555;
    $tableTitleColor: #FFF;
    $tableTitleBg: #292929;
    $secBtnColor: #FFF;
    $secBtnColorBg: #292929;
    @import './bindingDevice.scss';
}
