@import '~@/css/variable.scss';
$mainBtnColor: initial;
$mainBtnColorHover: initial;
$mainBtnTextColor: initial;

.theme-basic,
.theme-brilliant {
    $color: #55B9FF;
    $mainBtnColor: #55B9FF;
    $mainBtnColorHover: #71BFF5;
    $mainBtnTextColor: #FFF;
    $mainInputYetColor: #F00;
    $mainInputYetBorderColor: #F00;
    @import './account.scss';
}

.theme-theme3 {
    $color: #DFAF50;
    $mainBtnColor: #DFAF50;
    $mainBtnColorHover: #E2BA6C;
    $mainBtnTextColor: #FFF;
    $mainInputYetColor: #F00;
    $mainInputYetBorderColor: #F00;
    @import './account.scss';
}

.theme-519 {
    $color: #F97D61;
    $mainBtnColor: #F97D61;
    $mainBtnColorHover: #DB6348;
    $mainBtnTextColor: #FFF;
    $mainInputYetColor: #F00;
    $mainInputYetBorderColor: #F00;
    @import './account.scss';

    .account-data {
        .main-area {
            &.top {
                padding-top: 68px;
                border-bottom: 2px dashed #F4EFE6;
                background: none;
            }
        }

        .main-title {
            span {
                float: none;
                font-weight: bold;
                color: #FFF;
            }

            .tip {
                float: none;
                display: inline;
                margin: 13px 0 0 0;

                span {
                    font-size: 19px;
                }
            }
        }

        .account-data-field {
            .main-input {
                border-width: 2px;
                border-radius: 0;

                &.yet {
                    border-color: #F97D61;
                    color: #F97D61;
                    background: #FFF;

                    &::-webkit-input-placeholder {
                        color: #F97D61;
                    }
                }

                &.already {
                    color: #756E6E;
                    border-color: #CA8C54;
                    background: #DEC4B6;
                }
            }

            .main-btn {
                height: 41px;
                line-height: 41px;
                border-radius: 0;

                &.mcenter {
                    line-height: inherit;
                }

                &.icon {
                    line-height: 62px;
                }
            }
        }
    }
    // pc
    @media screen and (min-width: $pad) {
        .account-data {
            .main-title {
                span {
                    font-size: 20px;
                }

                .tip {
                    margin: 0 0 0 20px;
                }
            }
        }
    }
}

.theme-miller {
    $color: #F7B500;
    $mainBtnColor: #F7B500;
    $mainBtnColorHover: #FFD152;
    $mainBtnTextColor: #292929;
    $mainInputYetColor: #F00;
    $mainInputYetBorderColor: #F00;
    @import './account.scss';
}
