@import '~@/css/variable.scss';
$tableTitleColor: initial;
$tableTitleBg: initial;
$btnColor: initial;
$secBtnColor: initial;
$secBtnColorBg: initial;

.theme-basic,
.theme-brilliant {
    $color: #55B9FF;
    $colorHover: #71BFF5;
    $tableTitleColor: initial;
    $tableTitleBg: #F0F3F7;
    $btnColor: #FFF;
    $secBtnColor: #7E7E7E;
    $secBtnColorBg: #FFF;
    @import './receiptAddress.scss';
}

.theme-theme3 {
    $color: #DFAF50;
    $colorHover: #E2BA6C;
    $tableTitleColor: initial;
    $tableTitleBg: #F0F3F7;
    $btnColor: #FFF;
    $secBtnColor: #7E7E7E;
    $secBtnColorBg: #FFF;
    @import './receiptAddress.scss';
}

.theme-519 {
    $color: #F97D61;
    $colorHover: #DB6348;
    $tableTitleColor: initial;
    $tableTitleBg: #F0F3F7;
    $btnColor: #FFF;
    $secBtnColor: #7E7E7E;
    $secBtnColorBg: #FFF;
    @import './receiptAddress.scss';
}

.theme-miller {
    $color: #F7B500;
    $colorHover: #FFD152;
    $tableTitleColor: #FFF;
    $tableTitleBg: #292929;
    $btnColor: #292929;
    $secBtnColor: #FFF;
    $secBtnColorBg: #292929;
    @import './receiptAddress.scss';
}
