$titleColor: #262626;
$fieldBorder: #CDCDCD;
$borderRadius: 4px;
$btnBg: #A389E8;
$msgTitleYet: #A389E8;
$msgTitleAlready: #A389E8;
$msgHoverTitle: #7E7E7E;
$msgStatusYet: #F00;
$msgStatusAlready: #A389E8;

// table
$theadBorder: #EBEEF5;
$theadBg: #F9F9F9;
$theadColor: #7E7E7E;
$tableBorder: #EBEEF5;
$tableBg: transparent;
$tableColor: #7E7E7E;
$tableBottomBorder: 1px solid #EBEEF5;
$tableCollapse: initial;

// pager
$pagerBtnBg: #FFF;
$pagerTextColor: #000;
