$titleColor: #262626;
$fieldBorder: #CDCDCD;
$borderRadius: 4px;
$btnBg: #DFAF50;
$msgTitleYet: #E07158;
$msgTitleAlready: #E07158;
$msgHoverTitle: #262626;
$msgStatusYet: #F00;
$msgStatusAlready: #CAB7B7;
$deleteIcon: url("/static/image/agent/features_btn.png") 0 -90px no-repeat;

// table
$theadBorder: #CCC;
$theadBg: #CBCED3;
$theadColor: #FFF;
$tableBorder: #EEE;
$tableBg: transparent;
$tableColor: #313F52;
$tableBottomBorder: 1px solid #EEE;
$tableCollapse: initial;

// pager
$pagerBtnBg: #FFF;
$pagerTextColor: #000;
