$titleColor: #FFF;
$fieldBorder: #CA8C54;
$borderRadius: 0;
$btnBg: #CA8C54;
$msgTitleYet: #F97D61;
$msgTitleAlready: #CA8C54;
$msgHoverTitle: #000;
$msgStatusYet: #F97D61;
$msgStatusAlready: #CA8C54;
$deleteIcon: url("/static/image/agent/519/member_del_btn.png") 0 0 no-repeat;

// table
$theadBorder: #CA8C54;
$theadBg: #CECECE;
$theadColor: #000;
$tableBorder: #CA8C54;
$tableBg: #FFF;
$tableColor: #000;
$tableBottomBorder: 1px solid #CA8C54;
$tableCollapse: collapse;

// pager
$pagerBtnBg: rgba(255, 255, 255, .1);
$pagerTextColor: #FFF;
