$titleColor: #262626;
$fieldBorder: #CDCDCD;
$tabColor: #222;
$tabCurrentColor: #222;
$borderRadius: 4px;
$btnBg: #643DCA;
$btnColor: #FFF;
$subBtnBorder: transparent;
$subBtnBg: #222;
$subBtnColor: #FFF;
$msgTitleYet: #E07158;
$msgTitleAlready: #E07158;
$msgHoverTitle: #262626;
$msgStatusYet: #F00;
$msgStatusAlready: #CAB7B7;
$tabBtnColorFBg: #7953DC;
$tabBtnColorEBg: #300993;
$tabBtnColor: #FFF;

// table
$theadBorder: #CCC;
$theadBg: #CBCED3;
$theadColor: #FFF;
$tableBorder: #EEE;
$tableBg: transparent;
$tableColor: #313F52;
$tableBottomBorder: 1px solid #EEE;
$tableCollapse: initial;

// pager
$pagerBtnBg: #FFF;
$pagerTextColor: #000;
