$titleColor: #262626;
$fieldBorder: #CDCDCD;
$tabColor: #000;
$tabCurrentColor: #53B2F3;
$borderRadius: 4px;
$btnBg: #DFAF50;
$btnColor: #FFF;
$subBtnBorder: 1px solid #000;
$subBtnBg: transparent;
$subBtnColor: #000;
$msgTitleYet: #E07158;
$msgTitleAlready: #E07158;
$msgHoverTitle: #262626;
$msgStatusYet: #F00;
$msgStatusAlready: #CAB7B7;
$tabBtnColorFBg: #292929;
$tabBtnColorEBg: #292929;
$tabBtnColor: #FFF;

// table
$theadBorder: #CCC;
$theadBg: #CBCED3;
$theadColor: #FFF;
$tableBorder: #EEE;
$tableBg: transparent;
$tableColor: #313F52;
$tableBottomBorder: 1px solid #EEE;
$tableCollapse: initial;

// pager
$pagerBtnBg: #FFF;
$pagerTextColor: #000;
