@import "~@/css/variable.scss";

@mixin grid-style {
  display: grid;
  grid-template-columns: 68px repeat(5, 1fr);
  min-height: 43px;
  text-align: center;
}

@mixin grid-item-style {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  position: relative;
  width: 100%;
  background: $main_background_white1;
}

.title {
  font-size: 18px;
  padding: 12px 17px;
  font-weight: 700;
  color: #424654;

  &::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 3px;
    height: 20px;
    top: 2.5px;
    margin-right: 12px;
    background: linear-gradient(#d2bba4, #f1e5db);
  }
}

.table-wrap {
  font-size: 12px;
  font-weight: 700;
  background: #fff;
}

.table-header {
  @include grid-style();
  background: #e2e5ed;

  .header-item {
    @include grid-item-style();
    width: 30px;
    margin: 0 auto;

    &:first-of-type {
      width: 100%;
      background: #d3c3b4;
    }
  }
}

.table-body {
  width: 100%;
  height: auto;

  .content {
    @include grid-style();
    color: #a0a7c2;

    // content的偶數欄
    &:nth-child(even) {
      background: #f6f9fc;
    }

    // 每個item
    .item {
      @include grid-item-style();
    }

    // 每一個content 且 第一個 item
    & .item:first-of-type {
      color: $main_white_color1;
      padding-left: 25px;
    }

    // 每一個奇數的content 且 第一個 item
    &:nth-child(odd) .item:first-of-type {
      background: #656d80;
    }

    // 每一個偶數的content 且 第一個 item
    &:nth-child(even) .item:first-of-type {
      background: #555b6e;
    }
  }
}

// render 每個 level 的 icon
@for $i from 0 through 10 {
  .content:nth-child(#{$i + 1}) .item:first-of-type::before {
    content: "";
    position: absolute;
    background-image: url("/static/image/porn1/mcenter/vip/detail/ic_vip#{$i}.png");
    background-size: contain;
    width: 25px;
    height: 25px;
    left: 3px;
  }
}

.table-desc {
  width: 100%;
  padding: 16px 0;
  font-size: 14px;
  text-align: center;
  color: #5c91d8;
}

.desc-wrap {
  position: relative;
  width: 100%;
  background: white;
  margin-top: 10px;

  .content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 25px 0 30px;

    .cell {
      font-size: 12px;
      padding-bottom: 20px;
      color: #a2a8c2;

      // 編號順序
      span:first-of-type {
        color: #cdb599;
      }

      // 編號text
      span:last-of-type {
        color: #656565;
      }
    }
  }
}

.back-top {
  width: 110px;
  height: 45px;
  background: #fff;
  position: relative;
  border-radius: 23px;
  font-size: 12px;
  font-weight: 700;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;

  img {
    width: 12px;
    height: 12px;
  }

  p {
    color: #9ca3bf;
    line-height: 14px;
  }
}
