@import "~@/css/variable.scss";

@mixin flex-style {
    display: inline-flex;
    width: 100%;
}

@mixin flex-item-style {
    position: relative;
    width: 100%;
    min-height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 12px;
    word-break: break-all;

    &:first-of-type {
        max-width: 80px;
        word-break: break-word;
    }
}

.table-container {
    position: relative;
    width: 100%;
    background: $main_background_white1;
}

.title {
    font-size: 18px;
    padding: 12px 17px;
    font-weight: 700;
    color: #424654;

    &::before {
        content: "";
        position: relative;
        display: inline-block;
        width: 3px;
        height: 20px;
        top: 2.5px;
        margin-right: 12px;
        background: linear-gradient(#d2bba4, #f1e5db);
    }
}

.table-wrap {
    font-size: 12px;
    font-weight: 700;
    background: #fff;
}

.table-header {
    background: #e2e5ed;
    @include flex-style();

    .header-item {
        @include flex-item-style();

        &:first-of-type {
            background: #d3c3b4;
        }
    }
}

.table-body {
    width: 100%;
    height: auto;

    .content {
        @include flex-style();
        color: #a0a7c2;

        // content的偶數欄
        &:nth-child(even) {
            background: #f6f9fc;
        }

        // 每個item
        .item {
            @include flex-item-style();
        }

        // 每一個content 且 第一個 item
        & .item:first-of-type {
            color: $main_white_color1;
        }

        // 每一個奇數的content 且 第一個 item
        &:nth-child(odd) .item:first-of-type {
            background: #656d80;
        }

        // 每一個偶數的content 且 第一個 item
        &:nth-child(even) .item:first-of-type {
            background: #555b6e;
        }
    }
}
