@import "./porn1.index.scss";

// render 每個 level 的 icon
@for $i from 0 through 10 {
  .content:nth-child(#{$i + 1}) .item:first-of-type::before {
    content: "";
    position: absolute;
    background-image: url("/static/image/common/vip/detail/ic_vip#{$i}.png");
    background-size: contain;
    width: 25px;
    height: 25px;
    left: 3px;
  }
}

.table-header {
  grid-template-columns: 70px repeat(6, 1fr);
}

.table-body {
  .content {
    grid-template-columns: 70px repeat(6, 1fr);

    & .item:first-of-type {
      padding-left: 25px;
    }
  }
}

.title {
  &::before {
    background: linear-gradient(#fe593c, #e61938);
  }
}

.back-top {
  p {
    color: #a6a9b2;
  }
}
