@import "./index.vipRewardRules.scss";

.table-header {
  background: #ede2e2;

  .header-item {
    &:first-of-type {
      background: #d3c3b4;
    }
  }
}

.title {
  &::before {
    content: "";
    background: #000000;
  }
}

.table-body {
  .content {
    &:nth-child(even) {
      background: #fffaf9;
    }
  }
}
