// transition
.fade-enter-active,
.fade-leave-active {
    transition-duration: .3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.mobile-wrap {
    min-width: 320px;
    min-height: 100%;
    background-color: #DDD;

    &.is-agcenter {
        .mobile-content {
            padding-bottom: 0;
        }
    }

    &.is-webview {
        .mobile-content {
            padding: 0;
        }
    }

    &.is-mcenter {
        .mobile-content {
            padding-top: 65px;
        }
    }

    &.is-domain {
        position: relative;

        .mobile-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 0;
        }
    }

    .mobile-content {
        padding: 44px 0 55px;
    }

    .note-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }
}
