.header-wrap {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 44px;
    background-color: #363C5D;
    font-size: 12px;
    text-align: center;

    .header-container {
        position: relative;
        height: 100%;

        .back-btn-wrap {
            position: absolute;
            top: 14px;
            left: 18px;
            color: #FFF;
        }

        .logo-wrap {
            float: left;
            margin: 7px 0 0 17px;

            img {
                display: block;
                width: 100px;
                height: 31px;
            }
        }

        .title-wrap {
            display: inline-block;
            line-height: 44px;
            margin: 0 auto;
            color: #FFF;
            font-weight: bold;
        }

        .login-info-wrap {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 8px;
            text-align: right;
            color: #FFF;

            p {
                margin: 0;
                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
            }
        }

        .login-form-wrap {
            position: absolute;
            top: 12px;
            right: 16px;

            a {
                display: inline-block;

                &.register-btn {
                    margin-right: 13px;
                    padding-right: 16px;
                    border-right: 1px solid #565479;
                    color: #DDD;
                }

                &.login-btn {
                    position: relative;
                    padding-left: 13px;
                    color: #DFC59F;

                    img {
                        display: block;
                        position: absolute;
                        top: 2px;
                        left: 0;
                        width: 13px;
                        height: 16px;
                    }
                }
            }
        }

        .logout-btn {
            position: absolute;
            top: 13px;
            right: 15px;
            color: #DFC59F;
        }

        &.left {
            padding-left: 42px;
            text-align: left;
        }
    }
}
