@import './index.module.scss';

.detail-alert-wrap {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
}

.alert-wrap {
  max-width: 375px;
  min-width: 300px;
  width: 60%;
  height: 268px;
  max-height: 90vh;
  background: #ffffff;
  border-radius: 8px;
  margin: 0 auto;
  overflow-y: auto;

  &.deposit {
    height: auto;
    max-height: 90vh;
  }
}

.alert-title {
  line-height: 48px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 48px;
  background: #be9e7f;
  border-radius: 8px 8px 0 0;
  position: relative;

  .alert-close-wrap {
    position: absolute;
    right: 11px;
    top: 0;
    width: 21px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.alert-body-wrap {
  background: #ffffff;
  color: #414655;
  font-size: 14px;

  .detail-cell {
    height: 36px;
    line-height: 36px;
    border-bottom: solid 1px #EAEAEA;

    .title {
      width: 45%;
      float: left;
    }

    .value {
      width: 55%;
      float: right;
    }
  }
}

.btn-wrap {
  width: 100%;
  padding: 0 14px;

  >div {
    max-width: 150px;
    margin: 15px 5px 10px 5px;
    width: 45%;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    height: 42px;
    line-height: 42px;
  }

  >div:first-child {
    font-weight: 700;
    color: #BE9E7F;
    background-color: #FAF5F0;
  }

  >div:last-child {
    font-weight: 700;
    color: #ffffff;
    background: -webkit-linear-gradient(right, #bd9d7d, #f9ddbd);
    background: -o-linear-gradient(left, #bd9d7d, #f9ddbd);
    background: -moz-linear-gradient(left, #bd9d7d, #f9ddbd);
    background: linear-gradient(to left, #bd9d7d, #f9ddbd);
  }
}

.tip-time {
  height: 19px;
  line-height: 19px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #a6a9b2;
  margin: 7px 0;
  padding: 0px 16px;
}

@media screen and (max-width: $phone) {
  .alert-body-wrap {
    font-size: 14px;
  }
}

.speed-edit-value {
  input {
    &::placeholder {
      border: none;
      box-shadow: none;
      padding: 0;
      color: #BEBCBC;
    }
  }
}

.speed-deposit-input-error-messgae {
  color: #ff1010;
}

@media screen and (min-width: $pad) {
  .alert-body-wrap {
    font-size: 17px;
  }
}
