@import "./index.module.scss";
@import "~@/css/variable.scss";
.detail-alert-wrap {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
}

.alert-wrap {
  max-width: 375px;
  min-width: 300px;
  width: 60%;
  height: 268px;
  max-height: 90vh;
  background: #ffffff;
  border-radius: 8px;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;

  &.deposit {
    height: auto;
    max-height: 90vh;
  }
}

.alert-title {
  line-height: 48px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #414655;
  width: 100%;
  height: 48px;
  background: #ffffff;

  border-radius: 8px 8px 0 0;
  position: relative;

  .alert-close-wrap {
    position: absolute;
    right: 11px;
    top: 0;
    width: 21px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.porn1,
  &.sg1 {
    color: #414655;
    background: #ffffff;
  }
}

.alert-body-wrap {
  background: #ffffff;
  color: #414655;
  font-size: 14px;

  .detail-cell {
    height: 36px;
    line-height: 36px;
    border-bottom: solid 1px #eaeaea;

    .title {
      width: 45%;
      float: left;
    }

    .value {
      width: 55%;
      float: right;
    }
  }
}

.btn-wrap {
  width: 100%;
  position: relative;
  border-top: 1px solid #eeeeee;
  font-weight: 700;

  > div {
    max-width: 150px;
    margin: 2px 5px 2px 5px;
    width: 45%;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    height: 42px;
    line-height: 42px;
  }

  > div:first-child {
    font-weight: 700;
    // color: var(--popup_text_color3);
    color: #6aaaf5;
    background: #ffffff;
  }

  > div:last-child {
    font-weight: 700;
    // color: var(--popup_text_color1);
    color: #6aaaf5;
    background: #ffffff;
  }
  > div:last-child::before {
    position: absolute;
    width: 1px;
    height: 45px;
    background-color: #eeeeee;
    content: "";
    left: 150px;
    top: 1px;
  }
}

.tip-time {
  height: 19px;
  line-height: 19px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #a6a9b2;
  margin: 7px 0;
  padding: 0px 16px;
  margin-bottom: 20px;
}

@media screen and (max-width: $phone) {
  .alert-body-wrap {
    font-size: 14px;

    .detail-cell {
      width: 315px;

      .value {
        width: 85%;
        margin-right: 35px;
      }
    }
  }
}

.speed-edit-value {
  input {
    &::placeholder {
      border: none;
      box-shadow: none;
      padding: 0;
      color: #bebcbc;
    }
  }
}

.speed-deposit-input-error-messgae {
  color: #ff1010;
}

@media screen and (min-width: $pad) {
  .alert-body-wrap {
    font-size: 17px;
  }
}
