@import "~@/css/variable.scss";

.container {
    background-color: #f8f8f8;
}

.section {
    background-color: #f8f8f8;
    color: #414655;
    font-size: 14px;
    position: relative;
    width: 100%;
}

.cell {
    -moz-transition: all .31s;
    -ms-transition: all .31s;
    -o-transition: all .31s;
    -webkit-transition: all .31s;
    transition: all .31s ease-out;
    background-color: #fefefe;
    position: relative;
    margin-top: 1px;
    padding: 0 14px;

    .title {
        height: 50px;
        line-height: 50px;
        font-weight: bold;
    }

    &.support-cell>title {
        height: 20px;
        line-height: 20px;
        display: contents;
    }
}

.content {
    -moz-transition: all .31s;
    -ms-transition: all .31s;
    -o-transition: all .31s;
    -webkit-transition: all .31s;
    font-size: 14px;
    max-height: 0;
    opacity: 0.5;
    overflow: hidden;
    transition: all .31s ease-out;

    &.active {
        // height: unset;
        opacity: 1;
        overflow: unset;
    }
}

.arrow-btn {
    -moz-transition: transform .31s;
    -ms-transition: transform .31s;
    -o-transition: transform .31s;
    -webkit-transition: transform .31s;
    height: 50px;
    position: absolute;
    right: 14px;
    top: 0;
    transition: transform .31s;
    width: 16px;

    >img {
        bottom: 0;
        height: 16px;
        margin: auto;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &.active {
        transform: rotate(90deg);
    }
}

// 詳細資料
.detail-wrap {
    background-color: #f8f8f8;
}

.status-wrap {
    position: relative;
    width: 100%;
    white-space: nowrap;
    background-color: white;
    margin-bottom: 10px;
}

.status {
    width: 49%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: $main_text_color2;
    display: inline-block;
    background-color: white;

    &.active {
        color: $main_text_color4;
    }
}


.active-slider {
    position: absolute;
    bottom: 1.5px;
    left: calc(25% - 25px);
    height: 2px;
    background-color: #be9e7f;
    width: 45px;
    transition: left 0.31s;
}

.detail-content-wrap {
    width: 100%;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    background-color: #f8f8f8;
    margin: 11px 0;

    .detail-block {
        text-align: left;
        color: #a6a9b2;
        background-color: white;
        margin-bottom: 6px;
    }
}

.item-status-border {
    height: 1px;
    width: 100%;
    background-color: #EAEAEA;
}

.detail-cell {
    margin: 0 16px;
    position: relative;
    height: 34px;
    line-height: 34px;

    >.title {
        display: inline-block;
    }

    >.value {
        float: right;
        color: #222222;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50%;
    }

    .edit {
        color: #6AAAF5
    }
}

@media screen and (max-width: $phone) {
    .section {
        font-size: 15px;
    }

    .detail-content-wrap {
        font-size: 15px;
    }
}

@media screen and (min-width: $pad) {
    .section {
        font-size: 17px;
    }

    .detail-content-wrap {
        font-size: 17px;
    }

    .detail-cell {
        height: 36px;
        line-height: 36px;
    }
}
