@import "@/css/variable.scss";

.management-wrap {
  background: $main_background_white1;
}

.top-link-wrap {
  display: flex;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  margin-bottom: 10px;
  background-color: #fff;

  > div {
    padding-left: 20px;
    color: #a6a9b2;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
      color: #be9e7f;
    }
  }
}

.pagination {
  position: fixed;
  bottom: 55px;
}
