.is-number {
    text-align: right;
}

.is-negative {
    composes: is-number;
    color: #F00;
}

.is-text {
    text-align: left;
}

.table {
    margin-bottom: 32px;
    width: 100%;
    color: #000;
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;

    thead {
        tr {
            background: #ECECEC;
            border-width: 1px 0;
            border-style: solid;
            border-color: #BBB;
            color: #666;
        }

        th {
            font-style: normal;
            font-weight: normal;

            &.is-sorted {
                color: #545D6E;
            }

            &.sort {
                cursor: pointer;

            }
        }
    }

    tbody {
        tr {
            background: #FFF;
            border-width: 1px 0;
            border-style: solid;
            border-color: #BBB;
        }

        td {
            position: relative;
            padding: 5px 1.5%;
            min-height: 30px;
            line-height: 30px;

            &.is-last {
                padding-right: 22px;
            }

            .icon-more {
                position: absolute;
                top: 50%;
                right: 4px;
                margin-top: -8px;
                color: #999;

                > svg {
                    display: block;
                }
            }
        }
    }

    tfoot {
        tr {
            background: #E8EAF2;
            height: 50px;
            line-height: 50px;
            font-weight: bold;
            border-width: 1px 0;
            border-style: solid;
            border-color: #BBB;

            &.sub-total {
                background: #FFF2F2;
            }
        }

        td {
            padding: 5px 1.5%;
            line-height: 30px;
            min-height: 30px;

            &.is-last {
                padding-right: 22px;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .table {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    .table {
        font-size: 24px;
    }
}
