@import "./basic.module.scss";

.nav-item {
  button {
    border: 1px solid #cccccc;
    color: #cccccc;
    border-radius: 23px;

    &:active,
    &.is-current {
      background: #000;
      color: #fff;
    }
  }
}
