@import "~@/css/variable.scss";

.search-wrap-bg {
    padding: 7px 0 8px;
    background-color: #37323d;
}

.search-block {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 724px;
}

.search-img {
    position: absolute;
    width: 13px;
    height: 15px;
    top: 5px;
    right: 20px;
    background: url('/static/image/mobile/tpl/brilliant/icon_search.png') 50% 0 no-repeat;
    background-size: 100%;
}

.search-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding-left: 13px;
    font-size: 12px;
    outline: none;
    border-radius: 100px;
    border: 1px solid #614F48;
    color: #614F48;
    background-color: #37323d;

    &.no-data {
        color: #FF4D4D;
    }
}

@media screen and (min-width: $phone + $sidebar) {
    .search-wrap {
        .search-img {
            width: 19px;
            height: 23px;
            top: 7px;
            right: 20px;
        }

        .search-input {
            height: 36px;
            line-height: 36px;
            font-size: 16px;
        }
    }
}

@media screen and (min-width: $pad + $sidebar) {
    .search-wrap {
        .search-img {
            width: 31px;
            height: 36px;
            top: 11px;
            right: 26px;
        }

        .search-input {
            width: 724px;
            height: 59px;
            line-height: 59px;
            font-size: 26px;
        }
    }
}
