$popupBg: #050505;
$popupColor: #FFF;
$popupBorder: 1px solid #CA8C54;
$popupTipColor: #F97D61;
$titleBg: #CA8C54;
$closeColor: #FFF;
$btnBg: #CA8C54;
$btnBgHover: #B16F34;
$mainInputBorder: 1px solid #756E6E;
$mainInputBg: #222;
$mainInputColor: #FFF;
$mainInputBorderRadius: 0;
$btnRadius: 0;
$selectTextColor: #FFF;
$selectBgColor: #222;
$selectOptionColor: #FFF;
$selectBorderRadius: 0;
$agentBtnBg: #CA8C54;
$agentBtnBgHover: #B16F34;
$vipContent: #FFF;
$vipText: #FF4C4C;
$vipCloseBtn: #000;
$vipTitle: #020202;
$vipBg: #CA8C54;
$vipPopTitle: #CA8C54;
