.mem-info-wrap {
    float: left;
    color: #333;

    .mem-info-item {
        float: left;

        &.account {
            margin-right: 20px;
        }

        strong {
            color: inherit;
        }
    }

    // 加號選單
    .balance-wrap {
        position: relative;
        float: left;
        top: 5px;
        width: 14px;
        height: 16px;
        margin: 0 9px 0 5px;
        color: #000;

        .balance-icon {
            display: block;
            cursor: pointer;
            color: inherit;
        }

        .balance-list {
            border-color: #AAA;
            color: #000;
            background: #CDCDCD;
        }

        .balance-list-bottom {
            border-color: #AAA;
            background: #333;

            .balance-translate {
                color: #000;
                background: #DDD;

                &:hover {
                    background: #777;
                }
            }
        }
    }
}
