.login-form {
    float: left;

    .login-input {
        position: relative;
        float: left;
        margin-right: 4px;

        &__input {
            background-color: #FFF;
            padding-left: 8px;
            width: 154px;
            height: 28px;
            line-height: 28px;
            outline: none;
            border: 1px solid #333;

            // Chrome/Opera/Safari
            &::-webkit-input-placeholder {
                color: inherit;
            }
            // Firefox 19+
            &::-moz-placeholder {
                color: inherit;
            }
            // IE 10+
            &:-ms-input-placeholder {
                color: inherit;
            }
            // Firefox 18-
            &:-moz-placeholder {
                color: inherit;
            }
        }

        &__image {
            position: absolute;
            width: 58px;
            height: 26px;
            top: 1px;
            right: 1px;
            cursor: pointer;
            background: #202020;
        }
    }

    .login-btn {
        float: left;
        margin-left: 4px;
        cursor: pointer;
    }

    .space-line {
        float: left;
    }
}

