.nav-wrap {
    $color: #777;
    $colorHover: #084;
    $subBg: #C0C0C0;

    margin: 0 auto;
    width: 1000px;
    height: 38px;
    line-height: 38px;
    color: $color;

    .nav-item-wrap {
        position: relative;
        float: left;
        padding: 0 6px;
        width: 80px;

        &:after {
            content: '';
            position: absolute;
            top: 14px;
            right: 0;
            width: 1px;
            height: 12px;
            border-right: 1px solid #4B3B3D;
            background: #000;
        }

        &.nav-last-item-wrap {
            &:after {
                content: none;
            }
        }

        .nav-item-icon {
            position: absolute;
            display: block;
            left: 52px;
            bottom: 27px;
            width: 32px;
            height: 32px;

            img {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .nav-item {
            display: block;
            overflow: hidden;
            height: inherit;
            line-height: inherit;
            font-weight: bold;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;

            &.nolink {
                cursor: default;
            }

            &.current,
            &:hover {
                color: $colorHover !important;
            }
        }

        .nav-sub-wrap {
            position: absolute;
            z-index: 100;
            background: $subBg;
            width: 110px;
            margin-left: -16px;
            padding: 16px 0;
            top: 38px;
            left: 0;
            border-top: 3px solid #877;

            .nav-sub-item {
                position: relative;
                color: inherit;

                span {
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    height: 33px;
                    line-height: 33px;
                    padding: 0 10px;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    cursor: pointer;
                }

                .nav-sub-icon-wrap {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    left: 82px;
                    bottom: 18px;
                    cursor: pointer;

                    .nav-sub-item-icon {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }

                &.nolink {
                    cursor: default;
                }

                &.current,
                &:hover {
                    color: $colorHover !important;
                }
            }
        }
    }

    .nav-more-wrap {
        position: relative;
        top: 10px;
        float: left;

        .more-btn {
            display: block;
            width: 15px;
            height: 18px;
            padding-top: 4px;
            text-align: center;
            cursor: pointer;
            background: url("/static/image/tpl/8/icon_down_light.png") 50% 0 no-repeat;

            svg {
                display: block;
                margin: 0 auto;
                color: #FFF;
            }
        }

        .more-list {
            position: absolute;
            top: 26px;
            right: 0;
            z-index: 100;
            background: $subBg;
            width: 120px;
            border-top: 3px solid #877;

            .more-list-item {
                display: block;
                overflow: hidden;
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-align: center;
                cursor: pointer;
                color: $color;

                &.current,
                &:hover {
                    color: $colorHover !important;
                }

                .text {
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding: 0 18px;
                }

                .nav-more-icon-wrap {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    left: 82px;
                    bottom: 18px;
                    cursor: pointer;

                    .nav-more-item-icon {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }

                .nav-more-caret {
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    margin-top: -8px;
                }

                .nav-more-sub-wrap {
                    position: absolute;
                    z-index: 100;
                    top: 0;
                    width: 120px;
                    background: $subBg;
                    border-top: 3px solid #877;

                    .nav-more-sub-item {
                        position: relative;
                        color: $color;

                        .nav-more-sub-icon-wrap {
                            position: absolute;
                            width: 32px;
                            height: 32px;
                            left: 82px;
                            bottom: 18px;
                            cursor: pointer;
        
                            .nav-more-sub-item-icon {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
        
                        &.nolink {
                            cursor: default;
                        }

                        &.current,
                        &:hover {
                            color: $colorHover !important;
                        }
                    }
                }
            }
        }
    }
}
