:root {
  /***---------------- 企劃書主色輔色 ----------------***/
  /***--- 大廳 遊戲 ---***/
  //底色(固定顏色)
  --homepage_color: #ffffff; //首頁底色
  --homepage_border_color: #c9c9c9; //內邊框
  --homepage_inner_color: #f8f8f7; //內頁底色
  --homepage_inner_border_color: #c9c9c9; //內邊框

  //主色(客製顏色)
  --main_color: #222222; //主色
  --main_border_color: #222222; //內邊框
  --secondary_color: #222223; //輔色(維護字體與首頁中間選單字體)
  --secondary_border_color: #222223; //內邊框

  //選單(客製顏色)
  --selector_color1: #323943; //首頁 左側選單、功能列 文字主色
  --selector_border_color1: #707070; //內邊框
  --selector_color2: #dfebf8; //首頁 左側選單文字Hover主色
  --selector_border_color2: #707070; //內邊框

  //按鈕主色
  --main_button_color1: linear-gradient(to left, #3354ad 0%, #3354ad 100%);
  --main_button_text_color1: #ffffff;
  --main_button_color2: linear-gradient(to left, #cad4f0 0%, #cad4f0 100%);
  --main_button_text_color2: #ffffff;

  //首頁左側選單（選單(客製顏色)）
  --homepage_left_text_color: #323943;
  --homepage_left_text_active_color: #323943;

  //首頁中間選單（輔色）
  --homepage_right_text_color: #222223;

  //功能列（一般：選單(客製顏色)、點選：輔色）
  --footer_color: #323943;
  --footer_active_color: #222223;

  //第二層選單（主色）
  //>底線模式
  --slider_text_color: #a6a9b2;
  --slider_text_active_color: #5e626d;
  --slider_underline_active_color: #222222;
  //>方塊模式
  --square_text_color: #222222;
  --square_border_color: #222222;
  --square_background_color: #ffffff;
  --square_text_active_color: #ffffff;
  --square_border_active_color: #222222;
  --square_background_active_color: #222222;

  //客服永久網址按鈕
  --service_bottom_text_button: #ffffff;
  --service_bottom_background_button: #222222;

  //首頁訪客彩金
  --visitor_title_color: #000000;
  --visitor_money_color: #fb7126;

  /***--- 會員中心 ----***/
  --member_color1: #3354ad;
  --member_color2: #3354ad;
  --member_color3: #adbade;
  --member_color4: #adbade;
  --member_color100: #6aaaf5;
  --member_color101: #cccccc;
  --member_text_color1: #ffffff;
  --member_text_color2: #ffffff;
  --member_text_color3: #a6a9b2;
  --member_text_color4: #5e626d;
  --member_text_color5: #7086ce;
  --member_text_color6: #db6372;

  --member_gradient_color1: linear-gradient(to left, #3354ad 0%, #3354ad 100%);
  --member_gradient_color2: linear-gradient(to left, #adbade 0%, #adbade 100%);

  /***---------------- 功能 ----------------***/
  /***--- 大廳 遊戲 功能 ---***/
  --joinmember_title: #9b6b40; //註冊頁標題
  --joinmember_left_text_color: #5e626d; //註冊頁左下文字
  --joinmember_right_text_color: #3354ad; //註冊頁右下文字
  --promotion_gift_button: #9ca3bf; //優惠上方按鈕背景
  --promotion_gift_button_text_color: #ffffff; //優惠上方按鈕邊框
  --promotion_gift_button_border: 32px; //優惠上方按鈕圓角
  --service_webview_button: #6aaaf5; //webview我的客服下載按鈕
  --service_webview_text_button: #6aaaf5; //webview我的客服下載按鈕文字
  --webview_icon_text: #fff; //webview我的客服文字
  --service_add_button: #6aaaf5; //我的客服立即添加按鈕
  --service_add_text_button: #ffffff; //我的客服立即添加按鈕文字
  --service_text_color: #6aaaf5; //我的客服立即添加按鈕左邊的文字

  /***--- 會員中心 功能 ----***/
  --wallet_border_color: #6aaaf5;
  --redpot: #db6372;
  --deco_color: #414655;
  --deco_color2: #a6a9b2;
  --apptip_title: #3354ad;
  --apptip_btn: #3354ad;
  --popup_text_color1: #6aaaf5;
  --popup_text_color2: #000000;
  --popup_text_color3: #6aaaf5;
  --member_slider: #3354ad;
  --marquee_text_color1: #9ca3bf;
  --marquee_text_color2: #9ca3bf;
  --vip_detail_color: #414655;
  --avatar-vip-icon-color: #9ca3bf;
  --redpot_button_color: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);
  --addcard_popup_text_color: #414655;
  --addcard_popup_prev_text_color: #6aaaf5;
  --widthdraw_tip_text_color: #6aaaf5;
  --label_bg_color: #222222;
  --label_text_color1: #222222;
  --label_text_color2: #ffffff;
  --bankrebate_receive_button1: #414655;
  --bankrebate_receive_button2: #eaeaea;
  --bankrebate_receive_text_color: #a6a9b2;
  --invite_background_color: #3676d5;
  --invite_text_color: #ffffff;
  --porn_btn_color: #3354ad;
  --porn_line_color: #222;
  --porn_text_color: #222;
}
