:root {
  --main_color1: #3354ad;
  --main_color2: #3354ad;
  --main_color3: #adbade;
  --main_color4: #adbade;
  --main_color100: #6aaaf5;
  --main_text_color1: #ffffff;
  --main_text_color2: #ffffff;
  --main_text_color3: #a6a9b2;
  --main_text_color4: #5e626d;
  --main_text_color5: #323943;
  --main_gradient_color1: linear-gradient(to left, #3354ad 0%, #3354ad 100%);
  --main_gradient_color2: linear-gradient(to left, #adbade 0%, #adbade 100%);

  //會員中心
  --member_color1: #3354ad;
  --member_color2: #3354ad;
  --member_color3: #adbade;
  --member_color4: #adbade;
  --member_color100: #6aaaf5;
  --member_color101: #cccccc;
  --member_text_color1: #ffffff;
  --member_text_color2: #ffffff;
  --member_text_color3: #a6a9b2;
  --member_text_color4: #5e626d;
  --member_text_color5: #7086ce;
  --member_text_color6: #db6372;

  --member_gradient_color1: linear-gradient(to left, #3354ad 0%, #3354ad 100%);
  --member_gradient_color2: linear-gradient(to left, #adbade 0%, #adbade 100%);

  //功能
  --wallet_border_color: #6aaaf5;
  --redpot: #db6372;
  --deco_color: #414655;
  --deco_color2: #a6a9b2;
  --joinmember_title: #9b6b40;
  --apptip_title: #3354ad;
  --apptip_btn: #3354ad;
  --popup_text_color1: #6aaaf5;
  --popup_text_color2: #000000;
  --popup_text_color3: #6aaaf5;
  --member_slider: #3354ad;
  --webview_icon_text: #fff;
  --marquee_text_color1: #9ca3bf;
  --marquee_text_color2: #9ca3bf;
  --vip_detail_color: #414655;
  --avatar-vip-icon-color: #9ca3bf;
  --redpot_button_color: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);
  --addcard_popup_text_color: #414655;
  --addcard_popup_prev_text_color: #6aaaf5;
  --widthdraw_tip_text_color: #6aaaf5;
}
