$main_color1: #fb0;
$main_color2: #fb0;
$main_color3: #e9dacb;
$main_color4: #eee5db;
$main_color100: #be9e7f;

$main_text_color1: #222222;
$main_text_color2: #ffffff;
$main_text_color3: #a6a9b2;
$main_text_color4: #5e626d;
$main_gradient_color1: linear-gradient(
  to left,
  $main_color1 0%,
  $main_color2 100%
);
$main_gradient_color2: linear-gradient(
  to left,
  $main_color3 0%,
  $main_color4 100%
);

$member_color1: #bd9d7d;
$member_color2: #f9ddbd;
$member_color3: #e9dacb;
$member_color4: #eee5db;
$member_color100: #be9e7f;
$member_text_color1: #ffffff;
$member_text_color2: #ffffff;
$member_text_color3: #a6a9b2;
$member_text_color4: #5e626d;
$member_gradient_color1: linear-gradient(
  to left,
  $main_color1 0%,
  $main_color2 100%
);
$member_gradient_color2: linear-gradient(
  to left,
  $main_color3 0%,
  $main_color4 100%
);

$redpot: #be9e7f;
$deco_color: linear-gradient(to bottom, $main_color1 0%, $main_color2 100%);
$wallet_border_color: #be9e7f;
$joinmember_title: #9b6b40;
$apptip_title: #fb0;
$apptip_btn: #fb0;
$popup_text_color1: #d1b79c;
$popup_text_color2: #414655;
$member_slider: #d1b79c;
