:root {
  /***---------------- 企劃書主色輔色 ----------------***/
  /***--- 大廳 遊戲 ---***/
  //底色(固定顏色)
  --homepage_color: #ffffff; //首頁底色
  --homepage_border_color: #c9c9c9; //內邊框
  --homepage_inner_color: #f8f8f7; //內頁底色
  --homepage_inner_border_color: #c9c9c9; //內邊框

  //主色(客製顏色)
  --main_color: #222222; //主色
  --main_border_color: #222222; //內邊框
  --secondary_color: #222223; //輔色(維護字體與首頁中間選單字體)
  --secondary_border_color: #222223; //內邊框

  //選單(客製顏色)
  --selector_color1: #353541; //首頁 左側選單、功能列 文字主色
  --selector_border_color1: #707070; //內邊框
  --selector_color2: #353542; //首頁 左側選單文字Hover主色
  --selector_border_color2: #707070; //內邊框

  //按鈕主色
  --main_button_color1: linear-gradient(to left, #ffbb00 0%, #ffbb00 100%);
  --main_button_text_color1: #ffffff;
  --main_button_color2: linear-gradient(to left, #fcd571 0%, #fcd571 100%);
  --main_button_text_color2: #ffffff;

  //首頁左側選單（選單(客製顏色)）
  --homepage_left_text_color: #353541;
  --homepage_left_text_active_color: #353542;

  //首頁中間選單（輔色）
  --homepage_right_text_color: #222223;

  //功能列（一般：選單(客製顏色)、點選：輔色）
  --footer_color: #353541;
  --footer_active_color: #222223;

  //第二層選單（主色）
  //>底線模式
  --slider_text_color: #a6a9b2;
  --slider_text_active_color: #5e626d;
  --slider_underline_active_color: #d1b79c;
  //>方塊模式
  --square_text_color: #d1b79c;
  --square_border_color: #d1b79c;
  --square_background_color: #ffffff;
  --square_text_active_color: #ffffff;
  --square_border_active_color: #d1b79c;
  --square_background_active_color: #d1b79c;

  //客服永久網址按鈕
  --service_bottom_text_button: #ffffff;
  --service_bottom_background_button: #222222;

  //首頁訪客彩金
  --visitor_title_color: #feba2c;
  --visitor_money_color: #ffffff;

  --main_color100: #6aaaf5;
  --main_text_color1: #222222;

  /***--- 會員中心 ----***/
  --member_color1: #bd9d7d;
  --member_color2: #f9ddbd;
  --member_color3: #e9dacb;
  --member_color4: #eee5db;
  --member_color100: #be9e7f;
  --member_text_color1: #ffffff;
  --member_text_color2: #ffffff;
  --member_text_color3: #a6a9b2;
  --member_text_color4: #5e626d;
  --member_text_color5: #9ba3bf;
  --member_text_color6: #be9e7f;

  --member_gradient_color1: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);
  --member_gradient_color2: linear-gradient(to left, #e9dacb 0%, #eee5db 100%);

  /***---------------- 功能 ----------------***/
  /***--- 大廳 遊戲 功能 ---***/
  --joinmember_title: #9b6b40; //註冊頁標題
  --joinmember_left_text_color: #5e626d; //註冊頁左下文字
  --joinmember_right_text_color: #fb0; //註冊頁右下文字
  --promotion_gift_button: #fb0; //優惠上方按鈕背景
  --promotion_gift_button_text_color: #000; //優惠上方按鈕文字
  --promotion_gift_button_border: 32px; //優惠上方按鈕圓角
  --service_webview_button: #6aaaf5; //webview我的客服下載按鈕
  --service_webview_text_button: #6aaaf5; //webview我的客服下載按鈕文字
  --webview_icon_text: #bf8646; //webview我的客服文字
  --service_add_button: #6aaaf5; //我的客服立即添加按鈕
  --service_add_text_button: #ffffff; //我的客服立即添加按鈕文字
  --service_text_color: #6aaaf5; //我的客服立即添加按鈕左邊的文字

  /***--- 會員中心 功能 ----***/
  --redpot: #be9e7f;
  --deco_color: linear-gradient(to bottom, #bd9d7d 0%, #f9ddbd 100%);
  --deco_color2: #be9e7f;
  --wallet_border_color: #d1b79c;
  --apptip_title: #fb0;
  --apptip_btn: #fb0;
  --popup_text_color1: #d1b79c;
  --popup_text_color2: #414655;
  --popup_text_color3: #414655;
  --member_slider: #d1b79c;
  --marquee_text_color1: #9ca3bf;
  --marquee_text_color2: #d1b79c;
  --vip_detail_color: #bbab98;
  --avatar-vip-icon-color: var(--member_gradient_color1);
  --redpot_button_color: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);
  --addcard_popup_text_color: #bbab98;
  --addcard_popup_prev_text_color: #be9e7f;
  --widthdraw_tip_text_color: #be9e7f;
  --label_bg_color: #be9e7f;
  --label_text_color1: #bf8646;
  --label_text_color2: #fff;
  --bankrebate_receive_button1: var(--member_gradient_color1);
  --bankrebate_receive_button2: var(--member_gradient_color2);
  --bankrebate_receive_text_color: #f3ede7;
  --invite_background_color: #f2e2d1;
  --invite_text_color: #be9e7f;
  --porn_btn_color: linear-gradient(to left, #bd9d7d, #f9ddbd);
  --porn_line_color: #be9e7f;
  --porn_text_color: #be9e7f;
}
