.info-wrap {
    padding: 35px 5.3% 21px;
    background-color: #EEE;

    .breadcrumbs-wrap {
        margin-bottom: 25px;
        color: #7E7E7E;
        font-size: 17px;

        .title {
            color: #262626;
            font-size: 17px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.level-info-box,
.level-total-box {
    float: left;
    padding-bottom: 12px;
    margin-right: 0.8%;
    width: 16%;
    border-radius: 4px;
    background-color: #FFF;

    .info-title {
        height: 40px;
        line-height: 40px;
        color: #262626;
        font-size: 16px;
        text-align: center;
        background-color: #F6F6F6;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .info-subtitle {
        margin: 8px 4% 2px;
        color: #CCC;
        font-size: 13px;
        text-align: center;
    }
    .info-money {
        margin: 0 7%;
        min-height: 38px;
        color: #54B8FF;
        font-size: 16px;
        text-align: right;
    }
}
.level-total-box {
    margin-right: 0;
    background-color: #FFF;

    .info-title {
        color: #313F52;
        background-color: #CCC;
    }
    .info-subtitle {
        color: #BBB;
    }
}

.main-wrap {
    padding: 40px 5.3% 20px;
}

.data-table {
    margin-bottom: 25px;
    width: 100%;
    color: #313f52;
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #CCC;

    td {
        padding: 5px 0;
        min-height: 30px;
        line-height: 30px;
        text-align: center;

        &.money-type {
            span {
                display: block;
                margin: 0 auto;
                width: 45%;
                text-align: right;
            }
        }
        &.hi-light-type {
            color: #313F53;
        }
        &.no-data {
            padding: 5px 0;
            line-height: 30px;
            color: #313F52;
        }
    }

    thead {
        tr {
            color: #FFF;
            border-width: 0 1px;
            border-style: solid;
            border-color: #CCC;
            background-color: #CCC;
        }
        th {
            height: 40px;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            text-align: center;

            &.index {
                width: 10%;
            }
            &.first-level {
                width: 28%;
                cursor: pointer;
            }
            &.valid-bet {
                width: 31%;
            }
            &.commission {
                width: 31%;
            }
        }
    }

    tbody {
        tr {
            border-width: 1px 1px 0;
            border-style: solid;
            border-color: #CCC;
            background-color: initial;
        }
    }

    tfoot {
        tr {
            height: 40px;
            border-width: 1px 1px 0;
            border-style: solid;
            border-color: #CCC;
            font-weight: bold;
            background-color: #EEE;
        }
        td {
            &.foot-title {
                background-color: #D5D5D5;
            }
        }
    }
}
.theme-miller {
    .info-money{
        color: #F7B500;
    }
    .data-table{
        border-color: #CCC;
        thead {
            tr {
                background-color: #F9F9F9;
                color:#747577;
                border-color: #CCC;
                border-bottom: 1px solid #CCC;
            }
        }
        tbody{
            border-color: #CCC;
            tr{
                border-color: #CCC;
            }
        }
    }
}
