/****** 各模板共用 ******/
@import "~@/css/tpl/index.scss";

.body {
    overflow-x: initial;
    min-width: 1000px;
    word-break: break-all;
    background-image: url("/static/image/tpl/8/bg.jpg");
    background-position-x: 50%;

    // 最近玩過
    .main-container {
        &.is-login {
            padding-bottom: 50px;
        }
    }

    .main-wrap {
        // 固定頁面版寬設定
        .normal-page {
            margin: 0 auto;
            width: 1000px;
        }

        // 模塊版寬設定
        .element-wrap {
            > .content {
                margin: 0 auto;
                width: 1000px;
            }
        }
    }

    .element-links01 {
        .tablinks {
            font-size: 12px;
        }
    }

    .footer-wrap {
        font-size: 12px;
    }
}
