@import "~@/css/variable.scss";

.pop-promotion-wrap {
    position: fixed;
    top: 6%;
    left: 0;
    border-radius: 4px;
    padding-top: 88px;
    background: #FFF;
    width: 100%;
    max-width: 940px;
    height: 84%;
    line-height: normal;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    @media screen and (min-width: 940px + $sidebar) {
        left: 50%;
        right: 50%;
        margin-left: -470px;
    }
    ::-webkit-scrollbar {
        border-radius: 10px;
        width: 10px;
        background-color: #D4D4D4;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #9E9E9E;
    }
    .title {
        position: absolute;
        top: 20px;
        left: 0;
        margin: 0 20%;
        padding: 10px 0;
        width: 60%;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 36px;
        font-size: 36px;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            transform:rotate(90deg);
        }
    }
    .content {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        .img {
            width: 100%;
        }
        .text {
            position: relative;
            padding: 0 20px;
            .countdown-wrap {
                text-align: center;
                p {
                    margin: 0;
                    padding: 0;
                }
                .countdown {
                    display: inline-block;
                    border-radius: 4px;
                    background-color: #55595C;
                    text-align: center;
                    line-height: normal;
                    overflow: hidden;

                    &.no-reciprocal {
                        .time-block {
                            display: none;
                        }
                    }

                    @media screen and (min-width: $phone + $sidebar) {
                        float: right;
                    }
                    .time-block {
                        float: left;
                        padding: 8px;
                        min-width: 40px;
                        height: 58px;
                        @media screen and (min-width: $pad + $sidebar) {
                            border-right: 1px solid #494C4F;
                        }
                        &:last-child {
                            border: 0;
                        }
                        .time-digit {
                            color: #FFF;
                            font-size: 16px;
                            font-weight: bold;
                        }
                        .time-text {
                            color: #E6E6E6;
                            font-size: 12px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                    .time-join {
                        float: left;
                        border-radius: 0 4px 4px 0;
                        padding: 6px 12px;
                        background-color: #0FA9E7;
                        width: 88px;
                        height: 58px;
                        line-height: 46px;
                        color: #FFF;
                        cursor: pointer;
                        transition: background-color .3s ease;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        &:hover {
                            background-color: #0C86B7;
                        }
                    }
                }
            }
            /deep/ {
                p {
                    line-height: normal;
                }
            }
        }
    }
}
