@import '~@/css/variable.scss';

.theme-basic,
.theme-brilliant {
    $color: #55B9FF;
    $titleColor: #7DCAFF;
    $percentBgColor: #FFF;
    $bgColor: #FFF;
    $borderColor: #53B2F3;
    $contentTextColor: #555;
    $textColor: #FF4C72;
    @import './topInfo.scss';

    .content-top {
        .content-top-percent {
            display: none;
        }
    }
}

.theme-theme3 {
    $color: #DFAF50;
    $titleColor: #DFAF50;
    $percentBgColor: #FFF;
    $bgColor: #FFF;
    $borderColor: #DFAF50;
    $contentTextColor: #555;
    $textColor: #FF4C72;
    @import './topInfo.scss';

    .content-top {
        .content-top-percent {
            display: none;
        }
    }
}

.theme-brilliant {
        .content-top {
            .content-top-percent {
                display: none;
            }
        }
}

.theme-519 {
    $color: #F97D61;
    $titleColor: #F97D61;
    $percentBgColor: transparent;
    $bgColor: #000;
    $borderColor: #000;
    $contentTextColor: #FFF;
    $textColor: #CA8C54;
    @import './topInfo.scss';

    .content-top {
        padding: 0 5.3% 27px;
        border-color: #F4EFE6;
        background: none;

        .content-top-left {
            font-size: 16px;
            color: #FFF;

            /deep/ .content-top-info {
                .info-item {
                    span {
                        color: #FFF;
                    }
                }
            }
        }

        .content-top-percent {
            top: 24px;

            .percent-text {
                color: #696969;
            }
        }
    }
}

.theme-miller {
    $color: #F7B500;
    $titleColor: #F7B500;
    $percentBgColor: #FFF;
    $bgColor: #FFF;
    $borderColor: #53B2F3;
    $contentTextColor: #555;
    $textColor: #FF4C72;
    @import './topInfo.scss';

    .content-top {
        .content-top-percent {
            display: none;
        }
    }
}

@media screen and (min-width: $phone) {
    .theme-brilliant {
        .content-top {
            .content-top-percent {
                display: block;
            }
        }
    }
}