@import '~@/css/variable.scss';

// 右上區塊 (帳戶資料右上區塊)
.content-top {
    font-size: 13px;
    position: relative;
    padding: 0 5.3% 15px;
    border-bottom: 1px solid #DDD;
    background: #FFF;

    .content-top-left {
        line-height: 22px;
        float: left;
        color: #7E7E7E;

        /deep/ .content-top-title {
            span {
                display: inline-block;
            }
            
            .change-name-wrap {
                vertical-align: middle;
                padding-bottom: 3px;
                cursor: pointer;
            }

            .change-name-img {
                display: block;
            }
            
            .account {
                font-size: 16px;
                margin: 0 4px;
                color: $titleColor;
            }

            .prompt {
                padding: 0 8px 0 1px;
                border: 1px solid #FF4C72;
                border-radius: 19px;
                color: #FF4C72;

                .warning {
                    margin-top: 1px;
                    vertical-align: top;
                }
            }

            .vip-wrap {
                display: inline-block;
                position: relative;

                .vip-text {
                    color: $titleColor;
                    cursor: pointer;
                }

                .vip-item-wrap {
                    position: absolute;
                    z-index: 999;
                    top: 7px;
                    left: 52px;
                    width: 380px;
                    padding: 20px;
                    border: $borderColor 1px solid;
                    border-radius: 8px;
                    background-color: $bgColor;
                    font-size: 16px;
                }
            }

            .vip-content {
                margin-top: 14px;
                color: $contentTextColor;

                span {
                    color: $textColor;
                }
            }
        }

        .pad-show-percent {
            display: none;
            margin-top: 3px;
            color: #CCC;
        }

        /deep/ .content-top-info {
            margin-top: 18px;

            .info-item {
                label {
                    display: inline-block;
                }

                span {
                    display: inline-block;
                    color: #333;
                }
            }

            span {
                &.message {
                    font-size: 16px;
                    color: $titleColor;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .content-top-percent {
        position: absolute;
        display: block;
        width: 122px;
        height: 122px;
        line-height: normal;
        padding-top: 30px;
        top: 18px;
        right: 6%;
        text-align: center;

        svg {
            position: absolute;
            top: 0;
            left: 0;

            .percent-circle {
                transition: stroke-dashoffset 1s linear;

                stroke-dashoffset: 358px;
                stroke-dasharray: 358px;
                stroke: $color;
                fill: $percentBgColor;
            }
        }

        .percent-num {
            position: relative;
            text-align: center;
            color: $color;
            span {
                display: inline-block;
            }
            .number {
                font-size: 42px;
            }
            .unit {
                font-size: 32px;
            }
        }

        .percent-text {
            position: absolute;
            bottom: -20px;
            width: 156px;
            left: -15px;
            color: #CCC;
        }
    }
}
