@import "~@/css/variable.scss";

// 分頁器
.page-wrap {
    margin-top: 26px;
    text-align: center;
    color: $pagerTextColor;
    select {
        background: url("/static/image/member_select_bg_arrow.png") 95% 50% no-repeat $pagerBtnBg;
        color: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        option {
            color: #000;
        }
        &::-ms-expand {
            display: none;
        }
        &::-ms-value {
            color: #999;
            background: transparent;
        }
    }
    .page-select-wrap {
        display: inline-block;
        vertical-align: middle;
    }
    .page-select {
        border-radius: 5px;
        border: 1px solid #CCC;
        height: 40px;
        cursor: pointer;
    }
    > span {
        background: $pagerBtnBg;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        background-image: url("/static/image/member_page_arrow.png");
        background-repeat: no-repeat;
        width: 34px;
        border-radius: 5px;
        border: 1px solid #CCC;
        height: 40px;
        cursor: pointer;
        &.page-first {
            background-position: -122px 0;
        }
        &.page-pre {
            margin-left: 1%;
            background-position: -82px 0;
        }
        &.page-next {
            margin-right: 1%;
            background-position: -2px 0;
        }
        &.page-last {
            background-position: -42px 0;
        }
        &.page-total {
            width: auto;
            height: auto;
            border: none;
            background: none;
            cursor: auto;
        }
        &.disable {
            border-color: #F0F0F0;
            background-position-y: 100%;
            cursor: no-drop;
        }
    }
    .page-select-wrap {
        margin: 0 1%;
        .page-select {
            padding: 0 24px 0 17px;
            background-position: 44px 50%;
            width: 68px;
            option {
                text-align: center;
            }
        }
    }
}

// pad.pc
@media screen and (min-width: $phone) {
    .page-wrap {
        span {
            width: 40px;
            &.page-first {
                background-position: 100% 0;
            }
            &.page-pre {
                margin-left: 10px;
                background-position: -81px 0;
            }
            &.page-next {
                margin-right: 10px;
                background-position: 0 0;
            }
            &.page-last {
                background-position: -41px 0;
            }
        }
        .page-select-wrap {
            margin: 0 22px;
            .page-select {
                margin-right: 8px;
            }
        }
    }
}
