.main-table {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: $tableBottomBorder;
    width: 100%;
    color: $tableColor;
    font-size: 14px;
    th,
    td {
        margin: 0;
        padding: 0;
    }
    th {
        height: 40px;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }
    thead {
        tr {
            background: $theadBg;
            border-width: 0 1px;
            border-style: solid;
            border-color: $theadBorder;
            color: $theadColor;
        }
    }
    tbody {
        tr {
            background: $tableBg;
            border-width: 1px 1px 0;
            border-style: solid;
            border-color: $tableBorder;
        }
        td {
            padding: 5px 0;
            line-height: 30px;
            text-align: center;
            min-height: 30px;
        }
    }
}
