//自訂連結
.customize-links-wrap {
    float: left;
    margin-top: 3px;

    .customize-links {
        display: inline-block;
        color: #959595;

        button {
            cursor: pointer;
            background: transparent;
            
            &:hover {
                color: #F4D15C !important;
            }
        }

        span {
            margin: 0 5px;
        }
    }
}