// footer
.footer-wrap {
    background: #EEE;
    padding: 17px 0;

    .footer {
        margin: 0 auto;
        width: 1000px;
        text-align: center;
        color: #796B63;

        .footer-info,
        .footer-copyright {
            line-height: 20px;
            font-size: 12px;
            color: #1B2A49;
        }
    }
}
