.header-wrap {
    background: #EEE;

    /deep/ {
        @import "./memLogin.scss";
        @import "./memInfo.scss";
        @import "./memMenu.scss";
        @import './langSelect.scss';
        @import './nav.scss';

        .header-top,
        .header-middle,
        .header-bottom {
            position: relative;
            width: 1000px;
            margin: 0 auto;
        }

        .header-top-wrap {
            background: #1B2A49;

            .header-top {
                position: relative;
                padding: 4px 0 5px 210px;
                color: #FFF;

                .mem-wrap {
                    float: left;
                    line-height: 26px;
                    font-size: 12px;
                }

                .header-logo-wrap {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;

                    .logo-default {
                        color: #000;
                        font-size: 40px;
                        line-height: 76px;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .header-middle {
            height: 69px;
        }

        .header-bottom-wrap {
            background: #1B2A49;

            .header-bottom {
                height: 40px;
            }

            .header-bottom-links {
                float: left;
                width: 160px;
                height: 40px;
                margin: 0 18px;

                .agent-join,
                .agent-login {
                    float: left;
                    width: 50%;
                    line-height: 40px;
                    text-align: center;
                    font-size: 12px;
                    color: #D0BAA5;
                    cursor: pointer;
                    overflow : hidden;
                    text-overflow : ellipsis;
                    white-space : nowrap;

                    &:hover {
                        color: #FFCC00;
                    }
                }
            }

            .news-wrap {
                float: left;
                position: relative;
                width: 804px;
                line-height: 40px;

                .news-title {
                    float: left;
                    width: 85px;
                    background: #93091E;
                    text-align: center;
                    font-size: 13px;
                    color: #FFF;
                }

                /deep/ {
                    .news-content-wrap {
                        float: left;
                        width: 719px;

                        .news-content {
                            color: #FFF;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
