.mem-info-wrap {
    float: left;

    .mem-info-item {
        float: left;

        &.account {
            margin-right: 12px;
        }

        strong {
            color: inherit;
        }
    }

    // 加號選單
    .balance-wrap {
        position: relative;
        float: left;
        top: 5px;
        width: 14px;
        height: 16px;
        margin: 0 18px 0 5px;
        color: #FC0;

        .balance-icon {
            display: block;
            cursor: pointer;
            color: inherit;
            width: 11px;
        }

        .balance-list {
            border-color: #AF2D2D;
            color: #FFF;
            background: #AF2D2D;
        }

        .balance-list-bottom {
            border-color: #AAA;
            background: #D0BAA5;

            .balance-translate {
                color: #FFF;
                background: #AF2D2D;
                border-radius: 0;
                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;

                &:hover {
                    background: #9B2828;
                }
            }
        }
    }
}
