.login-form {
    float: left;

    .login-input {
        float: left;
        margin-right: 5px;
        color: #1B2A49;

        &__input {
            background-color: #A3A9B5;
            border: none;
            padding-left: 8px;
            width: 142px;
            height: 26px;
            font-size: 12px;

            // Chrome/Opera/Safari
            &::-webkit-input-placeholder {
                color: inherit;
            }
            // Firefox 19+
            &::-moz-placeholder {
                color: inherit;
            }
            // IE 10+
            &:-ms-input-placeholder {
                color: inherit;
            }
            // Firefox 18-
            &:-moz-placeholder {
                color: inherit;
            }
        }

        &__image {
            position: absolute;
            width: 58px;
            height: 26px;
            top: 0;
            right: 0;
            cursor: pointer;
            background: #202020;
        }

        &--captcha {
            position: relative;

            input {
                width: 130px;
            }
        }
    }

    .login-btn {
        float: left;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
        cursor: pointer;

        &--forget {
            max-width: 84px;
            margin-left: 10px;
            text-decoration: underline;
            color: #FFF;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                color: #FC0;
            }
        }

        &--join {
            position: relative;
            margin-right: 16px;
            text-decoration: underline;
            color: #FFF;

            &:hover {
                color: #FC0;
            }
        }

        &--submit {
            width: 80px;
            background: #B12C2D;
            text-align: center;
            color: #F0EEEC;

            &:hover {
                background: #FC0;
            }
        }
    }

    .space-line {
        float: left;
        padding: 2px 5px;
    }
}
