.mem-menu-wrap {
    float: left;

    >.link-line {
        float: left;
        width: 1px;
        height: 10px;
        margin: 0 5px;
    }

    span {
        float: left;

        &.link-item {
            cursor: pointer;

            &:hover {
                color: #FC0;
            }
        }
    }
}
