.nav-wrap {
    float: left;
    padding-left: 202px;

    .nav-item-wrap {
        position: relative;
        width: 84px;
        height: 69px;
        text-align: center;
        margin: 0 4px;
        float: left;

        &.nav-last-item-wrap {
            &:after {
                content: none;
            }
        }

        .nav-item-icon {
            position: absolute;
            top: -6px;
            right: -14px;
            width: 32px;
            height: 32px;

            img {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .nav-item {
            display: inline-block;
            max-width: 86px;
            border-bottom: 3px solid transparent;
            padding: 0 3px;
            line-height: 65px;
            font-size: 15px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;

            &.nolink {
                cursor: default;
            }

            &.current,
            &:hover {
                border-bottom: 3px solid #B12C2C;
                color: #B12C2C !important;
            }
        }

        .nav-sub-wrap {
            position: absolute;
            top: 68px;
            left: -12px;
            z-index: 100;
            background: #06365D;
            width: 110px;
            border: none;
            padding: 16px 0;

            .nav-sub-item {
                position: relative;
                padding: 0 6px;
                line-height: 27px;
                color: #FFF;

                span {
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    height: 33px;
                    line-height: 33px;
                    padding: 0 10px;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    cursor: pointer;
                }

                .nav-sub-icon-wrap {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    left: 82px;
                    bottom: 20px;
                    cursor: pointer;

                    .nav-sub-item-icon {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }

                &.nolink {
                    cursor: default;
                }

                &.current,
                &:hover {
                    color: #FC0 !important;
                }
            }
        }
    }

    .nav-more-wrap {
        position: relative;
        top: 19px;
        float: left;
        margin-left: 27px;

        .more-btn {
            display: block;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            padding-top: 3px;
            line-height: 28px;
            text-align: center;
            color: #FFF;
            cursor: pointer;
            background: #1B2A49;
                
            svg {
                width: 19px;
                height: 16px;
                margin: 0 auto;
            }
        }

        .more-list {
            position: absolute;
            top: 26px;
            right: 0;
            z-index: 100;
            background: #06365D;
            width: 110px;
            padding: 6px 0;

            .more-list-item {
                position: relative;
                display: block;
                width: 100%;
                height: 30px;
                line-height: 30px;
                font-size: 12px;
                text-align: center;
                cursor: pointer;
                color: #FFF;
                    
                &.current,
                &:hover {
                    color: #FC0 !important;
                }

                .text {
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding: 0 18px;
                }

                .nav-more-icon-wrap {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    left: 82px;
                    bottom: 20px;
                    cursor: pointer;

                    .nav-more-item-icon {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }

                .nav-more-caret {
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    margin-top: -8px;
                }

                .nav-more-sub-wrap {
                    position: absolute;
                    z-index: 100;
                    top: 0;
                    width: 110px;
                    background: #06365D;
                    padding: 6px 0;

                    .nav-more-sub-item {
                        position: relative;
                        color: #FFF;
                        font-size: 12px;

                        .nav-more-sub-icon-wrap {
                            position: absolute;
                            width: 32px;
                            height: 32px;
                            left: 82px;
                            bottom: 20px;
                            cursor: pointer;

                            .nav-more-sub-item-icon {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }

                        &.nolink {
                            cursor: default;
                        }

                        &.current,
                        &:hover {
                            color: #FC0 !important;
                        }
                    }
                }
            }
        }
    }
}
