@charset "UTF-8";
/* @group Reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1;
  background-color: #eee;
}

body {
  position: relative;
  font-family: arial, STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
  font-size: 12px;
  line-height: normal;
  color: #222;
  margin: 0;
}

a {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #000;
}

a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=checkbox], input[type=radio] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px\9;
  padding: 0;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
button:focus, input:focus, optgroup:focus, select:focus, textarea:focus {
  outline: 0;
}

button,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label[for] {
  cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* @end */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

html {
  height: 100%;
  background: #151515;
}

body {
  width: 100%;
  background: url('../image/bg_x.png') repeat-x left top;
}
@media only screen and (max-width: 1024px) {
  body {
    background: #f3f3f3;
  }
}

.body-bg {
  width: 100%;
  background: url('../image/bg.png') no-repeat center top;
}
@media only screen and (max-width: 1024px) {
  .body-bg {
    background: none;
  }
}

.mainBody {
  position: relative;
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 0 0 30px;
}
.mainBody:before, .mainBody:after {
  content: "";
  display: table;
}
.mainBody:after {
  clear: both;
}
@media only screen and (max-width: 1024px) {
  .mainBody {
    width: 100%;
    padding: 0;
  }
}

.page-header {
  padding: 21px 0 43px 0;
}

.logo {
  float: left;
  background: url('../image/logo.png') no-repeat left top;
}
.logo a {
  display: block;
  width: 152px;
  height: 43px;
}
@media only screen and (max-width: 1024px) {
  .logo {
    margin: 0 0 0 30px;
  }
}

.lang {
  position: relative;
  float: right;
  width: 88px;
  height: 26px;
  margin: 0 30px 0 0;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .lang {
    width: 104px;
    height: 40px;
  }
}

.lang-title {
  line-height: 26px;
  font-size: 12px;
  color: #777;
  cursor: pointer;
  padding: 0 0 0 10px;
  border: 1px solid #444;
}
.lang-title::after {
  content: '▾';
  display: inline-block;
  padding: 0 0 0 10px;
}
@media only screen and (max-width: 1024px) {
  .lang-title {
    line-height: 40px;
    padding: 0 0 0 20px;
  }
}

.lang-group {
  display: none;
  background: #F3F3F3;
  border: 1px solid #444;
  border-top: 0;
}
.lang-group a {
  display: block;
  padding: 8px 0 8px 10px;
  color: #777;
}
.lang-group a:hover {
  background: #2c2c2c;
}
@media only screen and (max-width: 1024px) {
  .lang-group a {
    padding-left: 20px;
  }
}

.lang-slide {
  border-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .page-container {
    background: url('../image/tablet_bg.png') no-repeat center bottom;
  }
}
@media only screen and (max-width: 480px) {
  .page-container {
    background-size: cover;
  }
}

.information {
  float: left;
  width: 320px;
  padding: 47px 0 0 0;
}
@media only screen and (max-width: 1024px) {
  .information {
    float: none;
    width: 475px;
    margin: 0 auto;
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .information {
    width: 100%;
    margin: 0;
  }
}

.information-wrap {
  width: 320px;
  padding: 0;
}
@media only screen and (max-width: 1024px) {
  .information-wrap {
    float: left;
  }
}
@media only screen and (max-width: 768px) {
  .information-wrap {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.info-title {
  font-size: 42px;
  min-height: 55px;
  font-weight: bold;
  color: #444;
}
@media only screen and (max-width: 1024px) {
  .info-title {
    min-height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .info-title {
    font-size: 36px;
  }
}

.info-subtitle {
  font-size: 28px;
  color: #bbb;
  min-height: 120px;
  padding: 6px 0 77px 0;
}
@media only screen and (max-width: 1024px) {
  .info-subtitle {
    min-height: auto;
    padding: 6px 0 16px 0;
  }
}
@media only screen and (max-width: 768px) {
  .info-subtitle {
    font-size: 22px;
    padding: 2px 0 20px 0;
  }
}

.download-btn {
  background: url('../image/download_btn.png') no-repeat 60% center #CB2F20;
  border-radius: 6px;
  font-size: 16px;
  width: 284px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.download-btn a {
  display: block;
  color: #fff;
  padding: 0 35px 0 0;
}
.download-btn a::before {
  content: '桌面版';
  display: block;
}
@media only screen and (max-width: 768px) {
  .download-btn a::before {
    content: '手机版';
  }
}
.download-btn:hover {
  background-color: #F5372F;
}
@media only screen and (max-width: 768px) {
  .download-btn {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px) {
  .download-btn {
    width: 50%;
    background-position: 63% center;
  }
}

.download-tip {
  font-size: 16px;
  color: #888;
  padding: 0 0 0 38px;
  background: url('../image/mobile_icon.png') no-repeat 8px center;
  line-height: 30px;
  margin: 10px 0;
}
.download-tip span {
  padding: 0 0 0 5px;
  letter-spacing: 1px;
}
@media only screen and (max-width: 768px) {
  .download-tip {
    display: none;
  }
}

.qr-code {
  min-height: 259px;
  padding: 60px 0 25px 8px;
  background: url('../image/qr_shadow.png') no-repeat 10px bottom;
}
.qr-code p {
  padding: 5px 0 0 9px;
  font-size: 16px;
  color: #888;
}
@media only screen and (max-width: 1024px) {
  .qr-code {
    float: left;
    padding-top: 2px;
    background: none;
  }
  .qr-code img {
    border: 1px solid #555;
  }
}
@media only screen and (max-width: 768px) {
  .qr-code {
    display: none;
  }
}

.device {
  float: right;
}
@media only screen and (max-width: 1024px) {
  .device {
    float: none;
    margin: 0 auto;
    width: 65.8%;
  }
}
@media only screen and (max-width: 768px) {
  .device {
    width: 80%;
    padding: 50px 0 0 0;
  }
}

.benefit {
  padding: 73px 0 79px 0;
}
.benefit li {
  float: left;
  width: 33%;
  padding: 73px 0 0 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .benefit li {
    width: 100%;
    float: none;
    margin: 0 0 60px 0;
  }
}
@media only screen and (max-width: 768px) {
  .benefit {
    padding-bottom: 19px;
  }
}
.benefit .fast {
  background: url('../image/benefit_icon01.png') no-repeat center top;
}
.benefit .safety {
  background: url('../image/benefit_icon02.png') no-repeat center top;
}
.benefit .privacy {
  background: url('../image/benefit_icon03.png') no-repeat center top;
}
.benefit-title {
  font-size: 20px;
  color: #fff;
}
.benefit-subtitle {
  padding: 6px 0 0 0;
  font-size: 16px;
  color: #888;
}
@media only screen and (max-width: 1024px) {
  .benefit {
    background-color: #242424;
  }
}

.page-footer {
  min-height: 130px;
  text-align: center;
  font-size: 14px;
  color: #434343;
  padding: 42px 0 0 0;
}
@media only screen and (max-width: 1024px) {
  .page-footer {
    min-height: auto;
    padding: 16px 0;
    background-color: #151515;
  }
}

/*# sourceMappingURL=style.css.map */


/* 移除 「手機瀏覽器輸入:www.ub66.net」 */
.download-tip {
  background-image: none;
}

/* 設定動態生成的 qrcode 樣式 */
.qr-code .qr-code-img {
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}

/* 設定切換至英文語系時樣式 */
.mainBody[name="en"] .info-title {
  font-size: 40px;
}

.mainBody[name="en"] .info-subtitle {
  padding: 6px 0 17px 0;
  min-height: 79px;
  font-size: 27px;
}

.mainBody[name="en"] .download-btn {
  background-position: 62% center;
}

.mainBody[name="en"] .download-btn a::before {
  content: 'Desktop';
}

@media only screen and (max-width: 1024px) {
  .mainBody[name="en"] .info-title {
      font-size: 30px;
  }

  .mainBody[name="en"] .info-subtitle {
      font-size: 22px;
      min-height: 68px;
  }

  .mainBody[name="en"] .benefit .fast .benefit-subtitle {
      padding: 6px 6px 0 6px;
  }
}

@media only screen and (max-width: 768px) {
  .mainBody[name="en"] .info-title {
      font-size: 27px;
  }

  .mainBody[name="en"] .info-subtitle {
      font-size: 20px;
      padding: 2px 0 0 0;
      min-height: 59px;
  }

  .mainBody[name="en"] .benefit .fast .benefit-subtitle {
      padding: 6px 20px 0 20px;
  }

  .mainBody[name="en"] .download-btn {
      background-position: 60% center;
  }

  .mainBody[name="en"] .download-btn a::before {
      content: 'Mobile';
  }
}

@media only screen and (max-width: 480px) {
  .mainBody[name="en"] .download-btn {
      background-position: 65% center;
  }
}

/* 设置切换至简体语系时样式 */
@media only screen and (max-width: 768px) {
  .mainBody[name="zh_tw"] .download-btn a::before {
    content: '手機版';
  }
}