@import "~@/css/variable.scss";

a {
    color: unset;
    outline: unset;
    text-decoration: unset;
    background-color: unset;
}

.pop-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.pop-mask {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.pop-block {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $main_white_color1;
    border-radius: 8px;
}

.content {
    padding: 17px 18px;
    color: $main_text_color2;
    text-align: center;

    .title {
        color: $main_text_color3;
        font-size: 18px;
        font-weight: 700;
    }

    .qrcode-img {
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
        min-height: 80px;

        img {
            width: 80px;
            height: 80px;
            vertical-align: middle;
            z-index: 11;
            -webkit-touch-callout: default;
        }
    }

    >p {
        font-size: 12px;
        margin: 6px 0;
    }

    .timer-block {
        div {
            margin-bottom: 5px;
        }

        color: $main_error_color1;
    }

    .tips {
        padding: 13px 0;
        text-align: left;
    }

    .url {
        color: #6aaaf5;
        text-decoration: underline;
    }
}

.button-block {
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    border-top: 1px solid #f7f8fb;

    &::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #f7f8fb;
    }

    span {
        flex: 1;
        text-align: center;
        font-size: 18px;
        font-weight: 700;

        &:nth-child(2) {
            color: #d1b79c;
        }
    }
}
