@import '~@/css/variable.scss';

// 左側列表
.mcenter-list-wrap {
    position: relative;
    float: left;
    z-index: 5;
    width: 14.7%;
    height: auto;
    top: 0;
    padding-bottom: 44px;
    line-height: normal;
    text-align: center;

    &.show {
        position: relative;

        .mcenter-list {
            display: block;
        }
    }

    &.app {
        top: 0;
    }

    .mcenter-select {
        position: relative;
        display: none;
        border-bottom: 1px solid #CCC;
        background: #DFDFDF;
        width: inherit;
        height: 40px;
        line-height: 40px;
        color: #4DB1F7;
        font-weight: bold;
        cursor: pointer;

        .select-arrow {
            position: absolute;
            top: 10px;
            right: 6%;
            width: 20px;
            height: 20px;
            color: #807A7A;

            .fa-icon {
                display: block;
            }
        }
    }

    .mcenter-top-info {
        padding: 26px 0 24px;
        text-align: center;

        .user-picture {
            margin: 0 auto 28px;
            width: 80px;
            height: 80px;

            img {
                width: 100%;
            }

            &:hover {
                cursor: pointer;
            }

            .user-picture-hover {
                position: relative;
                bottom: 85px;
                width: 80px;
                height: 80px;
                background-color: #000;
                border-radius: 100%;
                opacity: 0.5;

                span {
                    color: #FFF;
                    line-height: 80px;
                }
            }
        }

        .user-info {
            .user-vip {
                margin-left: 5px;
                cursor: pointer;

                img {
                    vertical-align: middle;
                }
            }
        }

        .join-count {
            margin-top: 7px;
            font-size: 12px;
            white-space: nowrap;
            color: #999;
        }
    }

    .mcenter-list {
        display: block;
        padding: 0 10px;
        background: transparent;

        .list-title-line {
            display: none;
            margin-top: 10px;
            border-top: solid 1px #E8E8E8;
            background: #D2D2D2;
            height: 1px;

            &:first-child {
                display: none;
            }
        }

        .list-title {
            overflow: hidden;
            height: 44px;
            line-height: 44px;
            margin-top: 18px;
            font-size: 19px;
            font-weight: $titleFontWeight;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $titleColor;
            background: transparent;

            &.current {
                color: $titleColorHover;
            }
        }

        .list-item {
            display: block;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
            text-decoration: none;
            cursor: pointer;
            color: $itemColor;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover,
            &.current {
                font-weight: $itemFontWeight;
                color: $itemColorHover;
            }

            &:hover {
                text-decoration: $itemHoverDecoration;
            }
        }

        .jp-agent {
            cursor: pointer;
        }
    }

    .avatar-wrap {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .4);
        z-index: 999;

        .avatar-main-wrap {
            position: relative;
            margin: 230px auto 0;
            width: 490px;
            height: 470px;
            background: #FFF;
            overflow: hidden;

            .close-btn {
                position: absolute;
                right: 5px;
                top: 15px;
                display: block;
                width: 30px;
                height: 30px;
                line-height: 26px;
                text-align: center;
                font-size: 30px;
                cursor: pointer;
            }

            .avatar-header {
                margin: 0;
                padding-left: 20px;
                width: 100%;
                height: 60px;
                font-size: 16px;
                color: #222;
                border-bottom: 1px solid #EDEDED;

                .avatar-title {
                    float: left;
                    line-height: 60px;
                }
            }

            .avatar-content {
                width: 100%;
                height: 330px;
                overflow: hidden;

                .avatar-current {
                    width: 100%;
                    height: auto;
                    overflow: hidden;

                    img {
                        margin: 15px auto 0;
                        width: 146px;
                        height: 146px;
                        border-radius: 50%;
                    }

                    p {
                        font-size: 14px;
                        color: #A4A4A4;
                    }
                }

                .avatar-choose {
                    margin-top: 20px;
                    padding: 0 17px;
                    width: 100%;
                    height: 90px;

                    .avatar-item {
                        margin: 0 8px;
                        display: inline-block;
                        width: 60px;
                        height: 90px;
                        cursor: pointer;

                        img {
                            width: 60px;
                        }
                    }
                }
            }

            .avatar-footer {
                width: 100%;
                height: 80px;
                border-top: 1px solid #EDEDED;

                button {
                    margin: 25px 15px;
                    width: 100px;
                    height: 30px;
                    color: #666;
                    background: #FFF;
                    line-height: 30px;
                    font-size: 14px;
                    text-align: center;
                    border: 1px solid #E0E0E0;
                    border-radius: 20px;
                    outline: none;
                    cursor: pointer;
                }

                .confirm {
                    color: #FFF;
                    background: linear-gradient(270deg,#3a97e5,#42d2e8);
                    border: none;
                    box-shadow: 0 6px 7px 4px rgba(0,180,255,.15);
                }
            }
        }
    }
}
