@import '~@/css/variable.scss';

.bank-deposit {
    padding-bottom: 20px;
}

.deposit-tab-wrap {
    background: url('/static/image/mobile/mcenter/header_bg.png') #222 50% -65px no-repeat;
    background-size: 100%;
}

.deposit-title {
    float: left;
    overflow: hidden;
    width: 50%;
    line-height: 40px;
    padding: 0 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #BEBCBC;

    &.is-current {
        border-bottom: 3px solid #F9DCB2;
        color: #FFF;
    }

    &.is-one {
        width: 100%;
    }
}

.deposit-now-total {
    padding: 11px;
    background: #00347D;

    span {
        display: block;
        font-size: 12px;
        color: #F4D8AF;
    }

    .now-total {
        font-size: 17px;
    }
}

// pad
@media screen and (min-width: $pad) {
    .deposit-now-total {
        padding: 14px 3%;

        span {
            font-size: 16x;
        }

        .now-total {
            margin-top: 7px;
            font-size: 20px;
        }
    }
}

.theme-miller {
    .deposit-now-total {
        background: #2C2F2F;

        span {
            color: #EFD495;
        }
    }
}
