$titleColor: #262626;
$detailTitleColor: #ACACAC;
$borderRadius: 4px;
$btnBg: #643DCA;
$btnHoverBg: #643DCA;
$btnColor: #FFF;
$importantColor: #643DCA;
$importantHoverColor: #643DCA;

// table
$theadBorder: #EBEEF5;
$theadBg: #F9F9F9;
$theadColor: #7E7E7E;
$tableBorder: #EBEEF5;
$tableBg: #FFF;
$tableColor: #7E7E7E;
$tableBottomBorder: 1px solid #EBEEF5;

// pager
$pagerBtnBg: #FFF;
$pagerTextColor: #000;
