$titleColor: #262626;
$detailTitleColor: #ACACAC;
$borderRadius: 4px;
$btnBg: #DFAF50;
$btnHoverBg: #DFAF50;
$btnColor: #FFF;
$importantColor: #DFAF50;
$importantHoverColor: #DFAF50;
$withdrawIcon: url("/static/image/agent/features_btn.png") 0 -60px no-repeat;

// table
$theadBorder: #CCC;
$theadBg: #CBCED3;
$theadColor: #FFF;
$tableBorder: #EEE;
$tableBg: transparent;
$tableColor: #313F52;
$tableBottomBorder: 1px solid #EEE;

// pager
$pagerBtnBg: #FFF;
$pagerTextColor: #000;
