.page-wrap {
    background-color: #FFF;
}

.page-container {
    width: 1280px;
    margin: 0 auto;
}

.page-top {
    position: relative;
}

.btn-wrap {
    position: absolute;
    top: 80px;
    right: 0;
    width: 70px;
    height: 192px;
    background-color: #FF8309;
    border-radius: 24px 0 0 24px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    padding: 12px 0;
    z-index: 1;
}

.btn {
    width: 70px;
    height: 56px;
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        background-position: 0 -56px;
    }
}

.service {
    background-image: url('/static/image/tpl/customizeHome/71/body/btn_service.png');
}

.download {
    background-image: url('/static/image/tpl/customizeHome/71/body/btn_download.png');
}

.contact {
    background-image: url('/static/image/tpl/customizeHome/71/body/btn_contact.png');
}

.page-bottom {
    padding: 66px 0 34px;
    background: url('/static/image/tpl/customizeHome/71/body/first_featrues_bg.png') 50% 0 no-repeat;
}

.img-item {
    margin-right: 19px;

    &:last-child {
        margin-right: 0;
    }
}
