$titleColor: #FFF;
$nameColor: #CA8C54;
$subTitleColor: #F97D61;
$fieldBorder: 2px solid #CA8C54;
$fieldBorderYet: #F97D61;
$fieldStatusColor: #756E6E;
$fieldStatusYetColor: #F97D61;
$fieldBgColor: #DEC4B6;
$fieldYetBgColor: #FFF;
$borderRadius: 0;
$btnBg: #F97D61;
$btnHoverBg: #EA6546;
$btnTextColor: #FFF;
$cancelBtnBg: #CCC;
$cancelBtnHoverBg: #A5A1A1;

// bindingDevice
$bdBorder: 1px solid #CA8C54;
$bdBorderRadius: 0;
$bdBtnBorderRadius: 0;
$bdBtnBg: #CA8C54;
$bdBtnHoverBg: #B16F34;

// table
$theadBorder: none;
$theadBg: #CECECE;
$theadColor: #000;
$tableBorder: 1px solid #CA8C54;
$tableBg: #FFF;
$tableColor: #000;


.account-binding-device {
    .binding-device-table {
        .device-table-wrap-type {
            .device-table-type {
                .device-data {
                    .device-name-btn {
                        width: 30px;
                        height: 30px;
                        margin-left: 10px;
                        padding-top: 8px;
                        text-align: center;
                        border-radius: 30px;
                        color: #FFF;
                        background: $bdBtnBg;

                        &:hover {
                            background: $bdBtnHoverBg;
                        }
                    }
                }
            }
        }
    }
}
