$titleColor: #262626;
$nameColor: #FF8989;
$subTitleColor: #FF8989;
$fieldBorder: 1px solid #CCC;
$fieldBorderYet: #FF8A8A;
$fieldStatusColor: #756E6E;
$fieldStatusYetColor: #B9BBC1;
$fieldBgColor: #EEE;
$fieldYetBgColor: #FFF;
$borderRadius: 4px;
$btnBg: #FF8989;
$btnHoverBg: #F99A9A;
$cancelBtnBg: #CCC;
$cancelBtnHoverBg: #DDD;

// bindingDevice
$bdBorder: 2px solid #EEE;
$bdBorderRadius: 5px;
$bdBtnBorderRadius: 2px;
$bdBtnBg: #FF8989;
$bdBtnHoverBg: #F99A9A;

// table
$theadBorder: 1px solid #EEE;
$theadBg: #CCC;
$theadColor: #FFF;
$tableBorder: 1px solid #EEE;
$tableBg: transparent;
$tableColor: #555;
