$titleColor: #262626;
$nameColor: #643DCA;
$subTitleColor: #643DCA;
$fieldBorder: 1px solid #CCC;
$fieldBorderYet: #643DCA;
$fieldStatusColor: #756E6E;
$fieldStatusYetColor: #B9BBC1;
$fieldBgColor: #EEE;
$fieldYetBgColor: #FFF;
$borderRadius: 4px;
$btnBg: #643DCA;
$btnHoverBg: #643DCA;
$btnTextColor: #FFF;
$cancelBtnBg: #000;
$cancelBtnHoverBg: #222;
$cancelTextColor: #FFF;
$cancelBg: #000;

// bindingDevice
$bdBorder: 2px solid #EEE;
$bdBorderRadius: 5px;
$bdBtnBorderRadius: 2px;
$bdBtnBg: #643DCA;
$bdBtnHoverBg: #643DCA;

// table
$theadBorder: 1px solid #EEE;
$theadBg: #CCC;
$theadColor: #FFF;
$tableBorder: 1px solid #EEE;
$tableBg: transparent;
$tableColor: #555;
