$titleColor: #262626;
$nameColor: #EDB83F;
$subTitleColor: #EDB83F;
$fieldBorder: 1px solid #CCC;
$fieldBorderYet: #CCCED3;
$fieldStatusColor: #756E6E;
$fieldStatusYetColor: #B9BBC1;
$fieldBgColor: #EEE;
$fieldYetBgColor: #FFF;
$borderRadius: 4px;
$btnBg: #EDB83F;
$btnHoverBg: #FFD152;
$btnTextColor: #FFF;
$cancelBtnBg: #CCC;
$cancelBtnHoverBg: #DDD;

// bindingDevice
$bdBorder: 2px solid #EEE;
$bdBorderRadius: 5px;
$bdBtnBorderRadius: 2px;
$bdBtnBg: #EDB83F;
$bdBtnHoverBg: #EDB83F;

// table
$theadBorder: 1px solid #EEE;
$theadBg: #CCC;
$theadColor: #FFF;
$tableBorder: 1px solid #EEE;
$tableBg: transparent;
$tableColor: #555;
