@import "../variable.scss";

.err-msg {
  padding: 2px 0;
  color: #db6372;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.join-member-wrap {
  min-height: calc(100vh - 43px);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/image/porn1/common/bg.png");

  &.aobo1 {
    background-image: url("/static/image/aobo1/common/bg.png");
  }
  &.sp1 {
    background-image: url("/static/image/sp1/common/bg.png");
  }
}

.title {
  color: black;
  font-size: 16px;
}

.join {
  margin: 0 auto;
  width: 100%;
}

.join-banner {
  position: relative;
  margin: 0 auto 30px;
  border-bottom: 1px solid #5a5a5a;
  background: #3d3d3d;
  padding-left: 140px;
  width: 90%;
  min-height: 90px;
  font-size: 30px;
  line-height: 76px;
}

.join-content {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 10px;
}

.join-content {
  width: 90%;
}

.field-wrap {
  position: relative;
  margin-bottom: 15px;
  font-size: 0;

  .show-red-star-sp1 {
    span {
      &::before {
        content: "*";
        color: red;
      }
    }
  }
  .show-red-star-aobo1 {
    span {
      &::before {
        content: "*";
        color: red;
      }
    }
  }
}

.captcha-img {
  position: absolute;
  top: 11px;
  right: 30px;
  background: #000;
  cursor: pointer;
  width: 62px;
  height: 21px;
}

.field-text {
  font-size: 14px;
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5e626d;
}

.join-star {
  visibility: hidden;
  position: absolute;
  left: 0;
  color: #d01c1c;
}

.join-input {
  outline: none;
  padding: 10px 2.5%;
  width: 100%;
  height: 40px;
  // border: 1px solid #595959;
  border-radius: 5px;
  font-size: 12px;
  outline: 0;
  display: block;
  text-overflow: ellipsis;

  &.phone {
    border: 1px solid #e3e3e3;
    margin: 0 8px;
    text-overflow: ellipsis;
    padding: 10px 22.5% 10px 3.5%;
  }
  &.email {
    padding: 10px 40% 10px 0.3%;
    text-overflow: ellipsis;
  }
  &.sg1 {
    border-radius: 0 75px 75px 0;
  }
}

.join-input:-webkit-autofill {
  &,
  &:hover,
  &:focus,
  &:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

.join-input-email {
  padding-right: 82px;
  text-overflow: ellipsis;
}

.join-input-phone {
  float: left;
  width: 68%;
  margin-left: 2%;
  padding-right: 82px;
  text-overflow: ellipsis;
}

.join-input-captcha {
  composes: join-input;
  height: 40px;
}

.join-input-birthday {
  composes: join-input;
  margin-left: 0;
  padding: 10px 3%;
  width: 90%;
  cursor: pointer;
  position: relative;
}

.join-input-select {
  composes: join-input;
  padding: 0;
  &:global(.v-select) {
    &.show {
      border-color: #c24141;
    }

    :global(.clear) {
      display: none;
    }

    :global(.open-indicator:before) {
      border-color: #a5a5a5;
    }

    :global(.selected-tag),
    :global(.form-control) {
      color: #a5a5a5;
      overflow: hidden;
    }
  }
}

.join-select-phone {
  border: 1px solid #e3e3e3;
  position: relative;
  composes: join-input-select;
  float: left;
  width: 30%;

  :global(input.form-control) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.get-verify-btn {
  position: absolute;
  top: 5px;
  right: 3.5%;
  width: 68px;
  height: 30px;
  background: #cccccc;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;

  &.active {
    background: #6aaaf5;
    color: #fff;
  }
}

.modal-dark-bg {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

//手機驗證錯誤訊息
.verify-error-msg {
  width: 270px;
  height: 135px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  z-index: 100;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px 0 10px;
  word-break: break-word;

  button {
    width: 100%;
    line-height: 50px;
    text-align: center;
    color: #6aaaf5;
    background: #fff;
    font-size: 18px;
    border-radius: 0 0 20px 20px;
  }
  &.sg1 {
    button {
      color: #6aaaf5;
    }
  }
}

.verify-modal-wrap {
  width: 270px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  &.sg1 {
    .mail-wrap {
      button.get-verify {
        border-radius: 29px;
      }
    }
    .phonenum-wrap {
      button.get-verify {
        border-radius: 29px;
      }
    }
    button {
      color: #6aaaf5;
    }
  }
  h1 {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin: 10px 0;
  }
  //手機驗證彈窗
  .phonenum-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 240px;
    height: 100%;
    margin: 0 0 20px 0;
    & input {
      background: #e3e3e3;
      outline: none;
      border-radius: 3px;
      margin: 5px 0;
      padding: 0 10px;
      &.phone-number-countrycode {
        width: 70px;
        height: 40px;
        color: #a6a9b2;
      }
      &.phone-number {
        width: 154px;
        height: 40px;
        color: #a6a9b2;
      }
      &.verifycode-input {
        width: 100%;
        height: 40px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #e3e3e3;
        color: #5e626d;
      }
    }

    button.get-verify {
      position: relative;
      right: -125px;
      width: 115px;
      height: 40px;
      background: #6aaaf5;
      color: #fff;
      font-size: 12px;
      border-radius: 3px;
      &.submit {
        background: #cccccc;
      }
    }
  }

  //mail驗證彈窗
  .mail-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 240px;
    height: 100%;
    margin: 10px 0 15px 0;
    & input {
      background: #e3e3e3;
      outline: none;
      border-radius: 3px;
      margin: 5px 0;
      padding: 0 10px;

      &.mail {
        width: 240px;
        height: 40px;
        color: #a6a9b2;
      }
      &.verifycode-input {
        width: 100%;
        height: 40px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #e3e3e3;
        color: #5e626d;
      }
    }

    button.get-verify {
      position: relative;
      right: -125px;
      width: 115px;
      height: 40px;
      background: #6aaaf5;
      color: #fff;
      font-size: 12px;
      border-radius: 3px;
      &.submit {
        background: #cccccc;
      }
    }
  }
  .btn-wrap {
    display: flex;
    width: 100%;
    border-top: 0.5px solid #eeeeee;
    button:first-child {
      border-right: 1px solid #eeeeee;
    }
    button {
      width: 50%;
      height: 50px;
      background: transparent;
      color: #6aaaf5;
      font-size: 18px;
    }
  }
}

.join-input-gender {
  composes: join-input-select;
  padding-right: 20px;
  // ul {
  //   max-width: 280px !important;
  //   overflow: hidden !important;
  // }
  &:global(.open) {
    :global(.selected-tag) {
      display: block;
      float: none;
      top: 0;
      right: 0;
      left: 0;
      height: 38px;
      line-height: 38px;
      margin: 0;
      padding: 0 30px;
      border-width: 0;
      text-align: center;
    }
  }
}

.join-select-withdraw {
  composes: join-input-select;

  &.sg1 {
    border-radius: 75px;
  }

  :global(.selected-tag) {
    display: block;
    float: none;
    top: 0;
    right: 0;
    left: 0;
    height: 38px;
    line-height: 36px;
    margin: 0;
    padding: 0 12px;
    border-width: 0;
    text-align: center;
  }
}

.join-input-withdraw {
  composes: join-input-select;

  float: left;
  width: 22%;
  margin-right: 4%;

  &:global(.open) {
    :global(.selected-tag) {
      position: static;
    }
  }

  &:global(.v-select) {
    input {
      position: absolute;
      left: 0;
    }
  }
}

.join-input-withdraw-last {
  composes: join-input-withdraw;
  margin-right: 0;
}

.join-input-disable {
  composes: join-input;
  cursor: no-drop;
}

.field-title {
  display: inline-block;
  padding-left: 10px;
  width: 90px;
  z-index: 1;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  color: #5e626d;
  line-height: 40px;

  &.porn1 {
    text-align: right;
    padding-right: 12px;
  }

  &.sg1 {
    border-radius: 75px 0 0 75px;
  }

  &.aobo1,
  &.sg1,
  &.sp1 {
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-right: none;
  }
  &.field-username {
    color: red;
  }
  &.field-withdraw_password,
  &.field-phone {
    background-color: transparent;
    border: none;
    padding-left: 2px;
  }
}

.field-right {
  position: relative;
  display: inline-block;
  width: calc(100% - 95px);
  text-align: right;
  vertical-align: middle;
  // background: #fff;

  &.porn1 {
    border: 1px solid #d8d8d8;
  }

  &.sg1 {
    border-radius: 0 75px 75px 0;
  }

  &.aobo1,
  &.sg1,
  &.sp1 {
    border: 1px solid #e3e3e3;
    border-left: none;
  }
  :global(.vdp-datepicker) {
    width: 100%;
    font-size: 14px;

    input {
      width: 90%;
      text-overflow: ellipsis;

      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }
    }
    :global(.vdp-datepicker__calendar) {
      position: relative;
      max-width: 100%;
      top: 10px;
      right: 10px;
      color: #000;
      text-align: left;
      margin-bottom: 10px;
    }

    :global(.vdp-datepicker__clear-button) {
      position: absolute;
      top: 8px;
      right: 10px;
    }
  }

  &.phone {
    display: flex;
    border: none;
    width: 100%;
  }

  &.withdraw-password {
    display: flex;
    width: 100%;
    border: none;
    .join-select-withdraw {
      display: inline-block;
      min-width: 22%;
      margin: 0 5px 0 0;
      background: #ffffff;
      border: 1px solid #cecece;
      height: 40px;
      vertical-align: middle;
    }
  }
}

.join-tip {
  display: none;
  width: 100%;
  padding: 5px 25px 5px 0;
  text-align: right;
  color: #c24141;
}

.join-tip-show {
  composes: join-tip;
  display: inline-block;
  font-size: 14px;
}

.join-help {
  display: none;
  width: 100%;
  padding: 5px 0px 5px 2px;
  text-align: left;
  color: #a5a5a5;
  font-size: 14px;
}

.join-help-show {
  composes: join-help;
  display: inline-block;
}

.join-msg {
  margin-top: 5px;
  color: #668691;
  text-align: left;
}

.join-msg-icon {
  margin-right: 5px;
  color: #44c07d;
  vertical-align: middle;
}

.icon-verify {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  color: #4dc769;

  > svg {
    display: block;
  }
}

.btn-verify {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 28px;
  line-height: 28px;
  padding: 0 6px;
  border-radius: 5px;
  background-color: #0672e1;
  color: #fff;
  font-size: 12px;
  cursor: pointer;

  &.disabled {
    background-color: #cdcdcd;
  }
}

.join-line {
  margin: 29px auto;
  background: #595959;
  width: 90%;
  height: 1px;
}

.join-btn-wrap {
  width: 100%;
  max-width: 300px;
  padding: 0;
  margin: 0 auto;
}

.join-btn {
  margin: 0 auto;
  background: var(--main_button_color1);
  border-radius: 30px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  max-width: 300px;
  font-size: 13px;
  font-family: Segoe UI, Segoe UI-Bold;
  font-weight: 700;
  text-align: center;
  color: var(--main_button_text_color1);

  &.disable {
    background: var(--main_button_color2);
    color: var(--main_button_text_color2);
    pointer-events: none;
  }
}

.eye {
  display: flex;
  align-items: center;
  height: 100%;
  width: 18px;
  position: absolute;
  right: 10px;
  top: 0;

  > img {
    width: 18px;
    height: 18px;
  }
}

.thirdy-block {
  margin: 0 12px;
  max-width: 100%;
  border-radius: 5px;
  .click-unit {
    border-radius: 20px;
  }
}

.clear {
  display: flex;
  align-items: center;
  height: 100%;
  width: 12px;
  position: absolute;
  right: 10px;
  top: 0;

  > img {
    width: 12px;
    height: 12px;
  }
}

.captchaText-wrap {
  .captchaText-refresh {
    width: 20px;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    margin: 0px 5px;

    > img {
      width: 20px;
      height: 20px;
    }
  }
}

.visitor-get {
  margin-top: 5px;
  // color: var(--joinmember_title);
  color: #5e626d;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  &.sg1 {
    color: #000000;
  }
}

.has-visitor {
  color: #5e626d;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  font-weight: 500;

  a {
    color: #5e626d;
    span {
      color: #6aaaf5;
    }
  }
}

:global {
  .v-select {
    .dropdown-menu {
      min-width: 60px !important;
    }
    .dropdown-toggle {
      border: 0;
      border: 1px solid transparent !important;
    }

    &.open {
      .open-indicator {
        bottom: 16px;
      }
    }

    .open-indicator {
      right: 4px;
      bottom: 16px;
      width: 6px;
      height: 6px;

      &::before {
        height: 6px;
        width: 6px;
        border-width: 1px 1px 0 0;
      }
    }
  }
}

.withdraw-pwd-input {
  border: none;
  color: #414655;
  display: block;
  height: 40px;
  outline: none;
  padding: 0;
  width: 100%;

  &::-webkit-input-placeholder {
    color: #cbced8;
  }
}

.withdraw-pwd-input {
  background: #ffffff;
  border: 2px solid #cecece;
  display: inline-block;
  height: 38px;
  text-align: center;
  width: 38px;
  line-height: 40px;
}

.withdraw-pwd-input:not(:first-of-type) {
  margin-top: 1px;
  margin-left: 2px;
}

.version {
  position: fixed;
  color: #414655;
  right: 0px;
  padding: 2px 14px;
  text-align: right;
  bottom: 5px;
  font-size: 12px;
}

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-wrap {
  width: 270px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
}

.modal-content {
  padding: 15px 15px 10px 15px;
  // border-bottom: 1px solid #eee;
}

.modal-button-center {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;

  &:last-child {
    color: #6aaaf5;
  }

  &.sg1:last-child {
    color: #6aaaf5;
  }

  &.sg1:last-child {
    color: var(--member_color100);
  }

  &.porn1:last-child {
    color: #6aaaf5;
  }
}

.thirdy-block-wrap {
  width: 100%;
  margin: 0 6px;
  text-align: right;

  &.aobo1,
  &.sp1 {
    margin: auto;

    .thirdy-block {
      width: 100%;
      margin: auto;
    }
  }

  &.sg1 {
    margin: auto;
    padding: 0 12px;

    .thirdy-block {
      width: 100%;
      margin: auto;
    }
  }
}
