@import "../variable.scss";

.join-wrap {
    margin: 0 auto;
    padding: 70px 0 40px;
    background: #212121;
    color: #FFF;
    @media screen and (min-width: $layoutWidth) {
        max-width: $layoutWidth;
    }
    .join {
        margin: 0 auto;
        width: 100%;
        .join-title {
            position: relative;
            margin: 0 auto 30px;
            border-bottom: 1px solid #5A5A5A;
            background: #3D3D3D;
            padding-left: 140px;
            width: 90%;
            min-height: 90px;
            font-size: 30px;
            line-height: 76px;
            .join-title-icon {
                position: absolute;
                top: -30px;
                left: 14px;
                background: url("/static/image/join_icon.png") 0 0 no-repeat;
                width: 109px;
                height: 109px;
            }
            &.agent {
                padding-left: 112px;
                font-size: 27px;
                line-height: 94px;
                .join-title-icon {
                    top: 14px;
                    background: url("/static/image/agent/agent_icon.png") 0 0 no-repeat;
                    width: 70px;
                    height: 64px;
                }
            }
            &.pwd {
                .join-title-icon {
                    background: url("/static/image/pwd_icon.png") 0 0 no-repeat;
                }
            }
        }
        .field-frame-wrap {
            margin: 0 auto;
            width: 80%;
        }
        .captcha-img {
            position: absolute;
            top: 11px;
            right: 8px;
            background: #000;
            cursor: pointer;
        }
        .join-line {
            margin: 29px auto;
            background: #595959;
            width: 90%;
            height: 1px;
            @media screen and (min-width: 768px) {
                width: 100%;
            }
        }
        .join-btn-wrap {
            margin: 0 auto;
            width: 80%;
            .join-btn {
                border-radius: 5px;
                background-color: #0672E1;
                width: 100%;
                height: 54px;
                line-height: 54px;
                color: #FFF;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background-color: #2889EC;
                }
            }
            &.pwd {
                .join-btn {
                    background-color: #C33C3B;
                     &:hover {
                        background-color: #E64847;
                    }
                }
            }
        }
    }
    // For Mobile
    .mobile-content & {
        padding: 28px 0 32px;
        background-color: #DDD;
        color: #343A5D;

        .join {
            padding-bottom: 20px;

            .join-line {
                background-color: #B8BAC1;
            }

            .join-btn-wrap {
                .join-btn {
                    height: 41px;
                    line-height: 41px;
                    font-size: 15px;
                    background-color: #646981;

                    &:active {
                        background-color: #363C5D;
                    }
                }

                &.pwd .join-btn {
                    background-color: #646981;

                    &:active {
                        background-color: #363C5D;
                    }
                }
            }
        }
    }
}
.field-wrap {
    margin-bottom: 20px;
    .join-star {
        margin-left: 5px;
        color: #D01C1C;
    }
    label {
        display: block;
        line-height: 39px;
        width: 100%;
    }
    input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #A5A5A5;
        }
    }
    .field-right {
        position: relative;
        width: 100%;
        text-align: right;
        .join-input {
            border: 1px solid #595959;
            border-radius: 5px;
            background-color: #303030;
            padding: 10px 3.5%;
            width: 100%;
            height: 40px;
            color: #A5A5A5;
            font-size: 14px;
            outline: 0;
            &.captcha_text {
                height: 72px;
            }
            &.birthday {
                margin-left: 0;
                width: 100%;
                padding: 10px 3%;
                cursor: pointer;
            }
            &.select {
                width: 100%;
                padding: 0;
            }
            &.disable {
                cursor: no-drop;
            }
            /* v-select style */
            span, input {
                color: #A5A5A5;
            }
            button {
                bottom: 7px;
            }
            .open-indicator:before {
                border-color: #A5A5A5;
            }
            .clear {
                display: none;
            }
            &.withdraw {
                position: relative;
                float: left;
                width: 22%;
                margin-right: 4%;
                &.last {
                    margin-right: 0;
                }
                input {
                    position: absolute;
                    left: 0;
                }
            }
            &.show {
                border-color: #C24141;
            }
            &.open.gender {
                .selected-tag {
                    display: block;
                    float: none;
                    top: 0;
                    right: 0;
                    left: 0;
                    height: 38px;
                    line-height: 38px;
                    margin: 0;
                    padding: 0 30px;
                    border-width: 0;
                    text-align: center;
                }
            }
            &.open.withdraw {
                .selected-tag {
                    position: static;
                }
            }
        }
        .vdp-datepicker {
            width: 100%;
            .vdp-datepicker__calendar {
                top: 35px;
                right: -21px;
                color: #000;
                text-align: left;
            }
            .vdp-datepicker__clear-button {
                position: absolute;
                top: 8px;
                right: 10px;
            }
        }
        .join-tip {
            display: none;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #C24141;
            color: #F9F9F9;
            &.show {
                display: inline-block;
            }
        }
        .join-msg {
            margin-top: 5px;
            color: #668691;
            text-align: left;
            .join-msg-icon {
                margin-right: 5px;
                color: #44C07D;
                vertical-align: middle;
            }
        }
    }
    // For Mobile
    .mobile-content & .field-right {
        .join-input {
            border-color: #B8BAC1;
            background-color: #EEE;
            color: #646981;

            .dropdown-toggle {
                height: 100%;
                border: none;
            }

            span, input {
                color: #646981;
            }
        }
        .join-tip {
            background-color: #FF4C4C;
        }
    }
}

.theme-miller {
    .join {
        .join-btn-wrap {
            &.pwd {
                .join-btn {
                    color: #000;
                    background-color: #F7B500;
                        &:hover {
                        color: #FFF;
                        background-color: #FD9A01;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $pad) {
    .join-wrap {
        .join {
            width: 700px;
            .join-title {
                width: 100%;
            }
            .field-frame-wrap {
                width: 58%;
            }
            .join-btn-wrap {
                padding-left: 16.4%;
                width: 58%;
            }
        }
    }
    .field-wrap {
        margin-bottom: 15px;
        label {
            float: left;
            width: 20%;
            text-align: right;
         }
        .field-right {
            float: left;
            margin-left: 3.4%;
            width: 76.6%;
        }
    }
}

@media screen and (min-width: $phone) {
    .join-wrap {
        .join {
            .join-title {
                padding-left: 160px;
                .join-title-icon {
                    left: 34px;
                }
                &.agent {
                    padding-left: 132px;
                }
            }
            .field-frame-wrap,
            .join-btn-wrap {
                width: 70%;
            }
        }
    }
    .field-wrap {
        .field-right {
            .join-input {
                font-size: 15px;
            }
        }
    }
}
