@import "../variable.scss";

.err-msg {
  padding: 2px 0;
  color: $main_error_color1;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.join-member-wrap {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/image/ey1/common/bg.png");
}

.title {
  color: black;
  font-size: 16px;
}

.join {
  margin: 0 auto;
  width: 100%;
}

.join-banner {
  position: relative;
  margin: 0 auto 30px;
  border-bottom: 1px solid #5A5A5A;
  background: #3D3D3D;
  padding-left: 140px;
  width: 90%;
  min-height: 90px;
  font-size: 30px;
  line-height: 76px;
}

.join-content {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 10px;
}

.join-content {
  width: 90%;
}

.field-wrap {
  position: relative;
  margin-bottom: 15px;
}

.captcha-img {
  position: absolute;
  top: 11px;
  right: 30px;
  background: #000;
  cursor: pointer;
  width: 62px;
  height: 21px;
}

.field-text {
  float: left;
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5E626D;
}

.join-star {
  visibility: hidden;
  position: absolute;
  left: 0;
  color: #d01c1c;
}

.join-input {
  background-color: #303030;
  padding: 10px 3.5%;
  width: 100%;
  height: 40px;
  border: 1px solid #595959;
  border-radius: 5px;
  font-size: 14px;
  outline: 0;
  display: block;
}

.join-input-email {
  padding-right: 82px;
}

.join-input-phone {
  float: left;
  width: 68%;
  margin-left: 2%;
  padding-right: 82px;
}

.join-input-captcha {
  composes: join-input;
  height: 40px;
}

.join-input-birthday {
  composes: join-input;
  margin-left: 0;
  padding: 10px 3%;
  width: 100%;
  cursor: pointer;
}

.join-input-select {
  composes: join-input;
  padding: 0;

  &:global(.v-select) {
    &.show {
      border-color: #C24141;
    }

    :global(.clear) {
      display: none;
    }

    :global(.open-indicator:before) {
      border-color: #A5A5A5;
    }

    :global(.selected-tag),
    :global(.form-control) {
      color: #A5A5A5;
    }
  }
}

.join-select-phone {
  composes: join-input-select;
  float: left;
  width: 30%;

  :global(input.form-control) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.join-input-gender {
  composes: join-input-select;

  &:global(.open) {
    :global(.selected-tag) {
      display: block;
      float: none;
      top: 0;
      right: 0;
      left: 0;
      height: 38px;
      line-height: 38px;
      margin: 0;
      padding: 0 30px;
      border-width: 0;
      text-align: center;
    }
  }
}

.join-input-withdraw {
  composes: join-input-select;
  position: relative;
  float: left;
  width: 22%;
  margin-right: 4%;

  &:global(.open) {
    :global(.selected-tag) {
      position: static;
    }
  }

  &:global(.v-select) {
    input {
      position: absolute;
      left: 0;
    }
  }
}

.join-input-withdraw-last {
  composes: join-input-withdraw;
  margin-right: 0;
}

.join-input-disable {
  composes: join-input;
  cursor: no-drop;
}

.field-title {
  display: inline-block;
  padding-left: 10px;
  width: 90px;
  z-index: 1;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  color: #5e626d;
  line-height: 40px;
}

.field-right {
  position: relative;
  display: inline-block;
  width: 65%;
  text-align: right;
  vertical-align: middle;

  :global(.vdp-datepicker) {
    width: 100%;

    :global(.vdp-datepicker__calendar) {
      top: 35px;
      right: 0;
      color: #000;
      text-align: left;
    }

    :global(.vdp-datepicker__clear-button) {
      position: absolute;
      top: 8px;
      right: 10px;
    }
  }
}

.join-tip {
  display: none;
  width: 100%;
  padding: 5px 25px 5px 0;
  text-align: right;
  color: #C24141;
}

.join-tip-show {
  composes: join-tip;
  display: inline-block;
}

.join-msg {
  margin-top: 5px;
  color: #668691;
  text-align: left;
}

.join-msg-icon {
  margin-right: 5px;
  color: #44C07D;
  vertical-align: middle;
}

.icon-verify {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  color: #4DC769;

  >svg {
    display: block;
  }
}

.btn-verify {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 28px;
  line-height: 28px;
  padding: 0 6px;
  border-radius: 5px;
  background-color: #0672E1;
  color: #FFF;
  font-size: 12px;
  cursor: pointer;

  &.disabled {
    background-color: #CDCDCD;
  }
}

.join-line {
  margin: 29px auto;
  background: #595959;
  width: 90%;
  height: 1px;
}

.join-btn-wrap {
  width: 100%;
  max-width: 300px;
  padding: 0;
  margin: 0 auto;
}

.join-btn {
  border-radius: 5px;
  width: 100%;
  height: 54px;
  line-height: 54px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
  }
}

.eye {
  display: flex;
  align-items: center;
  height: 100%;
  width: 18px;
  position: absolute;
  right: 10px;
  top: 0;

  >img {
    width: 18px;
    height: 18px;
  }
}

.puzzle-block {
  margin: 0 0 11px 95px;
  border-radius: 5px;
  max-width: 65%;
}

.clear {
  display: flex;
  align-items: center;
  height: 100%;
  width: 12px;
  position: absolute;
  right: 10px;
  top: 0;

  >img {
    width: 12px;
    height: 12px;
  }
}


.captchaText-wrap {
  .captchaText-refresh {
    width: 20px;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    margin: 0px 5px;

    >img {
      width: 20px;
      height: 20px;
    }
  }
}

.visitor-get {
  margin-top: 5px;
  color: #9B6B40;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}

.has-visitor {
  color: #5E626D;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

:global {
  .v-select {
    .dropdown-toggle {
      border: 0;
    }

    &.open {
      .open-indicator {
        bottom: 16px;
      }
    }

    .open-indicator {
      right: 4px;
      bottom: 16px;
      width: 6px;
      height: 6px;

      &::before {
        height: 6px;
        width: 6px;
        border-width: 1px 1px 0 0;
      }
    }
  }
}
