@import '~@/css/variable.scss';

.message-delete-wrap {
    padding: 7px 3.15%;
    background: #DDD;
    font-family: 'Nirmala UI';
}

.message-delete {
    float: right;
    max-height: 30px;
    width: 30px;
    height: 30px;
    position: relative;
    background: $messageDeleteIconBg;
    color: $messageDeleteIconColor;
    border-radius: 50%;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.message-cancel {
    float: right;
    display: none;
    margin-left: 10px;
    position: relative;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    background: $messageDeleteTextBg;
    &.active {
        display: block;
    }
}

.message-cancel-text {
    line-height: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 12px;
    color: $messageDeleteTextColor;
    transform: translate(-50%, -50%);
}

.message-item {
    padding: 1.55% 3.15%;
    position: relative;
    background: #FFF url('/static/image/mobile/mcenter/btn_next_n.png') no-repeat;
    background-size: 14px 14px;
    background-position: right 3.15% bottom 50%;
    font-family: 'Nirmala UI';
    &:nth-child(2n-1) {
        background: #F6F4F4 url('/static/image/mobile/mcenter/btn_next_n.png') no-repeat;
        background-size: 14px 14px;
        background-position: right 3.15% bottom 50%;
    }
    &.active {
        padding-left: 12.5%;
        background-image: none;

        .message-item-time {
            float: right;
        }
    }

    &.no-read {
        .message-item-category {
            margin: 0 4px 0 16px;
        }

        .message-item-top {
            background: url('/static/image/mobile/mcenter/ic_mailnew.png') no-repeat;
            background-size: 10px 10px;
            background-position: 0 3px;
        }
    }
}

.message-item-check {
    max-width: 16px;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);

    img {
        display: block;
        max-width: 100%;
    }
}

.message-item-top {
    line-height: 1.35;
    margin-bottom: 4px;
    font-size: 12px;
}

.message-item-category {
    float: left;
    width: 47%;
    max-width: 303px;
    min-width: 140px;
    margin-right: 20px;
    color: $messageItemCategoryColor;
}

.message-item-time {
    float: left;
    width: 37%;
    max-width: 238px;
    min-width: 109px;
    text-align: right;
    color: #BEBCBC;
} 

.message-item-title {
    width: 90%;
    max-width: 585px;
    
    p {
        height: 42px;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}

.no-message-notice {
    text-align: center;
    color: #ddd;
    margin: 50px auto 0;
}

@media screen and (min-width: $phone) {
    .message-cancel {
        margin-left: 20px;
    }

    .message-item {
        background-size: 18px 18px;

        &.no-read {
            .message-item-category {
                margin: 0 0 0 20px;
            }

            .message-item-top {
                background-size: 12px 12px;
                background-position: 0 3px;
            }
        }
    }

    .message-item-check {
        max-width: 20px;
    }
    
    .message-item-top {
        font-size: 14px;
    }

    .message-item-title {
        font-size: 18px;
    }
}

@media screen and (min-width: $pad) {
    .message-delete-wrap {
        padding: 10px 50px;
    }

    .message-cancel {
        margin-left: 30px;
    }

    .message-cancel-text {
        font-size: 24px;
    }

    .message-delete {
        max-height: 50px;
    }
    
    .message-cancel-bg {
        max-height: 50px;
    }

    .message-item {
        padding: 7px 50px;
        margin-bottom: 6px;
        background-size: 30px 30px;
        background-position: right 50px bottom 50%;
        &.no-read {
            .message-item-category {
                margin-left: 32px;
            }

            .message-item-top {
                background-size: 20px 20px;
                background-position: 0 2px;
            }
        }
    }

    .message-item-check {
        max-width: 30px;
    }

    .message-item-top {
        font-size: 18px;
    }

    .message-item-category {
        margin-right: 44px;
    }

    .message-item-title {
        font-size: 24px;

        p {
            height: 73px;
        }
    }
}
