@import "./porn1.index.scss";

.time-cancel {
  background: #222222;
  color: #fff;
}

.time-confirm {
  color: #fff;
  background: #e42a30;
  background-image: unset;
}

.dropdown-wrap {
  li {
    &.active {
      color: #fff;
      background: #e42a30;
      background-image: unset;
    }
  }
}

.game-name {
  &:before {
    display: block;
    width: 3px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: -webkit-linear-gradient(#fe2a2a, #b60303);
    background-image: linear-gradient(#fe2a2a, #b60303);
    content: "";
  }
}

.is-lose {
  color: #db6372;
}

.is-win {
  color: #414655;
}
