.menu-wrap {
  width: 100%;
  padding: 8px 17px;
  background: #fff;
  position: fixed;
  top: 43px;
  left: 0;
  z-index: 5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.menu-select-game {
  min-width: 96px;
}

.menu-select-time {
  width: 96px;
  position: relative;

  &.custom {
    padding-left: 65px;
  }
}

.menu-select-game,
.menu-select-time {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-right: 9px;
  background: #f7f8fb;
  text-align: center;
  border-radius: 16px;

  &:first-child {
    min-width: 96px;
  }

  &:after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    transform: translateY(2px);
    border: 4px solid transparent;
    border-top-color: #414655;
  }

  &.active {
    &:after {
      content: "";
      display: inline-block;
      margin-left: 5px;
      border: 4px solid transparent;
      // border-top-color: #A5A9B3;

      border-bottom-color: #414655;
      transform: translateY(-3px);
    }
  }
}

.select-custom {
  width: 70px;
  position: absolute;
  left: calc(50% - 4px);
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;

  p {
    line-height: 15px;
    margin-bottom: 0;
  }
}

.time-remind {
  padding-left: 15px;
  line-height: 17px;
  font-size: 12px;
  color: #a5a9b3;
}

.no-data {
  padding-top: 100px;
  text-align: center;

  img {
    display: inline-block;
    width: 174px;
    height: 174px;
    margin-bottom: 14px;
  }

  p {
    font-size: 14px;
    color: #a6a9b2;
  }
}

.dropdown-mask {
  width: 100%;
  height: calc(100vh - 93px);
  position: fixed;
  top: 93px;
  left: 0;
  z-index: 4;
  background: #000;
  opacity: 0.5;
}

.dropdown-wrap {
  width: 100%;
  padding: 15px 7px 15px 17px;
  margin: 0;
  position: fixed;
  top: 93px;
  left: 0;
  z-index: 5;
  background: #fff;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;

  &.game {
    min-height: 400px;
    height: 75%;
  }

  ul {
    padding: 0 8px 0 15px;
    margin: 0;

    &.default-active {
      margin-bottom: 15px;
    }
  }

  li {
    float: left;
    width: calc(25% - 10px);
    height: 33px;
    line-height: 31px;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
    color: #a6a9b2;
    border: 1px solid #a6a9b2;
    border-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.active {
      line-height: 33px;
      color: #fff;
      background: #bd9d7d;
      background-image: -webkit-linear-gradient(right, #bd9d7d, #f9ddbd);
      background-image: linear-gradient(right, #bd9d7d, #f9ddbd);
      border: none;
    }

    &:nth-child(n + 5) {
      margin-top: 9px;
    }
  }
}

@media screen and (max-width: 374px) {
  .dropdown-wrap {
    padding: 12px 6px;

    li {
      width: calc(25% - 2px);
      margin-right: 2px;
    }
  }
}

.dropdown-wrap-time {
  padding: 15px 0 0;
}

.custom-wrap {
  padding: 0 10px 0 14px;
}

.custom-date {
  padding: 16px 0;
  background: url("/static/image/_new/common/arrow_next.png") no-repeat right 0
    center;
  background-size: 15px 15px;
  border-bottom: 1px solid #eee;

  p {
    margin-bottom: 0;
  }
}

.custom-title {
  float: left;
  line-height: 19px;
  font-size: 14px;
  font-weight: 700;
  color: #414655;
}

.custom-time {
  float: right;
  line-height: 19px;
  padding-right: 20px;
  font-size: 12px;
  color: #414655;
}

.time-cancel,
.time-confirm {
  float: left;
  width: 50%;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.time-cancel {
  background: #faf5f0;
  color: #be9e7f;
}

.time-confirm {
  color: #fff;
  background: #bd9d7d;
  background-image: -webkit-linear-gradient(right, #bd9d7d, #f9ddbd);
  background-image: linear-gradient(right, #bd9d7d, #f9ddbd);
}

.data-wrap {
  padding: 0 13px;
}

.total-wrap {
  height: 38px;
  line-height: 38px;
  padding-left: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
  list-style: none;

  li {
    float: left;
    width: calc((100% - 26px) / 3);
    font-size: 12px;
    color: #414655;

    &:nth-child(3n + 2) {
      margin: 0 13px;
      text-align: center;
    }

    &:nth-child(3n) {
      text-align: right;
    }
  }
}

.is-win {
  color: #db6372;
}

.record-count {
  padding: 5px 0 8px;
}

.record-count-time {
  float: left;
  line-height: 20px;
  font-size: 17px;
  color: #414655;
  font-weight: 700;
}

.single-total-wrap {
  float: right;
  line-height: 20px;

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  li {
    float: left;
    font-size: 12px;
    color: #a6a9b2;
  }

  .single-water {
    margin: 0 8px;
  }
}

.data-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 15px;
  }
}

.detail-wrap {
  height: 100px;
  margin-top: 7px;
  background: #fefffe;
  border-radius: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.detail-name {
  height: 33px;
  line-height: 33px;
  padding-left: 12px;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px solid #eee;
}

.detail-game {
  padding: 12px 12px 10px;
}

.game-name {
  line-height: 21px;
  padding-left: 8px;
  margin-bottom: 6px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #414655;

  &:before {
    display: block;
    width: 3px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #bd9d7d;
    background-image: -webkit-linear-gradient(top, #bd9d7d, #f9ddbd);
    background-image: linear-gradient(top, #bd9d7d, #f9ddbd);
    content: "";
  }
}

.game-count {
  display: flex;
  justify-content: space-between;
  line-height: 16px;
  font-size: 12px;
  padding-left: 8px;
  color: #414655;

  > div {
    flex: 1;
  }

  .game-water {
    text-align: center;
  }

  .game-money {
    text-align: right;
  }
}

.date-tip {
  position: absolute;
  min-width: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 2%;
  background: #dbdbdb;
}
