@import "~@/css/variable.scss";
@import "./porn1.index.scss";

.wiithdraw-account-header {
  background: linear-gradient(#fe2a2a, #b60303);
  border-bottom: none;
}

.btn-send {
  background-color: #fdcccc;

  &.active {
    color: #ffffff;
    background-color: #e42a30;
  }
}

.btn-submit {
  >div {
    background-color: #fdcccc;
  }

  &.active {
    >div {
      pointer-events: auto;
      color: #ffffff;
      background-color: #e42a30;
    }
  }
}
