@import "~@/css/variable.scss";
@import "./porn1.index.scss";

// .wiithdraw-account-header {
//   background: linear-gradient(#fe2a2a, #b60303);
//   border-bottom: none;

//   .title {
//     color: #ffffff;
//   }
// }

.btn-send {
  border-radius: 23px;
  background: #d2d2d2;

  &.active {
    color: #ffffff;
    background: #0000;
  }
}

.btn-submit {
  > div {
    border-radius: 23px;
    background: #d2d2d2;
  }

  &.active {
    > div {
      pointer-events: auto;
      color: #ffffff;
      background: #0000;
    }
  }
}
