@import "~@/css/variable.scss";

.swag-banner-wrap {
  height: 120px;
}

.swag-banner-cell {
  height: 120px;

  >img {
    height: 100%;
    width: 100%;
  }
}

.swag-balance-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  background: #fefffe;
}

.swag-balance-item {
  flex: 1;
  font-size: 12px;
  font-weight: 700;
  color: #414655;
  text-align: center;
  display: inline-block;
  padding: 12px 4px;

  >div {
    display: inline-block;
    padding-top: 3px;
  }

  img {
    width: 13px;
    height: 13px;
    vertical-align: text-bottom;
    display: inline-block;
  }

  .money {
    font-size: 16px;
    font-family: Microsoft JhengHei, Microsoft JhengHei-Bold;
    font-weight: 700;
    text-align: center;
    color: #be9e7f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recycle-btn {
    display: block;
    font-size: 16px;
    font-family: Microsoft JhengHei, Microsoft JhengHei-Bold;
    font-weight: 700;
    text-align: left;
    color: #be9e7f;
    text-align: center;
  }
}

.buy-diamond-wrap {
  width: 100%;
  margin-top: 7px;
  background: #ffffff;
  padding: 8px 17px;

  .title {
    font-size: 14px;
    font-family: Microsoft JhengHei, Microsoft JhengHei-Regular;
    font-weight: 400;
    text-align: left;
    color: #222222;
  }
}

.price-wrap {
  position: relative;
  padding: 0;
  margin-top: 3px;
}

.price-cell {
  font-family: Arial, Arial-Regular;
  font-weight: 400;
  text-align: center;
  position: relative;
  display: inline-block;
  height: 40px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  width: calc(25% - 6px);

  &:not(:nth-child(4n + 1)) {
    margin-left: 6px;
  }

  &.selected {
    border: 1px solid #d1b79c;
    background: linear-gradient(-45deg, #d1b79c 10px, rgba(255, 255, 255, 0) 0);

    .price {
      color: #d1b79c;
    }

    .num {
      color: #36e6d2;
    }

    .amount-active {
      display: block;
      width: 7px;
      height: 5px;
      position: absolute;
      right: 1px;
      bottom: 3px;
    }
  }

  .price {
    color: #2d1212;
    font-size: 13px;
  }

  .num {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaaaaa;
    font-size: 12px;

    >img {
      width: 12px;
      height: 12px;
      vertical-align: bottom;
    }
  }

  .loading {
    margin: 6px 11px;
    background: #eeeeee;
    height: calc(50% - 9px);
  }
}

.seleted-tip {
  font-size: 14px;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Regular;
  font-weight: 400;
  text-align: left;
  color: #d1b79c;
  padding: 12px 17px;
}

.submit-wrap {
  padding: 0 17px;

  .submit-btn {
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(to right, #f9ddbd, #bd9d7d);
    border-radius: 3px;

    &.disabled {
      background: linear-gradient(to right, #e9dacb, #eee5db);
    }
  }
}

.maintain-tip-text {
  font-size: 12px;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Regular;
  font-weight: 400;
  text-align: center;
  color: #db6372;
}

.maintain-tip-img {
  width: 12px;
  height: 12px;
}

// detail
.detail-header {
  z-index: 3;
  width: 100%;
  height: 43px;
  padding: 0 17px;
  background: #fefffe;
  text-align: center;
  position: relative;

  .title {
    font-size: 16px;
    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
    font-weight: 500;
    text-align: center;
    color: #000000;
    line-height: 43px;
  }
}

.btn-prev {
  position: absolute;
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  >img {
    width: 20px;
    height: 20px;
  }
}

.recoard-credit-trans {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

// tips
.check-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-container {
  width: 320px;
  min-height: 190px;
  z-index: 3;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;

  .check-header {
    width: 100%;
    height: 50px;
    background: #be9e7f;
    border-radius: 3px 3px 0 0;
    color: white;
    position: relative;
    line-height: 50px;

    .title {
      width: 100%;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
    }

    .btn-close {
      width: 23px;
      height: 100%;
      position: absolute;
      right: 10px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 23px;
        width: 100%;
      }
    }
  }

  .check-content {
    background-color: #ffffff;
    font-size: 15px;

    .title {
      font-size: 16px;
      font-weight: 700;
      color: #414655;
      text-align: center;
      min-height: 67px;
      line-height: 67px;
    }
  }

  .check-button-wrap {
    padding: 10px 11px;
    color: #be9e7f;
    text-align: center;
    bottom: 12px;
    width: 100%;

    .check-btn {
      width: 90px;
      height: 45px;
      line-height: 45px;
      background: #faf5f0;
      border-radius: 3px;
      margin: 0 3px;
      display: inline-block;

      &.submit {
        color: white;
        background: linear-gradient(to left, #bd9d7d, #f9ddbd);
      }
    }
  }
}

.tips {
  margin-top: 35px;
  color: #a6a9b2;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Regular;
  font-size: 14px;
  font-weight: 400;
}

.hr {
  height: 24px;
  left: 0;
  top: 0;
  position: absolute;
  width: calc((100% - 240px) * 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  >div {
    width: 100%;
    height: 1px;
    background: #dddddd;
  }
}

.tips-title {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  line-height: 24px;
  text-align: center;
  position: relative;

  .hr:last-of-type {
    left: unset;
    right: 0;
  }

  >.title-tips {
    width: 205px;
  }
}

.tips-content {
  font-size: 12px;
  font-weight: 400;
  margin-top: 3px;
  padding: 0 20px;
  text-align: left;

  >div:not(:last-of-type) {
    margin-bottom: 2.5px;
  }
}

.link {
  color: #6aaaf5;
}
