@import "@/css/variable.scss";

.tab-wrap {
  display: flex;
  background: #fff;
  border-bottom: 2px solid #eee;
}

.tab-item {
  flex: 1;
  position: relative;
  height: 43px;
  line-height: 43px;
  text-align: center;
  color: $main_text_color2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.is-current {
    color: $main_text_color4;

    &::after {
      content: "";
      position: absolute;
      width: 43px;
      height: 2px;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: #be9e7f;
    }
  }
}
