@import "@/css/variable.scss";
$tabColor: #000;
$tabColorActive: #00347d;
$buttonBackgroundColor: #00347d;
$buttonTextColor: #fff;

.main-wrap {
  padding-bottom: 42px;
  background: #f8f8f8;
}

.top-wrap {
  background-color: #fff;
  padding: 8px 22px;
}

.search-tab {
  display: inline-block;
  line-height: 12px;
  margin: 0 9px;
  color: $main_text_color2;
  font-size: 12px;

  &.active {
    color: #be9e7f;
  }
}

.form-search {
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eaeaea;

  .title {
    font-size: 12px;
    padding-left: 5px;
    left: 12px;
    color: #bebcbc;
  }
}

.field-game-wrap {
  padding: 4px 8px;
  border-bottom: 1px solid #eaeaea;

  select {
    padding-left: 5px;
    background: transparent;
    border: none;
    appearance: none;
    outline: none;
  }
}

.field-date-wrap {
  padding: 4px 0 4px 8px;
  float: left;
  width: 50%;

  &.start-date,
  &.end-date {
    position: relative;
  }

  &.start-date {
    border-right: 1px solid #eaeaea;
  }

  .date {
    outline: none;
    width: 100%;
  }

  input {
    padding-left: 5px;
    border: none;
    outline: none;
    background: transparent;
    appearance: none;
    opacity: 0;
  }

  span {
    position: absolute;
    padding-left: 7px;
    bottom: 5px;
    left: 5px;
  }
}

.field-search-wrap {
  padding: 8px 0;
  clear: left;
  border-top: 1px solid #eaeaea;

  .btn-search {
    background: linear-gradient(to left, #bd9d7d, #f9ddbd);
    margin: 0 auto;
    width: 85%;
    line-height: 45px;
    border-radius: 3px;
    text-align: center;
    color: $buttonTextColor;

    &.disable {
      opacity: 0.5;
    }
  }
}

.select {
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
}

.pagination {
  position: fixed;
  bottom: 55px;
}

.no-data {
  padding-top: 40px;
  text-align: center;
  background-color: #f8f8f8;
  img {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-bottom: 14px;
  }

  p {
    font-size: 14px;
    color: #a6a9b2;
  }
}

.search-tips {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  width: 250px;
  margin: 0 auto;
  padding: 15px 18px;
  border-radius: 5px;
  background-color: #161616;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
