@import "./porn1.module.scss";

.search-tab {
  color: #a2a2a2;

  &.active {
    color: var(--member_color100);
  }
}

.field-search-wrap {
  .btn-search {
    background: var(--member_gradient_color1);
    color: white;

    &.disable {
      opacity: 0.5;
    }
  }
}
