@import "./porn1.module.scss";

.active-slider {
  background: var(--mcenter_slider_underline_active_color);
}

.send-keyring {
  color: white;
  background: var(--mcenter_send_keyring);
  border-radius: 15px;

  &.disabled {
    color: var(--mcenter_button_text_color2);
    background: var(--mcenter_send_keyring_disabled);
    pointer-events: none;
  }
}

.submit-wrap {
  > div {
    border-radius: 23px;
    background: var(--mcenter_button_color1);
    color: var(--mcenter_button_text_color1);
  }

  &.disabled {
    > div {
      background: var(--mcenter_button_color2);
      color: var(--mcenter_button_text_color2);
    }
  }
}

.promotion-tips {
  color: #b1b1b1;
  background: #f8f8f7;

  a {
    color: #6aaaf5;
  }
}
