@import "./porn1.module.scss";

.active-slider {
  background: #fb4e74;
}

.send-keyring {
  color: white;
  background: var(--mcenter_button_color1);

  &.disabled {
    color: white;
    background: var(--mcenter_button_color2);
    pointer-events: none;
  }
}

.submit-wrap {
  > div {
    border-radius: 3px;
    background: var(--mcenter_button_color1);
  }

  &.disabled {
    > div {
      background: var(--mcenter_button_color2);
      color: #ffffff;
    }
  }
}
