@import "@/css/variable.scss";

.main-wrap {
    padding-bottom: 42px;
}

.top-wrap {
    background-color: #fff;
    padding: 8px 22px;
}

.search-tab {
    display: inline-block;
    line-height: 12px;
    margin: 0 9px;
    color: $main_text_color2;
    font-size: 12px;

    &.active {
        color: #be9e7f;
    }
}

.form-search {
    background-color: #fff;
    border-top: 1px solid #bebcbc;
    border-bottom: 1px solid #bebcbc;

    .title {
        left: 12px;
        color: #bebcbc;
    }
}

.field-game-wrap {
    padding: 4px 17px;
    border-bottom: 1px solid #bebcbc;

    select {
        background: transparent;
        border: none;
        appearance: none;
        outline: none;
    }
}

.field-date-wrap {
    padding: 4px 17px;
    float: left;
    width: 50%;

    &.start-date {
        border-right: 1px solid #bebcbc;
    }

    .date {
        outline: none;
        width: 100%;
    }

    input {
        border: none;
        outline: none;
        background: transparent;
        appearance: none;
    }
}

.field-search-wrap {
    padding: 8px 0;
    clear: left;
    border-top: 1px solid #bebcbc;

    .btn-search {
        background: linear-gradient(to left , #bd9d7d , #f9ddbd);
        margin: 0 auto;
        width: 85%;
        line-height: 45px;
        border-radius: 3px;
        text-align: center;
        color: $buttonTextColor;
    }
}

.select {
    background-color: inherit;
    width: 100%;
    border: none;
    outline: none;
}

.pagination {
    position: fixed;
    bottom: 55px;
}

.no-data {
    padding-top: 100px;

    > img {
        display: block;
        width: 60px;
        margin: 0 auto 10px;
    }

    > div {
        color: #747577;
        text-align: center;
    }
}

.search-tips {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    width: 250px;
    margin: 0 auto;
    padding: 15px 18px;
    border-radius: 5px;
    background-color: #161616;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
