.top-tip {
    height: 52px;

    span {
        padding-left: 12px;
        line-height: 45px;
    }

    .add-btn {
        float: right;
        margin-right: 10px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        width: 42px;
        height: 42px;
        background: $addressPlusBg;
        color: $addressPlusColor;
        border-radius: 50%;
        position: relative;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.address-wrap {
    width: 100%;
    background: #F5F5F5;
    border-top: 2px solid #BEBCBC;

    .address-content {
        display: inline-block;
        padding: 5px;
        width: 83%;
        font-size: 13px;
        background: #FFF;
        vertical-align: middle;

        .address-default {
            display: inline-block;
            width: 15%;
            height: 100px;
            text-align: center;
            text-align: -webkit-center;
            vertical-align: middle;
    
            .default-btn {
                width: 24px;
                height: 100%;
                background: url('/static/image/mobile/mcenter/btn_disconfirm.png') 100%/100% no-repeat;
                cursor: pointer;
    
                &.is-default {
                    background: url('/static/image/mobile/mcenter/btn_confirm.png') 100%/100% no-repeat;
                }
            }
        }

        .content-main-item {
            display: inline-block;
            width: 83%;
            vertical-align: middle;

            .content-item {
                line-height: 24px;
    
                .left {
                    display: inline-block;
                    width: 40%;
                    color: #000;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: middle;
                }
    
                .right {
                    display: inline-block;
                    width: 57%;
                    color: #000;
                    text-align: right;
                    word-break: break-word;
                    vertical-align: middle;
                    div {
                        float: right;
                        margin-left: 7px;
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                        position: relative;
                        color: $editIconColor;
                        background-color: $editIconBg;
                        border-radius: 50%;
                    }
                    svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-40%,-55%);
                    }
                }
            }
        }
    }

    .address-delete {
        display: inline-block;
        width: 15%;
        text-align: center;
        text-align: -webkit-center;
        vertical-align: middle;

        .delete-btn {
            margin: 0 12px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            background: $editIconBg;
            color: $editIconColor;
            position: relative;
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}

.add-address-wrap {
    padding: 10px;
    background-color: #F5F5F5;
    border-top: 2px solid #BEBCBC;

    .input-wrap {
        margin: 12px 0;
        width: 100%;

        p {
            margin: 0;
            color: #BEBCBC;
            font-size: 13px;
        }

        .add-input {
            padding-bottom: 7px;
            width: 100%;
            height: 30px;
            background-color: #F5F5F5;
            border: 0;
            border-bottom: 1px solid #0091D2;

            &.notice {
                border-bottom: 1px solid #FF5454;
            }
        }

        &.mobile {
            .select-wrap {
                display: inline-block;
                width: 23%;
                border-bottom: 1px solid #0091D2;
                vertical-align: middle;

                select {
                    width: 100%;
                    height: 30px;
                }

                &.notice {
                    border-bottom: 1px solid #FF5454;
                }
            }
            

            .add-input {
                width: 75%;
                vertical-align: middle;
            }
        }
    }

    .msg-notice {
        color: #FF5454;
        font-size: 13px;
    }

    .button-wrap {
        text-align: right;

        button {
            width: 86px;
            height: 38px;
            color: #FFF;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }

        .cancel {
            color: $tableBtnCancelColor;
            background-color: $tableBtnCancelBg;
            border: 1px solid $tableBtnCancelBg;
            border-radius: 8px;
        }

        .confirm {
            color: $tableBtnConfirmColor;
            background-color: $tableBtnConfirmBg;
            border: 1px solid $tableBtnConfirmBg;
            border-radius: 8px;
        }
    }
}
