@import "~@/css/variable.scss";

.content-wrap {
    min-height: calc(100vh);
    background-color: $main_background_white1;
}

.wrap {
    background-color: white;

    >.block:first-child {
        margin-top: 35px;
        margin-bottom: 15px;
    }
}

.block {
    height: 77px;
    font-size: 14px;
    padding: 2px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    >div {
        height: 30px;
        display: inline-flex;
        line-height: 30px;
    }

    >.title {
        color: $main_text_color3;
    }
}

input {
    width: 100%;
    background: none;
    border: none;
    //   border-bottom: 1px solid $main_text_color2;
    height: 30px;
    outline: none;
    border-radius: 0;
    color: #cbced8;
}

.btn-send {
    right: 14px;
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #e9dacc;
    color: #f3ede7;

    &.active {
        color: #FFFFFF;
    }
}
