@import "~@/css/variable.scss";

.content-wrap {
    min-height: calc(100vh);
    background-color: $main_background_white1;
}

.account-data-field {
    position: relative;
    padding: 0px 17px;
    display: flex;
    height: 80px;
    cursor: pointer;
    border-bottom: 1px solid #EEEEEE;
    background-color: white;
    flex-direction: column;
    justify-content: center;

    &:last-child {
        border-bottom: none;
    }

    >.field-title {
        height: 20px;
    }

    >.field-value {
        height: 20px;
    }
}

.field-title {
    display: block;
    font-size: 14px;
    color: $main_text_color3;
    margin-bottom: 5px;
}

.field-value {
    display: flex;
}

.field-text {
    width: 100%;
    display: block;
    word-break: break-all;
    font-size: 14px;
    color: $main_text_color3;
    height: 20px;

    &.yet {
        color: #CBCED8;
    }
}

.wrap {
    background: $main_white_color1;
}

.account-data-wrap {
    color: $main_text_color3;
    background: $main_white_color1;
}

.feature-btn {
    text-align: center;
    cursor: pointer;
}

.btn-next {
    width: 14px;
    height: 100%;
    display: flex;
    align-items: center;

    >img {
        height: 14px;
        width: 14px;
    }
}

@import "~@/css/variable.scss";


.field-editer {
    font-size: 14px;
    background-color: white;

    >.block:first-child {
        margin-top: 35px;
        margin-bottom: 15px;
    }

    >.field-title {
        height: 20px;
    }

    .field-value {
        width: 80%;
        height: 20px;

        >input {
            height: 20px;
        }
    }

    .input-wrap {
        display: inline-flex;
        height: 20px;
        width: 100%;

        >div:last-child {
            padding: 0 5px;
            width: 75px;
            position: absolute;
            right: 14px;
            color: $main_text_color4;
        }
    }
}

.block {
    height: 75px;
    font-size: 14px;
    padding: 2px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $main_white_color1;

    >div {
        height: 30px;
        display: inline-flex;
        line-height: 30px;
    }

    >.title {
        color: $main_text_color3;
    }
}

input {
    width: 100%;
    background: none;
    border: none;
    height: 30px;
    outline: none;
    border-radius: 0;
    color: $main_text_color3;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #CBCED8;
    }
}

.btn-send {
    right: 14px;
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #E9DACC;
    color: white;

    &.active {
        color: #FFFFFF;
        background-color: #D1B79C;
    }
}

.top-tips {
    background: $main_white_color1;
    padding: 0 14px;
    color: $main_error_color1;
    min-height: 40px;
    line-height: 40px;

    >.send-tips {
        line-height: 20px;
    }
}

.bottom-tips {
    padding: 0 14px;
    color: $main_error_color1;
    visibility: hidden;
    height: 30px;

    &.active {
        visibility: unset;
    }
}

.save-btn {
    position: fixed;
    z-index: 50;
    right: 14px;
    height: 43px;
    line-height: 43px;
    top: 0;
    color: #CBCED8;

    &active {
        color: $main_text_color3;
    }
}

.success-icon {
    margin: 10px 29px;
    width: 60px;
    height: 60px;
}

.meg {
    display: block;
    text-align: center;
}
