@import "~@/css/variable.scss";

.content-wrap {
    padding-top: 43px;
}

.account-data-field {
    position: relative;
    padding: 0px 17px;
    display: flex;
    height: 80px;
    cursor: pointer;
    border-bottom: 1px solid #eeeeee;
    background-color: white;
    flex-direction: column;
    justify-content: center;

    &:last-child {
        border-bottom: none;
    }

    >.field-title {
        height: 22px;
        line-height: 22px;
    }

    >.field-value {
        height: 22px;
        line-height: 22px;
    }
}

.field-title {
    display: block;
    font-size: 14px;
    color: $main_text_color3;
    margin-bottom: 5px;
}

.field-value {
    display: flex;
}

.field-text {
    width: 100%;
    display: block;
    word-break: break-all;
    font-size: 14px;
    color: $main_text_color3;
    height: 22px;

    &.yet {
        color: #cbced8;
    }
}

.wrap {
    background: $main_white_color1;
}

.account-data-wrap {
    color: $main_text_color3;
    background: $main_white_color1;
}

.feature-btn {
    text-align: center;
    cursor: pointer;
}

.btn-next {
    width: 14px;
    height: 100%;
    display: flex;
    align-items: center;

    >img {
        height: 14px;
        width: 14px;
    }
}

@import "~@/css/variable.scss";

.field-editer {
    font-size: 14px;
    background-color: white;

    >.block:first-child {
        margin-top: 35px;
        margin-bottom: 15px;
    }

    >.field-title {
        height: 20px;
    }

    .field-value {
        width: 80%;
        height: 20px;

        >input {
            height: 20px;
        }

        // 只針對出生日期設定
        &.date-field {
            position: relative;

            span {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    .input-wrap {
        display: inline-flex;
        min-height: 20px;
        width: 100%;
        position: relative;

        .btn-wrap {
            padding: 0 5px;
            width: 75px;
            position: absolute;
            right: 14px;
            color: $main_text_color4;

            >.disable {
                color: $main_text_color5;
            }
        }
    }
}

.block {
    height: 75px;
    font-size: 14px;
    padding: 2px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $main_white_color1;
    position: relative;
    margin-bottom: 14px;

    >div {
        height: 30px;
        display: inline-flex;
        line-height: 30px;
        position: relative;
    }

    &.withdraw-password {
        >div {
            height: 100%;
        }
    }

    >.title {
        color: $main_text_color3;
    }
}

input {
    width: 100%;
    background: none;
    border: none;
    height: 30px;
    outline: none;
    border-radius: 0;
    color: $main_text_color3;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #cbced8;
    }
}

.btn-send {
    right: 14px;
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    background-color: #e9dacc;
    color: white;
    pointer-events: none;
    // 取消點擊特效
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);

    &.active {
        pointer-events: auto;
        color: #ffffff;
        background-color: #d1b79c;
    }
}


.top-tips {
    background: $main_white_color1;
    padding: 0 14px;
    color: $main_error_color1;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.bottom-tips {
    padding: 0 14px;
    color: $main_error_color1;
    visibility: hidden;
    height: 30px;

    &.active {
        visibility: unset;
    }
}

.save-btn {
    position: fixed;
    z-index: 50;
    right: 14px;
    height: 43px;
    line-height: 43px;
    top: 0;
    color: #cbced8;
    outline: none;

    &.active {
        color: $main_text_color3;
    }
}

.success-icon {
    margin: 10px 29px;
    width: 60px;
    height: 60px;
}

.meg {
    display: block;
    text-align: center;
}

.unset {
    color: #a6a9b2;
}

.birthday-text {
    position: absolute;
    background: white;
}

.birthday-input {
    position: absolute;
    width: calc(100% - 80px);
    color: rgba(0, 0, 0, 0);
}

.withdraw-pwd-input {
    border: none;
    color: #414655;
    display: block;
    height: 40px;
    outline: none;
    padding: 0;
    width: 100%;

    &::-webkit-input-placeholder {
        color: #cbced8;
    }
}

.withdraw-pwd-input {
    background: #ffffff;
    border: 2px solid #cecece;
    display: inline-block;
    height: 40px;
    text-align: center;
    width: 40px;
}

.withdraw-pwd-input:not(:first-of-type) {
    margin-left: 7.5px;
}

.service-tip {
    margin-top: 19px;
    text-align: center;
    width: 100%;
    color: $main_text_color2;
    font-size: 14px;
    height: 250px;

    >span {
        color: #6aaaf5;
    }
}
