@import "~@/css/variable.scss";

.account-header {
    margin: 0 auto;
    max-width: $mobile_max_width;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 43px;
    padding: 0 17px;
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: $main_white_color1;

    &::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.btn-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    width: 20px;
    height: 20px;
    margin: auto;
    z-index: 2;

    >img {
        display: block;
        width: 100%;
    }
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.title {
    height: 43px;
    line-height: 43px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    margin: 0 auto;
}

.save-wrap {
    box-shadow: none;
    color: $main_text_color2;
    font-size: 15px;
    height: 100%;
    line-height: 43px;
    outline: none;
    position: absolute;
    right: 14px;
    top: 0;
    border: unset;

    >.active {
        color: $main_text_color3;
    }
}
