@import "./index.module.scss";

.btn-send {
  background: var(--main_button_color2);
  width: 110px;

  &.active {
    color: #ffffff;

    background: var(--member_gradient_color1);
  }
}

.phone-selected {
  border: 0px;
  background-color: #ffffff;
  margin-right: 10px;
}
