@import "~@/css/variable.scss";

.feedback-tab-wrap {
    background: #F5F5FA;
}

.feedback-tab-btn {
    display: inline-block;
    vertical-align: top;
    width: 165px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: #666;

    &.is-current {
        color: $btnBg;
        background: #FFF;
    }
}

.feedback-button-wrap {
    padding-top: 20px;
    background-color: #E5E5E5;
}

.tab-button {
    float: left;
    display: block;
    min-width: 95px;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    &.is-current {
        color: #53B2F3;
        background-color: #FFF;
    }
}

.add-btn {
    float: right;
    display: block;
    height: 30px;
    padding: 0 10px;
    color: #FFF;
    background-color: #53B2F3;
    border-radius: 5px;
    margin-right: 60px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.field-wrap {
    padding: 60px;
    font-size: 16px;
}

.feedback-field {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }
}

.field-title {
    position: relative;
    float: left;
    width: 8%;
    margin-top: 6px;
    padding: 0 5px 0 12px;
    color: #262626;
}

.field-star-icon {
    position: absolute;
    top: 4px;
    left: 0;
    color: #F00;
}

.field-type-list {
    float: left;
}

.field-select {
    float: left;
    width: 240px;

    :global {
        .multiselect__tags {
            border-radius: 0;
            border: 1px solid #D9D9D9;
        }

        .multiselect__placeholder {
            color: #E0E0E0;
        }

        .multiselect__option--highlight {
            color: rgba(0, 0, 0, 0.87);
            background: rgba(0, 0, 0, 0.05);
        }
    }
}

.field-input {
    float: left;
    width: 760px;
    height: 39px;
    line-height: 39px;
    padding-left: 8px;
    outline: none;
    border: 1px solid #D9D9D9;
    color: #7E7E7E;

    &.is-error {
        border: 1px solid #F00;
    }

    // Chrome/Opera/Safari
    &::-webkit-input-placeholder {
        color: #E0E0E0;
    }

    // Firefox 19+
    &::-moz-placeholder {
        color: #E0E0E0;
    }

    // IE 10+
    &:-ms-input-placeholder {
        color: #E0E0E0;
    }

    // Firefox 18-
    &:-moz-placeholder {
        color: #E0E0E0;
    }
}

.field-textarea {
    resize: none;
    width: 760px;
    height: 160px;
    padding: 8px;
    outline: none;
    border: 1px solid #D9D9D9;
    color: #7E7E7E;

    // Chrome/Opera/Safari
    &::-webkit-input-placeholder {
        color: #E0E0E0;
    }

    // Firefox 19+
    &::-moz-placeholder {
        color: #E0E0E0;
    }

    // IE 10+
    &:-ms-input-placeholder {
        color: #E0E0E0;
    }

    // Firefox 18-
    &:-moz-placeholder {
        color: #E0E0E0;
    }
}

.image-release-btn {
    margin: 20px 0 20px 79px;
    text-decoration: underline;
    cursor: pointer;
    color: $btnBg;
}

.feedback-tip-wrap {
    margin: 0 0 60px 79px;
}

.tip-text {
    font-size: 12px;
}

.feedback-btn {
    float: right;
    width: 100px;
    height: 39px;
    line-height: 39px;
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;

    &:first-child {
        background: $btnBg;
        color: #FFF;
        border: none;
    }
}

.feedback-table {
    width: 100%;
    border: 1px solid #DDD;
    border-spacing: 0;
}

.feedback-thead {
    color: #FFF;
    background: #CCC;
}

.feedback-thead-wrap {
    text-align: center;
}

.feedback-tbody-wrap {
    text-align: center;
}

.feedback-type {
    height: 50px;

    .msg-unread {
        color: #F00;
    }

    .msg-read {
        color: $btnBg;
    }

    &.index {
        width: 8%;
    }

    &.title {
        text-align: left;
        cursor: pointer;
    }

    &.time {
        width: 25%;
    }

    &.status {
        width: 10%;
    }

    &.operate {
        width: 10%;
    }
}

.operate-icon {
    width: 30px;
    height: 30px;
    color: #FFF;
    background: $btnBg;
    border: 0;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
}

.feedback-content {
    text-align: left;
    background: #F9F9F9;

    .content-top {
        padding: 10px 80px;
    }

    .content-bottom {
        padding: 10px 100px;

        div {
            padding-left: 10px;
        }
    }
}

.feedback-form-wrap {
    background-color: #FFF;
    padding: 30px 46px 8px;
    z-index: 1;
}

.pop {
    position: absolute;
}

.empty {
    margin-right: 1px;
    border: 1px solid #DDD;
    text-align: center;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

@media screen and (max-width: $phone) {
    .feedback-button-wrap {
        position: absolute;
        top: 42px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .tab-button {
        font-size: 15px;
    }

    .add-btn {
        max-width: 90px;
        margin: 5px 4px 0px 0;
        font-size: 15px;
    }

    .feedback-tab-wrap {
        display: none;
    }

    .feedback-button-wrap {
        padding: 0;
    }

    .field-wrap {
        padding: 52px 0 10px;
    }

    .field-title {
        width: 100%;
    }

    .field-select {
        width: 100%;
    }

    .field-input {
        width: 100%;
    }

    .field-textarea {
        width: 100%;
    }

    .image-release-btn {
        margin: 20px 0;
    }

    .feedback-tip-wrap {
        margin: 0 0 30px 0;
    }

    .feedback-table {
        font-size: 13px;
    }

    .feedback-content {
        .content-top {
            padding: 10px 10px;
        }

        .content-bottom {
            padding: 10px 15px;
        }
    }
}

.page-wrap {
    .page-select-wrap {
        .page-select {
            padding: 0 10px;
        }
    }
}
