@import "~@/css/variable.scss";

.bonus-account {
    padding: 0 5.3%;
}

h1 {
    margin: 0 0 20px;
    font-size: 18px;
}

.bonus-total {
    margin-bottom: 10px;
    color: #000;

    div {
        &:before,
        &:after {
            content: '';
            display: table;
        }

        &:after {
            clear: both;
        }
    }

    .title {
        float: left;
        max-width: 75%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .info {
        float: right;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    color: $tableBodyColor;
    font-size: 14px;
}

thead {
    display: none;

    tr {
        border-width: 0 1px;
        border-style: solid;
        border-color: $tableTitleBorder;
        background-color: $tableTitleBg;
        color: $tableTitleColor;
    }
}

tbody {
    tr {
        display: block;
        margin-bottom: 40px;
        border-width: 1px 1px 0;
        border-style: solid;
        border-color: $tableBodyBorder;
        background: $tableBodyBg;
    }
}

th {
    height: 40px;
    padding: 0 8px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

td {
    display: block;
    min-height: 30px;
    line-height: 30px;
    padding: 5px 0 5px 3%;
    border-bottom: solid 1px $tableBodyBorder;
    text-align: left;

    &.account {
        background-color: #C3C3C3;
        color: #FFF;
    }

    &.no-data {
        padding: 5px 0;
        line-height: 30px;
        color: $tableNoDataColor;
    }

    .title {
        display: inline-block;
        width: 32%;
        padding-right: 15px;
        vertical-align: middle;
    }
}

@media screen and (min-width: $phone) {
    td {
        .title {
            width: 38%;
        }
    }
}

@media screen and (min-width: $pad) {
    .bonus-total {
        display: none;
    }

    table {
        border-bottom: 1px solid $tableBodyBorder;
    }

    thead {
        display: table-header-group;
    }

    tbody {
        tr {
            display: table-row;
        }
    }

    td {
        display: table-cell;
        padding: 5px;
        border-bottom: none;
        text-align: right;

        &.account {
            background-color: transparent;
            color: inherit;
            text-align: center;
        }

        &.no-data {
            text-align: center;
        }

        .title {
            display: none;
        }
    }
}
