.total-sub-wrap {
    height: 43px;
    background-color: #222;

    .top-sub-title {
        float: left;
        width: 50%;
        height: 43px;
        line-height: 42px;
        color: #BEBCBC;
        text-align: center;

        &.active {
            color: #FFF;
            border-bottom: 3px solid $secondColor;
        }
    }
}

.total-detail-wrap {
    margin-top: 5px;
    min-height: 83px;
    text-align: center;
    color: #000;
    background-color: #F6F4F4;

    .top-wrap-title {
        padding: 3px 0;
        background-color: #DDD;
    }

    .top-wrap-item {
        display: inline-block;
        padding: 6px 0;
        width: 32%;
        vertical-align: top;

        &:not(:last-child) {
            border-right: 1px solid #EEE;
        }
    
        .amount {
            margin-top: 4px;
            word-break: break-all;

            &.negative {
                color: #FF5454;
            }
        }
    }
}

.sub-detail-record {
    margin-top: 10px;
    text-align: center;
    background-color: #EEE;

    table {
        width: 100%;
        border-spacing: unset;

        thead {
            color: #676767;
            background-color: #DDD;
        }

        .bet-record-tr {
            background-color: #FFF;
            word-break: break-all;

            &:nth-child(even){
                background-color: $detailBgColor;
            }
        }

        tr {
            height: 43px;
        }

        th {
            width: 20%;
        }

        td {
            width: 20%;
        }
    }
}

.negative {
    color: #FF5454;
}
