.preset-color {
    $defaultColor: #00347D;
    $secondColor: #19A3FF;
    $btnColor: '';
    $textColor: #FFF;
    $detailBgColor: #F6F4F4;

    @import './record.scss';
    @import './detail.scss';
}

.site-500011,
.site-52,
.site-53 {
    $defaultColor: #EDB83F;
    $secondColor: #EDB83F;
    $btnColor: #EDB83F;
    $textColor: #000;
    $detailBgColor: #F6F4F4;

    @import './record.scss';
    @import './detail.scss';
}