.total-top-wrap {
    height: 42px;
    line-height: 42px;
    background-color: #FFF;

    .total-list {
        display: inline-block;
        margin: 0;
        width: 86%;
        height: 100%;
        line-height: 42px;
    }

    .total-item {
        display: inline-block;
        width: auto;

        .total-item-date {
            margin-right: 5px;
            padding: 0 8px;
            color: #000;

            &.is-current {
                color: $defaultColor;
            }
        }
    }

    .expend-btn {
        position: absolute;
        display: inline-block;
        width: 46px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        background: #FFF;
        z-index: 1;
    }
}

.date-expand-wrap {
    .date-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.8;
    }

    .date-content {
        position: absolute;
        padding: 10px;
        width: 100%;
        min-height: 88px;
        border-top: 1px solid #BEBCBC;
        background: #FFF;
    }

    .date-item {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 7px;
        padding: 5px 11px;
        border: 1px solid #BEBCBC;
        border-radius: 3px;

        &.is-active {
            color: $textColor;
            background: $defaultColor;
            border-color: $defaultColor;
        }
    }

}

.bet-header {
    padding: 0 10px;
    height: 37px;
    line-height: 37px;
    background: #3E3E3E;

    .bet-header-left {
        float: left;
        color: $secondColor;
    }

    .bet-header-right {
        float: right;
        color: #FFF;

        &.negative {
            color: #FF5454;
        }
    }
}

.overview-wrap {
    width: 100%;
    background: #FFF;

    .overview-item {
        display: inline-block;
        padding: 10px 0;
        width: 50%;
        border-right: 1px solid #F6F6F6;
        border-bottom: 1px solid #F6F6F6;
        text-align: center;

        .title {
            color: $secondColor;
        }

        .amount {
            margin-top: 5px;
            color: #000;
        }

        &.today {
            .amount {
                color: $secondColor;
            }
        }

        &.last_month {
            .title {
                color: #AAA;
            }

            .amount {
                color: #AAA;
            }
        }
    }
}

.total-search-wrap {
    height: 40px;
    border-bottom: 1px solid #BEBCBC;

    img {
        padding: 7px 0px 7px 10px;
    }
}

.total-main-wrap {
    margin-bottom: 10px;
    color: #BEBCBC;
    background-color: #FFF;

    .select-input {
        padding: 2px 10px;
        height: 55px;
        border: 1px solid #BEBCBC;
        border-bottom: none;

        select {
            width: 100%;
            background: transparent;
            border: none;
            appearance: none;
            outline: none;
        }
    }

    .date-pick {
        padding: 2px 10px;
        float: left;
        width: 50%;
        height: 55px;
        border: 1px solid #BEBCBC;
        border-right: none;

        input {
            border: none;
            background: transparent;
            appearance: none;
            outline: none;
        }
    }

    .select-list-btn {
        text-align: center;
        border: 1px solid #BEBCBC;

        .select-btn {
            margin: 8px 0;
            width: 240px;
            height: 30px;
            color: $textColor;
            background: $btnColor;
            border: none
        }
    }
}

.total-record-wrap {
    table {
        width: 100%;
    }

    .total-bet-record {
        margin-bottom: 5px;
        color: #858585;
        background-color: #FFF;
        border-top: 1px solid #BEBCBC;
        border-bottom: 1px solid #BEBCBC;

        table{
            padding: 0 10px;

            tr:nth-child(1){
                color: #000;
            }

            td:nth-child(even){
                text-align: right;
            }
        }
    }

    .sub-bet-record {
        text-align: center;
        background-color: #EEE;
        padding-bottom: 42px;

        table {
            border-spacing: unset;

            thead {
                color: #676767;
                background-color: #DDD;

                th:nth-child(5){
                    width: 10%;
                }
            }

            .bet-record-tr {
                background-color: #FFF;
                word-break: break-all;

                &:nth-child(even){
                    background-color: $detailBgColor;
                }
            }

            tr {
                height: 43px;
            }

            th {
                width: 30%;
                border-top: 1px solid #BEBCBC;
                border-bottom: 1px solid #BEBCBC;
            }

            td {
                border-bottom: 1px solid #BEBCBC;
            }
        }
    }
}

.negative {
    color: #FF5454;
}

.pagination {
    position: fixed;
    bottom: 55px;
}

.no-data {
    padding-top: 15px;
    height: 100px;
    text-align: center;

    .no-data-img {
        margin: 0 auto;
        margin-top: 90px;
        width: 50px;
        height: 50px;
        background: url('/static/image/mobile/mcenter/miller/ic_nodata.png') 0 0 / 100% 100% no-repeat;
    }

    p {
        font-size: 12px;
        color: #AAA;
    }
}

.sort-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/static/image/mobile/mcenter/miller/btn_order.png') 0 0 / 100% 100% no-repeat;
    vertical-align: middle;
}

.remind-message {
    display: none;
    width: 65%;
    line-height: 17px;
    padding: 7px 10px;
    position: fixed;
    top: 16%;
    left: 50%;
    z-index: 100;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    background-color: rgba(50, 50, 51, 0.88);
    border-radius: 4px;
    transform: translate(-50%, -50%);

    &.show {
        display: block;
        animation: fade 0.3 linear;
    }
}
