@import "./porn1.index.scss";

.invite-wrap {
  background: #000;
  .content {
    font-weight: 700;
    color: #fff;
  }

  .image {
    position: absolute;
    top: 0;
    right: 20px;
    width: 70px;
    height: 70px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.wallet-info-wrap {
  .goDeposit {
    color: #fefffe !important;
    background: var(--mcenter_button_color1) !important;
    box-shadow: 0pt 3px 7px 0pt rgba(255, 0, 0, 0.3) !important;
  }
}

.title {
  &::before {
    background: var(--mcenter_button_color1);
  }
}

.balance-wrap {
  .balance-total-item {
    .balance-item-money {
      color: var(--member_color100);
    }
  }

  .recycle-btn {
    color: var(--member_color100);
  }
}
