@import "./porn1.index.scss";

.invite-wrap {
  .content {
    color: var(--mcenter_invite_text_color);
  }
}

.wallet-info-wrap {
  .goDeposit {
    color: #fefffe !important;
    background: var(--mcenter_button_color1) !important;
    box-shadow: 0pt 3px 7px 0pt rgba(255, 0, 0, 0.3) !important;
  }
}

.title {
  &::before {
    background: var(--deco_color);
  }
}

.balance-wrap {
  .balance-total-item {
    .balance-item-money {
      color: var(--mcenter_wallet_text_color);
    }
  }

  .recycle-btn {
    color: var(--mcenter_wallet_recycle_text_color);
  }
}
