@import "./porn1.index.scss";

.invite-wrap {
  .content {
    color: #E61938;
  }
}

.wallet-info-wrap {

  .goDeposit {
    color: #FEFFFE !important;
    background: linear-gradient(#fe593c, #e61938) !important;
    box-shadow: 0pt 3px 7px 0pt rgba(255, 0, 0, 0.3) !important;
  }
}

.title {
  &::before {
    background: linear-gradient(#fe593c, #e61938);
  }
}


.balance-total-item {
  .balance-item-money {
    color: #E61938;
  }
}

.balance-wrap {
  .balance-total-item {
    .balance-item-money {
      color: #E61938;
    }
  }

  .recycle-btn {
    color: #E61938;
  }
}
