.deposit-tab-wrap {
    padding-left: 73px;
    border-bottom: 4px solid #292929;
    overflow: hidden;
}

.deposit-title {
    float: left;
    display: block;
    min-width: 95px;
    line-height: 20px;
    color: #999;
    background: transparent;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 10px 24px 8px;
    margin-right: 30px;
    height: 35px;
    border-top: 1px solid #E2E2E2;
    border-radius: 8px 8px 0 0;
    text-align: center;

    &:before,
    &:after {
        content: " ";
        position: absolute;
        top: 0;
        height: 100%;
        width: 44px;
    }
    &:before {
        width: 25px;
        right: -5px;
        transform: skew(20deg, 0deg);
        box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
        border-radius: 0 8px 0 0;
    }
    &:after {
        width: 25px;
        left: -5px;
        transform: skew(-20deg, 0deg);
        box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
        border-radius: 8px 0 0 0;
    }

    &.hover,
    &.hover:before,
    &.hover:after {
        background-color: #F4F7F9;
        color: #444;
    }

    &.is-current,
    &.is-current:before,
    &.is-current:after {
        background-color: #292929;
        color: #FFF;
    }
}
