@import "./porn1.module.scss";

.title {
  background-image: url('/static/image/sg1/mcenter/tcenter/promote_topbg.png');
}

.main {
  background-image: url('/static/image/sg1/mcenter/tcenter/promote_bg.png');
}

.top-data {
  font-weight: inherit;

  .list-data {
    border-bottom: #F8E1A1 dashed 1px;

    .list-name {
      color: #F8E1A1;

      .list-btn {
        color: #222222;
        background-color: #FFD68A;
      }
    }

    .list-value {
      color: #FFFFFF;
    }
  }

}


.title-commission {
  border-color: #FFAFBE;
  color: #FFAFBE;
}

.regist-data {

  .all-regist-title {

    .regist-title-bar {
      background: linear-gradient(to top, #E61938, #FE593C);
    }
  }
}

.today-pay-content {

  .today-title {

    .topday-content {

      .title-point {

        &.deposit {
          background-color: #E61938
        }

        &.withdraw {
          background-color: #FFD68A
        }
      }
    }
  }

  .today-bar {

    .background-bar {
      background-color: #FFD68A;

      .person-bar {
        background-color: #E61938
      }
    }
  }

}


.special {
  .special-title {

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 3px;
      height: 16px;
      top: 2.5px;
      margin-right: 7px;
      background: linear-gradient(#FE593C, #E61938);
    }

  }

  .special-content {

    .special-data {
      color: #414655
    }
  }
}
