@import "./porn1.module.scss";

.title {
  background-image: url("/static/image/sg1/mcenter/tcenter/promote_topbg.png");
}

.main {
  background-image: url("/static/image/sg1/mcenter/tcenter/promote_bg.png");
}

.top-data {
  font-weight: inherit;

  .list-data {
    border-bottom: #f8e1a1 dashed 1px;

    .list-name {
      color: #f8e1a1;

      .list-btn {
        color: #222222;
        background-color: #ffd68a;
      }
    }

    .list-value {
      color: #ffffff;
    }
  }
}

.title-commission {
  border-color: #f9e8b4;
  color: #f9e8b4;
}

.regist-data {
  .all-regist-title {
    .regist-title-bar {
      background: #000;
    }
  }
}

.today-pay-content {
  .today-title {
    .topday-content {
      .title-point {
        &.deposit {
          background-color: #000;
        }

        &.withdraw {
          background-color: #ffd68a;
        }
      }
    }
  }

  .today-bar {
    .background-bar {
      background-color: #ffd68a;

      .person-bar {
        background-color: #000;
      }
    }
  }
}

.special {
  .special-title {
    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 3px;
      height: 16px;
      top: 2.5px;
      margin-right: 7px;
      background: linear-gradient(#fe593c, #e61938);
    }
  }

  .special-content {
    .special-data {
      color: #414655;
    }
  }
}
