@import "./porn1.module.scss";

.title {
  background-image: url('/static/image/sg1/mcenter/tcenter/promote_topbg.png');
}

.main {
  background-image: url('/static/image/sg1/mcenter/tcenter/promote_bg.png');
}

.top-data {
  font-weight: inherit;

  .list-data {
    border-bottom: #F8E1A1 dashed 1px;

    .list-name {
      color: #F8E1A1;
    }

    .list-value {
      color: #FFFFFF;
    }
  }

}


.title-commission {
  background: linear-gradient(#FFD780, #FFC180);
  color: #333333;
  font-weight: bolder;
}


.special {
  .special-title {

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 3px;
      height: 16px;
      top: 2.5px;
      margin-right: 7px;
      background: linear-gradient(#FE593C, #E61938);
    }

  }

  .special-content {

    .special-data {
      color: #414655
    }
  }
}
