@import "./porn1.scss";

.swiper-item {
  &.is-current {
    span {
      border-bottom: 2px solid #000;
    }
  }
}

.pay-button {
  border-radius: 23px;
  background: var(--mcenter_button_color1);
}

.message-close {
  color: var(--member_color100);
}

.entry-message-confirm {
  color: var(--member_color100);
}
.select-active {
  color: var(--member_color100);
}

.pop-title {
  span {
    color: var(--member_color100);
  }
}

.pay-mode-item {
  &.is-current {
    border: 1px solid var(--wallet_border_color);
    color: var(--wallet_border_color);
    background: linear-gradient(
      -45deg,
      var(--wallet_border_color) 10px,
      hsla(0, 0%, 100%, 0) 0
    );
  }
}

.pay-money-item {
  &.is-current {
    color: var(--wallet_border_color);
    border: 1px solid var(--wallet_border_color);
    background: linear-gradient(
      -45deg,
      var(--wallet_border_color) 12px,
      hsla(0, 0%, 100%, 0) 0
    );
  }
}

.current-data {
  color: var(--wallet_border_color);
  border: 1px solid var(--wallet_border_color);
  background: linear-gradient(
    -45deg,
    var(--wallet_border_color) 12px,
    hsla(0, 0%, 100%, 0) 0
  );
}

.feature-tip-title {
  &.success {
    color: var(--wallet_border_color);
  }
}
