@import "./porn1.scss";
.pay-button {
  background: $member_gradient_color1;
}

.message-close {
  color: $member_color100;
}

.entry-message-confirm {
  color: $member_color100;
}
.select-active {
  color: $member_color100;
}

.pop-title {
  span {
    color: $member_color100;
  }
}

.pay-mode-item {
  &.is-current {
    border: 1px solid $sg_main_text_color1;
    color: $sg_main_text_color1;
    background: linear-gradient(
      -45deg,
      $sg_main_text_color1 10px,
      hsla(0, 0%, 100%, 0) 0
    );
  }
}

.pay-money-item {
  &.is-current {
    color: $sg_main_text_color1;
    border: 1px solid $sg_main_text_color1;
    background: linear-gradient(
      -45deg,
      $sg_main_text_color1 12px,
      hsla(0, 0%, 100%, 0) 0
    );
  }
}

.current-data {
  color: $sg_main_text_color1;
  border: 1px solid $sg_main_text_color1;
  background: linear-gradient(
    -45deg,
    $sg_main_text_color1 12px,
    hsla(0, 0%, 100%, 0) 0
  );
}

.feature-tip-title {
  &.success {
    color: $sg_main_text_color1;
  }
}
