.preset-color {
    $titleColor: #19A3FF;
    $buttonBackgroundColor: #00347D;
    $buttonTextColor: #FFF;

    @import './recommend.scss';
}

.site-500011,
.site-52,
.site-53 {
    $titleColor: #EDB83F;
    $buttonBackgroundColor: #EDB83F;
    $buttonTextColor: #222;

    @import './recommend.scss';
}
