@import "./porn1.module.scss";

.title {
  color: #e61938;
}
.code-wrap {
  background-color: #ffe6e9;
}

.register-wrap {
  background-color: #fff;

  button {
    background: linear-gradient(to left, #fe593c, #e61938);
    color: #ffffff;
  }
}
