.preset-color {
    $infoTitleBg: url('/static/image/mobile/mcenter/bg_header2_iphone8.png') 50% -65px / 100% no-repeat #222;
    $infoTitleActiveColor: #BEBCBC;
    $infoTitleBorderColor: #F9DCB2;
    
    @import './information.module.scss'; 
}

.site-500011,
.site-52,
.site-53 {
    $infoTitleBg: #FFF;
    $infoTitleActiveColor: #000;
    $infoTitleBorderColor: #EDB83F;

    @import './information.module.scss';  
}
