/****** footer ******/

.footer-wrap {
    background-color: #C13F22;
    .footer {
        padding-top: 32px;
        color: #FFF;
        text-align: center;
        min-height: 114px;
        .copyright {
            margin-bottom: 10px;
            font-size: 12px;
        }
        .footer-info {
            font-size: 13px;
        }
    }

    /* 綠藍 */
    &.turquoise {
        background-color: #3E3E3E;
    }

    /* 白綠 */
    &.snow-green {
        background-color: #3E3E3E;
    }
}
