@import '~@/css/variable.scss';

.mobile-bet-wrap {
    margin: 0 auto;
    height: 100%;
    min-height: 850px;
    text-align: center;

    .logo-wrap {
        padding: 25px 0;
    }

    .title-wrap {
        font-size: 31px;
        color: #FFF;

        p {
            margin: 0;
        }

        .sub-title {
            padding-top: 5px;
            font-size: 16px;
        }
    }

    .middle-wrap {
        margin: 25px 0;

        img {
            width: 185px;
        }
    }

    .download-wrap {
        button {
            display: block;
            margin: 10px auto 0;
            width: 300px;
            height: 50px;
            color: #FFF;
            border: 0;
            border-radius: 34px;
            cursor: pointer;
            outline: none;
        }

        .download-btn {
            background: linear-gradient(to right, #28ffd4 0%, #ffc52a 100%);
        }

        .trust-btn {
            background-color: rgba(167, 167, 167, 0.5);
        }

        .trust-tip {
            margin: 10px 0;
            color: #FFF;
        }

        .download-tips {
            padding: 15px 0 20px 0;
            font-size: 13px;
            color: #6DE2FF;

            p {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: $phone) {
    .mobile-bet-wrap {
        .title-wrap {
            font-size: 28px;

            .sub-title {
                font-size: 14px;
            }
        }

        .download-wrap {
            .download-btn {
                width: 245px;
            }

            .download-tips {
                font-size: 12px;
            }
        }
    }
}
