$popupBg: #050505;
$popupColor: #FFF;
$popupBorder: 1px solid #CA8C54;
$popupBorderRadius: 0;
$titleBg: #CA8C54;
$linkColor: #CA8C54;
$linkHoverColor: #FFD4AD;
$agentLinkColor: #DBB969;
$agentLinkHoverColor: #E5D1A2;
$closeColor: #FFF;
