@import "@/css/variable.scss";

.commission-detail-wrap-record {
  position: relative;
  bottom: 87px;
}

.tab-wrap {
  position: relative;
  display: flex;
  background: #fff;
  border-bottom: 2px solid #eee;
}

.tab-item {
  flex: 1;
  position: relative;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: $main_text_color2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.is-current {
    color: $main_text_color4;
  }
}

.active-slider {
  position: absolute;
  width: 40px;
  height: 2px;
  bottom: 0;
  transform: translateX(-50%);
  background: #be9e7f;
  // left: calc(50% / 2 - 20px);
  transition: left 0.31s;
}

//rebateRecord
.card-wrap {
  padding: 0 13px;
  .date-total {
    width: 100%;
    padding-bottom: 10px;
    color: $main_text_color3;
    border-bottom: 2px solid #eee;
    padding-top: 10px;
    margin-bottom: 10px;
  }
}

//page2、3
.friend-wrap {
  position: relative;
  top: 10px;
}
.card-item-wrap {
  position: relative;
  top: 10px;
}

.no-data {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  img {
    width: 174px;
    height: 174px;
    margin-bottom: 14px;
  }

  p {
    font-size: 14px;
    color: #a6a9b2;
  }
}

.rebate-rate {
  height: 25px;
  display: flex;
  justify-content: flex-end;
  color: #6aaaf5;
  padding: 9px 2px;
  text-decoration: underline;
}

.main-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    th {
      background-color: #eee;
      color: #676767;
      font-weight: normal;
      font-size: 12px;
      height: 32px;
      line-height: 32px;
    }

    .index {
      width: 15%;
    }

    .first-level {
      width: 23%;
      cursor: pointer;
    }

    .valid-bet {
      width: 31%;
    }

    // commission 目前先隱藏，到時如果顯示，還需要再調Width
    .commission,
    .profit {
      width: 31%;
    }
  }

  tbody {
    tr {
      background: #fff;

      &:nth-child(even) {
        background: #f6f6f6;
      }
    }

    td {
      color: #2d2d2d;
      font-size: 12px;
      text-align: center;
      height: 39px;
      line-height: 39px;

      > div {
        display: block;
        width: 70%;
        margin: 0 auto;
        text-align: right;
      }

      &:nth-child(3),
      &:nth-child(4) {
        color: #676767;
      }
    }
  }
}

.detail-wrap {
  width: 100%;
  margin-top: 13px;

  // 共用
  .detail {
    display: flex;
    justify-content: space-between;
    line-height: 40px;

    .text {
      flex: 1;
    }
  }

  .rebate-wrap,
  .date,
  .list-wrap {
    padding: 0 15px;
    background: #fff;
  }

  // 細部調整
  .rebate-wrap {
    .detail {
      line-height: 23px;

      &:first-of-type {
        padding-top: 10px;
      }

      &:last-of-type {
        padding-bottom: 10px;
      }
    }
    .text {
      color: #6aaaf5;
    }
  }

  .date {
    background: none;
    color: $main_text_color3;
    font-weight: 700;
    font-size: 16px;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
  }

  .list-wrap {
    min-height: 300px;

    .text {
      color: $main_text_color2;
    }
  }

  .tips {
    padding: 40px 0;
    color: $main_text_color2;
    font-size: 12px;
    text-align: center;

    .service-btn {
      margin-left: 5px;
      color: #6aaaf5;
    }
  }
}

.tips {
  padding: 40px 0;
  color: $main_text_color2;
  font-size: 12px;
  text-align: center;

  .service-btn {
    margin-left: 5px;
    color: #6aaaf5;
  }
}

//threeAmout
.profit {
  padding: 0 10px;
}
.profit-wrap {
  position: relative;
  bottom: 33px;

  .bottom-title {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;

    .top-title {
      font-size: 17px;
      font-weight: bold;
    }
  }
}

.profit_date {
  color: #979797;
}

.profit_day {
  color: #414655;
  font-size: 12px;

  > span {
    color: #2693fc;
  }
}

.profit_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.deficit {
  color: #f00;
}

.profit_child {
  color: #a6a9b2;
  background: #fefffe;
  border-radius: 3px;
  padding: 9px 10px;
  margin: 5.5px;
}

.profit_child:first-child {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.profit_child:not(:first-child) {
  flex: 1 1 40%;
  height: 70px;

  .profit_child_name {
    text-align: left;
  }
  .profit_child_item {
    text-align: right;
    margin-top: 15px;
  }
}

.profit_child_name::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 3px;
  background: #be9e7f;
  bottom: 1px;
}

.profit_child_item {
  color: #222222;
  font-size: 18px;
}
