@import "./porn1.module.scss";

.max-money-btn {
  color: #fff;
  background: #e42a30;
}

.transfer-btn {
  background: #e42a30;

  &.is-disable {
    background: #fdcccc;
  }
}

.select-container {
  .select-header {
    span {
      color: #414655;
    }
  }
}

.balance-transfer-list {
  &::after {
    border-top: 5px solid #cbced8;
  }
}
