@import "~@/css/variable.scss";

@mixin fixed-container-style($opacity) {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        background: #000;
        opacity: $opacity;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.content-wrap {
    position: relative;
    min-height: calc(100vh - 60px);
    padding-bottom: 45px;
    background: #eee;
}

.balance-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    height: 65px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.65);

    // 自動免轉區塊
    &:nth-child(2) {
        height: 48px;
    }
}

.balance-total-item {
    flex: 1;
    font-size: 12px;
    font-weight: 700;
    color: $main_text_color3;

    img {
        width: 13px;
        height: 13px;
        vertical-align: text-bottom;
    }

    >span {
        margin-left: 5px;

    }

    .balance-item-money {
        font-size: 16px;
        color: #be9e7f;
    }
}

.recycle-btn {
    position: relative;
    flex: 1;
    font-size: 16px;
    color: #be9e7f;
    font-weight: 700;

    &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background: #eee;
        left: 0;
        top: 0;
    }

    &.disable {
        opacity: 0.5;
    }
}

.balance-total-icon {
    width: 30px;
    height: 30px;

    img {
        max-width: 100%;
    }
}

.balance-tip-wrap {
    width: 70%;
    text-align: left;
    color: $main_text_color3;

    .balance-auto-tip {
        font-size: 12px;
        color: $main_text_color2;
    }
}

:global {
    .ui.checkbox {
        &.field-checkbox {
            display: inline-block;
            vertical-align: middle;
        }
    }

    // /* Focus */
    .ui.toggle.checkbox input:focus~.box:before,
    .ui.toggle.checkbox input:focus~label:before {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }

    /* Active */
    .ui.toggle.checkbox input:checked~.box:before,
    .ui.toggle.checkbox input:checked~label:before {
        background-color: #7D87A3 !important;
    }

    /* Active Focus */
    .ui.toggle.checkbox input:focus:checked~.box:before,
    .ui.toggle.checkbox input:focus:checked~label:before {
        background-color: #7D87A3 !important;

    }
}

.balance-item-wrap {
    margin-top: 2%;
    padding: 10px 3% 0;
    font-size: 12px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.65);
}

.balance-item {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    height: 65px;
    padding: 10px 4px 15px;
    text-align: center;
    font-size: 14px;
    color: $main_text_color3;
    border-bottom: 1px solid #EEE;

    &:not(:nth-child(4n + 1)):before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 23px;
        background: #eee;
    }

    &.is-last-item {
        border-bottom: none;
    }

    &.collapse {
        float: right;
        color: $main_text_color2;
        border-bottom: none;

        .icon {
            width: 15px;
            height: 15px;
            margin: 2px auto;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.balance-item-vendor {
    display: block;
}

.balance-info-maintain {
    font-size: 12px;
    color: $main_error_color1;
}

.balance-wrench {
    height: 12px;
    width: 12px;
    vertical-align: middle;
}

.balance-item-money {
    display: block;
    color: $main_text_color2;
}

.balance-manual-wrap {
    background: rgba(255, 255, 255, 0.65);
}

.wallet-title {
    display: block;
    padding: 8px 17px;
    background: #eee;
    color: $main_text_color3;
    font-size: 14px;
}

.balance-transfer-wrap {
    margin: 1% 0 2%;
    border-radius: 4px;
    background: url("/static/image/_new/mcenter/balanceTrans/ic_transfergo.png") rgba(255, 255, 255, 0.65) 50% 50% no-repeat;
    background-size: 20px 15px;
}

.balance-select-wrap {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 8px 40px 8px 17px;
}

.select-right-wrap {
    padding: 8px 17px 8px 13%;
}

.balance-transfer-list {
    width: 100%;
    position: relative;
    float: left;

    &::after {
        content: "";
        position: absolute;
        bottom: 40%;
        right: 0px;
        border-top: 5px solid #EEE;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }

    select {
        background: transparent;
        outline: 0;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
    }
}

.select-container {
    @include fixed-container-style(0.4);

    .select-wrap {
        position: absolute;
        background: $main_white_color1;
        width: 100%;
        bottom: 0;
        padding: 0 17px;
        border-radius: 20px 20px 0 0;
    }

    .select-header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        text-align: center;
        height: 65px;
        color: $main_text_color3;

        &::before {
            content: "";
            position: absolute;
            width: 100vw;
            height: 8px;
            bottom: 0;
            background: #f8f8f7;
        }

        span {
            position: absolute;
            left: 0;
            color: #be9e7f;
        }
    }

    .select-content {
        position: relative;
        font-size: 14px;
        color: $main_text_color3;
        max-height: 500px;
        overflow: hidden;
        overflow-y: auto;

        .option {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            border-bottom: 1px solid #EEE;

            img {
                width: 15px;
                height: 15px;
            }
        }
    }
}

.select-title {
    font-size: 12px;
    color: $main_text_color2;
}

// .select-arrow-icon {
//   position: absolute;
//   top: 8px;
//   right: -10px;
//   transform: translateY(50%);
//   border-top: 5px solid #cbced8;
//   border-left: 4px solid transparent;
//   border-right: 4px solid transparent;
// }

.wallet-tip-img {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
}

.balance-input-wrap {
    padding: 15px 17px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.65);
}

.transfer-money {
    float: left;
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.transfer-money-input {
    outline: none;
    border: none;
    background: transparent;
    color: $main_text_color3;

    &::placeholder {
        color: #cdced8;
    }
}

.max-money-btn {
    float: right;
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(to left, #bd9d7d, #f9ddbd);
    background: -moz-linear-gradient(to left, #bd9d7d, #f9ddbd);
    background: -webkit-linear-gradient(to left, #bd9d7d, #f9ddbd);
    background: -o-linear-gradient(to left, #bd9d7d, #f9ddbd);
}

.transfer-btn {
    height: 42px;
    line-height: 42px;
    margin: 4% 17px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    background: linear-gradient(to left, #bd9d7d, #f9ddbd);
    background: -moz-linear-gradient(to left, #bd9d7d, #f9ddbd);
    background: -webkit-linear-gradient(to left, #bd9d7d, #f9ddbd);
    background: -o-linear-gradient(to left, #bd9d7d, #f9ddbd);

    &.is-disable {
        background: linear-gradient(to left, #e9dacb, #eee5db);
        background: -moz-linear-gradient(to left, #e9dacb, #eee5db);
        background: -webkit-linear-gradient(to left, #e9dacb, #eee5db);
        background: -o-linear-gradient(to left, #e9dacb, #eee5db);
    }
}

@media screen and (min-width: $phone) {
    .wrap {
        font-size: 15px;
    }
}

@media screen and (min-width: $pad) {
    .balance-total-item {
        font-size: 16px;
    }

    .balance-tip-wrap {
        font-size: 16px;

        .balance-auto-tip {
            font-size: 14px;
        }
    }

    .recycle-btn {
        font-size: 14px;
    }

    .balance-item-wrap {
        font-size: 16px;
    }

    .wallet-title {
        font-size: 16px;
    }

    .select-title {
        font-size: 14px;
    }

    .max-money-btn {
        font-size: 14px;
    }

    .transfer-btn {
        font-size: 16px;
    }

    .balance-wrench {
        height: 14px;
        width: 14px;
    }
}
