@import "./porn1.module.scss";

.max-money-btn {
  background: linear-gradient(to left, #fe593c, #e61938);
}

.transfer-btn {
  background: linear-gradient(to left, #fe593c, #e61938);

  &.is-disable {
    background: linear-gradient(to left, #fed3cb, #ffc5ce);
  }
}

.select-container {
  .select-header {
    span {
      color: #bf8646;
    }
  }
}

.balance-transfer-list {
  &::after {
    border-top: 5px solid #414655;
  }
}

.balance-item-money {
  color: #a2a2a2;
}

.transfer-money-input {
  &::placeholder {
    color: #a2a2a2;
  }
}

.balance-tip-wrap {
  .balance-auto-tip {
    color: #a2a2a2;
  }
}

.balance-auto-switch {
  position: relative;
  display: block;
  width: 53px;
  height: 28px;
  border-radius: 18px;
  background-color: #ccc;
  transition: all 0.4s;

  >span {
    margin: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.4s;
    display: block;
    left: 0;
    position: absolute;
  }

  &.active {
    background-color: #e61938;

    >span {
      margin: 2px;
      display: block;
      left: 18px;
      position: absolute;
    }
  }
}
