@import "./porn1.module.scss";

.max-money-btn {
  background: var(--mcenter_button_color1);
}

.transfer-btn {
  background: var(--mcenter_button_color1);

  &.is-disable {
    background: var(--mcenter_button_color2);
  }
}

.select-container {
  .select-header {
    span {
      color: var(--member_color100);
    }
  }
}
.balance-redjackpot-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: url("/static/image/sg1/common/ic_event.png") center center / 100%
    100%;
}

.balance-transfer-list {
  &::after {
    border-top: 5px solid #414655;
  }
}

.balance-item-money {
  color: var(--mcenter_slider_text_color);
}

.balance-redjackpot-text {
  word-break: break-word;

  &.money {
    color: var(--redpot);
  }
}

.transfer-money-input {
  &::placeholder {
    color: var(--mcenter_slider_text_color);
  }
}

.balance-tip-wrap {
  .balance-auto-tip {
    color: var(--mcenter_slider_text_color);
  }
}

.balance-auto-switch {
  position: relative;
  display: block;
  width: 53px;
  height: 28px;
  border-radius: 18px;
  background-color: #ccc;
  transition: all 0.4s;

  > span {
    margin: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.4s;
    display: block;
    left: 0;
    position: absolute;
  }

  &.active {
    background-color: #000;

    > span {
      margin: 2px;
      display: block;
      left: 18px;
      position: absolute;
    }
  }
}
.balance-total-item {
  .balance-item-money {
    color: var(--member_color100);
  }
}

.select-container {
  .select-header {
    span {
      color: var(--member_color100);
    }
  }
}
