/****** footer ******/

.footer {
    border-top: 1px solid #323232;
    padding: 30px 0;
    background: #0B0B0B;
    color: #999;
    font-size: 14px;
    text-align: center;
    .copyright {
        margin-bottom: 10px;
    }
    .footer-info {
        font-size: 13px;
    }

    .jp-apg {
        width: 70px;
        margin: 0 auto 20px;
    }
}
