.header-wrap {
    // header-top-wrap
    .header-top-wrap {
        border-bottom: 1px solid #000;
        background: #202020;
    }

    .header-top-link,
    .header-login-link {
        font-size: 12px;
        span {
            float: left;
        }
        .links {
            cursor: pointer;
            color: #FFF;

            &:hover {
                color: #888;
            }
        }
    }
    .header-top-link {
        font-size: 15px;
        line-height: 36px;
        height: 36px;
        .link-line {
            margin: 0 8px;
            color: #323232;
        }
    }
    .header-login-link {
        line-height: 33px;
        float: left;
        height: 33px;
        .link-line {
            margin: 0 8px;
            color: #FFF;
        }
    }
    /deep/ .login-form-wrap {
        position: static;
        float: left;
        width: auto;
        margin-right: 10px;
        padding-right: 0;
        .login-unit {
            float: left;
            width: 170px;
        }
        .login-unit-password {
            margin: 0 10px;
        }
        .login-unit-captcha {
            position: relative;
            margin-right: 15px;
            img {
                position: absolute;
                top: 4px;
                right: 7px;
                cursor: pointer;
                background: #202020;
            }
        }

        .login-unit input,
        .login-submit {
            font-size: 12px;
            height: 33px;
            border: none;
            border-radius: 20px;
            outline: none;
        }
        
        .login-unit input {
            width: 100%;
            line-height: 33px;
            padding-left: 14px;
            color: #000;
            background: #CACACA;

            // Chrome/Opera/Safari
            &::-webkit-input-placeholder {
                color: #000;
            }

            // Firefox 19+
            &::-moz-placeholder {
                color: #000;
            }
    
            // IE 10+
            &:-ms-input-placeholder {
                color: #000;
            }

            // Firefox 18-
            &:-moz-placeholder {
                color: #000;
            }
        }

        .login-submit {
            position: static;
            opacity: 0.8;
            top: auto;
            right: auto;
            float: left;
            width: 80px;
            line-height: 33px;
            cursor: pointer;
            text-align: center;
            color: #FFF;
            background: #E04250;

            &:hover {
                opacity: 1;
            }
        }
    }

    /deep/ .login-info-wrap {
        font-size: 14px;
        line-height: 33px;
        float: left;
        height: 33px;
        color: #FFF;
        .login-info-item {
            float: left;
            &.account {
                margin-right: 20px;
            }
        }
        .balance-wrap {
            position: relative;
            float: left;
            width: 14px;
            height: 16px;
            margin: 9px 25px 0 5px;
            .balance-icon {
                display: block;
                cursor: pointer;
            }
            .balance-list-wrap {
                position: absolute;
                z-index: 100;
                top: 18px;
                right: 0;
                visibility: hidden;
                width: 250px;
                transition: visibility 0.3s;
                &.show {
                    visibility: visible;
                }
                &.right {
                    right: auto;
                    left: 0;
                }
                .balance-list {
                    line-height: 22px;
                    padding: 13px;
                    background: #303030;
                }
                .balance-tran {
                    height: 28px;
                    padding: 3px 8px 0 0;
                    background: #000;
                    .balance-tran-btn {
                        font-size: 12px;
                        line-height: 22px;
                        float: right;
                        width: 58px;
                        height: 22px;
                        cursor: pointer;
                        text-align: center;
                        color: #FFF;
                        border-radius: 5px;
                        background: #E4404B;
                        overflow : hidden;
                        text-overflow : ellipsis;
                        white-space : nowrap;

                        &:hover {
                            background: #EF545F;
                        }
                    }
                }
            }
        }
        .login-info-links {
            float: left;
            span {
                float: left;
                &.link-line {
                    margin: 0 8px;
                }
                &.link-item {
                    cursor: pointer;
                }
            }
        }
    }
    /deep/ .lang-wrap {
        float: right;
        margin-top: 7px;
        .lang-item {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 8px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    // header-middle-wrap
    .header-middle-wrap {
        border-top: 1px solid #323232;
        background: #0B0B0B;
        .header-middle {
            position: relative;
            width: 990px;
            min-height: 68px;
            margin: 0 auto;
        }
    }
    /deep/ .header-logo-wrap {
        position: relative;
        top: auto;
        left: auto;
        float: left;
        margin-top: 15px;
    }

    /deep/ .nav-wrap {
        float: left;
        .nav {
            .nav-item-wrap {
                position: relative;
                float: left;
                width: 164px;

                .nav-item-icon {
                    display: block;
                    position: absolute;
                    bottom: 45px;
                    left: 63%;

                    img {
                        display: block;
                    }
                }
                .nav-item {
                    font-size: 16px;
                    line-height: 68px;
                    display: block;
                    overflow: hidden;
                    height: 68px;
                    cursor: pointer;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #888;
                    &.nolink {
                        cursor: default;
                    }
                    &.current,
                    &:hover {
                        color: #FFF !important;
                    }
                }
                .nav-sub-wrap {
                    position: absolute;
                    z-index: 100;
                    top: 68px;
                    left: 0;
                    width: 100%;
                    background: #3A3A3A;
                    .nav-sub-item {
                        position: relative;
                        color: #FFF;

                        span {
                            font-size: 14px;
                            line-height: 40px;
                            display: block;
                            overflow: hidden;
                            width: 100%;
                            height: 40px;
                            cursor: pointer;
                            text-align: center;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .nav-sub-icon-wrap {
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            top: -5px;
                            right: 10px;
                            cursor: pointer;

                            .nav-sub-item-icon {
                                position: absolute;
                                max-width: 100%;
                                bottom: 0;
                                left: 0;
                            }
                        }

                        &.nolink {
                            cursor: default;
                        }

                        &.current,
                        &:hover {
                            color: #E53F4B !important;
                            background: #252525;
                        }
                    }
                }
            }

            .nav-more-wrap {
                position: absolute;
                top: 21px;
                right: 0;

                .more-btn {
                    display: block;
                    width: 26px;
                    height: 26px;
                    cursor: pointer;
                }
                .more-list {
                    position: absolute;
                    z-index: 100;
                    top: 30px;
                    right: 0;
                    background: #3A3A3A;

                    &:before {
                        content: '';
                        position: absolute;
                        top: -10px;
                        bottom: 0;
                        right: 0;
                        left: 0;
                    }

                    .more-list-item {
                        position: relative;
                        font-size: 14px;
                        line-height: 40px;
                        display: block;
                        width: 120px;
                        height: 40px;
                        cursor: pointer;
                        text-align: center;
                        color: #FFF;
                        &.current,
                        &:hover {
                            color: #E53F4B !important;
                            background: #252525;
                        }

                        .text {
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            padding: 0 18px;
                        }

                        .nav-more-icon-wrap {
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            top: -5px;
                            right: 10px;
                            cursor: pointer;

                            .nav-more-item-icon {
                                position: absolute;
                                max-width: 100%;
                                bottom: 0;
                                left: 0;
                            }
                        }

                        .nav-more-caret {
                            position: absolute;
                            right: 7px;
                            top: 50%;
                            margin-top: -8px;
                        }

                        .nav-more-sub-wrap {
                            position: absolute;
                            z-index: 100;
                            top: 0;
                            width: 120px;
                            background: #3A3A3A;

                            .nav-more-sub-item {
                                position: relative;
                                color: #FFF;
                                font-size: 14px;

                                .nav-more-sub-icon-wrap {
                                    position: absolute;
                                    width: 17px;
                                    height: 17px;
                                    top: -5px;
                                    right: 10px;
                                    cursor: pointer;

                                    .nav-more-sub-item-icon {
                                        position: absolute;
                                        max-width: 100%;
                                        bottom: 0;
                                        left: 0;
                                    }
                                }
        
                                &.nolink {
                                    cursor: default;
                                }

                                &.current,
                                &:hover {
                                    color: #E53F4B !important;
                                    background: #252525;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // header-bottom-wrap
    .header-bottom-wrap {
        background: #777;
        .header-bottom {
            font-size: 13px;
            line-height: 40px;
            position: relative;
            width: 990px;
            min-height: 40px;
            margin: 0 auto;
            padding-left: 81px;
            color: #FFF;
        }
    }
    .news-title {
        position: absolute;
        top: 0;
        left: 16px;
    }

    /* 普魯士藍 */
    &.prussian-blue {
        /deep/ .login-form-wrap {
            .login-submit {
                color: #000;
                background: #0FF;
            }
        }
        /deep/ .login-info-wrap {
            .balance-wrap {
                .balance-list-wrap {
                    .balance-tran {
                        .balance-tran-btn {
                            color: #000;
                            background: #0FF;
                            &:hover {
                                background: #39ECEC;
                            }
                        }
                    }
                }
            }

            .login-info-links {
                float: left;
                span {
                    float: left;

                    &.link-line {
                        margin: 0 8px;
                    }

                    &.link-item {
                        cursor: pointer;
                    }
                }
            }
        }

        /deep/ .nav-wrap {
            .nav {
                .nav-item-wrap {
                    .nav-item {
                        &.current,
                        &:hover {
                            color: #0FF !important;
                        }
                    }
                    .nav-sub-wrap {
                        .nav-sub-item {
                            &.current,
                            &:hover {
                                color: #0FF !important;
                            }
                        }
                    }
                }
                .nav-more-wrap {
                    .more-list {
                        .more-list-item {
                            &.current,
                            &:hover {
                                color: #0FF !important;
                            }

                            .nav-more-sub-item {
                                &.current,
                                &:hover {
                                    color: #0FF !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-bottom-wrap {
            background: #00202D;
        }
    }
}

.header-top {
    width: 990px;
    min-height: 75px;
    margin: 0 auto;

    .is-infinity & {
        padding-top: 36px;
    }
}
