@import "./porn1.popup.scss";

.pop-block {
  border-radius: 20px;
}

.title {
  color: #000;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  font-weight: bold;
  font-size: 17px;
  border-bottom: 1px solid #f8f8f7;
}
.content-wrap {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.button-wrap {
  display: flex;
  .button-item {
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    border-top: 1px solid #f8f8f7;
    &.close {
      color: #000;
      background: #fff;
      border-right: 1px solid #f8f8f7;
    }

    &.confirm {
      background: var(--mcenter_button_color1);
    }
  }
}
