@import "./porn1.popup.scss";

.pop-block {
  border-radius: 20px;
}

.title {
  background-color: #fff;
  border-bottom: #f8f8f7;
}

.button-wrap {
  .button-item {
    width: 50%;
    border-top: 1px solid #f8f8f7;
    &.close {
      color: #000;
      background: #fff;
      border-right: 1px solid #f8f8f7;
    }

    &.confirm {
      color: #000;
      background: #fff;
    }
  }
}
