@import "./porn1.popup.scss";

.title {
  background-color: #333333;
}

.button-wrap {
  .button-item {
    &.close {
      color: #ffffff;
      background: #a2a2a2;
    }

    &.confirm {
      background: var(--member_gradient_color1);
    }
  }
}
