@import "./index.module.scss";

.add-bank-card {
    color: #414655;
}

.bank-card-cell {

    >.check-box {
        border: #CBCED8 solid 1px;

        &.checked {
            background: url("/static/image/ey1/mcenter/ic_check.png") 0 0 no-repeat;
            background-size: 100%;
        }
    }
}

.check-container {

    .check-header {
        background: #222222;
        color: #ffffff;

        .title {
            color: #ffffff;
        }
    }

    .check-button-wrap {
        color: white;

        .check-btn {
            color: white;
            background: #222222;

            &.submit {
                color: white;
                background: #E42A30;
            }
        }
    }
}
