@import "./index.module.scss";

.add-bank-card {
  color: #414655;
}

.bank-card-cell {
  > .check-box {
    &.checked {
      background: url("/static/image/ey1/mcenter/ic_check.png") 0 0 no-repeat;
      background-size: 100%;
    }
  }
}

.check-container {
  .check-header {
    background: #222222;
    color: #ffffff;

    .title {
      color: #ffffff;
    }
  }

  .check-button-wrap {
    color: white;

    .check-btn {
      color: white;
      background: #222222;

      &.submit {
        color: white;
        background: #e42a30;
      }
    }
  }
}

.withdraw-max {
  > span {
    background: #e42a30;
  }
}

.submit-btn {
  > div {
    background: #e42a30;
  }

  &.disabled {
    div {
      background: #fdcccc;
    }
  }
}

.crypto-block {
  .conversion-btn {
    border: 1px solid #e42a30;
    color: #e42a30;

    &.unInput {
      border: 1px solid #fdcccc;
      color: #fdcccc;
    }
  }
}
