@import "~@/css/variable.scss";
@import "../../../../../components/mcenter/components/balanceTrans/css/porn1.module.scss";

.balance-tran-container {
  background-color: #fefffe;
}

// 中心錢包
.balance-wrap-wrap {
  background-color: #fefffe;
  height: 67px;
  display: flex;
  align-items: center;
  margin-top: 11px;

  >div {
    width: 50%;
  }

  >.balance-wrap {
    >div:first-child {
      text-align: center;

      >img {
        width: 14px;
        height: 14px;
      }

      >span {
        color: #5e626d;
      }
    }

    >div:last-child {
      color: var(--member_color100);
      text-align: center;
      font-size: 16px;
    }
  }

  .recycle-btn {
    color: var(--member_color100);
    text-align: center;
    font-size: 16px;
  }
}

.withdraw-wrap {
  // margin-top: 31px;
  margin-bottom: 16px;
}

//增加銀行卡
.add-bank-card {
  background-color: #fefffe;
  color: var(--addcard_popup_text_color);
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  >img {
    width: 18px;
    height: 18px;
  }
}

.bank-card-wrap {
  background-color: #f3f3f3;
  margin-top: 10px;
}

@mixin check-ok($backgroundImg) {
  background: url($backgroundImg) 0 0 no-repeat;
  background-size: 100%;
}

.bank-card-cell {
  position: relative;
  background-color: #fefffe;
  padding: 1px 18px;
  color: #414655;
  min-height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;

  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }

  >img {
    width: 25px;
    height: 25px;
  }

  >span {
    padding: 0 0 0 10px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;

    &.withdraw-status-tip {
      color: #e42a30;
      width: fit-content;
    }

    &.hasOption {
      width: 60%;
    }

    &.rubbing-btn {
      font-size: 14px;
      background: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);
      color: white;
      border-radius: 11px;
      width: 82px;
      height: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
    }
  }

  >.check-box {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: #cbced8 solid 1px;
    right: 16px;

    &.checked {
      &.image-porn1 {
        @include check-ok("/static/image/porn1/mcenter/ic_check.png");
      }

      &.image-aobo1 {
        @include check-ok("/static/image/aobo1/mcenter/ic_check.png");
      }

      &.image-sp1 {
        @include check-ok("/static/image/sp1/mcenter/ic_check.png");
      }
    }

    &.disable {
      background: #cbced8;
      pointer-events: none;
    }
  }

  .transfergo-img {
    width: 20px;
    height: 15px;
  }

  .currency-text {
    position: relative;
    width: 100%;
    max-width: 95px;
    font-size: 12px;
    padding-left: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      border-style: solid;
      border-width: 5px 4.5px 0 4.5px;
      border-color: #cbced8 transparent transparent transparent;
    }
  }

  &.bank-card-cell-epoint {
    display: block;
  }
}

.bank-wrap {
  display: flex;
  // height: 60px;
  margin-top: 10px;
  background-color: #fefffe;
  padding: 8px 18px;
  // min-height: 50px;
  flex-wrap: wrap;

  .bank-type {
    position: relative;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 10px;

    &.is-current {
      border: 1px solid var(--wallet_border_color);
      color: var(--wallet_border_color);
      background: linear-gradient(-45deg,
          var(--wallet_border_color) 10px,
          hsla(0, 0%, 100%, 0) 0);
    }

    .select {
      position: absolute;
      width: 7px;
      height: 5px;
      right: 1px;
      bottom: 2px;
    }
  }
}

.withdraw-status-tip {
  padding: 0 0 0 10px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #e42a30;
  width: fit-content;
}

.tips {
  margin-top: 12px;
  color: #a6a9b2;
  font-size: 12px;
  padding: 0 14px;
}

.withdraw-input {
  height: 54px;
  background-color: #fefffe;
  color: #414655;
  line-height: 54px;
  padding: 0 14px;
  width: 100%;
  margin-top: 5px;
  position: relative;

  >input {
    border: unset;
    box-shadow: none;
    outline: none;
    width: calc(100% - 110px);
    height: 32px;
    color: #414655;
    font-size: 16px;
    border-radius: 0;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;

    &::placeholder {
      color: #cbced8;
      font-size: 14px;
    }
  }
}

.exchange-rate,
.actual-money,
.crypto-block {
  background-color: #fefffe;
  padding: 5px 14px 0;
  font-size: 14px;
  color: #cbced8;
  min-height: 36px;
  line-height: 36px;

  &.error {
    color: #ff7171;
  }

  .time {
    color: var(--member_text_color6);
  }

  .serial {
    float: right;
    padding-right: 10px;
  }
}

.crypto-block {
  .conversion-btn {
    border: 1px solid var(--member_color100);
    color: var(--member_color100);
    width: 80px;
    height: 21px;
    line-height: 21px;
    border-radius: 15px;
    text-align: center;
    float: right;

    &.disable {
      pointer-events: none;
      border: 1px solid #e9dacb;
      color: #e9dacb;
    }

    // &.unInput {
    //   border: 1px solid #e9dacb;
    //   color: #e9dacb;
    // }
  }
}

.withdraw-max {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: right;

  >span {
    font-size: 14px;
    background: var(--member_gradient_color1);
    color: var(--member_text_color1);
    border-radius: 11px;
    width: 82px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.withdraw-error-tips {
  background-color: #fefffe;
  padding: 5px 12px;
  color: #db6372;
  font-size: 13.5px;
  height: 50px;
  line-height: 14px;
}

.submit-btn {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  padding: 0 14px;

  >div {
    margin: 0 auto;
    height: 45px;
    background: var(--member_gradient_color1);
    border-radius: 3px;
    width: 100%;
    max-width: 340px;
    line-height: 45px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: var(--member_text_color1);
  }

  &.disabled {
    div {
      pointer-events: none;
      background: var(--member_gradient_color2);
    }
  }
}

// 檢查提現提示彈窗
.check-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-container {
  width: 320px;
  min-height: 390px;
  z-index: 3;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;

  &.deposit {
    height: unset;
    max-height: 400px;
    min-height: unset;
  }

  .check-header {
    width: 100%;
    height: 50px;
    color: #414655;
    position: relative;
    line-height: 50px;

    .title {
      width: 100%;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      font-weight: 700;
    }

    .btn-close {
      width: 23px;
      height: 100%;
      position: absolute;
      right: 10px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 23px;
        width: 100%;
      }
    }
  }

  &.aobo1,
  &.sp1 {
    border-radius: 3px;

    .check-header {
      background: #be9e7f;
      color: #ffffff;
      border-radius: 3px 3px 0 0;

      .title {
        width: 100%;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
      }
    }

    .check-button-wrap {
      color: #be9e7f;
      margin-bottom: 10px;

      .check-btn {
        border-radius: 3px;
        background: #faf5f0;

        &.submit {
          color: #ffffff;
          background: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);
        }
      }
    }
  }

  .check-content {
    background-color: #ffffff;
    font-size: 15px;

    .title {
      font-size: 16px;
      font-weight: 700;
      color: #414655;
      text-align: center;
      //   height: 140px;
      min-height: 67px;
      line-height: 67px;
    }

    .time {
      width: 100%;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      color: var(--member_text_color4);
      margin-bottom: 4px;
    }
  }

  .check-cell {
    color: #414655;
    height: 33px;
    line-height: 33px;
    padding: 0px 11px;
    position: relative;

    &.check-total {
      color: var(--member_text_color4);
      background: #f3f3f3;
    }

    &.check-actual {
      color: #414655;
      font-weight: 700;
      background: #f3f3f3;
    }

    &.custom-color {
      color: var(--member_text_color6);

      &.custom-color-background {
        background: #f3f3f3;
        font-weight: 700;
      }
    }

    &.offer-twoline {
      height: 66px;
    }

    >span:last-child {
      float: right;
    }

    .money::after {
      content: "CNY";
      color: #cbced8;
      padding-left: 10px;
    }

    .money-bold::after {
      content: "CNY";
      color: #a6a9b2;
      padding-left: 10px;
      font-weight: 700;
    }

    // For Crypto
    .crypto-money::after {
      content: "USDT";
      color: #a6a9b2;
      padding-left: 1px;
      font-weight: 700;
    }

    .crypto-money {
      position: absolute;
      right: 11px;
    }
  }

  .check-cell::before {
    content: "";
    position: absolute;
    width: 93%;
    height: 1px;
    top: -1px;
    background: #eeeeee;
    text-align: center;
    margin: 0 auto;
  }

  .check-button-wrap {
    padding: 2px 0px;
    color: var(--member_color100);
    text-align: center;
    bottom: 12px;
    width: 100%;
    border-top: 1px solid#F8F8F7;
    font-size: 16px;
    margin-top: 30px;

    .check-btn {
      font-weight: bold;
      width: 100px;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      position: relative;
      border-right: 1px solid #f8f8f7;

      &.submit {
        color: linear-gradient(to left, #bd9d7d 0%, #f9ddbd 100%);
      }
    }

    .check-btn:last-child {
      border-right: none;
    }
  }
}

.loading-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.loading-item {
  position: fixed;
  margin: 0 auto;
  top: 40%;
}

.withdraw-pwd-input {
  height: 54px;
  background-color: #fefffe;
  color: #414655;
  line-height: 54px;
  padding: 0 14px;
  width: 100%;
  margin-top: 5px;
  -webkit-text-security: disc;

  >input {
    border: unset;
    box-shadow: none;
    outline: none;
    width: calc(100% - 110px);
    height: 32px;
    color: #414655;
    font-size: 16px;
    border-radius: 0;
    line-height: 32px;

    &::placeholder {
      color: #cbced8;
      font-size: 14px;
    }
  }
}

.btn-wrap {
  width: 100%;
  display: inline-flex;
}

@media screen and (min-width: $phone) {
  >.balance-wrap {
    >div:last-child {
      font-size: 17px;
    }
  }

  .recycle-btn {
    font-size: 17px;
  }

  .add-bank-card {
    font-size: 16px;
  }

  .tips {
    font-size: 13px;
  }

  .money-currency {
    font-size: 18px;
  }

  .withdraw-input {
    >input {
      font-size: 17px;

      &::placeholder {
        color: #cbced8;
        font-size: 15px;
      }
    }
  }

  .actual-money {
    font-size: 15px;
  }

  .withdraw-max {
    >span {
      font-size: 15px;
    }
  }

  .withdraw-error-tips {
    font-size: 15px;
  }

  .submit-btn {
    >div {
      font-size: 15px;
    }
  }
}

.offer {
  height: 30px;
  background-color: #fefffe;
  color: var(--widthdraw_tip_text_color);
  padding: 5px 14px;
  width: 100%;

  .option {
    color: var(--withdraw_tips_detail);
    text-decoration: underline;
  }
}

.feature-wrap {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #fff;
  font-size: 14px;
  line-height: 19px;
}

.select-bank-title {
  float: left;
  font-size: 14px;
  color: #222;
  margin-left: 7px;
}

.select-epoint-bank-item {
  height: 23px;
  margin-left: 80px;
  font-size: 14px;

  img {
    height: 19px;
    right: 10px;
    float: right;
  }
}

.pop-message-mark {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}

.message-container {
  width: 260px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: #fefffe;
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

.message-content {
  padding: 14px 10px;
  margin: 0;
  border-bottom: 1px solid #f8f8f7;
  list-style: none;

  li {
    line-height: 15px;
    font-size: 12px;
    color: #a6a9b2;
  }
}

.message-content-title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
}

.message-close {
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--withdraw_tips_detail);
}

.tip-list {
  font-size: 12px;
  white-space: pre-wrap;
}
