@import "./index.module.scss";

.submit-btn {
  >div {
    border-radius: 23px;
  }
}

.check-container {
  .check-cell {
    &.custom-color {
      color: #BE9E7F;
    }
  }

  .check-button-wrap {
    color: #000000;
  }
}


.bank-wrap {
  .bank-type {
    &.is-current {
      color: #414655;
      border: 1px solid var(--wallet_border_color);
      background: linear-gradient(-45deg,
          var(--wallet_border_color) 12px,
          hsla(0, 0%, 100%, 0) 0);
    }
  }
}

.offer {
  color: #be9e7f;
}


.message-close {
  color: #000000;
}
