@import "./index.module.scss";

.add-bank-card {
  color: #414655;
}

.bank-card-cell {
  >.check-box {
    &.checked {
      background: url("/static/image/ey1/mcenter/ic_check.png") 0 0 no-repeat;
      background-size: 100%;
    }
  }

  >span {
    &.rubbing-btn {
      background: var(--mcenter_button_color1);
    }
  }
}

.check-container {
  .check-header {
    background: #333333;
    color: #ffffff;
  }

  .check-button-wrap {
    color: #fff;
    margin-bottom: 10px;

    .check-btn {
      border-radius: 3px;
      background: #a2a2a2;

      &.submit {
        background: var(--mcenter_button_color1);
      }
    }
  }
}

.withdraw-max {
  >span {
    background: var(--mcenter_button_color1);
  }
}

.submit-btn {
  >div {
    background: var(--mcenter_button_color1);
  }

  &.disabled {
    div {
      background: var(--mcenter_button_color2);
    }
  }
}

.withdraw-input {
  >input {
    &::placeholder {
      color: #a2a2a2;
    }
  }
}

.actual-money,
.crypto-block {
  color: #a2a2a2;
}

.tips {
  color: #a2a2a2;
}

.check-container {
  .check-cell {
    color: #a2a2a2;

    .money::after {
      color: #a2a2a2;
    }

    // For Crypto
    .crypto-money::after {
      color: #a2a2a2;
    }
  }
}

.bank-wrap {
  .bank-type {
    &.is-current {
      border: 1px solid var(--wallet_border_color);
      color: var(--wallet_border_color);
      background: linear-gradient(-45deg,
          var(--wallet_border_color) 10px,
          hsla(0, 0%, 100%, 0) 0);
    }
  }
}

.offer {
  height: 30px;
  color: var(--widthdraw_tip_text_color);
  padding: 5px 14px;
  width: 100%;
}

.exchange-rate,
.actual-money,
.crypto-block {
  .time {
    color: var(--wallet_border_color);
  }
}

.check-header {
  border-radius: 3px 3px 0 0;

  .title {
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
  }
}

.check-container {
  border-radius: 3px;
}
