// 資金明細
.bank-money-detail {
    padding: 0 5.3%;

    .main-title {
        margin: 0 0 20px;

        h1 {
            float: left;
            color: #262626;
            font-size: 18px;
            font-weight: bold;
        }
    }

    select {
        background: url("/static/image/member_select_bg_arrow.png") 95% 50% no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }

        &::-ms-value {
            color: #999;
            background: transparent;
        }
    }

    .money-detail-field {
        margin-bottom: 15px;

        /deep/ .main-input {
            border-radius: 4px;
            border: 1px solid #E8E8E8;
            background-color: #FFF;
            height: 37px;
            line-height: 37px;
            color: #999;
            font-family: sans-serif;
            font-size: 17px;
        }

        .select-list {
            margin-bottom: 7px;
            padding-left: 3%;
            width: 100%;
            height: 39px;
            line-height: 39px;
        }

        .calendar-wrap {
            margin-bottom: 7px;

            /deep/ .main-calendar {
                width: 48.4%;

                .vdp-datepicker__calendar {
                    width: 270px;
                    font-family: 標楷體, "Microsoft JhengHei", 微軟正黑體, arial, helvetica, sans-serif;
                }

                &.left {
                    float: left;
                }

                &.right {
                    float: right;
                    .vdp-datepicker__calendar {
                        right: 0;
                    }
                }

                .main-input {
                    float: none;
                    padding-left: 8.3%;
                    width: 100%;
                    height: 39px;
                    line-height: 39px;
                    font-size: 15px;
                    letter-spacing: 1px;
                    cursor: pointer;
                }
            }

            .date-line {
                float: left;
                width: 3.2%;
                line-height: 39px;
                text-align: center;
            }
        }

        .main-btn {
            width: 100%;
            height: 39px;
            line-height: 39px;
            text-align: center;
            cursor: pointer;
            border-radius: 4px;
            color: $btnColor;
            background: $btnBg;

            &:hover {
                background: $btnBgHover;
            }
        }
    }

    .money-detail-sort {
        margin-bottom: 15px;

        .sort-date {
            float: right;
            background-color: #CCC;
            background-repeat: no-repeat;
            background-image: url("/static/image/record_sort_icon.png");
            width: 40px;
            height: 40px;
            cursor: pointer;

            &.small {
                background-position: 50% 100%;
            }

            &.big {
                background-position: 50% 0;
            }

            &:hover,
            &.current {
                background-color: $secBtnBg;
            }
        }
    }

    .main-table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        color: $tableBodyColor;
        font-size: 14px;

        th,
        td {
            margin: 0;
            padding: 0;
        }

        th {
            height: 40px;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            text-align: center;
        }

        thead {
            tr {
                border-width: 0 1px;
                border-style: solid;
                border-color: $tableTitleBorder;
                background: $tableTitleBg;
                color: $tableTitleColor;
            }

            &.mcenter-pc {
                display: none;
            }
        }

        tbody {
            tr {
                border-width: 1px 1px 0;
                border-style: solid;
                border-color: $tableBodyBorder;

                &.mcenter-pc {
                    display: none;
                }
            }

            td {
                padding: 5px 0;
                line-height: 30px;
                text-align: center;
                min-height: 30px;

                &.negative {
                    color: #F00;
                }

                &.memo {
                    padding-left: 2%;
                    text-align: left;
                }
            }

            table {
                margin-bottom: 40px;
                border-bottom: 1px solid $tableBodyBorder;

                &.pad {
                    width: 100%;

                    tr {
                        &.title {
                            background: #C3C3C3;
                            color: #FFF;
                            font-weight: bold;
                        }
                    }

                    td {
                        &.caption {
                            padding-left: 3%;
                            width: 38%;
                            text-align: left;
                        }

                        &.content {
                            padding-left: 3%;
                            width: auto;
                            text-align: left;
                        }
                    }
                }
            }
            .no-data {
                padding: 5px 0;
                line-height: 30px;
                color: $tableNoDataColor;
            }
        }

        .time {
            width: 16%;
        }

        .type {
            width: 19%;
        }

        .tran,
        .amount {
            width: 14%;
            padding-right: 2%;
            text-align: right;
            white-space: nowrap;
        }

        .number {
            width: 14%;
        }

        .memo {
            width: 24%;
        }
    }
}

// pad
@media screen and (min-width: $phone) {
    .bank-money-detail {
        .money-detail-field {
            /deep/ .main-input {
                float: left;
            }

            .calendar-wrap {
                float: left;
                margin-bottom: 0;
                width: 73%;

                /deep/ .main-calendar {
                    width: 48.5%;

                    &.right {
                        float: left;
                    }
                }

                .date-line {
                    width: 3%;
                }
            }

            .main-btn {
                float: right;
                width: 26%;
            }
        }
    }
}

// pc
@media screen and (min-width: $pad) {
    .bank-money-detail {
        .money-detail-field {
            .select-list {
                margin-bottom: 0;
                margin-right: 1.4%;
                padding-left: 1.2%;
                width: 27.9%;
            }

            .calendar-wrap {
                width: 57%;
            }

            .main-btn {
                width: 12.4%;
            }
        }

        .main-table {
            border-bottom: 1px solid #CCC;

            thead {
                &.mcenter-pc {
                    display: none;
                    display: table-header-group;
                }
            }

            tbody {
                tr {
                    &.mcenter-pc {
                        display: table-row;
                    }
                }

                table {
                    display: none;
                }
            }
        }
    }
}
