@import "~@/css/variable.scss";

.theme-basic,
.theme-brilliant {
    $color: #69A1E8;
    $colorHover: #71BFF5;
    $vipValueColor: #5C8CCC;
    $mainInputYetColor: #F28CA2;
    $mainInputYetBorderColor: #FF4E74;
    @import './vip.scss';
}

.theme-theme3 {
    $color: #DFAF50;
    $colorHover: #E2BA6C;
    $vipValueColor: #DFAF50;
    $mainInputYetColor: #DFAF50;
    $mainInputYetBorderColor: #DFAF50;
    @import './vip.scss';
}

.theme-519 {
    $color: #F97D61;
    $colorHover: #DB6348;
    $vipValueColor: #F97D61;
    $mainInputYetColor: #F28CA2;
    $mainInputYetBorderColor: #FF4E74;
    @import './vip.scss';
}

.theme-miller {
    $color: #F7B500;
    $colorHover: #FFD152;
    $vipValueColor: #F7B500;
    $mainInputYetColor: #F28CA2;
    $mainInputYetBorderColor: #FF4E74;
    @import './vip.scss';
}
