@import "./porn1.module.scss";


.dropdown-wrap {
    li {
        color: #A6A9B2;
        border: 1px solid #eee;

        &.active {
            color: #FFF;
            background: #E42A30;
            background-image: unset;
            background-image: unset;
        }
    }
}

.time-cancel {
    color: #FFF;
    background: #222222;
    background-image: unset;
    background-image: unset;
}

.time-confirm {
    color: #FFF;
    background: #E42A30;
    background-image: unset;
    background-image: unset;
}

.no-data-wrap {
    .btn-money {
        border-radius: 5px;
        background: #E42A30;
        color: #FFF;
    }
}
