@import "@/css/variable.scss";

.menu-wrap {
    width: 100%;
    padding: 8px 17px;
    background: #FFF;
    position: relative;
}

.menu-select-game {
    min-width: 96px;
}

.menu-select-time {
    width: 96px;
    position: relative;

    &.custom {
        padding-left: 65px;
    }
}

.menu-select-game,
.menu-select-time {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 9px;
    background: #F7F8FB;
    text-align: center;
    border-radius: 16px;

    &:first-child {
        min-width: 96px;
    }

    &:after {
        content: "";
        display: inline-block;
        margin-left: 5px;
        transform: translateY(2px);
        border: 4px solid transparent;
        border-top-color: #414655;
    }

    &.active {
        &:after {
            content: "";
            display: inline-block;
            margin-left: 5px;
            border: 4px solid transparent;
            // border-top-color: #A5A9B3;

            border-bottom-color: #414655;
            transform: translateY(-3px);
        }
    }
}

.select-custom {
    width: 70px;
    position: absolute;
    left: calc(50% - 4px);
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;

    p {
        line-height: 15px;
        margin-bottom: 0;
    }
}

.time-remind {
    padding-left: 15px;
    line-height: 17px;
    font-size: 12px;
    color: #A5A9B3;

}

.dropdown-mask {
    width: 100%;
    height: calc(100vh - 138px);
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 4;
    background: #000;
    opacity: 0.5;
}

.dropdown-wrap {
    width: 100%;
    padding: 15px 7px 15px 17px;
    margin: 7px 0 0;
    position: absolute;
    // top: 75px;
    left: 0;
    z-index: 5;
    background: #FFF;
    list-style: none;
    border-top: 1px solid #eee;

    ul {
        padding: 0 8px 0 15px;
        margin: 0;

        &.default-active {
            margin-bottom: 15px;
        }
    }

    li {
        float: left;
        width: calc(25% - 10px);
        height: 33px;
        line-height: 31px;
        margin-right: 10px;
        text-align: center;
        font-size: 12px;
        color: #A6A9B2;
        border: 1px solid #A6A9B2;
        border-radius: 3px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.active {
            line-height: 33px;
            color: #FFF;
            background: #BD9D7D;
            background-image: -webkit-linear-gradient(right, #BD9D7D, #F9DDBD);
            background-image: linear-gradient(right, #BD9D7D, #F9DDBD);
            border: none;
        }

        &:nth-child(n+5) {
            margin-top: 9px;
        }
    }
}

.dropdown-wrap-time {
    padding: 15px 0 0;
}

.custom-wrap {
    padding: 0 10px 0 14px;
}

.custom-date {
    padding: 16px 0;
    background: url('/static/image/_new/common/arrow_next.png') no-repeat right 0 center;
    background-size: 15px 15px;
    border-bottom: 1px solid #EEE;

    p {
        margin-bottom: 0;
    }
}

.custom-title {
    float: left;
    line-height: 19px;
    font-size: 14px;
    font-weight: 700;
    color: #414655;
}

.custom-time {
    float: right;
    line-height: 19px;
    padding-right: 20px;
    font-size: 12px;
    color: #414655;
}

.time-cancel,
.time-confirm {
    float: left;
    width: 50%;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.time-cancel {
    background: #FAF5F0;
    color: #BE9E7F;
}

.time-confirm {
    color: #FFF;
    background: #BD9D7D;
    background-image: -webkit-linear-gradient(right, #BD9D7D, #F9DDBD);
    background-image: linear-gradient(right, #BD9D7D, #F9DDBD);
}

.total-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 17px;
    font-size: 12px;
    color: #414655;
}

.info-item {
    background: #FFF;
    margin-bottom: 10px;
    font-size: 12px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 17px;
    border-bottom: 1px solid #EEE;
}

.friend-name {
    color: #A6A9B2;
}

.item-content {
    padding: 10px 17px;
}

.item-detail {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.item-detail-title {
    color: #A6A9B2;
}

.item-detail-result {}

.no-data-wrap {
    width: 180px;
    height: 292px;
    margin: 20% auto 0;

    >img {
        display: block;
        width: 100%;
    }

    .tips {
        line-height: 22px;
        margin: 16px 0 29px;
        color: #A6A9B2;
        font-size: 16px;
        text-align: center;
    }

    .btn-money {
        width: 140px;
        height: 45px;
        line-height: 45px;
        margin: 0 auto;
        border-radius: 3px;
        background: linear-gradient(to left, #BD9D7D, #F9DDBD);
        color: #FFF;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
    }
}

.date-tip {
    position: absolute;
    min-width: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2%;
    background: #dbdbdb;
}

.search-tips {
    height: 25px;
    line-height: 25px;
    color: #A6A9B2;
}
