@import "./porn1.module.scss";

.tab-item {
  color: var(--mcenter_slider_text_color);

  &.is-current {
    color: var(--mcenter_slider_text_active_color);

    &::after {
      background: var(--mcenter_slider_underline_active_color);
    }
  }
}
