@import "src/css/variable.scss";

.card-wrap {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 6px 6px 0 0;
    background: rgba(53, 51, 56, 0.6);
}

.game-wrap-inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.game-nav-wrap {
    padding-bottom: 2px;
    background: url('/static/image/card/title_bg.png') 50% 0 repeat-x;
}

.current-nav-bg {
    display: block;
    line-height: 42px;
    padding-left: 31px;
    font-size: 18px;
    color: #BBB;
}

.nav-btn {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: auto;
    min-width: 100px;
    height: 45px;
    line-height: 45px;
    padding: 0 8px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #FFF;

    &.current,
    &:hover {
        background-image: url('/static/image/card/title_btn.png'), url('/static/image/card/title_btn.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 0 0, 100% -90px;

        .nav-text {
            background: url('/static/image/card/title_btn.png') 50% -45px repeat-x;
        }
    }
}
