.preset-color {
    $headerBg: url('/static/image/mobile/mcenter/bg_header2_iphone8.png') 50% 0 / 100% no-repeat #222;
    $headerColor: #F4D8AF;
    @import './header.module.scss';    
}

.site-500011,
.site-52,
.site-53 {
    $headerBg: #000;
    $headerColor: #FFF;
    @import './header.module.scss';  
}


