.all-friends-table {
    width: 100%;
    margin: 11px 0 26px;
    border-bottom: 1px solid #CCC;
    border-collapse: collapse;

    tr {
        border-width: 1px 1px 0;
        border-style: solid;
        border-color: #CCC;
    }

    th {
        height: 40px;
        background-color: #CCC;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
    }

    td {
        min-height: 30px;
        line-height: 30px;
        padding: 5px 3px;
        color: #313F52;
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
    }

    .total {
        background-color: #CCC;
    }

    .register,
    .deposit,
    .withdraw {
        background-color: #EEE;
    }
}

.theme-miller {
    .all-friends-table {
        th {
            background-color: #292929;
        }
    }
}
