@charset 'UTF-8';

@import "~@/css/variable.scss";

.agcenter-bg {
    min-width: 960px;
    min-height: 100%;
    background: #FFF url('/static/image/agent/theme3/bg.png') 0 68px no-repeat;
    word-break: break-all;

    &.zh-cn {
        font-family: STHeiti,"Microsoft YaHei", "微软雅黑", "SimSun", "宋体",arial;
    }
    &.zh-tw {
        font-family: "Microsoft JhengHei","微軟正黑體",arial,helvetica,sans-serif;
    }

    .agcenter-wrap {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    // 右側外框
    .agcenter-content-wrap {
        float: right;
        width: 79%;
        .agcenter-content {
            border-radius: 5px;
            background-color: #FFF;
        }
    }
}

.agcenter-content-main {
    padding: 18px 5.3% 56px;
    min-height: 670px;

    &.page-accountBankCard,
    &.page-financeWithdraw {
        padding: 18px 2%;
    }
    &.page-accountData {
        min-height: 0;
        padding: 0;
    }
}

.mcenter-feedback {
    border: 1px solid #E5E5E5;
}
