@import "~@/css/variable.scss";

.activity-wrap {
  height: calc(100vh - 90px);
  overflow-y: auto;
}

.game-item-wrap {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-row-gap: 20px;
  text-align: left;
  padding-top: 43px;
}

.empty-wrap {
  padding-top: 90px;
  color: #a6a9b2;
  font-size: 16px;
  text-align: center;
  height: calc(100vh - 43px);
}

.empty-icon {
  margin: 0 auto 20px;
  width: 62px;
  height: 62px;
  background: url("/static/image/common/ic_search_none.png") 0 0 / contain
    no-repeat;
}

// Game Item
.game-item {
  position: relative;
  margin: 0 10px;

  &.in-game-lobby {
    position: relative;
    display: inline-block;
    width: calc(100% / 3 - 10px);
    height: 112px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    // border: 1px solid #eee;
    // background-size: 100%;
    // background: #fff;
  }
}

.game-image {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  & .bg {
    z-index: 1;
  }

  & .status {
    bottom: 0%;
    height: 40%;
    position: absolute;
    right: 5%;
    width: 40%;
    z-index: 2;
  }

  & .item {
    position: absolute;
    top: 19.5%;
    left: calc(50% - 55px);
    width: 110px;
    z-index: 2;
    height: 110px;
    margin: 0 auto;
  }

  &.in-game-lobby {
    width: 95%;
    max-width: 112px;
    height: 95%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    position: relative;

    .item {
      padding: 8%;
      z-index: 2;
      position: relative;
      top:unset;
      left: unset;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }

    .status {
      left: 5%;
      top: 5%;
      height: 40%;
      position: absolute;
      width: 40%;
    }
  }
}

.game-text {
  font-size: 12px;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Bold;
  font-weight: 700;
  text-align: left;
  color: #9ca3bf;
  z-index: 2;
  position: absolute;
  left: 26px;
  line-height: 25px;
}

.label-block {
  margin: 0 auto;
  max-width: 768px;
  min-width: 320px;
  position: fixed;
  width: 100%;
  max-width: $mobile_max_width;
  z-index: 5;
  background: white;
  top: 43px;
}

@media (orientation: landscape) {
  .label-block {
    max-width: $mobile_max_landscape_width !important;
  }
}

.nav-item {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  padding: 7px 0;
  text-align: center;
  font-size: 12px;
  height: 43px;
  margin: 0 5px;

  div {
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    outline: none;
    border: 1px solid #d5bea4;
    font-size: 12px;
    color: #bf8646;
    background: none;
    border-radius: 3px;

    &:active,
    &.is-current {
      background: #bd9d7d;
      background-image: -webkit-linear-gradient(right, #bd9d7d, #f9ddbd);
      background-image: linear-gradient(right, #bd9d7d, #f9ddbd);
      color: #fff;
    }
  }
}

@media (orientation: landscape) {
  .game-item {
    margin: 0 auto;
  }

  .game-image {
    height: auto !important;

    & .item {
      top: 19.5%;
      left: calc(50% - 40%);
      width: 80%;
      height: 80%;
    }
  }

  .game-image img {
    // height: auto !important;
  }

  .game-text{
    left: 48px;
    line-height: 55px;
    font-size: 18px;
  }
}
