@import "@/css/variable.scss";

.content {
  position: relative;
  width: 100%;
}

.header {
  position: relative;
  height: 300px;
}

.header-background {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.header-desc,
.header-icon {
  margin-left: 20px;
}

.header-desc {
  position: absolute;
  top: 40%;
  color: #fff;
  transform: translateY(-50%);

  div:first-of-type {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
  }
}

.header-icon {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  display: flex;

  .icon {
    padding-right: 10px;

    .img {
      width: 28px;
      height: 28px;
      margin: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .text {
      color: #bf8646;
      font-size: 10px;
      margin-top: 2.5px;
    }
  }
}

.card-wrap {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: -50px 14px 0;

  .card {
    // width: 30%;
    flex: 1;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.05);
    text-align: center;

    &.isSingle {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 0;
    }

    .img {
      width: 50px;
      height: 50px;
      margin: 20px auto 0;

      &.isSingle {
        margin: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .isSingle {
      text-align: left;
      margin-left: 15px;
    }

    .text {
      color: $main_text_color3;
      padding: 10px 0;
      font-weight: 700;
    }

    .download {
      display: inline-block;
      color: #be9e7f;
      font-size: 12px;
      padding: 4px 12px;
      margin-bottom: 15px;
      border: 1px solid #be9e7f;
      border-radius: 3px;
    }
  }
}

.info-card,
.info-card2 {
  color: white;
  background-image: -webkit-linear-gradient(196deg, #f8d5c0, #ce8a70);
  background-image: linear-gradient(254deg, #f8d5c0, #ce8a70);
  margin: 15px;
  height: 100px;
  border-radius: 10px;
  position: relative;

  -webkit-box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);

  >div:first-child {
    display: flex;
    flex-direction: column;
    padding: 14px;
    background-image: url("/static/image/common/service/bg_service01.png");
    background-size: auto 100%;
    background-position: top 0 right 0;
    height: 100%;
    background-repeat: no-repeat;

    >div {
      height: 25px;
      line-height: 25px;
    }

    >div:first-child {
      font-size: 20px;
      display: flex;
      align-items: center;
    }

    >div:nth-child(2) {
      color: hsla(0, 0%, 100%, 0.5);
    }

    >div>img {
      width: 24px;
      height: 24px;
    }
  }
}

.info-card2 {
  margin-top: 20px;
  background-image: -webkit-linear-gradient(16deg, #8ab3e2, #b5d0ef);
  background-image: linear-gradient(74deg, #8ab3e2, #b5d0ef);

  >div:first-child {
    background-image: url("/static/image/common/service/bg_service02.png");
  }
}

.btn-next {
  position: absolute;
  height: 100%;
  top: calc(50% - 7px);
  right: 14px;

  >img {
    height: 14px;
    width: 14px;
  }
}
