@import "./porn1.index.scss";

.header-icon {
  .icon {
    .text {
      color: $webview_icon_text;
    }
  }
}

.card-wrap {
  .card {
    .text {
      color: #5e626d;
    }

    .download {
      background: $main_gradient_color1;
      border: none;
      color: #fff;
    }
  }
}
