@import "./porn1.index.scss";

.header-icon {
  .icon {
    .text {
      color: var(--webview_icon_text);
    }
  }
}

.card-wrap {
  .card {
    .text {
      color: #5e626d;
    }

    .download {
      background: #000;
      border-radius: 12px;
      border: none;
      color: #fff;
    }
  }
}

.info-card {
  background-image: -webkit-linear-gradient(196deg, #fd5183, #e53266);
  background-image: linear-gradient(254deg, #fd5183, #e53266);
}

.info-card2 {
  margin-top: 20px;
  background-image: -webkit-linear-gradient(16deg, #61d2eb, #4cbed8);
  background-image: linear-gradient(74deg, #61d2eb, #4cbed8);
}
