@import '~@/css/variable.scss';

.first-friends-table {
    margin-top: 7px;
    border-top: 1px solid #BBB;

    .thead {
        background-color: #ECECEC;

        .column {
            padding: 2% 1%;
            color: #666;
            text-align: center;
        }
    }

    .tbody {
        margin-bottom: 10px;

        .column {
            padding: 4% 1%;
            background-color: #FFF;

            &:before {
                content: '';
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
            }
        }

        .number,
        .online,
        .username {
            text-align: center;
        }

        .balance {
            text-align: right;
        }
    }

    .row {
        border-bottom: 1px solid #BBB;
    }

    .column {
        float: left;
        line-height: 12px;
        color: #000;
        font-size: 12px;
        word-break: break-all;

        span {
            display: inline-block;
            vertical-align: middle;
        }

        .money {
            max-width: 70%;
        }

        .icon-online {
            width: 10px;
            height: 10px;
            background-image: url('/static/image/mobile/mcenter/icon_offline.png');
            background-position: 0 0;
            background-size: 10px;
            background-repeat: no-repeat;

            &.active {
                background-image: url('/static/image/mobile/mcenter/icon_online.png');
            }
        }

        .icon-info {
            width: 12px;
            height: 12px;
            margin: 0 7px 0 15px;
            background-image: url('/static/image/mobile/mcenter/icon_news_n.png');
            background-position: 0 0;
            background-size: 12px;
            background-repeat: no-repeat;

            &.active {
                background-image: url('/static/image/mobile/mcenter/icon_news_h.png');
            }
        }
    }

    .number {
        width: 10%;
    }

    .online {
        width: 15%;
    }

    .username {
        width: 35%;
    }

    .balance {
        width: 40%;
    }

    .info-wrap {
        clear: both;
        margin-bottom: 3%;
        padding-top: 3%;
        background-color: #EEE;
    }

    .info-row {
        line-height: 12px;
        padding-bottom: 3%;
        font-size: 12px;

        div {
            overflow: hidden;
            float: left;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .title {
            width: 35%;
            padding: 0 3%;
            color: #353B5D;
        }

        .info,
        .info-online,
        .info-status {
            width: 65%;
        }

        .info {
            color: #353B5D;
        }

        .info-online {
            .active {
                color: #009685;
            }
        }

        .info-status {
            .enable {
                color: #009685;
            }

            .disable {
                color: #F00;
            }

            .locked,
            .bankrupt {
                color: #4A5366;
            }
        }
    }
}

@media screen and (min-width: $phone) {
    .first-friends-table {
        .column {
            line-height: 15px;
            font-size: 15px;

            .icon-online {
                width: 13px;
                height: 13px;
                background-size: 13px;
            }

            .icon-info {
                width: 19px;
                height: 19px;
                background-size: 19px;
            }
        }

        .info-row {
            line-height: 15px;
            font-size: 15px;
        }
    }
}

@media screen and (min-width: $pad) {
    .first-friends-table {
        .column {
            line-height: 24px;
            font-size: 24px;

            .icon-online {
                width: 21px;
                height: 21px;
                background-size: 21px;
            }

            .icon-info {
                width: 30px;
                height: 30px;
                background-size: 30px;
            }
        }

        .info-row {
            line-height: 24px;
            font-size: 24px;
        }
    }
}
