@import '~@/css/variable.scss';

.management-wrap {
    height: 100%;
    min-height: calc(100vh - 120px);
    background-color: #ECECEC;
}

.top-link-wrap {
    position: relative;
    background-color: #292E47;

    > div {
        margin: 2% 1%;
    }

    .recommend,
    .code {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0 1%;
        border-width: 1px;
        border-style: solid;
        border-radius: 50px;
        font-size: 12px;
        text-align: center;

        &:before {
            content: '';
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .copy,
    .qrcode {
        float: right;
        width: 7%;

        img {
            width: 100%;
        }

        .imgout {
            display: block;
        }

        .imgin {
            display: none;
        }

        &.active,
        &:hover {
            .imgout {
                display: none;
            }

            .imgin {
                display: block;
            }
        }
    }

    .recommend {
        left: 0;
        width: 28%;
        border-color: #009788;
        color: #009788;
    }

    .code {
        left: 30%;
        width: 50%;
        border-color: #0080FF;
        color: #0080FF;
    }

    .hide {
        display: none;
    }
}

.no-register {
    .code {
        left: 0;
    }
}

.first-level-info {
    .level-info {
        position: relative;
        float: left;
        width: 20%;
        border-right: 1px solid #BBB;
        color: #363C5D;
        background-color: #ECECEC;
        background-position: 0 0;
        background-size: 100%;
        background-repeat: no-repeat;

        &:last-child {
            border-right-color: #ECECEC;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .number,
    .text {
        position: absolute;
        width: 100%;

        span {
            display: inline-block;
            vertical-align: middle;
        }

        &:before {
            content: '';
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }
    }

    .number {
        top: 0;
        bottom: 50%;
        line-height: 16px;
        padding: 0 15%;
        font-size: 16px;
        text-align: left;
    }

    .text {
        top: 50%;
        bottom: 0;
        line-height: 12px;
        padding: 0 1px;
        font-size: 12px;
        text-align: center;
    }
}

.page-select {
    border-bottom: 1px solid #BBB;
    background-color: #FFF;

    > div {
        border: none !important;
        border-radius: 0 !important;
        text-align: center !important;
    }
}

.datepicker-wrap {
    margin-bottom: 7px;
    border-bottom: 1px solid #BBB;
    background-color: #FFF;
    font-size: 12px;

    /deep/ {
        .flatpickr-input {
            float: left;
            width: 66%;
            height: 30px;
            border: none;
            color: #000;
            text-align: center;
        }
    }

    .date-btn {
        float: left;
        width: 17%;
        height: 30px;
        line-height: 30px;
        border-right: 1px solid #BBB;
        background-color: #FFF;
        color: #000;
        text-align: center;

        &.active {
            border-right: none;
            background-color: #363C5D;
            color: #FFF;
        }
    }
}

@media screen and (min-width: $phone) {
    .top-link-wrap {
        .recommend,
        .code {
            font-size: 14px;
        }
    }

    .first-level-info {
        .number {
            line-height: 22px;
            font-size: 22px;
        }

        .text {
            line-height: 14px;
            font-size: 14px;
        }
    }

    .page-select {
        select {
            height: 44px;
            font-size: 19px;
        }
    }

    .datepicker-wrap {
        font-size: 19px;

        /deep/ {
            .flatpickr-input {
                height: 44px;
            }
        }

        .date-btn {
            height: 44px;
            line-height: 44px;
        }
    }
}

@media screen and (min-width: $pad) {
    .top-link-wrap {
        .recommend,
        .code {
            font-size: 23px;
        }
    }

    .first-level-info {
        .number {
            line-height: 36px;
            font-size: 36px;
        }

        .text {
            line-height: 23px;
            font-size: 23px;
        }
    }

    .page-select {
        select {
            height: 71px;
            font-size: 30px;
        }
    }

    .datepicker-wrap {
        font-size: 30px;

        /deep/ {
            .flatpickr-input {
                height: 71px;
            }
        }

        .date-btn {
            height: 71px;
            line-height: 71px;
        }
    }
}
