.recommend-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
}

.top-recommend-wrap {
    position: relative;
    height: 44px;
    background-color: #363C5D;
    text-align: center;

    .close {
        position: absolute;
        top: 14px;
        left: 22px;
        width: 16px;
        height: 16px;
        background: url('/static/image/mobile/mcenter/icon_close.png') 0 0 no-repeat;
        background-size: 100%;
    }

    .title {
        line-height: 44px;
        color: #FFF;
        font-size: 14px;
    }
}

.register-wrap {
    width: 80%;
    margin: 74px auto 0;
}

.input-field {
    position: relative;
    margin-bottom: 28px;
    font-size: 12px;

    input {
        width: 100%;
        height: 35px;
        padding: 0 10px;
        border: 1px solid #B8BAC1;
        border-radius: 5px;
        background-color: #EEE;
        color: #101010;
        outline: none;

        &.active {
            border-color: #646981;
        }

        &.error {
            border-color: #FF4C4C;
            color: #FF4C4C;
        }

        // Chrome/Opera/Safari
        &::-webkit-input-placeholder {
            color: #B8B9C0;
        }

        // Firefox 19+
        &::-moz-placeholder {
            color: #B8B9C0;
        }

        // IE 10+
        &:-ms-input-placeholder {
            color: #B8B9C0;
        }

        // Firefox 18-
        &:-moz-placeholder {
            color: #B8B9C0;
        }
    }

    button {
        width: 100%;
        height: 35px;
        line-height: 35px;
        margin-top: 14px;
        border: none;
        border-radius: 5px;
        background-color: #646981;
        color: #FFF;
        text-align: center;
        outline: none;
    }

    .tips,
    .message {
        position: absolute;
        top: 38px;
        left: 0;
        width: 100%;
        text-align: right;
    }

    .tips {
        color: #999;

        &.error {
            color: #FF4C4C;
        }
    }

    .message {
        color: #FF4C4C;
    }
}
