.game-record-wrap {
    position: relative;
    padding: 0 5.3% 50px;
}

.form {
    margin-bottom: 20px;

    .field-account:global(.ui.input) {
        margin-right: 1%;
        width: 19%;
        input {
            width: inherit;
        }
    }
}

.title {
    margin: 0 0 20px;
    color: #999;
    font-size: 18px;
    font-weight: bold;

    span {
        &:first-child {
            color: #262626;
        }
    }
}

.btn-back {
    position: absolute;
    top: 20px;
    right: 5%;
    min-width: 100px;
    height: 39px;
    line-height: 39px;
    border-radius: 4px;
    background: #55B9FF;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.inq-game {
    display: inline-block;
    margin-right: 1%;
    width: 19%;
    vertical-align: top;
}

.date-picker {
    display: inline-block;
    width: 19%;
    vertical-align: top;

    > div,
    input {
        width: 100%;
    }

    > .calendar {
        top: 42px;
        width: 260px;
    }
}


.line {
    display: inline-block;
    width: 8px;
    line-height: 38px;
    text-align: center;
    vertical-align: top;
}

.is-link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.btn-inquire {
    display: inline-block;
    background-color: #55B9FF;
    margin-left: 1%;
    width: 100px;
    height: 38px;
    line-height: 38px;
    color: #FFF;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
}

.theme-miller {
    .btn-back, .btn-inquire {
        background: #F7B500;
        color: #292929;

        &:hover {
            background: #FFD152;
        }
    }
}

.no-data {
    padding: 5px 0;
    line-height: 30px;
    border: 1px solid #CCC;
    text-align: center;
    color: #313F52;
}
