@import '~@/css/fckeditor.scss';
@import '~@/css/variable.scss';
$tableNoDataColor: initial;

.theme-basic,
.theme-brilliant {
    $tableBodyBorder: #CCC;
    $tableBodyColor: #313F52;
    $tableBodyBg: initial;
    $tableTitleBg: #CCC;
    $tableTitleBorder: #CCC;
    $tableTitleColor: #FFF;
    $tableContentTitleColor: #55B9FF;
    $tableContentTitleColorHover: #262626;
    $tableNoDataColor: #313F52;
    $tableNoDataBorder: #CCC;
    @import './post.scss';
}

.theme-miller {
    $tableBodyBorder: #CCC;
    $tableBodyColor: #313F52;
    $tableBodyBg: initial;
    $tableTitleBg: #292929;
    $tableTitleBorder: #CCC;
    $tableTitleColor: #FFF;
    $tableContentTitleColor: #DFAF50;
    $tableContentTitleColorHover: #262626;
    $tableNoDataBorder: #CCC;
    $tableNoDataColor: #313F52;
    @import './post.scss';
}

.theme-theme3 {
    $tableBodyBorder: #CCC;
    $tableBodyColor: #313F52;
    $tableBodyBg: initial;
    $tableTitleBg: #CCC;
    $tableTitleBorder: #CCC;
    $tableTitleColor: #FFF;
    $tableContentTitleColor: #DFAF50;
    $tableContentTitleColorHover: #000;
    $tableNoDataBorder: #CCC;
    $tableNoDataColor: #313F52;
    @import './post.scss';
}

.theme-519 {
    $tableBodyBorder: #CA8C54;
    $tableBodyColor: #000;
    $tableBodyBg: #FFF;
    $tableTitleBg: #CECECE;
    $tableTitleBorder: #CA8C54;
    $tableTitleColor: #000;
    $tableContentTitleColor: #CA8C54;
    $tableContentTitleColorHover: #000;
    $tableNoDataBorder: #CA8C54;
    $tableNoDataColor: #313F52;
    @import './post.scss';

    // 公告
    .info-post {
        .main-title {
            h1 {
                color: #FFF;
            }
        }

        .main-table {
            th {
                font-weight: bold;
            }

            tbody {
                tr {
                    &.message-list {
                        .title {
                            color: #CA8C54;

                            &.caption {
                                color: #000;
                            }
                        }

                        &:hover {
                            .title {
                                color: #000;
                            }
                        }
                    }
                }

                .pad {
                    margin-bottom: 10px;
                    border-collapse: collapse;
                    border-spacing: 0;

                    td {
                        border-bottom: 1px solid #CA8C54;

                        &.number {
                            background: #CECECE;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: $pad) {
        .info-post {
            .main-title {
                h1 {
                    font-size: 20px;
                }
            }
        }
    }
}
