@import "~@/css/variable.scss";

.account-data {
    padding: 18px 5.3% 36px;
    .main-title {
        padding-bottom: 15px;
        span {
            float: left;
            color: $titleColor;
            font-size: 16px;
            font-weight: normal;
        }
    }
    .account-data-field {
        position: relative;
        margin-bottom: 15px;
        .main-input {
            position: relative;
            float: left;
            border: $fieldBorder;
            border-radius: $borderRadius;
            padding: 0 1% 0 2.6%;
            background: $fieldBgColor;
            width: 82.5%;
            height: auto;
            line-height: 37px;
            color: $fieldStatusColor;
            font-size: 14px;
            text-align: right;
            min-height: 37px;
            vertical-align: middle;
            font-family: sans-serif;
            label {
                position: absolute;
                top: 50%;
                left: 2.6%;
                margin-top: -18px;
                color: #000;
                font-size: 14px;
            }
            span {
                display: inline-block;
                padding-left: 86px;
                width: 100%;
            }
            .intrlink,
            .outlink {
                line-height: 20px;
                margin: 5px 0;
                vertical-align: middle;
                word-break: break-word;
            }
            &.yet {
                border-color: $fieldBorderYet;
                background: #FFF;
                color: $fieldStatusYetColor;
            }
            &.password {
                border-color: #CDCDCD;
                background: #FFF;
                color: $fieldStatusYetColor;
            }
        }
        .main-btn {
            float: right;
            border-radius: $borderRadius;
            background: $btnBg;
            height: 39px;
            line-height: 39px;
            color: $btnTextColor;
            text-align: center;
            cursor: pointer;
            &.agcenter-pc {
                display: none;
                width: 10.3%;
                font-size: 14px;
            }
            &.icon {
                width: 16.3%;
                line-height: 58px;
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
            &:hover {
                background: $btnHoverBg;
            }
        }
    }
}

.receipt-address-data {
    margin-top: 50px;
    padding: 35px 15.6% 56px 5.2%;
    background: url("/static/image/member_repeat_x.png") 0 0 repeat-x;
}

// pc
@media screen and (min-width: $pad) {
    .account-data {
        .account-data-field {
            .main-input {
                width: 88.5%;
            }
            .main-btn {
                &.agcenter-pc {
                    display: block;
                }
                &.icon {
                    display: none;
                }
            }
        }
    }
}

// 收貨地址，之後會拔掉 --Kai
@media screen and (max-width: $phone) {
    .receipt-address-data {
        margin-top: 50px;
        padding: 5.3% 0;
    }
}
