@import "~@/css/variable.scss";

// 綁定裝置
.account-binding-device {
    padding: 35px 40px 56px;
    background: url("/static/image/agent/dotted.jpg") 0 0 repeat-x;

    .binding-device-title {
        margin-bottom: 20px;
        font-size: 16px;
        color: $titleColor;

        span {
            margin-left: 15px;
            font-size: 15px;
            color: $subTitleColor;
        }
    }

    .binding-device-table {
        .device-table-thead {
            display: none;
        }

        .device-table-wrap-type {
            display: table;
            width: 100%;
            text-align: left;
            margin-top: 20px;
            border: $tableBorder;
            border-collapse: collapse;
            background: $tableBg;

            .device-table-type {
                display: table-row;
                width: 100%;

                .device-title,
                .device-data {
                    display: table-cell;
                    vertical-align: middle;
                    width: 50%;
                    height: 50px;
                    padding: 5px 2.3%;
                }

                .device-title {
                    text-align: right;
                    font-size: 16px;
                    color: $theadColor;
                    background-color: $theadBg;
                }

                .device-data {
                    border: $tableBorder;
                    color: $tableColor;

                    .device-modify-wrap,
                    .device-delete-wrap {
                        margin-bottom: 10px;
                        text-align: center;

                        button {
                            display: inline-block;
                            max-width: 50%;
                            height: 35px;
                            margin: 0 1.8%;
                            padding: 0 6.2%;
                            cursor: pointer;
                            border-radius: $bdBtnBorderRadius;
                            color: #FFF;

                            &.modify-cancel-btn {
                                background-color: $cancelBtnBg;

                                &:hover {
                                    background-color: $cancelBtnHoverBg;
                                }
                            }

                            &.modify-confirm-btn {
                                background-color: $bdBtnBg;

                                &:hover {
                                    background-color: $bdBtnHoverBg;
                                }
                            }
                        }
                    }

                    .device-modify-wrap {
                        input {
                            width: 100%;
                            margin: 10px 0;
                            padding: 8px;
                            text-align: center;
                            border: $bdBorder;
                            border-radius: $bdBorderRadius;
                        }
                    }

                    .device-delete-wrap {
                        span {
                            display: block;
                            margin: 25px 0;
                        }
                    }

                    .device-name {
                        color: $nameColor;
                    }

                    .device-name-btn,
                    .device-delete-btn {
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                    }

                    .device-name-btn {
                        margin-left: 10px;
                    }

                    .device-delete-btn {
                        width: 30px;
                        height: 30px;
                        line-height: 36px;
                        border-radius: 15px;
                        position: relative;
                        color: #FFF;
                        background-color: $bdBtnBg;

                        svg {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &:hover {
                            background-color: $bdBtnHoverBg;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $pad) {
    .account-binding-device {
        padding: 35px 15.6% 56px 5.2%;

        .binding-device-table {
            display: table;
            width: 100%;
            margin: 0;
            border-collapse: collapse;

            .device-table-thead {
                display: table-header-group;
                font-size: 16px;
                color: $theadColor;
                background: $theadBg;

                .device-table-wrap-type {
                    background: none;
                }

                .device-table-type {
                    padding: 5px 2.7%;
                }
            }

            .device-table-tbody {
                display: table-row-group;
            }

            .device-table-wrap-type {
                display: table-row;
                text-align: center;

                .device-table-type {
                    display: table-cell;
                    vertical-align: middle;
                    width: auto;
                    height: 50px;
                    text-align: center;
                    border: $theadBorder;

                    &.device-modify-type,
                    &.device-delete-table {
                        width: 30%
                    }

                    .device-title {
                        display: none;
                    }

                    .device-data {
                        display: inline-block;
                        width: 100%;
                        height: auto;
                        padding: 5px 5.5%;
                        border: none;

                        .device-modify-wrap {
                            input {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
