.title-wrap {
    padding: 12px 5px 12px 20px;
    min-height: 40px;
    background-color: #EEE;
}
.isEdit {
    td:not(:last-child) {
        position: relative;
        &::after {
            content: '';
            height: 1px;
            width: calc(100% - 10px);
            background: #2692FE;
            position: absolute;
            bottom: 0;
            display: inline-block;
        }
    }
    .td-title::after {
        left: 10px;
    }
    .td-value::after {
        left: 0;
    }
}
.device-table {
    margin-bottom: 3px;
    width: 100%;
    font-size: 12px;
    border-top: 1px solid #BEBCBC;
    border-bottom: 1px solid #BEBCBC;
    border-collapse: collapse;
    background-color: #FFF;
    td {
        height: 30px;
        position: relative;
    }
    .td-title {
        padding: 0 10px;
        width: 35%;
        color: #000;
    }
    .td-value {
        padding: 0 10px;
        width: 50%;
        color: #000;
        text-align: right;
    }
    .td-delete {
        width: 15%;
        background-color: #F5F5F5;

        .btn-delete {
            display: block;
            margin: 0 auto;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: $editIconBg;
            color: $editIconColor;
            position: relative;
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    .btn-edit {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        position: relative;
        background: $editIconBg;
        color: $editIconColor;
        border-radius: 50%;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .text-name {
        display: inline-block;
        vertical-align: middle;
        word-break: break-all;
    }

    .input-name {
        display: inline-block;
        width: 60%;
        color: #000;
        border: none;
        outline: none;
    }
    .btn-wrap {
        display: inline-block;
    }
    .btn-cancel {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        background: url('/static/image/mobile/mcenter/btn_cancel.png') 0 0 / cover no-repeat;
    }

    .btn-confirm {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        background: url('/static/image/mobile/mcenter/btn_confirm.png') 0 0 / cover no-repeat;
    }
}
