@import "@/css/variable.scss";

.commission-list-wrap {
    position: relative;
    padding: 0 14px;
    width: 100%;
}

.total-block {
    display: flex;
    justify-content: space-between;
    color: $main_text_color3;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;

    span {
        flex: 1;

        &:nth-child(2) {
            flex: 1;
            text-align: right;
        }
    }
}

.list-block {
    position: relative;
    margin-top: 10px;
}
.card {
    background: $main_white_color1;
    color: $main_text_color3;
    border-radius: 8px;
    margin-bottom: 9px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        // padding-top: 9px;
        padding: 9px 9px 0 12px;

        &:last-of-type {
            padding: 9px 9px 9px 12px;
        }
    }

    .card-title {
        padding: 6px 9px 6px 12px;
        line-height: 21px;
        border-bottom: 1px solid #eee;
    }

    .card-name {
        font-size: 16px;
        font-weight: 700;
    }

    .period.period {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    .card-getNumber {
        &.is-negative {
            color: $main_error_color1;
        }

        &.has-detail {
            color: #6AAAF5;
        }

        &::before {
            content: "返利：";
            position: relative;
            color: $main_text_color3;
        }
    }

    .state-unqualified {
        color: $main_error_color1;
    }
}

.no-data {
    padding-top: 40px;
    text-align: center;

    img {
        display: inline-block;
        width: 174px;
        height: 174px;
        margin-bottom: 14px;
    }

    div {
        font-size: 14px;
        color: #a6a9b2;
    }
}
