@import "~@/css/tpl/index.scss";

.login-modal-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background: #000;
    opacity: 0.5;
}

.login-modal-wrap {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2001;
    overflow: auto;
}

.login-container {
    display: inline-block;
    margin: 10vh auto 0;
    position: relative;
    left: 50%;
    background: #FFF;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    transform: translateX(-50%);
}

.login-main {
    position: relative;
    font-size: 14px;
}

.login-shadow {
    width: 100%;
    height: 620px;
    position: absolute;
    top: 0;
    left: -10px;
    z-index: -1;
}

.login-banner {
    float: left;
    width: 330px;
    height: 610px;
    position: relative;
    z-index: 2;
    background: url('/static/image/tpl/17/login/login_left_img.png') 0 0 no-repeat;
}

.login-content {
    float: left;
    position: relative;
    background: #FFF;
}

.login-header {
    height: 45px;
    position: relative;
    background: url('/static/image/tpl/17/login/login_header_bg.png') 0 0 no-repeat;
}

.login-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('/static/image/tpl/17/close.png') no-repeat center;
    background-size: contain;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.login-body {
    padding: 25px 85px;
    background-color: #F9F9F9;
    height: 565px;
}

.login-title-box {
    width: 165px;
    margin-bottom: 15px;
    float: left;
}

.login-member-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    position: relative;
    text-align: center;
    color: #9DA4B3;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;

    &:before {
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #E0E2E7;
        content: '';
    }

    &.active {
        color: #1A1C2A;
    }

    &.active:before {
        height: 4px;
        background: #FFD152;
    }
}

.login-form {
    width: 330px;
    padding-top: 25px;
}

.form-group {
    margin-bottom: 30px;
    position: relative;
}

.form-group-slide {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.form-item-input {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 25px 0 10px;
    color: #000;
    background-color: #FFF;
    background-image: none;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    font-size: inherit;
    outline: 0;

    &::placeholder {
        color: #C3C2C2;
    }

    &:focus {
        border-color: #73A7F5;
    }


    &.error {
        border-color: #CF2A2A;
    }
}

.login-btn-box {
    margin: 40px 0 50px;
}

.slide-login-btn {
    margin-top: 40px;
}

.login-btn-send {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    background: #F7B500;
    border: 1px solid transparent;
    transition: all 0.38s;
    white-space: nowrap;
    outline: 0;
    cursor: pointer;
}

.login-assist {
    width: 100%;
    height: 27px;
    margin: 25px 0 10px;
    text-align: center;
}

.login-assist-btn {
    padding: 6px;
    text-align: center;
    font-size: 12px;
    color: #165DCA;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    &.login-assist-left {
        float: left;
    }

    &.login-assist-right {
        float: right;

        &.mobile-login {
            float: none;
        }
    }

    &:hover {
        text-decoration: underline;
    }
}

.login-footer {
    width: 330px;
    padding-top: 16px;
    margin-left: -165px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 15px;
    border-top: 1px solid #E1E3E3;
}

.custom-service {
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 14px;
    color: #9298A2;
    cursor: pointer;

    svg {
        transform: translateY(1px);
    }
}

.login-register-title {
    line-height: 33px;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.login-register-text {
    margin: 0;
    text-align: center;
    font-weight: 400;
}

.login-forget-title {
    line-height: 33px;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.login-forget-subtitle {
    line-height: 17px;
    margin: 5px 0 0;
    text-align: center;
    font-size: 12px;
    color: #9298A2;
}

.mobile-login-wrap {
    margin-top: 25px;

    .login-btn-send {
        margin-top: 40px;
    }
}

.area-code-wrap {
    position: relative;

    .form-item-input {
        float: left;
        margin-left: 17px;
        width: 240px;
    }

    .phone-error {
        display: block;
        position: absolute;
        left: 92px;
        bottom: -3px;
        font-size: 12px;
        color: #CF2A2A;
        transform: translateY(100%);
    }
}

.area-code {
    float: left;
    border: 1px solid #E0E2E7;
    border-radius: 2px;
    background: #FFF;
    width: 75px;
    line-height: 38px;
    font-size: 14px;

    &::after {
        content: '';
        float: left;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        margin: 13px 0 0 7%;
        width: 7px;
        height: 7px;
        transform: rotate(-45deg);
    }

    &.expand::after {
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: none;
        border-left: none;
        margin-top: 17px;
    }

    span {
        float: left;
        margin-left: 17%;
    }
}

.area-code-list-wrap {
    position: absolute;
    top: 47px;
    left: 0;
    padding: 10px;
    background: #FCFCFC;
    width: 330px;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.16);
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.16);
    z-index: 2;

    .area-code-list {
        border-bottom: 1px solid #F3F4F6;
        padding: 0 5px;
        line-height: 40px;
        color: #4C4C4C;
        opacity: 0.8;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}

.mobile-captcha-wrap {
    position: relative;
    margin-top: 30px;

    .form-item-input {
        float: left;
        width: 220px;
    }

    .send-captcha-btn {
        float: left;
        background: #F7B500;
        width: 109px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
    }

    .captcha-error {
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        font-size: 12px;
        color: #CF2A2A;
        transform: translateY(100%);
    }
}

.form-forget-label {
    line-height: 17px;
    margin: 0 0 5px;
    font-size: .12px;
    font-weight: 300;
    color: #9298A2;
}

.form-captcha {
    position: relative;
}

.register-btn-space {
    margin: 20px 0;
}

.register-link-space {
    margin: 0;
}

.login-captcha-img {
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.form-error {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    font-size: 12px;
    color: #CF2A2A;
    transform: translateY(100%);
}

/* 可以設置不同的進入和離開動畫 */
/* 設置持續時間和動畫函數 */
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}
