.footer-wrap {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    min-width: 320px;

    .footer {
        background: #363C5D;
        padding: 8px 4px 0;
        height: 55px;
        text-align: center;
        border-top: 2px solid #565479;
        color: #DFC59F;

        &.is-left {
            text-align: left;
        }

        span {
            display: inline-block;
            width: 20%;
            padding: 0 2px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            font-size: 13px;

            &.is-active {
                color: #DDD;
            }

            img {
                display: block;
                margin: 0 auto 5px;
                width: 17px;
                height: 15px;
            }
        }

        .promotion-btn {
            width: 20%;
            display: inline-block;

            span {
                width: 100%;
            }
        }
    }
}
