@import "~@/css/variable.scss";

.popup-wrap {
    background-color: #2C3049;
    height: 171px;
    font-size: 12px;
    overflow: hidden;

    &.more-enter-active,
    &.more-leave-active {
        transition: height 0.5s ease;
    }

    &.more-enter,
    &.more-leave-active {
        height: 0;
    }

    .popup-tab {
        position: relative;
        background-color: #363C5D;
        padding-left: 21px;
        padding-right: 37px;
        height: 35px;
        line-height: 35px;
        color: #FFF;

        .popup-close {
            position: absolute;
            top: 14px;
            right: 12px;
            width: 13px;
            height: 7px;
        }
    }

    .popup-content {
        padding: 0 2px;
        height: 136px;
        color: #DFC59F;
        text-align: center;

        .item-wrap {
            float: left;
            padding-top: 13px;
            width: 25%;
        }
        .item {
            margin: 0 auto;
            padding: 6px 3px 0;
            width: 62px;
            height: 48px;
            border: 1px solid #565479;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            div,
            img {
                display: block;
                margin: 0 auto 2px;
                width: 17px;
                height: 15px;
                background-size: 100%;

                &.imgin {
                    display: none;
                }
            }

            &:active {
                color: #FFF;

                .imgout {
                    display: none;
                }

                .imgin {
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: $phone) {
    .popup-wrap {
        .popup-content {
            padding: 0 15px;

            .item-wrap {
                width: 16.66%;
            }
        }
    }
}

@media screen and (min-width: $pad) {
    .popup-wrap {
        .popup-content {
            padding: 0 20px;

            .item-wrap {
                width: 14.28%;
            }
        }
    }
}
