@import "~@/css/variable.scss";

html {
  position: relative;
  overflow-y: auto;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  display: block;
  max-width: $mobile_max_width;

  min-width: 0;
  background-color: #f2f2f2;
  margin: 0 auto;
}

.content {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/image/porn1/common/bg.png");
  min-height: 100vh;
  padding-top: 30px;
  position: relative;
  overflow-x: hidden;

  &.ey1 {
    background-image: url("/static/image/ey1/common/bg.png");
  }

  &.sg1 {
    background-image: url("/static/image/sg1/common/bg.png");
  }
}

.logo-header {
  width: 100%;
  height: 60px;
  text-align: center;

  > img {
    height: 60px;
  }
}

.title {
  margin-top: 25px;
  width: 100%;
  height: 40px;
  font-size: 28px;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Bold;
  font-weight: 700;
  text-align: center;
  color: #b1977f;

  &.sg1 {
    color: #4e5159;
  }
}

.desc {
  width: 80%;
  line-height: 19px;
  font-size: 12px;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Regular;
  font-weight: 400;
  text-align: center;
  color: #9ca3bf;
  margin: 15px auto;

  &.has-time {
    margin-bottom: 0;
  }

  > span {
    color: #6aaaf5;
  }
}

.mail-link {
  color: #6aaaf5;
  border: none;
  outline: none;

  &.sg1 {
    color: #e61938;
  }
}

.tips {
  width: 100%;
  height: 19px;
  line-height: 19px;
  font-size: 14px;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Regular;
  font-weight: 400;
  text-align: center;
  color: #a6a9b2;
  margin: 0 auto;

  position: absolute;
  bottom: 2.5%;

  > span {
    color: #6aaaf5;

    &.sg1 {
      color: #e61938;
    }
  }
}

.main-img {
  width: 100%;
  height: 360px;
  text-align: center;

  > img {
    height: 100%;
  }
}

.time {
  width: 100%;
  text-align: center;
  line-height: 19px;
  font-size: 12px;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Regular;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;

  > div:first-child {
    width: 100%;
    color: #9ca3bf;
    text-align: center;
  }

  > div:last-child {
    margin-top: 8px;
  }

  span {
    color: #ff7700;
  }
}

.text {
  width: 80%;
  line-height: 19px;
  font-size: 12px;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Regular;
  font-weight: 400;
  text-align: center;
  color: #9ca3bf;
  margin: 0 auto;
}

@import "~@/css/variable.scss";
@import "~@/css/index.scss";

@media screen and (max-height: $pad) {
  .main-img {
    height: 300px;
  }

  .tips {
    margin-top: 30px;
    position: relative;
  }
}
