@import "./porn1.addCard.module.scss";

.input-title {
    color: #414655;
}

.info-confirm {
    p {
        color: #a6a9b2;
        margin-bottom: 20px;
        font-size: 12px;
    }
}

.submit {
    background: #e42a30;
    margin-top: 0;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
        background: #fdcccc;
    }
}

.send-keyring {
    background: #e42a30;
}

.phone-selected {
    border: 0px;
    background-color: #ffffff;
    margin-right: 10px;
}
