@import "./porn1.cardInfo.module.scss";

// 電子錢包卡片 item
.virtual-bankcard-item {
  position: relative;
  height: 70px;
  padding: 15px 8px 15px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(top, #ffe0e2, #eaa8ab);
  background-image: linear-gradient(top, #ffe0e2, #eaa8ab);

  &.history {
    background-image: -webkit-linear-gradient(top, #fde6e7, #f4dbdc);
    background-image: linear-gradient(top, #fde6e7, #f4dbdc);
  }

  .card-top {
    display: flex;
    margin-bottom: 10px;
  }

  .card-logo {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-radius: 50%;
    position: relative;

    img {
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .card-info {
    width: 80%;
    margin-left: 7px;
  }

  .card-name {
    font-size: 18px;
    font-weight: 500;
    color: $main_text_color3;
  }

  .card-number {
    color: $main_text_color3;
    padding-top: 4px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .audit-tip {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #db6372;
  }
}

.button-block {
  span {
    &:nth-child(2) {
      color: #e42a30;
    }
  }
}
