@import "~@/css/variable.scss";

// -----無資料-----
.no-data {
  padding-top: 125px;

  &.history {
    padding-top: 95px;
  }

  .no-bankcard {
    width: 180px;
    margin: 0 auto 25px;

    img {
      max-width: 100%;
      vertical-align: top;
    }
  }
}

// -----添加區塊-----
.add-wrap {
  margin-bottom: 10px;
  text-align: center;

  img,
  span {
    display: inline-block;
  }

  img {
    max-width: 18px;
    vertical-align: top;
  }

  span {
    line-height: 18px;
    margin-left: 6px;
    font-size: 16px;
    font-weight: 700;
    color: $main_text_color3;
  }

  .add-btn {
    padding: 31px 0;
    background: #fff;
    border-radius: 10px;
  }
}

.remind {
  font-size: 14px;
  color: #a6a9b2;
  text-align: center;
}

// -----銀行卡列表-----

.my-card {
  padding: 15px 17px 0;
}

.card-count {
  align-items: center;
  background-color: #f8f8f8;
  display: flex;
  height: 43px;
  line-height: 43px;
  position: fixed;
  top: 85px;
  max-width: 383px;
  z-index: 2;
  width: 100%;

  span {
    float: left;
    line-height: 24px;
  }

  .title {
    margin-right: 8px;
    font-size: 20px;
    font-weight: 700;
    color: $main_text_color3;
  }

  .count {
    font-size: 14px;
    color: $main_text_color3;
  }
}

.card-list {
  margin-bottom: 10px;
  margin-top: 72px;
}

.audit-block {
  position: relative;
  text-align: center;
  padding: 10px 0 23px;

  div {
    color: #db6372;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 2px;
  }

  span {
    color: #979797;
  }
}

.edit-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 0.5);
}

.edit-button {
  width: 100%;
  padding: 0 10px;
  position: fixed;
  bottom: 30px;
  left: 0;
  z-index: 5;
}

.edit-option-item {
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background: #eff0ef;
  border-radius: 8px;
  margin-bottom: 8px;

  &.confirm {
    color: #fb3b2f;
  }

  &.cancel {
    color: #067afc;
  }
}

// Popup Style
.pop-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
}

.pop-mask {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.pop-block {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $main_white_color1;
  border-radius: 8px;
}

.content {
  padding: 17px 18px;
  color: $main_text_color2;
  text-align: center;

  .title {
    color: $main_text_color3;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.button-block {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  border-top: 1px solid #f7f8fb;

  &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #f7f8fb;
  }

  span {
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: 700;

    &:nth-child(2) {
      color: #d1b79c;
    }
  }
}
