@import "~@/css/variable.scss";

.username-wrap {
  padding: 50px 0 0 14px;
  background: #fff;
}

.info-item {
  position: relative;
  padding-top: 15px;
  height: 80px;
  border-bottom: 1px solid #eee;
}

.input-title {
  margin-bottom: 10px;
  line-height: 16px;
  font-size: 14px;
  color: $main_text_color3;
}

// 錢包類型
.wallet-block {
  position: relative;
  color: #222;
}

.wallet-text {
  font-size: 12px;
  margin-bottom: 8px;
}

.wallet-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    font-size: 13px;

  .wallet-item {
    list-style-type: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #eee;
    cursor: pointer;

    &.is-current {
      border: 1px solid #d1b79c;
      color: #d1b79c;
      background: linear-gradient(-45deg, #d1b79c 10px, hsla(0, 0%, 100%, 0) 0);
    }
  }

  img {
    display: block;
    width: 7px;
    height: 5px;
    position: absolute;
    right: 1px;
    bottom: 2px;
  }
}

.input-wrap {
  padding-bottom: 15px;
  position: relative;

  input {
    width: 100%;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    color: $main_text_color3;
    background: transparent;
    border: none;
    outline: 0;
    padding: 0;

    &::-webkit-input-placeholder {
      font-size: 14px;
      color: $main_text_color2;
    }

    &::-moz-placeholder {
      font-size: 14px;
      color: $main_text_color2;
    }

    &:-ms-input-placeholder {
      font-size: 14px;
      color: $main_text_color2;
    }

    &::placeholder {
      font-size: 14px;
      color: $main_text_color2;
    }
  }

  &.has-name {
    border-bottom: 1px solid #eee;
  }

  &.disable {
    pointer-events: none;
  }
}

.qrcode {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  bottom: 15px;

  img {
    width: 100%;
    height: 100%;
  }
}

.username-remind {
  padding: 10px 14px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 17px;
  background: #f8f8f8;
  color: #a5a9a3;
}

.card-info {
  padding: 0 14px;
  background: #fff;
}

.info-confirm {
  padding: 20px 0;

  li {
    position: relative;
    color: $main_text_color2;
    font-size: 14px;
    list-style-type: none;
    padding-left: 10px;

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      top: 50%;
      left: 0;
      background: #a6a9b2;
      position: absolute;
      transform: translateY(-50%);
    }

    a,
    span {
      color: #6aaaf5;
      border-bottom: 1px solid #6aaaf5;
    }
  }
}

.submit {
  height: 45px;
  line-height: 45px;
  background: #bd9d7d;
  background-image: -webkit-linear-gradient(right, #bd9d7d, #f9ddbd);
  background-image: linear-gradient(right, #bd9d7d, #f9ddbd);
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    background-image: -webkit-linear-gradient(right, #e9dacb, #eee5db);
    background: linear-gradient(right, #e9dacb, #eee5db);
  }

  &.hidden {
    display: none;
  }
}

// 聯繫客服
.service-remind {
  padding: 50px 0;
  text-align: center;
  font-size: 14px;
  color: $main_text_color2;
}

.service-btn {
  margin-left: 5px;
  color: #6aaaf5;
}

.error-msg {
  height: 35px;
  line-height: 35px;
  margin-bottom: 0;
  font-size: 14px;
  color: #db6372;

  &.is-hide {
    opacity: 0;
  }
}

.send-keyring {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  right: 0;
  top: -4px;
  background: #d2b79c;
  color: #fff;
  border-radius: 3px;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.clear-input {
  position: absolute;
  right: 14px;
  height: 100%;
  width: 12px;
  top: 0;

  > img {
    height: 12px;
    width: 12px;
  }
}

.select-bank {
  background: #fff;
  color: #a6a9b2;
  position: relative;

  &.disable {
    pointer-events: none;
  }

  .arrow-icon {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .select-icon {
    width: 22px;
    height: 22px;
    margin-right: 9px;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .select-active {
    font-size: 14px;
    color: #414655;
  }
}

.pop-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
}

.pop-mask {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.pop-menu {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f8f8f7;
  border-radius: 20px 20px 0 0;

  &.custom1 {
    height: 55vh;
  }
}

.pop-title {
  height: 73px;
  line-height: 73px;
  margin-bottom: 9px;
  position: relative;
  font-size: 17px;
  color: #414655;
  background: #fefffe;
  text-align: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

  span {
    padding: 0 14px;
    position: absolute;
    left: 0;
  }
}

.pop-list {
  height: calc(100% - 82px);
  padding-left: 18px;
  margin: 0;
  list-style: none;
  background: #fefffe;
  overflow-y: scroll;

  li {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #414655;
    border-bottom: 1px solid #eee;
    position: relative;
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 9px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
  }
}

.select-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  width: 15px;
  height: 15px;
  color: #be9e7f;
  transform: translateY(-50%);
}
