@import "./porn1.addCard.module.scss";
.submit {
  background: linear-gradient(#fe593c, #e61938);

  &.disabled {
    background: linear-gradient(#fed3cb, #ffc5ce);
  }
}

.send-keyring {
  background: linear-gradient(#fe593c, #e61938);

  &.disabled {
    background: linear-gradient(#fed3cb, #ffc5ce);
  }
}

.phone-selected {
  border: 0px;
  background-color: #ffffff;
  margin-right: 10px;
}

.wallet-list {
  .wallet-item {
    &.is-current {
      border: 1px solid $sg_main_text_color1;
      color: $sg_main_text_color1;
      background: linear-gradient(
        -45deg,
        $sg_main_text_color1 10px,
        hsla(0, 0%, 100%, 0) 0
      );
    }
  }
}
