@import "./porn1.addCard.module.scss";
.submit {
  background: var(--mcenter_button_color1);

  &.disabled {
    background: var(--mcenter_button_color2);
  }
}

.send-keyring {
  background: var(--mcenter_button_color1);

  &.disabled {
    background: var(--mcenter_button_color2);
  }
}

.pop-title {
  span {
    color: var(--addcard_popup_prev_text_color);
  }
}

.select-icon {
  color: var(--addcard_popup_prev_text_color);
}

.phone-selected {
  border: 0px;
  background-color: #ffffff;
  margin-right: 10px;
}

.wallet-list {
  .wallet-item {
    &.is-current {
      border: 1px solid var(--wallet_border_color);
      color: var(--wallet_border_color);
      background: linear-gradient(
        -45deg,
        var(--wallet_border_color) 10px,
        hsla(0, 0%, 100%, 0) 0
      );
    }
  }
}
