.game-item {
    float: left;
    position: relative;
    width: 154px;
    height: 188px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;

    &:hover {
        .mask {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.8;
        }

        .btn-enter {
            display: block;
        }
    }

    .game-vendor {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 40px;
        height: 18px;
        line-height: 16px;
        border: 1px solid #90C6E8;
        border-radius: 10px;
        background-color: #23282B;
        color: #90C6E8;
        font-size: 12px;
    }

    .game-box-wrap {
        position: relative;
        height: 154px;
        padding-top: 27px;
    }

    .game-box {
        position: relative;
        width: 120px;
        height: 127px;
        margin: 0 auto;

        img {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            margin: auto;
        }
    }

    .mask {
        display: none;
    }

    .game-title {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 34px;
        line-height: 34px;
        padding: 0 6px;
        background-color: rgba(0, 0, 0, 0.4);
        color: #FFF;
        font-size: 13px;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.is-login {
            padding: 0 37px;
            text-align: left;
        }
    }

    .icon-star-wrap {
        position: absolute;
        bottom: 7px;
        left: 7px;
        z-index: 1;
    }

    .icon-star {
        width: 23px;
        height: 22px;
        background: url('/static/image/casino/favorite_icon01.png') 0 0 no-repeat;
        cursor: pointer;

        &.is-favorite {
            background-position: 0 100%;
        }
    }

    .btn-enter {
        display: none;
        position: absolute;
        top: 57px;
        left: 50%;
        margin-left: -63.5px;
        width: 127px;
        height: 37px;
        line-height: 35px;
        border: 1px solid #FFF;
        font-size: 16px;
        color: #FFF;
        cursor: pointer;

        &:hover {
            border: 1px solid #CDB08A;
            color: #CDB08A;
        }
    }
}
