.vip-top-wrap {
    padding: 20px 13px;
}

.vip-bottom-slider {
    z-index: 0;
}

.vip-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;

    &.honor-channel {
        float: right;
        font-size: 12px;
        font-weight: normal;
        color: #363D5D;
    }
}

.vip-card-content {
    margin: 0 auto;
    padding: 20px;
    width: 291px;
    height: 420px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.card-header {
    h1 {
        display: inline-block;
        margin: 0;
        line-height: 35px;
        font-size: 18px;
        vertical-align: middle;
    }

    .arrow-btn-wrap {
        float: right;
        line-height: 35px;
        vertical-align: middle;

        .arrow {
            display: inline-block;
            margin: 0 5px;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            cursor: pointer;

            &.prev {
                background: url("/static/image/mcenter/vip/btn_prev.png") no-repeat center center / cover;
            }

            &.next {
                background: url("/static/image/mcenter/vip/btn_next.png") no-repeat center center / cover;
            }
        }
    }
}

.vip-info {
    margin: 30px 0;

    .info-list {
        display: inline-block;
        width: 100%;
    }

    .line {
        height: 31px;
        background: url("/static/image/mcenter/vip/text_guide.png") 0 50% no-repeat;
    }

    .amount {
        float: right;
        font-size: 18px;
    }

    .rebate {
        float: right;
        margin-top: 5px;
        font-size: 12px;
        color: #999;
    }

    .vip-level-content {
        margin-top: 15px;
        height: 100px;
        font-size: 13px;
        color: #666;
        line-height: 23px;

        span {
            font-size: 15px;
            color: #E33A48;
        }
    }
}

.vip-level-bar {
    margin-top: 10px;
    text-align: center;
    span {
        font-size: 12px;
        vertical-align: middle;
        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
    }
}

.bar-wrap {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.progress-bar {
    position: absolute;
    top: 6px;
    height: 8px;
    max-width: 140px;
}

.progress-bar-bg {
    width: 140px;
    vertical-align: middle;
}

.vip-card-btn {
    margin: 15px 0;
    text-align: center;

    .receive-btn {
        display: inline-block;
        padding: 0 15px;
        height: 35px;
        font-size: 12px;
        line-height: 35px;
        text-align: center;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
        &.record {
            margin-right: 10px;
            line-height: 35px;
            text-align: center;
        }
    }
}

.vip-bottom-wrap {
    width: 291px;
    margin: 9px auto 0;
    text-align: center;

    .vip-badge {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        text-align: center;
        opacity: 0.75;

        img {
            width: 40px;
            height: 40px;
        }

        &.title {
            width: auto;
            white-space: nowrap;
        }
    }
}

.badge-item {
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.vip-active {
    .vip-badge {
        width: 45px;
        transition: .5s;
        opacity: 1;
        img {
            width: 45px;
            height: 45px;
            transition: .5s;
        }
        &.title {
            width: auto;
        }
    }
}

.vip-info {
    .info-list {
        &.not-show {
            opacity: 0;
        }
    }
    .line {
        &.not-show {
            opacity: 0;
        }
    }
}

.vip-card-D {
    .card-header,
    .info-list {
        color: #4C4915;
    }
    .vip-level-bar,
    .vip-level-content {
        color: #747372;
    }
    .receive-btn {
        color: #FFF;
        background-color: #999999;
        border: 1px solid #999999;
        &.record {
            color: #999999;
            background-color: #E2E2E2;
            border: 1px solid #E2E2E2;
        }
    }
}
.vip-card-E {
    .card-header,
    .info-list {
        color: #3B3B3B;
    }
    .vip-level-bar,
    .vip-level-content {
        color: #9F9F9F;
    }
    .receive-btn {
        color: #C5B98E;
        background-color: #3B3B3B;
        border: 1px solid #3B3B3B;
        &.record {
            color: #3B3B3B;
            background-color: #D5D5D5;
            border: 1px solid #D5D5D5;
        }
    }
}
.vip-card-B {
    .card-header,
    .info-list {
        color: #FCDC7E;
    }
    .info-list {
        .rebate {
            color: #FFF;
        }
    }
    .vip-level-bar,
    .vip-level-content {
        color: #FFF;
    }
    .receive-btn {
        color: #8E4F33;
        background-color: #FCDC7E;
        border: 1px solid #FCDC7E;
        &.record {
            color: #FFF;
            background-color: rgba(0,0,0,.3);
            border: 1px solid rgba(0,0,0,0);
        }
    }
}
.vip-card-C {
    .card-header,
    .info-list {
        color: #FFE066;
    }
    .vip-level-bar,
    .vip-level-content {
        color: #FFF;
    }
    .receive-btn {
        color: #1C3FD9;
        background-color: #FFE066;
        border: 1px solid #FFE066;
        &.record {
            color: #FFE066;
            background-color: #1C3FD9;
            border: 1px solid #1C3FD9;
        }
    }
}
.vip-card-F {
    .card-header {
        color: #3B3B3B;
    }
    .info-list {
        color: #E33A48;
        .rebate {
            color: #C99E38;
        }
    }
    .vip-level-bar,
    .vip-level-content {
        color: #9C9C9C;
    }
    .receive-btn {
        color: #FFF;
        background-color: #E33A48;
        border: 1px solid #E33A48;
        &.record {
            color: #3B3B3B;
            background-color: #E2E2E2;
            border: 1px solid #E2E2E2;
        }
    }
}
.vip-card-A {
    .card-header,
    .info-list {
        color: #403215;
        .rebate {
            color: #C99E38;
        }
    }
    .info-list {
        .rebate {
            color: #C99E38;
        }
    }
    .vip-level-bar,
    .vip-level-content {
        color: #937532;
    }
    .receive-btn {
        color: #FFE066;
        background-color: #8C6E2E;
        border: 1px solid #8C6E2E;
        &.record {
            color: #FFF;
            background-color: #CFA140;
            border: 1px solid #CFA140;
        }
    }
}

:global(.swiper-wrapper) {
    align-items: center;
    justify-content: center;
}