@import '~@/css/variable.scss';

&.content-wrap {
    background: #FFF;
    padding: 10px 3.15% 23px;
    margin-top: 10px;
    border-top: 1px solid #BEBCBC;
    border-bottom: 1px solid #BEBCBC;
    font-family: 'Nirmala UI';
}

.content-header {
    line-height: 1.35;
    margin-bottom: 10px;
    font-size: 12px;
    color: #BEBCBC;
}

.content-time {
    float: right;
}

.content-title {
    line-height: 1.25;
    margin-bottom: 6px;
    color: $contextTitleColor;
    font-size: 17px;
}

.content-text {
    font-size: 14px;
}

@media screen and (min-width: $phone) {
    .content-wrap {
        margin-top: 15px;
    }

    .content-header {
        font-size: 14px;
    }

    .content-title {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .content-text {
        font-size: 14px;
    }
}


@media screen and (min-width: $pad) {
    .content-wrap {
        padding: 10px 50px 23px;
        margin-top: 20px;
    }

    .content-header {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .content-title {
        margin-bottom: 17px;
        font-size: 26px;
    }

    .content-text-wrap {
        padding: 0 14px;
    }

    .content-text {
        font-size: 16px;
    }
}