@import "./porn1.index.scss";

.total-sub-wrap {
  .top-sub-title {
    color: #a2a2a2;

    &.active {
      border-bottom: 2px solid #fb4e74;
    }
  }
}

.history-top-wrap {
  .total-item {
    .total-item-title {
      color: #333333;
    }

    .total-item-money {
      color: #333333;

      &.week {
        color: #e61938;
      }

      &.is-current {
        color: #bf8646;
      }
    }

    .total-item-date {
      color: #333333;
    }
  }
}

.content-wrap {
  .content-item {
    .rebate-body {
      .detail-content {
        .content-left {
          color: #a2a2a2;
        }

        .content-right {
          color: #333333;
        }
      }
    }

    a {
      color: #fff;

      &.disable {
        color: #ffffff;
        background: linear-gradient(#fed3cb, #ffc5ce);
      }
    }
  }

  .rebate-nodata {
    p {
      color: #a2a2a2;
    }
  }
}

.real-top-wrap {
  .real-top-btn {
    background: linear-gradient(to left, #fe593c, #e61938);

    &.disable {
      background: linear-gradient(#fed3cb, #ffc5ce);
    }

    .calculate-button {
      &.disable {
        color: #ffffff;
      }
    }
  }
}

.receive-vip-btn {
  background: linear-gradient(to left, #fe593c, #e61938);

  &.is-disabled {
    background: linear-gradient(to left, #fed3cb, #ffc5ce);
  }
}

.rebate-manual-tip {
  color: #aaaaaa;
}

.popup {
  .close {
    color: linear-gradient(to left, #fe593c, #e61938);
  }
}
