@import "./porn1.index.scss";

.total-sub-wrap {
  .top-sub-title {
    color: #a2a2a2;

    &.active {
      border-bottom: 2px solid #fb4e74;
    }
  }
}

.history-top-wrap {
  .total-item {
    .total-item-title {
      color: #333333;
    }

    .total-item-money {
      color: #333333;

      &.week {
        color: #e61938;
      }

      &.is-current {
        color: var(--member_color100);
      }
    }

    .total-item-date {
      color: #333333;
    }
  }
}

.content-wrap {
  .content-item {
    .rebate-body {
      .detail-content {
        .content-left {
          color: #a2a2a2;
        }

        .content-right {
          color: #333333;
        }
      }
    }

    a {
      color: #fff;

      &.disable {
        color: #ffffff;
        background: var(--member_gradient_color2);
      }
    }

    .rebate-btn {
      a {
        background: var(--member_gradient_color1);

        &.disable {
          background: var(--member_gradient_color2);
        }
      }
    }
  }

  .rebate-nodata {
    p {
      color: #a2a2a2;
    }
  }
}

.real-top-wrap {
  .real-top-btn {
    background: var(--member_gradient_color1);

    &.disable {
      background: var(--member_gradient_color2);
    }

    .calculate-button {
      &.disable {
        color: #ffffff;
      }
    }
  }
}

.receive-vip-btn {
  background: var(--member_gradient_color1);

  &.is-disabled {
    background: var(--member_gradient_color2);
  }
}

.rebate-manual-tip {
  color: #aaaaaa;
}

.popup {
  .close {
    color: var(--member_gradient_color1);
  }
}
