.pop-rebate-wrap {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: -45% auto 0;
    border-radius: 5px;
    background: #FFF;
    padding-bottom: 24px;
    width: 98%;
    max-width: 700px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    .title {
        height: 48px;
        line-height: 48px;
        border-radius: 5px 5px 0 0;
        background-color: #BE9E7F;
        color: #FFF;
        font-size: 16px;
        text-align: center;
    }
    .content-wrap {
        padding: 13px;

        .content {
            text-align: center;
        }
        h1 {
            font-size: 16px;
            margin-bottom: 11px;
        }
    }
    .rebate-title,
    .rebate-value {
        line-height: 19px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .rebate-value {
        color: #2693CF;
    }
    .rebate-loding {
        margin: 20px 0;
    }
    .rebate-entry-button-wrap {
        text-align: center;
        margin-top: 15px;

        a {
            display: inline-block;
            width: 48%;
            max-width: 140px;
            height: 42px;
            line-height: 42px;
            text-decoration: none;
            border-radius: 4px;
            margin: 0 5px;
        }
        #button-entry-history {
            background: linear-gradient(to left, #BD9D7D, #F9DDBD);
            color: #FFF;
        }
        #button-entry-close {
            background: #FAF5F0;
            color: #BE9E7F;
        }
    }
}
