.change-lang-wrap {
    min-height: calc(100vh - 85px);
    padding-top: 72px;

    .lang-item {
        font-size: 12px;
        margin: 0 43px 38px;
        color: #646981;

        .lang-icon {
            display: inline-block;
            vertical-align: middle;
            width: 28px;
            height: 28px;
            margin-right: 18px;
            background-size: 100%;
        }

        &:active {
            color: #343A5D;
        }
    }
}