@import "~@/css/variable.scss";

@-webkit-keyframes mobileBetWrap {
    0% {
        background-position-x: 50%;
    }

    100% {
        background-position-x: 59%;
    }
}

@keyframes mobileBetWrap {
    0% {
        background-position-x: 50%;
    }

    100% {
        background-position-x: 59%;
    }
}

@-webkit-keyframes mobileAppWrap {
    100% {
        padding-left: 0;
    }
}

@keyframes mobileAppWrap {
    100% {
        padding-left: 0;
    }
}

@-webkit-keyframes mobileSportWrap {
    0% {
        padding-top: 183px;
        background-position-x: 50%;
    }

    100% {
        padding-top: 232px;
        background-position-x: 60%;
    }
}

@keyframes mobileSportWrap {
    0% {
        padding-top: 183px;
        background-position-x: 50%;
    }

    100% {
        padding-top: 232px;
        background-position-x: 60%;
    }
}

.mobile-bet-header {
    max-width: 1024px;
    margin: 0 auto;
}

.logo-wrap {
    margin: 2px 0 0 67px;
}

.mobile-app-wrap {
    max-width: 1024px;
    margin: 0 30px;
}

.mobile-app-contain {
    width: 100%;
    margin-top: 8%;
    padding-top: 45px;
}

.mobile-app-info {
    width: 490px;
    max-width: 100%;
    border: 3px solid #FFF;
    border-radius: 37px;
    padding: 6% 5% 5%;
    background-color: rgba(0, 0, 0, 0.68);;
}

.mobile-app-title {
    width: 200px;
    height: 32px;
}

.mobile-app-content {
    display: inline-block;
    padding-top: 6%;
}

.app-qrcode-wrap {
    float: left;
    width: 140px;
    height: 140px;

    img {
        width: 140px;
        height: 140px;
    }

    p {
        margin-top: 6%;
        text-align: center;
        color: #EBD386;

        span {
            color: #FFF;
        }

        button {
            vertical-align: middle;
            width: 14px;
            height: 14px;
            transition: transform .3s ease-out;
            transform-origin: 90% 57%;
            cursor: pointer;
            color: #E0C69F;
            border: none;
            background: rgba(0,0,0,0);

            &:hover {
                transform: rotate(180deg);
            }
        }
    }

    .refresh {
        background: linear-gradient(to right, rgba(0,0,0,0)0%,rgb(139,87,37)50%,rgba(125,185,232,0)100%);
    }
}

.mobile-app-text {
    float: left;
    width: 56%;
    margin-left: 3%;
    color: #B0AFB0;;
    font-size: 16px;
    line-height: 28px;
}

.mobile-sport-wrap {
    width: 100%;
    min-height: 938px;
    margin-top: 107px;
    padding-top: 232px;
    overflow: hidden;
}

.mobile-sport-download {
    max-width: 1024px;
    margin: 0 auto;
}

.mobile-sport-contain {
    float: right;
    width: 392px;
    margin: 0 32px;
    padding-top: 100px;
}

.mobile-sport-info {
    border-radius: 37px;
    border: 3px solid #FFF;
    background: rgba(0, 0, 0, 0.68);
    padding: 8% 8% 10%;
}

.sport-qrcode {
    canvas {
        border: 1px solid #FFF;
    }
}

.mobile-sport-title {
    width: 195px;
    height: 32px;
}

.mobile-sport-content {
    padding-top: 6%;
}

.sport-qrcode-wrap {
    composes: app-qrcode-wrap;
    float: none;
}

.mobile-sport-text {
    composes: mobile-app-text;
    float: none;
    width: 100%;
    margin: 16% 0 0 0;
}

.download-btn {
    width: 247px;
    height: 108px;
    margin: 0 auto;
}

.trust-btn-wrap {
    position: relative;
    margin-top: -27px;

    span {
        display: block;
        font-size: 16px;
        text-align: center;
        color: #B9A578;
    }
}

.trust-btn {
    display: block;
    width: 247px;
    height: 108px;
    margin: 0 auto;
}

.mobile-bet-footer {
    padding-top: 27px;
}

.footer-info {
    max-width: 1024px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    line-height: 76px;
    color: #DBB969;
}

.is-pc {
    &.mobile-bet-wrap {
        animation: mobileBetWrap 1s ease-in-out .1s forwards;
        -webkit-animation: mobileBetWrap 1s ease-in-out .1s forwards;

        .mobile-app-wrap {
            animation: mobileAppWrap 1s ease-in-out forwards;
            -webkit-animation: mobileAppWrap 1s ease-in-out forwards;
        }
    
        .mobile-app-info {
            animation: mobileAppInfo forwards;
            -webkit-animation: mobileAppInfo forwards;
        }
    
        .mobile-sport-wrap {
            animation: mobileSportWrap 1s ease-in-out forwards;
            -webkit-animation: mobileSportWrap 1s ease-in-out forwards;
        }
    }
}

.is-mobile {
    &.mobile-bet-wrap {
        background-position: 72% 5%;
    }

    .logo-wrap {
        margin-left: 16px;
    }

    .mobile-app-wrap {
        margin: 255px 0 0 0;
    }

    .mobile-app-contain {
        padding: 65px 16px 0;
        background: none;
    }

    .mobile-app-info {
        padding: 8% 7% 5%;
    }

    .mobile-app-text {
        float: none;
        width: 100%;
        margin: 0 0 5% 0;
        font-size: 18px;
    }

    .mobile-sport-wrap {
        margin: 0;
        padding-top: 25%;
        background-position: 57% -247px;
    }

    .mobile-sport-contain {
        width: initial;
        margin: 211px 0 0 0;
        background-position: 31% 0;
        padding-top: 227px;
    }

    .mobile-sport-info {
        margin: 0 16px;
        padding: 8% 7% 5%;
    }

    .mobile-sport-text {
        float: none;
        width: 100%;
        margin: 0 0 5% 0;
        font-size: 18px;
    }
}

@media screen and (min-width: $pad  + $sidebar) {
    @-webkit-keyframes mobileBetWrapFull {
        0% {
            background-position-x: 59%;
        }

        100% {
            background-position-x: 50%;
        }
    }

    @keyframes mobileBetWrapFull {
        0% {
            background-position-x: 59%;
        }

        100% {
            background-position-x: 50%;
        }
    }

    @-webkit-keyframes mobileAppWrapFull {
        0% {
            padding-left: 32px;
        }

        100% {
            padding-left: 0;
        }
    }

    @keyframes mobileAppWrapFull {
        0% {
            padding-left: 32px;
        }

        100% {
            padding-left: 0;
        }
    }

    @-webkit-keyframes mobileAppInfoFull {
        0% {
            max-width: 100%;
        }
    }

    @keyframes mobileAppInfoFull {
        0% {
            max-width: 100%;
        }
    }

    @-webkit-keyframes mobileSportWrapFull {
        0% {
            padding-top: 232px;
            background-position-x: 60%;
        }

        100% {
            padding-top: 183px;
            background-position-x: 50%;
        }
    }

    @keyframes mobileSportWrapFull {
        0% {
            padding-top: 232px;
            background-position-x: 60%;
        }
    
        100% {
            padding-top: 183px;
            background-position-x: 50%;
        }
    }

    .mobile-bet-wrap {
        background-position-x: 50%;
    }

    .logo-wrap {
        margin-left: 40px;
    }

    .mobile-app-wrap {
        margin: 0 auto;
    }

    .mobile-app-contain {
        margin-top: 6%;
    }

    .mobile-app-info {
        width: 576px;
        padding: 3% 4% 5%;
    }

    .mobile-app-content {
        width: 100%;
    }

    .mobile-app-text {
        width: 333px;
    }

    .mobile-sport-wrap {
        background-position-x: 50%;
        padding-top: 183px;
    }

    .mobile-sport-contain {
        margin: 0;
    }

    .is-pc {
        &.mobile-bet-wrap {
            animation: mobileBetWrapFull 1s ease-in-out .1s forwards;
            -webkit-animation: mobileBetWrapFull 1s ease-in-out .1s forwards;
    
            .mobile-app-wrap {
                animation: mobileAppWrapFull 1s ease-in-out forwards;
                -webkit-animation: mobileAppWrapFull 1s ease-in-out forwards;
            }
        
            .mobile-app-info {
                animation: mobileAppInfoFull forwards;
                -webkit-animation: mobileAppInfoFull forwards;
            }
        
            .mobile-sport-wrap {
                animation: mobileSportWrapFull 1s ease-in-out forwards;
                -webkit-animation: mobileSportWrapFull 1s ease-in-out forwards;
            }
        }
    }
}
