@import "./porn1.scss";

.success-title {
  color: #6aaaf5;
}

.tip-wrap {
  color: #a6a9b2;
}

.alert-body-wrap {
  border-radius: 7px;
}

.confirm-btn {
  color: #bf8646;
  background: #fefffe;
  background-image: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  height: 30px;
}
