@import '~@/css/variable.scss';

$bouns_color1: #bf8646;
$bouns_color2: #BE9E7F;
$bouns_color3: #FAF5F0;
$bouns_color4: #ECC374;
$bouns_color5: #FF7F00;
$bouns_color6: #FFF07B;

.dialog {
    animation: fade-in 0.31s;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.dialog {
    >div {
        position: relative;
        background-color: rgba($color: #FFFFFF, $alpha: 1);
        border-radius: 11px;
        border: #ECC374 solid 6px;
        margin-left: auto;
        margin-right: auto;
        max-width: 375px;
        width: 90%;
        min-height: 180px;
        padding: 14px;
        color: white;
    }
}

.dialog-close {
    animation: fade-out 0.31s;
}

.title-coin {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -20%;
    left: calc(50% - 70px);

    >img {
        width: 140px;
        height: 100px;
    }
}

.title {
    margin-top: 24px;
    line-height: 22px;
    color: $bouns_color1;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.bouns-func {
    position: absolute;
    bottom: 34px;
    left: 0;
    display: flex;
    padding: 0 5px;
    height: 40px;
    width: 100%;

    >div {
        width: 120px;
        height: 40px;
        font-size: 15px;
        text-align: center;
        border-radius: 20px;
        line-height: 40px;
    }

    >div:first-child {
        color: $bouns_color2;
        background-color: #FAF5F0;
        margin: 0 auto;
    }

}

.active-btn {
    text-align: center;
    color: #FFFFFF;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    line-height: 40px;
    max-width: 275px;
    margin: 0 auto;
    background: -webkit-linear-gradient(right, #bd9d7d, #f9ddbd);
    background: -o-linear-gradient(left, #bd9d7d, #f9ddbd);
    background: -moz-linear-gradient(left, #bd9d7d, #f9ddbd);
    background: linear-gradient(to left, #bd9d7d, #f9ddbd);
}

// 進度條
.bouns-process-wrap {
    position: absolute;
    right: 0;
    top: 43px;
}

.bouns-process {
    animation: fade-in 0.31s;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background: #444444;
    border-radius: 14px 0 0 15px;
    color: $bouns_color5;
    font-size: 15px;
    line-height: 30px;
    transition: width .31s;

    &.active {
        width: 85px;
    }

    .coin {
        margin-left: 5px;
        width: 24px; // 包含進度轉圈大小
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            >img {
                width: 16px;
                height: 16px;
            }
        }

        >span {
            display: block;
            position: absolute;
            color: $bouns_color6;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.earn {
                right: 0;
            }
        }
    }

    .content {
        height: 100%;
    }

    .earn-keep-btn {
        width: 100%;
        height: 40px;
        line-height: 40px;
        max-width: 275px;
        margin: 0 auto;
        font-size: 15px;
        border-radius: 20px;
        margin: 0px 20px;
    }
}

.bouns-earn-wrap {
    display: inline-block;
    width: 100%;
    position: relative;

    >.earn-title {
        color: #3F1000;
        font-size: 13px;
        margin: 13px 0;
        height: 25px;
        line-height: 25px;
        text-align: center;

        >span:last-child {
            color: #FF8C21;
            font-size: 22px;
        }
    }
}

.earn-cell-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: auto;
}

.earn-cell {
    width: 33%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;

    &.active {
        opacity: 0.6;
    }

    >div {
        width: 54px;
        height: 64px;
        color: #FF8400;
        text-align: center;
        position: relative;

        >div:first-child {
            position: relative;
            width: 100%;
            padding: 4px 0;
            background-color: #FCF7E2;

            >img {
                margin: 0 auto;
                width: 30px;
                height: 30px;
            }
        }

        >.earn-single-num {
            height: 24px;
            line-height: 24px;
            font-size: 15px;
            background-color: #F5D992;
        }

        >.had-earned {
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            width: 40px;
            height: 40px;
        }
    }
}

:global {
    @keyframes fade-in {
        0% {
            display: flex;
            opacity: 0;
        }

        100% {
            display: flex;
            opacity: 1;
        }
    }

    @-webkit-keyframes fade-in {
        0% {
            display: flex;
            opacity: 0;
        }

        100% {
            display: flex;
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            display: flex;
            opacity: 1;
        }

        100% {
            display: none;
            opacity: 0;
        }
    }

    @-webkit-keyframes fade-out {
        0% {
            display: flex;
            opacity: 1;
        }

        100% {
            display: flex;
            opacity: 0;
        }
    }
}

@media screen and (max-height: 376px) {
    .earn-wrap {
        max-width: 80% !important;
        height: calc(100% - 60px) !important;
        max-height: 260px;
    }

    .earn-cell-wrap {
        width: 100%;
        height: 90px;
        display: inline-flex;
    }

    .earn-cell {
        margin: 1px 5px;
        display: inline-flex;
    }

}

@media screen and (min-width: $phone) {
    .title {
        font-size: 20x;
    }

    .bouns-func {
        >div {
            font-size: 17px;
        }
    }


}

@media screen and (min-width: $pad) {
    .title {
        font-size: 24px;
    }

    .bouns-func {
        >div {
            font-size: 21px;
        }
    }

    .circle_loader {
        left: 5px;
        right: unset;
    }

    .bouns-process {
        width: 60px;

        .active {
            width: 100px;
        }
    }
}
