// 我的返水
.bank-rebate {
    h1 {
        font-size: 18px;
        margin: 0 0 20px;
    }

    .bank-rebate-inner {
        padding: 0 5.3%;
    }

    .select-button-inner {
        margin: 30px 0 15px;
    }

    .select-button {
        float: left;
        width: 32%;
        min-width: 82px;
        height: 34px;
        line-height: 34px;
        color: #A6A6A6;
        cursor: pointer;
        text-align: center;
        border: solid 1px #A6A6A6;
        border-radius: 3px;
        padding: 0 5px;
        margin-right: 2%;

        &:last-child {
            margin-right: 0;
        }

        &.current,
        &:hover {
            color: #FFF;
            background-color: $tableSelectButton;
            border: solid 1px $tableSelectButton;
        }
    }

    .rebate-total-wrap {
        line-height: 40px;
        color: $btnColorBg;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
            color: #000;
        }
    }

    .main-table {
        width: 100%;
        font-size: 14px;
        border-spacing: 0;
        color: $tableBodyColor;
        border-collapse: collapse;

        th,
        td {
            margin: 0;
            padding: 0;
        }

        tr {
            display: block;
            margin-bottom: 40px;
        }

        thead {
            display: none;

            tr {
                border-width: 0 1px;
                border-style: solid;
                border-color: $tableTitleBorder;
                color: $tableTitleColor;
                background: $tableTitleBg;
            }

            th {
                height: 40px;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: normal;
            }
        }

        tbody {
            tr {
                border-width: 1px 1px 0;
                border-style: solid;
                border-color: $tableBodyBorder;
                background: $tableBodyBg;
            }

            td {
                display: block;
                min-height: 30px;
                line-height: 30px;
                text-align: left;
                border-bottom: 1px solid $tableBodyBorder;
                padding: 5px 0 5px 3%;
            }
        }

        .number {
            color: #FFF;
            background: #C3C3C3;
        }

        .title {
            display: inline-block;
            vertical-align: middle;
            width: 31%;
            padding-right: 15px;
        }

        .row {
            display: inline-block;
            vertical-align: middle;
        }

        .no-data {
            padding: 5px 0;
            line-height: 30px;
            color: $tableNoDataColor;
        }

        .text-red {
            color: #F00;
        }
    }

    .realtime-step-wrap {
        list-style: none;
        padding: 0;
        margin: 15px 0;

        li {
            position: relative;
            float: left;
            height: 38px;
            line-height: 38px;
            color: #FFF;
            font-size: 24px;
            background-color: #CCC;
            padding: 0 5% 0 15px;
            margin-right: 38px;

            &:before,
            &:after {
                position: absolute;
                top: 0;
                width: 25px;
                height: 38px;
                content: '';
                background: url(/static/image/mcenter/step_tag.png) 0 0 no-repeat;
            }
            &:before {
                left: -25px;
            }
            &:after {
                right: -25px;
                background-position: 0 100%;
            }
        }
        .step-1 {
            background-color: #304054;

            &:before {
                display: none;
            }
            &:after {
                background: url(/static/image/mcenter/step_tag_first.png) 0 100% no-repeat;
            }
        }

        .step-active {
            background-color: #304054;
        }

        .step-active:before,
        .step-active:after {
            background-image: url(/static/image/mcenter/step_tag_active.png);
        }

        span {
            line-height: 46px;
            font-size: 16px;
        }
    }

    .trial-calculate-area-wrap {
        line-height: 34px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .calculate-time-inner {
        border: solid 1px #EEE;
        margin-bottom: 15px;

        span {
            display: block;
            padding: 0 8px;

            &.calculate-time {
                color: #000;
                background-color: #EEE;
            }
        }
    }

    .calculate-button {
        float: left;
        width: 100%;
        height: 36px;
        line-height: 36px;
        color: $btnColor;
        text-align: center;
        text-decoration: none;
        background-color: $btnColorBg;
        border-radius: 4px;
        border: none;
        padding: 0 8px;
        outline: none;

        &:hover {
            background-color: $btnColorBgHover;
        }
        &.disable {
            color: #AEA6A6;
            cursor: default;
            background-color: #F2F2F2;
        }
    }

    .rebate-text-wrap {
        line-height: 24px;
        color: #7E7E7E;
        border: 1px solid #EEE;
        padding: 8px 6px;
        margin-top: 5px;

        .maintains-list {
            color: #00F;
        }
    }

    .operate-text {
        display: inline-block;
        color: #F00;
    }

    #receive-button {
        display: inline-block;
        min-width: 90px;
        height: 34px;
        line-height: 34px;
        color: #FFF;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        background-color: $btnColorBg;
        border-radius: 4px;
        padding: 0 8px;

        &.disable {
            color: #AEA6A6;
            cursor: default;
            background-color: #F2F2F2;
        }
    }
}

@media screen and (min-width: $phone) {
    .bank-rebate {
        .main-table {
            .title {
                width: 38%;
            }
        }
    }

    .rebate-total-wrap {
        padding: 0 10px;
        overflow: visible;

        span {
            margin: 0 10px;
        }
    }
}

@media screen and (min-width: $pad) {
    .bank-rebate {
        .select-button {
            width: auto;
            margin-right: 8px;
        }

        .calculate-time-inner {
            float: left;
            margin-bottom: 0;
            margin-right: 8px;

            span {
                float: left;

                &.calculate-time {
                    width: auto;
                }
            }
        }

        .calculate-button {
            width: auto;
            min-width: 90px;
        }

        .main-table {
            border-bottom: 1px solid $tableBodyBorder;

            thead {
                display: table-header-group;
            }

            tr {
                display: table-row;
                margin-top: 40px;
            }

            tbody {
                td {
                    display: table-cell;
                    width: 16%;
                    padding: 5px;
                    text-align: center;
                    border-bottom: none;

                    &.wagering,
                    &.amount {
                        text-align: center;
                    }
                }
            }

            .title {
                display: none;
            }

            .number {
                width: 11%;
                color: inherit;
                background: none;
            }

            .row {
                display: block;
            }

            .interval {
                width: 20%;
                padding: 0 5px;

            }

            .wagering {
                width: 12%;
            }

            .amount {
                width: 13%;
            }

            .minimum-amount{
                width: 14%;
                white-space : nowrap;
            }

            .receive-number {
                width: 13%;
                white-space : nowrap;
            }

            .wagering,
            .amount {
                padding: 0 5px;
                white-space : nowrap;
            }
        }

        .rebate-total-wrap {
            border: solid 1px #F1F1F1;
        }
    }
}
