.login-form-wrap {
    min-height: calc(100vh - 85px);
    margin: 0 auto;
    padding: 110px 43px;
    background-color: #EEE;
    font-size: 12px;
    .login-unit {
        display: block;
        margin-bottom: 20px;
        input {
            display: block;
            width: 100%;
            height: 35px;
            padding: 0 14px;
            border: 1px solid #B8BAC1;
            border-radius: 3px;
            color: #646981;
        }
        &.login-unit-link {
            color: #646981;
            text-align: right;
            a {
                padding: 0 2px;
                color: inherit;
                text-decoration: underline;
                &:active {
                    color: #363C5D;
                }
            }
        }
        &.login-unit-captcha {
            input {
                float: left;
                width: calc(100% - 80px);
            }
            img {
                float: right;
                margin: 5px 0;
            }
        }
    }
    .login-submit {
        height: 38px;
        line-height: 38px;
        margin-bottom: 20px;
        border-radius: 3px;
        background-color: #646981;
        color: #FFF;
        text-align: center;
        &:active {
            background-color: #363C5D;
        }
    }
    .login-btn-wrap {
        a {
            width: 46%;
            height: 35px;
            line-height: 35px;
            border: 1px solid #646981;
            border-radius: 3px;
            color: #646981;
            text-align: center;
            &:active {
                border-color: #363C5D;
                color: #363C5D;
            }
        }
        .join-agent-link {
            float: left;
            &.only {
                display: block;
                float: none;
                width: 100%;
            }
        }
        .agent-login-link {
            float: right;
            &.is-block {
                width: 100%;
            }
        }
    }
}
