@import "~@/css/variable.scss";

.content-wrap {
  overflow-x: hidden;
}

.section {
  background-color: #f8f8f8;
  color: #414655;
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  width: 100%;
  padding-bottom: 5px;
}

.cell {
  -moz-transition: all 0.31s;
  -ms-transition: all 0.31s;
  -o-transition: all 0.31s;
  -webkit-transition: all 0.31s;
  transition: all 0.31s ease-out;
  background-color: #fefefe;
  position: relative;
  margin-top: 1px;
  padding: 0 14px;

  .cell-header {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  .title-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .title {
    display: flex;
    align-items: center;
    min-height: 50px;
    font-weight: bold;
    padding: 10px 0;
    width: 95%;

    &.big {
      padding-top: 30px;
      font-size: 16px;
    }
  }

  &.support-cell>title {
    height: 20px;
    line-height: 20px;
    display: contents;
  }
}

.content {
  -moz-transition: all 0.31s;
  -ms-transition: all 0.31s;
  -o-transition: all 0.31s;
  -webkit-transition: all 0.31s;
  font-size: 14px;
  height: 0;
  max-height: 0;
  opacity: 0.6;
  overflow: hidden;
  transition: all 0.31s ease-out;
  position: relative;

  &.active {
    height: 100%;
    max-height: unset;
    opacity: 1;
    overflow: unset;
  }
}

.text-block {
  margin-top: 10px;
  line-height: 22px;
  display: inline-flex;
  width: 100%;

  span {
    display: block;
    margin-right: 10px;
  }

  &.full-block {
    display: block;

    >.cell-title {
      font-size: 15px;
      font-weight: 500;
    }

    >.cell-content {
      font-size: 12px;
    }
  }
}

.content-text {
  width: 45%;
  display: inline-block;
  min-height: 410px;
}

.arrow-btn {
  -moz-transition: transform 0.31s;
  -ms-transition: transform 0.31s;
  -o-transition: transform 0.31s;
  -webkit-transition: transform 0.31s;
  height: 50px;
  position: absolute;
  right: 14px;
  top: 0;
  transition: transform 0.31s;
  width: 16px;

  >img {
    bottom: 0;
    height: 16px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.active {
    transform: rotate(90deg);
  }
}

// 詳細資料--存款 & 提現
.detail-wrap {
  background-color: #f8f8f8;

  &.ey1 {
    background-color: unset;
    background: unset;
  }
}

.status-wrap {
  position: relative;
  width: 100%;
  white-space: nowrap;
  background-color: white;
  margin-bottom: 10px;
}

.status {
  width: 49%;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: $main_text_color2;
  display: inline-block;
  background-color: white;

  &.active {
    color: $main_text_color4;
  }
}

.active-slider {
  position: absolute;
  bottom: 1.5px;
  left: calc(25% - 25px);
  height: 2px;
  background-color: #be9e7f;
  width: 45px;
  transition: left 0.31s;
}

.detail-content-wrap {
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  background-color: #f8f8f8;
  margin: 11px 0;

  .detail-block {
    text-align: left;
    color: #a6a9b2;
    background-color: white;
    margin-bottom: 6px;
  }
}

.item-status-border {
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
}

.detail-cell {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  height: 34px;
  line-height: 34px;

  .value {
    display: inline-flex;
    align-items: center;
    color: #222222;
    max-width: 50%;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .edit,
  .processing {
    color: #6aaaf5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .processing-icon {
    height: 22px;
    width: 22px;
    margin-left: 5px;

    >img {
      width: 100%;
      height: 100%;
    }
  }
}

.tips-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  color: #5e626d;
}

.tips-mask {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.tips-content {
  word-break: break-all;
}

.tips-block {
  position: absolute;
  width: 70%;
  padding: 40px 20px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fefefe;
  border-radius: 8px;
}

.close {
  padding: 12px 0;
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #d1b79c;
  border-top: 1px solid #f8f8f7;
}

.red {
  color: #ff1010 !important;
}

.tips {
  margin-top: 14px;
  padding: 0 14px;
  font-size: 14px;
  font-family: Microsoft JhengHei, Microsoft JhengHei-Regular;
  font-weight: 400;
  color: #a6a9b2;

  a,
  span {
    color: #6aaaf5;
  }

  a:visited {
    color: #6aaaf5;
  }
}

// 遊戲介紹-彈窗
.pop-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
}

.pop-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.pop-menu {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f8f8f7;
  border-radius: 20px 20px 0 0;
}

.pop-title {
  height: 73px;
  line-height: 73px;
  margin-bottom: 9px;
  position: relative;
  font-size: 17px;
  color: #414655;
  background: #fefffe;
  text-align: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

  span {
    padding: 0 14px;
    position: absolute;
    left: 0;
    color: #be9e7f;
  }
}

.pop-list {
  height: calc(100% - 82px);
  padding-left: 18px;
  margin: 0;
  list-style: none;
  background: #fefffe;
  overflow-y: scroll;

  li {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #414655;
    border-bottom: 1px solid #eee;
    position: relative;
    display: flex;
    align-items: center;
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}

.select-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  width: 15px;
  height: 15px;
  color: #be9e7f;
  transform: translateY(-50%);
}

.no-data-wrap {
  width: 180px;
  height: 292px;
  margin: 20% auto 0;

  >img {
    display: block;
    width: 100%;
  }

  .tips {
    line-height: 22px;
    margin: 16px 0 29px;
    padding: 0;
    color: #a6a9b2;
    font-size: 16px;
    text-align: center;
  }

  .btn-deposit {
    width: 140px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    border-radius: 3px;
    background: linear-gradient(to left, #bd9d7d, #f9ddbd);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-align: center;

    &.ey1 {
      background: #e42a30;
    }
  }
}

.content-img {
  width: 45%;
  float: right;
  height: 100%;

  >img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 374px) {
  .section {
    font-size: 15px;
  }

  .detail-content-wrap {
    font-size: 15px;
  }
}

//
.help-wrap {
  overflow-x: hidden;
  color: $main_text_color3;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

  .list {
    height: 60px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    background-color: $main_white_color1;

    >span {
      width: 100%;
    }

    .list-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      margin-right: 5px;

      >img {
        height: 100%;
      }
    }
  }

  .btn-next {
    width: 14px;
    height: 100%;
    display: flex;
    align-items: center;

    >img {
      height: 14px;
      width: 14px;
    }
  }
}

//
.credit-trans-container {
  padding-top: 42px;
  z-index: 1;
}

.tab-wrap {
  display: flex;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%;
  max-width: $mobile_max_width;
  z-index: 10;
}

@media (orientation: landscape) {
  .tab-wrap {
    max-width: $mobile_max_landscape_width !important;
  }
}

.tab-item {
  position: relative;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #a6a9b2;
  width: 50%;

  &.is-current {
    color: #5e626d;
  }
}

.active-slider {
  position: absolute;
  width: 40px;
  height: 2px;
  bottom: 1.5px;
  transform: translateX(-50%);
  background: #be9e7f;
  // left: calc(33% / 2 - 20px);

  transition: left 0.31s;
}

//
.cell2 {
  background-color: #fefefe;
  position: relative;
  padding: 0 14px;

  .cell2-step-title {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;

    >span {
      color: #414655;
      margin-top: 14px;
      font-family: Microsoft JhengHei;
      font-style: 14px;
      height: 19px;
      text-align: center;
    }
  }

  img {
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.gotop {
  position: relative;
  display: flex;

  >img {
    position: fixed;
    bottom: 45px;
    right: 18px;
    width: 41px;
    height: 41px;
  }
}

.table-border {
  margin-top: 5pt;
  border: 1px #000000 solid;
  border-collapse: collapse;

  >tr {
    border: 1px #000000 solid;

    >td {
      border: 1px #000000 solid;
      text-align: center;
    }
  }

}
