.theme-basic {
    @import './style/basic/index.scss';
    @import './note.scss';
}

.theme-519 {
    @import './style/519/index.scss';
    @import './note.scss';
}

.theme-brilliant {
    @import './style/brilliant/index.scss';
    @import './note.scss';
    position: fixed;

    .pop-note-warp {
        position: fixed;
        top: 50%;
        left: 1%;
        right: 1%;
        margin: -144px auto 0;
    }
}

.theme-theme3 {
    @import './style/theme3/index.scss';
    @import './note.scss';
    position: fixed;

    .pop-note-warp {
        position: fixed;
        top: 50%;
        left: 1%;
        right: 1%;
        margin: -144px auto 0;
    }
}

.theme-miller {
    @import './style/miller/index.scss';
    @import './note.scss';
    position: fixed;

    .pop-note-warp {
        position: fixed;
        top: 50%;
        left: 1%;
        right: 1%;
        margin: -144px auto 0;
    }
}

.theme-purple {
    @import './style/purple/index.scss';
    @import './note.scss';
    position: fixed;

    .pop-note-warp {
        position: fixed;
        top: 50%;
        left: 1%;
        right: 1%;
        margin: -144px auto 0;
    }
}

.theme-esball {
    @import './style/esball/index.scss';
    @import './note.scss';
    position: fixed;

    .pop-note-warp {
        position: fixed;
        top: 50%;
        left: 1%;
        right: 1%;
        margin: -144px auto 0;
    }
}
