@import "~@/css/variable.scss";

.vip-info-wrap {
  position: relative;
  width: 100%;
  height: 240px;
  top: 15px;
  padding: 0 17px;
  background: white;
}

.title {
  font-size: 18px;
  padding: 10px 0 15px 0;
  font-weight: 700;
  color: #424654;

  &::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 3px;
    height: 20px;
    top: 2.5px;
    margin-right: 12px;
    background: $share_origin_color7;
  }

  &.porn1 {
    &::before {
      background: $share_member_text_color2;
    }
  }
}

.cells-block {
  position: relative;
  display: flex;
  width: 103%;
  height: 160px;
  flex-wrap: wrap;

  .cell {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .cell-icon {
    width: 35px;
    height: 35px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .cell-text {
    padding-left: 5px;
    color: #b4b9cf;
    font-size: 12px;
    font-weight: 700;

    .long {
      font-size: 12px;
    }

    div:first-of-type {
      font-size: 16px;
      color: #424654;
    }
  }

  .special-cell {
    position: absolute;
    top: 95px;
    color: #b4b9cf;
    font-size: 12px;
    font-weight: 700;
  }
}

.vip-detail {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: $share_origin_color14;

  &.porn1 {
    color: $share_member_text_color2;
  }
}
