.user-info-wrap {
  position: relative;
  width: 100%;
  height: 290px;
  padding: 10px 17px 0;
}

.user-info-block {
  position: relative;
  height: 110px;
  display: flex;
  justify-content: space-between;

  .user-info {
    position: relative;
    display: flex;
    align-self: center;
    width: 100%;

    .avatar {
      width: 48px;
      height: 48px;

      img {
        height: 100%;
        border-radius: 50%;
      }
    }

    .name {
      padding: 2.5px 5px 0px 10px;

      // name text
      span:first-of-type {
        color: #484c59;
        font-size: 16px;
        font-weight: 700;
        word-break: break-word;
      }

      // vip text
      span:last-of-type {
        background: linear-gradient(to right, #eeddd0, #d5b69c);
        margin: 5px 0 0 0;
        padding: 0px 5px;
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        border-radius: 4px;
        max-width: 36px;
      }
    }
  }

  .user-vip-desc {
    width: 80px;
    height: 100%;
    text-align: center;

    // VIP 詳情
    .vip-text {
      font-size: 14px;
      font-weight: 700;
    }

    // VIP 详情的image
    .vip-level {
      width: 100%;

      img {
        width: 80px;
        height: 90px;
      }
    }
  }
}

.run-block {
  position: relative;
  display: flex;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding-right: 10px;
  align-items: center;
}

.run-level {
  width: 40px;
  color: white;
  text-align: center;
  align-self: center;
  border-radius: 14px;
  font-size: 12px;

  p {
    word-break: break-all;
    width: 30px;
    margin: 0 auto;
    line-height: 1;
    padding: 2px 0;
  }

  &.current {
    background: #ceb89f;
  }

  &.next {
    background: linear-gradient(to left, rgba(black, 0.1), #b4b9cf, #bcc1ca);
  }
}

.run-bar {
  position: relative;
  flex: 1;
  margin: 0px 5px;
  height: 15px;
  background: url(/static/image/common/vip/vip_runbg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.run-ok-bar {
  position: relative;
  background: url(/static/image/porn1/mcenter/vip/vip_runok.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20%; // 要透過JS動態給值
  height: 15px;

  img {
    position: absolute;
    width: 23px;
    height: 15px;
    bottom: 3px;
    right: -23px;
  }

  span {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    bottom: 25px;
    right: -15px;

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 12.5px;
      transform: translate(50%, 100%);
      border-top: 7px solid black;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
    }
  }
}

.user-desc-block {
  padding-top: 5px;
  color: #9ba3bf;
  font-size: 12px;
  font-weight: 700;

  .desc-text {
    padding: 2.5px 0px;
  }

  .money {
    color: #000000;
  }
}
