@import "./porn1.vipUser.scss";

.user-info-block {
  .user-info {
    .name {
      // vip text
      span:last-of-type {
        background: var(--mcenter_button_color2);
      }
    }
  }
}

.user-desc-block {
  color: var(--vip_text_color1);
  .money {
    color: #e53266;
  }
}

.run-level-alias {
  background: var(--mcenter_button_color2);
}

.run-level {
  &.current {
    background: var(--mcenter_button_color1);
  }

  &.next {
    background: var(--mcenter_button_color2);
  }
}

.run-bar {
  background: url(/static/image/sg1/mcenter/vip/vip_runbg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.run-ok-bar {
  background: url(/static/image/sg1/mcenter/vip/vip_runok.png);
  background-size: cover;
  background-repeat: no-repeat;

  img {
    bottom: 1px;
  }
}
