@import "./porn1.vipUser.scss";
$main-color: #e42a30;

.user-info-block {
  .user-info {
    .name {
      // vip text
      span:last-of-type {
        background: linear-gradient(to right, #febdb2, #ff8093);
      }
    }
  }
}

.user-desc-block {
  color: #bf8646;

  .money {
    color: #333333;
  }
}

.run-level {
  &.current {
    background: linear-gradient(to right, #fe593c, #e61938);
  }

  &.next {
    background: linear-gradient(to right, #fed3cb, #ffc5ce);
  }
}

.run-bar {
  background: url(/static/image/sg1/mcenter/vip/vip_runbg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.run-ok-bar {
  background: url(/static/image/sg1/mcenter/vip/vip_runok.png);
  background-size: cover;
  background-repeat: no-repeat;
}
