@import "./porn1.vipUser.scss";

.user-info-block {
  .user-info {
    .name {
      // vip text
      span:last-of-type {
        background: $member_gradient_color2;
      }
    }
  }
}

.user-desc-block {
  color: $member_text_color5;

  .money {
    color: #333333;
  }
}

.run-level-alias {
  background: $member_gradient_color2;
}

.run-level {
  &.current {
    background: $member_gradient_color1;
  }

  &.next {
    background: $member_gradient_color2;
  }
}

.run-bar {
  background: url(/static/image/sg1/mcenter/vip/vip_runbg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.run-ok-bar {
  background: url(/static/image/sg1/mcenter/vip/vip_runok.png);
  background-size: cover;
  background-repeat: no-repeat;

  img {
    bottom: 1px;
  }
}
