@import "./porn1.vipInfo.scss";

.title {
  &::before {
    background: #000;
  }
}

.vip-detail {
  color: #000;
}

.cells-block {
  .cell-text {
    color: #a2a2a2;
  }
  .special-cell {
    color: #a2a2a2;
  }
}
