@import "./porn1.vipInfo.scss";

.title {
  &::before {
    background: var(--member_gradient_color1);
  }
}

.vip-detail {
  color: var(--vip_detail_color);

  .cell-text {
    color: #a2a2a2;
  }
  .special-cell {
    color: #a2a2a2;
  }
}
