@import "./sendFeedback.module.scss";

.submit {
  background: $member_gradient_color1;

  &.disabled {
    background: $member_gradient_color2;
  }
}

.pop-title {
  span {
    color: $member_color100;
  }
}
