@import "./sendFeedback.module.scss";

.submit {
  background: var(--member_gradient_color1);

  &.disabled {
    background: var(--member_gradient_color2);
  }
}

.pop-title {
  span {
    color: var(--member_color100);
  }
}
