@import "./sendFeedback.module.scss";

.submit {
  background: -webkit-linear-gradient(right, #fe593c, #e61938);
  background: -o-linear-gradient(left, #fe593c, #e61938);
  background: -moz-linear-gradient(left, #fe593c, #e61938);
  background: linear-gradient(to left, #fe593c, #e61938);

  &.disabled {
    background: -webkit-linear-gradient(right, #fed3cb, #ffc5ce);
    background: -o-linear-gradient(left, #fed3cb, #ffc5ce);
    background: -moz-linear-gradient(left, #fed3cb, #ffc5ce);
    background: linear-gradient(to left, #fed3cb, #ffc5ce);
  }
}

.pop-title {
  span {
    color: #bf8646;
  }
}
