@import "./porn1.avater.scss";

.dialog-wrap {
  .avatar-cell {
    img {
      &.active {
        border: 2px solid transparent;
        border-color: #e42a30;
      }
    }

    .check {
      background: url("/static/image/sg1/mcenter/ic_check.png") 0 0 no-repeat;
      background-size: 100%;
    }
  }
}

.avater-editer-header {
  color: #ffffff;

  .title {
    color: #000000;
  }
}

.choose-btn {
  background: #000;
  color: #ffffff;
  border-radius: 23px;
}

.cancel-btn {
  background: #ededed;
  color: #000;
  border: 1px solid #000;
}

.submit-btn {
  background: #000;
  color: #ffffff;
}

.btn-prev {
  > div {
    background-image: url("/static/image/common/btn_back_black.png");
    background-size: cover;
    background-position: center;
  }
}
