@import "./index.module.scss";

.btn-send {
  background: var(--main_button_color2);
  width: 110px;
  border-radius: 23px;
  font-size: 14px;
  color: var(--main_button_text_color2);
  &.active {
    color: var(--main_button_text_color1);
    background: var(--main_button_color1);
  }
}

.phone-selected {
  border: 0px;
  background-color: #ffffff;
  margin-right: 10px;
}
