@import "./index.module.scss";

.btn-send {
  background: #e0e0e0;
  width: 110px;
  border-radius: 23px;
  font-size: 14px;
  &.active {
    color: #ffffff;
    background: #000;
  }
}

.phone-selected {
  border: 0px;
  background-color: #ffffff;
  margin-right: 10px;
}
