@import '~@/css/variable.scss';

.swiper-wrap {
    margin-bottom: 10px;
    background-color: #FFF;
}

.swiper-item {
    width: 25%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #A6A9B2;

    span {
        display: inline-block;
        height: 35px;
        line-height: 35px;
        border-bottom: 2px solid transparent;
    }

    &.is-current {
        color: #5E626D;

        span {
            border-bottom: 2px solid #BE9E7F;
        }
    }
}

.bank-card-wrap {
    position: relative;
    background: #F8F8F7;
}

.feature-wrap {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #FFF;
}

.feature-title {
    height: 16px;
    line-height: 16px;
    margin-bottom: 4px;
    padding: 0 5px;
    color: #222;
    font-size: 12px;
}

.bank-card-title {
    float: left;
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    color: #222;
}

.select-bank-title {
    float: left;
    font-size: 14px;
    color: #222;
}

.select-active {
    position: absolute;
    right: 18px;
    top: 50%;
    width: 15px;
    height: 15px;
    color: #BE9E7F;
    transform: translateY(-50%);
}

.pay-mode-item-wrap {
    margin-top: 5px;
}

.pay-mode-item {
    position: relative;
    float: left;
    width: 23%;
    margin: 0 1% 5px;
    padding: 7px 1px 1px;
    border: 1px solid #EEE;
    border-radius: 3px;
    color: #AAA;
    cursor: pointer;
    position: relative;

    .pay-active {
        display: block;
        width: 7px;
        height: 5px;
        position: absolute;
        right: 1px;
        bottom: 2px;
    }

    &.is-current {
        border: 1px solid #D1B79C;
        color: #D1B79C;
        background: linear-gradient(-45deg, #D1B79C 10px, hsla(0, 0%, 100%, 0) 0);
    }

    .pay-mode-tag {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 26px;
        height: 25px;
    }

    .pay-mode-img {
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 auto;
    }

    .pay-main-title {
        overflow: hidden;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .pay-sub-title {
        overflow: hidden;
        height: 12px;
        line-height: 12px;
        color: #DB6372;
        font-size: 10px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.pay-mode-pass {
    display: inline-block;
    width: 18.5%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-right: 6px;
    color: #000;
    border: 1px solid #EEE;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    position: relative;

    &:nth-child(5n) {
        margin-right: 0;
    }

    .pay-active {
        display: block;
        width: 7px;
        height: 5px;
        position: absolute;
        right: 1px;
        bottom: 3px;
    }
}

.current-data {
    background-color: #FFF;
    color: #D1B79C;
    border: 1px solid #D1B79C;
    background: linear-gradient(-45deg, #D1B79C 12px, hsla(0, 0%, 100%, 0) 0);
}


.pay-money-item {
    float: left;
    min-width: 23%;
    height: 40px;
    line-height: 40px;
    margin: 2px 8px 2px 0;
    padding: 0 3px;
    text-align: center;
    font-size: 13px;
    color: #222;
    border-radius: 3px;
    border: 1px solid #EEE;
    position: relative;

    .pay-active {
        display: block;
        width: 7px;
        height: 5px;
        position: absolute;
        right: 1px;
        bottom: 3px;
    }

    &:nth-child(4n) {
        margin-right: 0;
    }

    &.is-current {
        background-color: #FFF;
        color: #D1B79C;
        border: 1px solid #D1B79C;
        background: linear-gradient(-45deg, #D1B79C 12px, hsla(0, 0%, 100%, 0) 0);
    }
}

.pay-button {
    display: block;
    overflow: hidden;
    width: calc(100% - 20px);
    height: 45px;
    line-height: 45px;
    margin: 30px auto 15px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    // cursor: pointer;
    color: #FFF;
    background: #BD9D7D;
    background-image: -webkit-linear-gradient(right, #BD9D7D, #F9DDBD);
    background-image: linear-gradient(right, #BD9D7D, #F9DDBD);

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.deposit-input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding-left: 15px;
    font-size: 14px;
    outline: none;
    border: none;
    color: #222;
    background: #FFF;

    &.disable {
        pointer-events: none;
    }

    // Chrome/Opera/Safari
    &::-webkit-input-placeholder {
        color: #CBCED8;
    }

    // Firefox 19+
    &::-moz-placeholder {
        color: #CBCED8;
    }

    // IE 10+
    &:-ms-input-placeholder {
        color: #CBCED8;
    }

    // Firefox 18-
    &:-moz-placeholder {
        color: #CBCED8;
    }
}

.deposit-input-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 700;
    color: #414655;
}

.money-input-tip {
    float: left;
    width: 100%;
    padding: 10px 0;
    font-size: 13px;
    color: #DB6372;
}

.is-error {
    color: #DB6372;
}

.service-remind {
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
    color: #A6A9B2;
}

.service-btn {
    margin-left: 5px;
    color: #6AAAF5;
}

// ===============================================

.deposit-list-wrap {
    padding: 10px 20px;
    text-align: center;
}

.mode-item {
    overflow: hidden;
    float: left;
    width: 48%;
    height: 42px;
    line-height: 42px;
    margin-bottom: 8px;
    padding: 0 16px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 3px;
    color: #FFF;
    background-color: #00347D;

    &:active {
        background-color: #004AAE;
    }

    &:nth-child(2n + 1) {
        margin: 0 8px 0 2px;
    }
}

.loading-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 258px 0;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

.loading-item {
    display: inline-block;
    vertical-align: top;
}

.select-style {
    border: none;
    width: 100%;
    background: none;
}

.select-card-wrap {
    font-size: 14px;
    line-height: 19px;
}

.select-bank-item {
    float: left;
    height: 23px;
    margin-left: 50px;
    font-size: 14px;
}

.select-bank-icon {
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 2px;
}

.pop-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.pop-mask {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.pop-menu {
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #F8F8F7;
    border-radius: 20px 20px 0 0;
}

.pop-title {
    height: 73px;
    line-height: 73px;
    margin-bottom: 9px;
    position: relative;
    font-size: 17px;
    color: #414655;
    background: #FEFFFE;
    text-align: center;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);

    span {
        padding: 0 14px;
        position: absolute;
        left: 0;
        color: #BE9E7F;
    }
}

.pop-list {
    height: calc(100% - 82px);
    padding-left: 18px;
    margin: 0;
    list-style: none;
    background: #FEFFFE;
    overflow-y: scroll;

    li {
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        color: #414655;
        border-bottom: 1px solid #EEE;
        position: relative;
    }

    img {
        width: 24px;
        height: 24px;
        margin-right: 9px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: top;
    }
}

.bank-feature-wrap {
    float: left;
    width: 100%;
}

.feature-deposit-wrap {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    border-bottom: 1px solid transparent;

    &.is-error-line {
        border-bottom: 1px solid #EEE;
    }
}

.speed-money-wrap {
    margin-bottom: 5px;
}

.select-money {
    padding-bottom: 0;
}

.feature-tip-wrap {
    padding: 0 21px;
}

.money-info-wrap {
    padding: 0 10px;
    margin-top: 30px;
}

.feature-tip-title {
    font-size: 14px;
    color: #CBCED8;

    &.success {
        color: #D1B79C;
    }
}

.pop-message-mark {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
}

.message-container {
    width: 260px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    background: #FEFFFE;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.message-content {
    padding: 14px 10px;
    margin: 0;
    border-bottom: 1px solid #F8F8F7;
    list-style: none;

    li {
        line-height: 15px;
        font-size: 12px;
        color: #A6A9B2;
    }
}

.message-close {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #D1B79C;
}

.money-tip-wrap {
    margin-top: 7px;
    color: #0091D2;
}

.tip-list {
    font-size: 12px;
}

.depositName-wrap {
    padding: 0 10px;
    margin-bottom: 5px;
    background: #FFF;
}

.deposit-name-messgae {
    padding: 5px 0;
    font-size: 12px;
    color: #DB6372;

    &.hide {
      display: none;
    }
}

.speed-field-name {
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #EEE;
    position: relative;
}

.speed-input-wrap {
    margin-top: 5px;
    padding: 0 10px;
    background: #FFF;
}

.speed-field {
    padding: 15px 0;
    font-size: 14px;
    border-bottom: 1px solid #EEE;
    position: relative;
}

.speed-field-icon {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.field-title {
    float: left;
    width: 35%;
    color: #222;
}

.field-info {
    float: left;
    width: 65%;

    input {
        padding: 0;
        border: none;
        outline: 0;

        // Chrome/Opera/Safari
        &::-webkit-input-placeholder {
            color: #AAA;
        }

        // Firefox 19+
        &::-moz-placeholder {
            color: #AAA;
        }

        // IE 10+
        &:-ms-input-placeholder {
            color: #AAA;
        }

        // Firefox 18-
        &:-moz-placeholder {
            color: #AAA;
        }
    }
}

.speed-deposit-input-error-messgae {
    color: #AAA;
}

.depositMethod-no-data {
    color: #AAA;
}

// 日期套件
:global {
    .mx-datepicker {
        width: 100%;
    }

    .mx-input {
        height: 19px;
        line-height: 19px;
        padding: 0;
        box-shadow: none;
        border: none;
        background: transparent;

        &::-webkit-input-placeholder {
            color: #A6A9B2;
        }
    }

    .mx-icon-calendar {
        right: 0;
        display: none;
    }

    .mx-icon-clear {
        right: 0;
    }
}

.speed-input-title {
    display: block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #BEBCBC;
    color: #262626;
    background-color: #FFF;
}

.info-wrap {
    margin-top: 9px;
}

.deposit-info-title {
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #BEBCBC;
    color: rgba(0, 0, 0, 0.87);
    background: #FFF;
}

.deposit-submit-info {
    width: 100%;
    border-width: 1px 0;
    border-style: solid;
    border-color: #BEBCBC;
    border-collapse: collapse;
    background-color: #FFF;
}

.submit-info-wrap {
    border-top: 1px solid #BEBCBC;
    padding: 7px 0;
}

.basic-info-text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 68%;
    padding-right: 42px;
    text-align: right;
    color: #000;
    background: #FFF;

    &.basic-info-title {
        width: 30%;
        padding: 0 0 0 17px;
        text-align: left;
        color: #000;
    }

    &.info-memo {
        padding: 0 12px 0 20px;
        text-align: left;
    }

    .application-table & {
        padding-right: 16px;
    }
}

.qrcode-wrap {
    padding-right: 22px;
}

.qrcode-item {
    display: inline-block;
}

.qrcode-td {
    padding-right: 16px;
}

.icon-wrap {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 12px;
    margin-top: -10px;
    text-align: center;
    cursor: pointer;
    background: $depositIconWrapBg;
    color: $depositIconWrapColor;
    border-radius: 50%;

    div {
        position: relative;
        width: 100%;
        height: 100%;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.info-border {
    margin: 7px 0;
    border-bottom: 1px solid #BEBCBC;
}

.qrcode-item {
    text-align: right;

    &:last-child {
        margin-right: 0;
    }
}

.qrcode-title {
    color: #000;
}

.qrcode-img {
    width: 100px;
    height: 100px;
}

.warm-tip-title {
    line-height: 27px;
    margin-bottom: 0;
    font-size: 14px;
    color: #A6A9B2;
    text-align: center;
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        width: calc(50% - 50px);
        height: 1px;
        background: #DDD;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

.warm-tip {
    font-size: 12px;
    color: #A6A9B2;
}

.entry-message-container {
    width: 85%;
    min-height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    background: #FEFFFE;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.entry-message-content {
    padding: 14px 10px;
    margin: 0;
    border-bottom: 1px solid #F8F8F7;
    list-style: none;

    p {
        font-size: 16px;
        text-align: center;
        font-weight: 700;
    }

    > div {
      line-height: 22px;
    }

}

.entry-message-confirm {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: #D1B79C;
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    list-style-type: none;

    li {
        flex: 1;
        border-right: 1px solid #F8F8F7;
    }
}
