@import '~@/css/variable.scss';

.swiper-wrap {
    background-color: #FFF;
}

.swiper-item {
    width: 25%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #A6A9B2;

    &.is-current {
        color: #5E626D;
        border-bottom: 2px solid #BE9E7F;
    }
}

.bank-card-wrap {
    position: relative;
}

.feature-wrap {
    padding: 10px;
    background-color: #FFF;
}

.feature-title {
    height: 16px;
    line-height: 16px;
    margin-bottom: 4px;
    padding: 0 5px;
    color: #222;
    font-size: 12px;
}

.bank-card-title {
    display: block;
    font-size: 12px;
    color: #A6A9B2;
}

.pay-mode-item-wrap {
    margin-top: 5px;
}

.pay-mode-item {
    position: relative;
    float: left;
    width: 24%;
    margin: 0 0.5% 4px;
    padding: 7px 1px 1px;
    border: 1px solid #BEBCBC;
    border-radius: 3px;
    color: #AAA;
    cursor: pointer;

    &.is-current {
        border: 1px solid #BF8646;
        color: #BF8646;
    }

    .pay-mode-tag {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 26px;
        height: 25px;
    }

    .pay-mode-img {
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 auto;
    }

    .pay-main-title {
        overflow: hidden;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .pay-sub-title {
        overflow: hidden;
        height: 12px;
        line-height: 12px;
        color: #DB6372;
        font-size: 12px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// ===============================================

.deposit-list-wrap {
    padding: 10px 20px;
    text-align: center;
}

.mode-item {
    overflow: hidden;
    float: left;
    width: 48%;
    height: 42px;
    line-height: 42px;
    margin-bottom: 8px;
    padding: 0 16px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 3px;
    color: #FFF;
    background-color: #00347D;

    &:active {
        background-color: #004AAE;
    }

    &:nth-child(2n + 1) {
        margin: 0 8px 0 2px;
    }
}

.loading-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 258px 0;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

.loading-item {
    display: inline-block;
    vertical-align: top;
}

.select-style {
    border: none;
    width: 100%;
    background: none;
}

.select-bank-item {
    height: 23px;
    font-size: 17px;
}

.bank-feature-wrap {
    float: left;
    width: 100%;
}

.feature-deposit-wrap {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid #BEBCBC;

    &.is-error-line {
        border-color: #F00;
    }
}

.speed-money-wrap {
    padding-bottom: 2px;
    border-bottom: 1px solid #BEBCBC;
}

.pay-mode-pass {
    display: inline-block;
    width: 31%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-right: 8px;
    color: #000;
    border: 1px solid #BEBCBC;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.current-data {
    background-color: $depositPayItemBg;
    color: $depositPayItemColor;
    border: none;
}

.deposit-input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 17px;
    outline: none;
    border: none;
    color: #000;
    background: #FFF;

    // Chrome/Opera/Safari
    &::-webkit-input-placeholder {
        color: #000;
    }
    // Firefox 19+
    &::-moz-placeholder {
        color: #000;
    }
    // IE 10+
    &:-ms-input-placeholder {
        color: #000;
    }
    // Firefox 18-
    &:-moz-placeholder {
        color: #000;
    }
}

.pay-money-item {
    float: left;
    min-width: 18%;
    height: 35px;
    line-height: 35px;
    margin: 2px;
    padding: 0 3px;
    text-align: center;
    color: #000;
    border-radius: 3px;
    border: 1px solid #BEBCBC;

    &.is-current {
        border: 1px solid $depositPayItemBg;
        color: $depositPayItemColor;
        background-color: $depositPayItemBg;
    }
}

.is-error {
    color: #F00;
}

.feature-tip-wrap {
    padding: 0 21px;
}

.money-info-wrap {
    margin-top: 11px;
}

.feature-tip-title {
    float: left;
    margin-top: 4px;
    font-size: 14px;
    color: #000;
}

.amount-text {
    float: right;
    height: 27px;
    line-height: 27px;
    font-size: 27px;
    color: $depositAmountTextColor;
}

.money-tip-wrap {
    margin-top: 7px;
    color: #0091D2;
}

.tip-list {
    font-size: 12px;
}

.speed-input-wrap {
    margin-top: 20px;
}

.speed-input-title {
    display: block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #BEBCBC;
    color: #262626;
    background-color: #FFF;
}

.info-wrap {
    margin-top: 9px;
}

.deposit-info-title {
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #BEBCBC;
    color: rgba(0, 0, 0, 0.87);
    background: #FFF;
}

.deposit-submit-info {
    width: 100%;
    border-width: 1px 0;
    border-style: solid;
    border-color: #BEBCBC;
    border-collapse: collapse;
    background-color: #FFF;
}

.submit-info-wrap {
    border-top: 1px solid #BEBCBC;
    padding: 7px 0;
}

.basic-info-text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 68%;
    padding-right: 42px;
    text-align: right;
    color: #000;
    background: #FFF;

    &.basic-info-title {
        width: 30%;
        padding: 0 0 0 17px;
        text-align: left;
        color: #000;
    }

    &.info-memo {
        padding: 0 12px 0 20px;
        text-align: left;
    }

    .application-table & {
        padding-right: 16px;
    }
}

.qrcode-wrap {
    padding-right: 22px;
}

.qrcode-item {
    display: inline-block;
}

.qrcode-td {
    padding-right: 16px;
}

.icon-wrap {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 12px;
    margin-top: -10px;
    text-align: center;
    cursor: pointer;
    background: $depositIconWrapBg;
    color: $depositIconWrapColor;
    border-radius: 50%;
    div {
        position: relative;
        width: 100%;
        height: 100%;
    }
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.info-border {
    margin: 7px 0;
    border-bottom: 1px solid #BEBCBC;
}

.qrcode-item {
    text-align: right;

    &:last-child {
        margin-right: 0;
    }
}

.qrcode-title {
    color: #000;
}

.qrcode-img {
    width: 100px;
    height: 100px;
}

.pay-button {
    display: block;
    overflow: hidden;
    width: 268px;
    height: 45px;
    line-height: 45px;
    margin: 47px auto 15px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    cursor: pointer;
    color: $depositPayButtonColor;
    background-color: $depositPayButtonBg;

    &:active {
        background-color: $depositPayButtonActiveBg;
    }
}

.warm-tip-title {
    font-size: 12px;
    color: #333857;
}

.warm-tip {
    font-size: 12px;
    color: #333857;
}

// pad
@media screen and (min-width: $pad) {
    .mode-item {
        height: 58px;
        line-height: 58px;
        font-size: 18px;
    }

    .bank-card-wrap {
        padding-top: 20px;
    }

    .feature-wrap {
        padding: 15px 6% 8px;
    }

    .bank-card-title {
        font-size: 18px;
    }

    .pay-mode-item {
        padding: 8px 4px 6px 57px;
        font-size: 14px;

        .pay-main-title {
            font-size: 20px;
        }

        .pay-mode-img {
            width: 36px;
            height: 36px;
        }
    }

    .pay-mode-pass {
        width: 22%;
        height: 58px;
        line-height: 58px;
        margin-bottom: 0;
        font-size: 26px;

        &:nth-child(3n) {
            margin-right: 8px;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .deposit-input {
        height: 33px;
        line-height: 33px;
        font-size: 26px;
    }

    .feature-tip-wrap {
        padding: 0 6%;
        line-height: 26px;
    }

    .feature-tip-title {
        height: 37px;
        line-height: 37px;
        font-size: 26px;
    }

    .amount-text {
        height: 46px;
        line-height: 46px;
        font-size: 46px;
    }

    .money-tip-wrap {
        line-height: 28px;
        margin-top: 10px;
    }

    .tip-list {
        font-size: 18px;
    }

    .pay-button {
        width: 567px;
        height: 58px;
        line-height: 58px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .warm-tip-title {
        font-size: 18px;
    }

    .warm-tip {
        font-size: 18px;
    }
}

.theme-miller {
    .mode-item {
        background-color: #F7B500;

        &:active {
            background-color: #FFD152;
        }
    }

    .pay-button {
        background-color: #F7B500;

        &:active {
            background-color: #FFD152;
        }
    }

    .money-tip-wrap {
        color: #F7B500;
    }
}
