.preset-color {
    $depositIconWrapColor: #00347D;
    $depositIconWrapBg: rgba(0,0,0,0);

    $depositSubmitBtnColor: #FFF;
    $depositSubmitBtnBg: #00347D;
    $depositSubmitBtnActiveBg: #004AAE;
    @import './depositInfo.module.scss'; 
}

.site-500011,
.site-52,
.site-53 {
    $depositIconWrapColor: #FFF;
    $depositIconWrapBg: #EDB83F;

    $depositSubmitBtnColor: #000;
    $depositSubmitBtnBg: #EDB83F;
    $depositSubmitBtnActiveBg: #EDB83F;

    @import './depositInfo.module.scss';  
}