.preset-color {
    $alertTitleBg: #00347D;
    $alertTitleColor: #FFF;

    $alertConfirmBtnColor: #FFF;
    $alertConfirmBtnBg: #00347D;
    $alertConfirmBtnActiveBg: #004AAE;

    $alertCloseColor: #F9DCB2;
    @import './depositAlert.module.scss'; 
}

.site-500011,
.site-52,
.site-53 {
    $alertTitleBg: #EDB83F;
    $alertTitleColor: #000;

    $alertConfirmBtnColor: #000;
    $alertConfirmBtnBg: #EDB83F;
    $alertConfirmBtnActiveBg: #EDB83F;

    $alertCloseColor: #FFF;
    @import './depositAlert.module.scss';  
}