.pop-post-wrap {
    position: relative;
    margin: 194px auto 0;
    border-radius: 4px;
    background: #FFF;
    padding-bottom: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    width: 98%;
    max-width: 700px;
    .close-btn {
        position: absolute;
        top: 27px;
        right: 20px;
        width: 46px;
        height: 46px;
        line-height: 46px;
        font-size: 82px;
        font-family: initial;
        color: #999;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            transform:rotate(90deg);
        }
    }
    .title {
        background: #333;
        height: 100px;
        line-height: 100px;
        color: #FFF;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #AAA;
    }
    .content-wrap {
        padding: 34px 20px 0;
        height: 358px;
        overflow-y: auto;
        .content {
            border: 1px solid #DDD;
            .content-title {
                background: #F1F1F1;
                line-height: 24px;
                color: #333;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                padding: 12px 5px;
            }
            .content-detail {
                padding: 10px 26px;
                font-size: 15px;
                line-height: 28px;
            }
        }
    }
    .bottom {
        padding-right: 24px;
        line-height: 20px;
        text-align: right;
        label {
            vertical-align: middle;
        }
        .checkbox {
            border: 1px solid #BBB;
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    }
}
