// footer
.footer-wrap {
    padding: 30px 0;
    font-size: 12px;
    background-color: #38201B;

    .footer {
        margin: 0 auto;
        width: 1000px;
        text-align: center;
        color: #AC9885;

        .footer-info,
        .footer-copyright {
            margin-bottom: 8px;
            line-height: 20px;
        }
    }
}

// 深紫色
.footer-wrap {
    .deep-purple & {
        background-color: #280545;

        .footer {
            color: #7C33C6;
        }
    }
}
