// 會員資訊子選單
.mem-menu-wrap {
    float: right;
    margin: 0 13px 13px 0;
    color: #FFF;

    >.link-line {
        float: left;
        width: 1px;
        height: 10px;
        margin: 0 10px;
    }

    span {
        float: left;
    }

    .link-item {
        cursor: pointer;

        &:hover {
            color: #F8DDB8;
        }
    }
}

// 深紫色
.mem-menu-wrap {
    .deep-purple & {
        .link-item {
            &:hover {
                color: #FFFF72;
            }
        }
    }
}
