@import "@/css/variable.scss";

.date-wrap {
    padding: 0 23px;
    background-color: #e9dacc;

    > div {
        height: 37px;
        line-height: 37px;
        font-size: 14px;
    }
}

.date {
    float: left;
    color: $main_discover_color1;
}

.remainder {
    float: right;
    color: $main_title_color1;
}

.summary-wrap {
    background-color: #fff;
}

.wrap {
    margin: 0 19px;

    &:nth-child(even) {
        padding: 0 19px;
        margin: 0;
        background: #f6f4f4;
    }
}

.title-wrap {
    border-bottom: 1px solid #ccc;
    padding: 12px 0;
    font-size: 14px;

    .btn-arrow {
        float: left;
        margin-left: 10px;
        color: #000;
    }

    .title {
        float: left;
        margin-left: 13px;
        color: #555;
    }

    .amount {
        float: right;
        color: #000;
    }
}

.detail-wrap {
    padding: 5px 35px;

    .text {
        float: left;
        color: #555;
        font-size: 12px;

        &.main {
            color: #55b9ff;
        }
    }

    .amount {
        float: right;
        color: #555;
        font-size: 12px;

        &.main {
            color: #55b9ff;
        }

        &.deficit {
            color: #f00;
        }
    }

    .divider {
        height: 1px;
        margin: 5px 0;
        background-color: #ccc;
    }

    .summary-date {
        color: #555;
        font-size: 12px;
    }

    .tips {
        margin: 14px 0 11px;
        color: #222;
        font-size: 12px;
        text-align: center;
    }
}

.no-data {
    padding: 12px 0;
    color: #aaa;
    font-size: 14px;
    text-align: center;
}
