.header-wrap {
    margin: 0 auto;
    width: 1000px;
}

.header-top-feature {
    float: right;
}

.header-bottom-wrap {
    position: relative;
    height: 138px;
    &.is-login {
        padding-right: 0;
    }
}

.header-login-wrap {
    padding: 14px 0 0 60px;

    &.is-login {
        padding: 16px 0 0 22px;
    }
}

// 語系元件
/deep/ .lang-wrap {
    float: right;
    margin: 10px 2px 0 0;

    .lang-item {
        float: right;
        width: 22px;
        height: 16px;
        margin-left: 6px;
        cursor: pointer;

        &.zh-tw {
            background-position-y: 0;
        }

        &.en {
            background-position-y: -80px;
        }

        &.ja {
            background-position-y: -120px;
        }
    }
}
// 跑馬燈
.news-wrap {
    clear: right;
    float: right;
    width: 282px;
    height: 82px;
    margin-top: 44px;
    padding: 12px 14px 12px 68px;

    /deep/ .news-content {
        display: block;
        height: 58px;
        font-size: 12px;
        white-space: initial;
        color: #9F9F9F;
    }
}

// LOGO
/deep/ .header-logo-wrap {
    position: relative;
    float: right;
    width: 306px;
    height: 95px;
    margin: 8px 72px 0 0;

    img {
        vertical-align: middle;
    }
}

// 導覽列
.header-nav-wrap {
    margin-top: 12px;
}

/deep/ .nav-wrap {
    float: left;
    margin: 28px 0 0 12px;

    .nav-item-wrap {
        position: relative;
        float: left;
        width: 81px;
        padding: 0 2px;

        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 11px;
            top: 14px;
            right: 0;
            border-right: 1px solid #4B3B3D;
            background: #000;
        }

        &.nav-last-item-wrap {
            &:after {
                content: none;
            }
        }

        .nav-item-icon {
            position: absolute;
            display: block;
            right: 12px;
            bottom: 27px;

            img {
                display: block;
            }
        }

        .nav-item {
            display: block;
            overflow: hidden;
            height: 39px;
            line-height: 39px;
            padding: 0 5px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            color: #FFF3CC;

            &.nolink {
                cursor: default;
            }
        }

        .nav-sub-wrap {
            position: absolute;
            z-index: 100;
            width: 110px;
            margin-left: -16px;
            padding: 16px 0;
            top: 38px;
            left: 0;
            border-top: 1px solid #887578;
            background: #333;

            .nav-sub-item {
                position: relative;
                color: #FFF;

                span {
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    height: 33px;
                    line-height: 33px;
                    padding: 0 10px;
                    text-align: center;
                    font-size: 12px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    cursor: pointer;
                }

                .nav-sub-icon-wrap {
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    left: 86px;
                    bottom: 21px;
                    cursor: pointer;

                    .nav-sub-item-icon {
                        position: absolute;
                        max-width: 100%;
                        bottom: 0;
                        left: 0;
                    }
                }

                &.nolink {
                    cursor: default;
                }

                &.current,
                &:hover {
                    color: #887578 !important;
                }
            }
        }
    }

    .nav-more-wrap {
        position: relative;
        float: left;
        margin-top: 10px;

        .more-btn {
            display: block;
            width: 15px;
            height: 18px;
            padding-top: 4px;
            text-align: center;
            cursor: pointer;

            svg {
                display: block;
                margin: 0 auto;
                color: #FFF;
            }
        }

        .more-list {
            position: absolute;
            z-index: 100;
            width: 120px;
            top: 26px;
            right: 0;
            border-top: 1px solid #887578;
            background: #333;

            &:before {
                content: '';
                position: absolute;
                top: -9px;
                bottom: 0;
                right: 0;
                left: 0;
            }

            .more-list-item {
                position: relative;
                display: block;
                width: 100%;
                height: 30px;
                line-height: 30px;
                font-size: 12px;
                text-align: center;
                cursor: pointer;
                color: #FFF;

                &.current,
                &:hover {
                    color: #887578 !important;
                }

                .text {
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding: 0 18px;
                }

                .nav-more-icon-wrap {
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    left: 86px;
                    bottom: 21px;
                    cursor: pointer;

                    .nav-more-item-icon {
                        position: absolute;
                        max-width: 100%;
                        bottom: 0;
                        left: 0;
                    }
                }

                .nav-more-caret {
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    margin-top: -8px;
                }

                .nav-more-sub-wrap {
                    position: absolute;
                    z-index: 100;
                    top: 0;
                    width: 120px;
                    border-top: 1px solid #887578;
                    background: #333;

                    .nav-more-sub-item {
                        position: relative;
                        color: #FFF;
                        font-size: 12px;

                        .nav-more-sub-icon-wrap {
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            left: 86px;
                            bottom: 21px;
                            cursor: pointer;

                            .nav-more-sub-item-icon {
                                position: absolute;
                                max-width: 100%;
                                bottom: 0;
                                left: 0;
                            }
                        }

                        &.nolink {
                            cursor: default;
                        }

                        &.current,
                        &:hover {
                            color: #887578 !important;
                        }
                    }
                }
            }
        }
    }
}

// 登入前
/deep/ .login-form-wrap {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;

    .login-unit {
        display: inline-block;
        vertical-align: middle;
        width: 154px;
        height: 28px;
        margin-right: 8px;

        input {
            width: 100%;
            height: 28px;
            line-height: 28px;
            padding-left: 8px;
            outline: none;
            border: none;
            color: #DFC182;
            background: none;
            // Chrome/Opera/Safari
            &::-webkit-input-placeholder {
                color: #DFC182;
            }
            // Firefox 19+
            &::-moz-placeholder {
                color: #DFC182;
            }
            // IE 10+
            &:-ms-input-placeholder {
                color: #DFC182;
            }
            // Firefox 18-
            &:-moz-placeholder {
                color: #DFC182;
            }
        }
    }

    .login-unit-captcha {
        position: relative;
        width: 119px;
        margin-right: 10px;

        img {
            position: absolute;
            width: 58px;
            top: 1px;
            right: 1px;
            cursor: pointer;
            background: #202020;
        }
    }

    .links-forget {
        margin-right: 4px;
        transition: all 0.5s;
        cursor: pointer;
        color: #DFC182;

        &:hover {
            color: #887578;
        }
    }

    .login-submit {
        margin: 0 5px 0 8px;
        display: inline-block;
        vertical-align: middle;
        width: 90px;
        height: 36px;
        cursor: pointer;
        transition: all .4s;

        &:hover {
            background-position: 50% 100%;
        }
    }
}

.header-register-wrap {
    display: inline-block;
    vertical-align: middle;

    span {
        display: inline-block;
        vertical-align: middle;
        width: 90px;
        height: 36px;
        cursor: pointer;
        transition: all .4s;

        &:hover {
            background-position: 50% 100%;
        }
    }

    .links-join {
        margin: 0 1px;
    }
}

.header-agent-wrap {
    display: inline-block;
    vertical-align: middle;

    span {
        display: inline-block;
        vertical-align: middle;
        width: 90px;
        height: 30px;
        cursor: pointer;
        transition: all .4s;

        &:hover {
            background-position: 50% 100%;
        }
    }

    .links-join {
        margin: 0 1px;
    }
}

// 登入後
/deep/ .login-info-wrap {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #F4E5B7;

    .login-info-item {
        display: inline-block;
        vertical-align: middle;

        &.account {
            margin-right: 20px;
        }

        strong {
            color: #FFBD00;
        }
    }

    // 加號選單
    .balance-wrap {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 16px;
        margin: 0 9px 0 5px;

        .balance-icon {
            display: block;
            cursor: pointer;
            color: #F4E5B7;
        }

        .balance-list-wrap {
            position: absolute;
            visibility: hidden;
            width: 250px;
            z-index: 100;
            top: 18px;
            right: 0;
            transition: visibility 0.3s;

            &.show {
                visibility: visible;
            }

            &.right {
                right: auto;
            }

            .balance-list {
                line-height: 22px;
                padding: 16px;
                text-align: left;
                border-width: 1px 1px 0 0;
                border-style: solid;
                border-radius: 2px 2px 0 0;
                border-color: #564A4C;
                background: #564A4C;
                color: #FFF;
            }

            .balance-tran {
                height: 30px;
                padding: 4px 8px 0 0;
                border-radius: 0 0 2px 2px;
                background: #242424;

                .balance-tran-btn {
                    float: right;
                    width: 58px;
                    height: 22px;
                    line-height: 22px;
                    text-align: center;
                    font-size: 12px;
                    border-radius: 5px;
                    cursor: pointer;
                    color: #381717;
                    background: #DFC282;
                    overflow : hidden;
                    text-overflow : ellipsis;
                    white-space : nowrap;

                    &:hover {
                        background: #DAB86E;
                    }
                }
            }
        }
    }

    // 會員資訊子選單
    .login-info-links {
        display: inline-block;
        vertical-align: middle;

        span {
            display: inline-block;
            vertical-align: middle;

            &.link-item {
                cursor: pointer;
                color: #F4E5B7;

                &:hover {
                    color: #887578;
                }
            }

            &.mcenter {
                position: relative;
                padding-left: 8px;
                transition: all 0.5s;

                &:before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 10px;
                    top: 5px;
                    left: 0;
                    background-color: #F4E5B7;
                }
            }

            &.logout {
                width: 72px;
                height: 29px;
                margin-left: 23px;

                &:hover {
                    background-position: 50% 100%;
                }
            }
        }
    }
}
