.page-wrap {
    height: 1040px;
    padding-top: 120px;
    background: url('/static/image/tpl/17/customPage/forgetPw/forget_bg.jpg') 0 0/cover no-repeat;
}

.form-wrap {
    width: 1200px;
    height: 565px;
    margin: 120px auto 0;
    background: #FFF;
    box-shadow: 0 12px 27px 19px rgba(0,0,0,.04);
    border-radius: 10px;
}

.title {
    padding: 40px 0 0 40px;
    font-size: 18px;
    font-weight: 500;
}

.stage-wrap {
    width: 540px;
    margin: 72px auto 0;
}

.email-form {
    width: 180px;
}

.item-wrap {
    display: inline-block;
    width: 180px;
}

.line-wrap {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 4px;
    background-color: #F4F6F9;
}

.square {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -5px;
    border-radius: 2px;
    top: -8px;
    font-size: 14px;
    text-align: center;
    color: #999;
    background-color: #F4F6F9;
    line-height: 20px;
    transform: rotate(-45deg);

    span {
        font-weight: 700;
        display: block;
        transform: rotate(45deg);
    }
}

.stage-text {
    margin-top: 26px;
    color: #999;
    text-align: center;
}

.current {
    .line-wrap {
        background-color: #FFA10E;
    }

    .square {
        background-color: #FFA10E;
        color: #FFF;
    }

    .stage-text {
        color: #FFA10E;
    }
}

.select-form {
    width: 290px;
    margin: 40px auto 0;
    border-bottom: 1px solid #E3E3E3;
}

.select-item {
    float: left;
    width: 145px;
    padding-bottom: 10px;
    color: #999;
    text-align: center;
    cursor: pointer;
}

.current-form {
    color: #C39E51;
    border-bottom: 2px solid #C39E51;
}

.field-wrap {
    width: 356px;
    margin: 35px auto 0;
}

.input-wrap {
    margin-bottom: 25px;
}

.input-title {
    float: left;
    width: 70px;
    margin-right: 15px;
    font-size: 14px;
    color: #333;
    line-height: 40px;
    text-align: right;
}

.input-content {
    float: left;
    width: 260px;
    height: 40px;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    padding: 0 8px;
    background: none;
    color: #333;
    font-size: 14px;

    &:hover {
        border: 1px solid #000;
    }

    &:focus {
        outline: none;
        border: 1px solid #C39E51;
    }

    &::placeholder {
        color: #E3E3E3;
    }
}

.tip-text {
    float: left;
    width: 356px;
    margin-top: 10px;
    text-align: center;
    color: #C39E51;
}

.submit {
    float: right;
    width: 260px;
    height: 40px;
    margin-right: 11px;
    border-radius: 20px;
    background: linear-gradient(270deg, #955D2C, #F3D382);
    box-shadow: 0 10px 20px 6px rgba(145, 87, 40, 0.4);
    font-size: 14px;
    color: #FFF;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(270deg,#F3D382,#955D2C);
    }
}