.page-wrap {
    position: relative;
    min-height: 932px;
    background: #212121 url('/static/image/tpl/17/customPage/join/bg.jpg') 0 0/cover no-repeat;
}

.img-wrap {
    text-align: center;
}

.form-wrap {
    width: 394px;
    margin: 0 auto;
}

.join-wrap {
    margin: 0 auto;
    padding: 28px 0 32px;
    color: #FFF;
}

.join {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 100%;
}

.join-banner {
    position: relative;
    margin: 0 auto 30px;
    border-bottom: 1px solid #5A5A5A;
    background: #3D3D3D;
    padding-left: 140px;
    width: 90%;
    min-height: 90px;
    font-size: 30px;
    line-height: 76px;
}
.join-banner-icon {
    position: absolute;
    top: -30px;
    left: 14px;
    width: 109px;
    height: 109px;
}

.field-wrap {
    margin-bottom: 20px;
}

.captcha-img {
    position: absolute;
    top: 11px;
    right: 8px;
    background: #000;
    cursor: pointer;
}

.field-title {
    float: left;
    width: 84px;
    margin-right: 10px;
    line-height: 40px;
    text-align: right;
}

.field-text {
    float: left;
}

.join-star {
    float: left;
    margin-left: 5px;
    color: #D01C1C;
}

.join-input {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 3.5%;
    width: 100%;
    height: 40px;
    border: 1px solid #B8BAC1;
    border-radius: 5px;
    color: #646981;
    font-size: 14px;
    outline: 0;
}

.join-input-email {
    padding-right: 82px;
}

.join-input-phone {
    float: left;
    width: 68%;
    margin-left: 2%;
    padding-right: 82px;
}


.join-input-captcha {
    composes: join-input;
    height: 72px;
}

.join-input-birthday {
    composes: join-input;
    margin-left: 0;
    padding: 10px 3%;
    width: 100%;
    cursor: pointer;
}

.join-input-select {
    composes: join-input;
    padding: 0;

    &.show {
        border-color: #C24141;
    }

    :global(.clear) {
        display: none;
    }

    :global(.open-indicator:before) {
        border-color: #A5A5A5;
    }

    :global(.selected-tag),
    :global(.form-control) {
        color: #A5A5A5;
    }

    :global(.dropdown-toggle) {
        height: 100%;
        border: none;
    }

    span, input {
        color: #646981;
    }
}

.join-select-phone {
    composes: join-input-select;
    float: left;
    width: 30%;

    :global(input.form-control) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.join-input-gender {
    composes: join-input-select;

    &:global(.open) {
        :global(.selected-tag) {
            display: block;
            float: none;
            top: 0;
            right: 0;
            left: 0;
            height: 38px;
            line-height: 38px;
            margin: 0;
            padding: 0 30px;
            border-width: 0;
            text-align: center;
        }
    }
}

.join-input-withdraw {
    composes: join-input-select;
    position: relative;
    float: left;
    width: 22%;
    margin-right: 4%;

    &:global(.open) {
        :global(.selected-tag) {
            position: static;
        }
    }

    &:global(.v-select) {
        input {
            position: absolute;
            left: 0;
        }
    }
}

.join-input-withdraw-last {
    composes: join-input-withdraw;
    margin-right: 0;
}

.join-input-disable {
    composes: join-input;
    cursor: no-drop;
}

.field-right {
    position: relative;
    float: left;
    width: 300px;

    :global(.vdp-datepicker) {
        width: 100%;

        :global(.vdp-datepicker__calendar) {
            top: 35px;
            right: -21px;
            color: #000;
            text-align: left;
        }

        :global(.vdp-datepicker__clear-button) {
            position: absolute;
            top: 8px;
            right: 10px;
        }
    }
}

.join-tip {
    display: none;
    background-color: #FF4C4C;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F9F9F9;
}

.join-tip-show {
    composes: join-tip;
    display: inline-block;
}

.join-msg {
    margin-top: 5px;
    color: #668691;
    text-align: left;
}

.join-msg-icon {
    margin-right: 5px;
    color: #44C07D;
    vertical-align: middle;
}

.icon-verify {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #646981;
    border-radius: 50%;
    background-color: #646981;
    color: #EEE;

    > svg {
        display: block;
    }
}

.btn-verify {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 28px;
    line-height: 28px;
    padding: 0 6px;
    background-color: #646981;
    color: #FFF;
    font-size: 12px;
    cursor: pointer;
}

.join-line {
    margin: 29px auto;
    background: #B8BAC1;
    width: 90%;
    height: 1px;
}

.join-btn-wrap {
    margin: 0 auto;
    width: 80%;
}

.join-btn {
    border-radius: 5px;
    background: linear-gradient(90deg, #F3D382, #955D2C);
    width: 100%;
    height: 41px;
    line-height: 41px;
    color: #FFF;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: linear-gradient(90deg, #955D2C, #F3D382);
    }
}

.join-text {
    text-align: center;

    > span {
        color: #F3D382;
        cursor: pointer;

        &:hover {
            color: #666;
        }
    }
}
