@keyframes moveY01 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveY02 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveX01 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveX02 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveXY01 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.page-wrap {
    padding-top: 120px;
    overflow: hidden;
    background: url('/static/image/tpl/customizeHome/500000/live/img_bg.png') 0 120px no-repeat;
}

.page-container {
    position: relative;
    left: 50%;
    height: 782px;
    padding: 61px 0 0;
    width: 1200px;
    margin-left: -600px;
}

.img-wrap {
    position: absolute;
}

.bblive-img-wrap {
    width: 800px;
    height: 722px;
    left: -130px;

    .bblive-people_bbin {
        top: 25px;
        left: 173px;
    }

    .bblive-bbinzrlive {
        left: 160px;
    }

    .bblive-bbin_element_1 {
        bottom: 40px;
        left: 95px;
    }

    .bblive-bbin_element_2 {
        left: 0;
        bottom: 167px;
        animation: moveX02 5s infinite;
    }

    .bblive-bbin_element_3 {
        right: 0;
        bottom: 73px;
    }

    .bblive-bbin_element_4 {
        right: 149px;
        top: 300px;
        animation: moveX02 5s infinite;
    }

    .bblive-bbin_poker_1 {
        top: 200px;
        left: 113px;
        animation: moveX01 5s infinite;
    }

    .bblive-bbin_poker_2 {
        top: 223px;
        left: 45px;
        animation: moveX02 5s infinite;
    }

    .bblive-bbin_poker_3 {
        bottom: 301px;
        left: 4px;
        animation: moveXY01 5s infinite;
    }

    .bblive-bbin_poker_4 {
        top: 366px;
        left: 28px;
        animation: moveX01 5s infinite;
    }

    .bblive-bbin_poker_5 {
        bottom: 164px;
        left: 124px;
        animation: moveX02 5s infinite;
    }
}


.ag-img-wrap {
    left: -80px;
    top: 60px;
    width: 596px;
    height: 722px;

    .ag-yellowChip_ag {
        top: 287px;
        left: 35px;
        animation: moveY01 5s infinite;
    }

    .ag-aglive {
        top: 29px;
        left: 116px;
    }

    .ag-Chip_ag {
        bottom: -88px;
        right: -10px;
    }

    .ag-greenChip_ag {
        top: 175px;
        right: 50px;
        animation: moveY02 5s infinite;
    }

    .ag-pinkChip_ag {
        right: 63px;
        bottom: 256px;
    }

    .ag-poker_ag {
        bottom: 0;
    }

    .ag-people_ag {
        left: 116px;
        bottom: -131px;
    }
}

.gd-img-wrap {
    left: -80px;
    top: 60px;
    width: 625px;
    height: 722px;

    .gd-gdlive {
        left: 117px;
    }

    .gd-people_gd {
        left: 166px;
    }

    .gd-chip_gd {
        bottom: 18px;
        left: 13px;
    }

    .gd-poker_gd {
        bottom: 26px;
    }

    .gd-clock_gd {
        right: 0;
        bottom: 102px;
    }

    .gd-poker_r_gd {
        right: 0;
        bottom: 31px;
    }

    .gd-chip_r_gd {
        right: 124px;
        top: 341px;
        animation: moveY01 5s infinite;
    }

    .gd-chip_l_gd {
        left: 101px;
        top: 237px;
        animation: moveY02 5s infinite;
    }
}

.ab-img-wrap {
    left: -80px;
    top: 60px;
    width: 625px;
    height: 722px;

    .ab-chip_allbet {
        bottom: 0;
        left: 30px;
    }

    .ab-people_allbet {
        left: 140px;
    }

    .ab-ablive {
        left: 110px;
    }

    .ab-poker1_allbet {
        top: 192px;
        left: 163px;
    }

    .ab-poker2_allbet {
        bottom: 288px;
        left: 15px;
        animation: moveX01 5s infinite;
    }

    .ab-poker3_allbet {
        bottom: 144px;
        left: 31px;
        animation: moveX02 5s infinite;
    }

    .ab-poker4_allbet {
        bottom: 24px;
        left: 219px;
        animation: moveXY01 5s infinite;
    }

    .ab-poker5_allbet {
        bottom: 117px;
        right: 100px;
        animation: moveX01 5s infinite;
    }

    .ab-poker6_allbet {
        bottom: 237px;
        right: 31px;
        animation: moveX02 5s infinite;
    }

    .ab-poker7_allbet {
        bottom: 386px;
        right: 15px;
    }

    .ab-poker8_allbet {
        top: 240px;
        right: 95px;
    }
}

.bg-img-wrap {
    left: -80px;
    top: 60px;
    width: 625px;
    height: 722px;

    .bg-bglive {
        left: 122px;
    }

    .bg-chip_l_bg {
        bottom: 280px;
        left: 27px;
        animation: moveY01 5s infinite;
    }

    .bg-chip_r_bg {
        bottom: 50px;
        right: 0;
    }

    .bg-dice_l_bg {
        bottom: 12px;
        left: 28px;
    }

    .bg-dice_s_bg {
        bottom: 318px;
        right: 101px;
        animation: moveY02 5s infinite;
    }

    .bg-poker_l_bg {
        bottom: 40px;
        left: 0;
    }

    .bg-poker_r_bg {
        bottom: 0;
        right: 16px;
    }

    .bg-people_bg {
        bottom: 0;
        left: 160px;
    }
}

.evo-img-wrap {
    left: -50px;
    top: 60px;
    width: 625px;
    height: 722px;

    .evo-evolive {
        left: 90px;
    }

    .evo-diamond {
        top: 470px;
        left: 82px;
        animation: moveY01 5s infinite;
    }

    .evo-heart {
        top: 250px;
        right: 68px;
        animation: moveY02 5s infinite;
    }

    .evo-people_evo {
        bottom: -95px;
        left: 41px;
    }
}

.mg-img-wrap {
    left: -80px;
    top: 60px;
    width: 625px;
    height: 722px;

    .mg-mglive {
        left: 90px;
    }

    .mg-gold01 {
        top: 170px;
        left: 435px;
        animation: moveY01 5s infinite;
    }

    .mg-gold02 {
        top: 320px;
        left: 50px;
        animation: moveY02 5s infinite;
    }

    .mg-gold03 {
        top: 450px;
        left: 0;
        animation: moveX01 5s infinite;
    }

    .mg-people_mg {
        bottom: 0;
        left: -60px;
    }
}

.ebet-img-wrap {
    left: -120px;
    top: 60px;
    width: 625px;
    height: 722px;

    .ebet-ebetlive {
        left: 105px;
    }

    .ebet-dice01 {
        top: 300px;
        left: 505px;
        animation: moveY01 5s infinite;
    }

    .ebet-dice02 {
        top: 290px;
        left: 109px;
        animation: moveY02 5s infinite;
    }

    .ebet-people_ebet {
        bottom: 0;
        left: 85px;
    }
}

.vendor-wrap {
    width: 800px;
    float: right;
    position: relative;
}

.vendor-btn {
    display: inline-block;
    width: 120px;
    height: 42px;
    line-height: 42px;
    margin-right: 15px;
    border-radius: 6px;
    font-size: 16px;
    color: #666;
    text-align: center;
    background-image: linear-gradient(180deg,#FFF,#E8E8E8);
    cursor: pointer;

    &:nth-child(6n) {
        margin-right: 0;
    }

    &:nth-child(n+7) {
        margin-top: 15px;
    }
}

.current,
.vendor-btn:hover {
    color: #FFF;
    background-image: linear-gradient(180deg, #F3D382, #955D2C);
    box-shadow: 0 10px 20px 6px rgba(145, 87, 40, 0.4);
}

.vendor-container {
    position: absolute;
    left: 142px;
    margin-top: 61px;

    >img {
        display: block;
        max-width: 100%;
        margin: 0 auto 62px;
    }
}

.btn {
    width: 188px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    background-image: linear-gradient(90deg, #F3D382, #955D2C);
    box-shadow: 0 10px 20px 6px rgba(145, 87, 40, 0.4);
    cursor: pointer;
}

:global {
    .slide-opacity-right-enter-active,
    .slide-opacity-right-leave-active {
        transition: .5s ease-out;
    }

    .slide-opacity-right-enter-active {
        transition-delay: .5s
    }

    .slide-opacity-right-enter,
    .slide-opacity-right-leave-to {
        opacity: 0;
        transform: translateX(5%);
    }

    .slide-opacity-left-enter-active,
    .slide-opacity-left-leave-active {
        transition: .5s ease-out;
    }

    .slide-opacity-left-enter-active {
        transition-delay: .5s
    }

    .slide-opacity-left-enter,
    .slide-opacity-left-leave-to {
        opacity: 0;
        transform: translateX(-5%);
    }
}
