.game-list-wrap {
    padding: 16px 24px;

    .is-empty {
        background: url('/static/image/casino/cant_find_icon.png') 50% 0 no-repeat;
        margin-top: 90px;
        padding-top: 168px;
        color: #FFF;
        font-size: 16px;
        text-align: center;
    }
}

// 彩金
.item-style {
    clear: both;
}
