@import '~@/css/variable.scss';
$btnColorBg: initial;
$btnColorBgHover: initial;

.theme-basic,
.theme-brilliant {
    $radioBorder: #CCC;
    $radioBorderChecked: #55B9FF;
    $radioCheckedBg: #CCC;
    $btnColorBg: #55B9FF;
    $btnColorBgHover: #71BFF5;
    $btnColor: #FFF;
    $priceColor: #53B2F3;
    @import './balanceTran.scss';
    @import '../../../css/common/radio.scss';
}

.theme-theme3 {
    $radioBorder: #CCC;
    $radioBorderChecked: #DFAF50;
    $radioCheckedBg: #DFAF50;
    $btnColorBg: #DFAF50;
    $btnColorBgHover: #E2BA6C;
    $btnColor: #FFF;
    $priceColor: #DFAF50;
    @import './balanceTran.scss';
    @import '../../../css/common/radio.scss';
}

.theme-519 {
    $radioBorder: #CA8C54;
    $radioBorderChecked: #CA8C54;
    $radioCheckedBg: #CA8C54;
    $btnColorBg: #F97D61;
    $btnColorBgHover: #DB6348;
    $btnColor: #FFF;
    $priceColor: #F97D61;
    @import './balanceTran.scss';
    @import '../../../css/common/radio.scss';

    .main-radio {
        color: #FFF;
    }

    // 額度轉換
    .bank-balance-tran {
        .main-input {
            outline: none;
            border-radius: 0;
            border: 1px solid #CA8C54;
            color: #756E6E;
        }

        .balance-detail-inner {
            border-color: #CA8C54;
        }

        .balance-total-price {
            background-color: #CECECE;

            .icon-refresh {
                color: #000;
            }
        }

        .main-account-price {
            border-color: #CA8C54;
            color: #FFF;

            .price {
                color: #CA8C54;
            }
        }

        .manual-transfer-setting-inner {
            border-bottom: 2px dashed #F4EFE6;
            background: none;

            .tran-btn {
                border-radius: 0;
            }
        }

        .main-btn {
            border-radius: 0;
        }

        .balance-field-wrap {
            .balance-field {
                label {
                    color: #FFF;
                }

                /deep/ .ui.fluid.dropdown {
                    border-radius: 0;
                    border: 1px solid #CA8C54;
                    color: #756E6E;

                    .menu {
                        border: 1px solid #DBB969;

                        .item {
                            color: #756E6E;
                        }
                    }

                    &:hover,
                    &:active {
                        border-color: #DBB969;
                    }
                }
            }

            .balance-info {
                border-color: #CA8C54;
                background: #FFF;

                .balance-info-maintain {
                    color: #FF4E74;
                }
            }
        }

        .tip-text {
            color: #756E6E;
        }

        .balance-recently-opened-notice {
            color: #756E6E;
        }
    }
}

.theme-miller {
    $radioBorder: #CCC;
    $radioBorderChecked: #F7B500;
    $radioCheckedBg: #CCC;
    $btnColorBg: #F7B500;
    $btnColorBgHover: #FFD152;
    $btnColor: #292929;
    $priceColor: #F7B500;
    @import './balanceTran.scss';
    @import '../../../css/common/radio.scss';
}
