.header-wrap {
    position: relative;
}

.header-container {
    background: linear-gradient(to right, #2b2c2f 0%, #000000 100%);
    border-bottom: 1px solid #FEC22E;
}

.container-wrap {
    width: 990px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 142px;
    height: 38px;
    line-height: 38px;
    margin: 15px 0;
}

:global {
    .lang-wrap {
        .lang-current {
            width: 120px !important;
            height: 25px;
            margin: 10px auto;
            background: #000 url('/static/image/tpl/customizeHome/500013/header/lang_bg.png') 50% 50% no-repeat !important;
            border: 1px solid #9B9B92 !important;
            border-radius: 13px;
            font-size: 12px;
            padding-left: 8px;
        }

        .lang-select {
            top: 36px;
            left: 3px !important;
            border: 1px solid #9B9B92;
            border-radius: 6px;

            .lang-box {
                border: none;
                background: initial;

            }
        }

        .lang-title {
            font-size: 12px !important;
        }
    }

    .nav-wrap {
        float: left;
        margin-top: 15px;

        .nav {
            position: relative;

            .nav-item-wrap {
                position: relative;
                float: left;
                width: 120px;

                .nav-item-icon {
                    display: block;
                    position: absolute;
                    bottom: 45px;
                    left: 63%;

                    img {
                        display: block;
                    }
                }
                .nav-item {
                    font-size: 16px;
                    line-height: 68px;
                    display: block;
                    overflow: hidden;
                    height: 68px;
                    cursor: pointer;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #888;
                    &.nolink {
                        cursor: default;
                    }
                    &.current,
                    &:hover {
                        color: #FFE800;
                    }
                }
                .nav-sub-wrap {
                    position: absolute;
                    z-index: 100;
                    top: 68px;
                    left: 0;
                    width: 100%;
                    background: #000;
                    .nav-sub-item {
                        position: relative;
                        color: #FFF;
                        cursor: pointer;

                        span {
                            font-size: 14px;
                            line-height: 40px;
                            display: block;
                            overflow: hidden;
                            width: 100%;
                            height: 40px;
                            cursor: pointer;
                            text-align: center;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .nav-sub-icon-wrap {
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            top: -5px;
                            right: 10px;
                            cursor: pointer;

                            .nav-sub-item-icon {
                                position: absolute;
                                max-width: 100%;
                                bottom: 0;
                                left: 0;
                            }
                        }

                        &.nolink {
                            cursor: default;
                        }

                        &.current,
                        &:hover {
                            color: #FFE800;
                        }
                    }
                }
            }

            .nav-more-wrap {
                position: absolute;
                top: 21px;
                right: -37px;

                .more-btn {
                    display: block;
                    width: 26px;
                    height: 26px;
                    background: url('/static/image/tpl/customizeHome/500013/header/nav_more_icon.png') 0 0 no-repeat;
                    cursor: pointer;
                }
                .more-list {
                    position: absolute;
                    z-index: 100;
                    top: 30px;
                    right: 0;
                    background: #000;

                    &:before {
                        content: '';
                        position: absolute;
                        top: -10px;
                        bottom: 0;
                        right: 0;
                        left: 0;
                    }

                    .more-list-item {
                        position: relative;
                        font-size: 14px;
                        line-height: 40px;
                        display: block;
                        width: 120px;
                        height: 40px;
                        cursor: pointer;
                        text-align: center;
                        color: #FFF;
                        &.current,
                        &:hover {
                            color: #FFE800;
                        }

                        .text {
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            padding: 0 18px;
                        }

                        .nav-more-icon-wrap {
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            top: -5px;
                            right: 10px;
                            cursor: pointer;

                            .nav-more-item-icon {
                                position: absolute;
                                max-width: 100%;
                                bottom: 0;
                                left: 0;
                            }
                        }

                        .nav-more-caret {
                            position: absolute;
                            right: 7px;
                            top: 50%;
                            margin-top: -8px;
                        }

                        .nav-more-sub-wrap {
                            position: absolute;
                            z-index: 100;
                            top: 0;
                            width: 120px;
                            background: #000;

                            .nav-more-sub-item {
                                position: relative;
                                color: #FFF;
                                font-size: 14px;

                                .nav-more-sub-icon-wrap {
                                    position: absolute;
                                    width: 17px;
                                    height: 17px;
                                    top: -5px;
                                    right: 10px;
                                    cursor: pointer;

                                    .nav-more-sub-item-icon {
                                        position: absolute;
                                        max-width: 100%;
                                        bottom: 0;
                                        left: 0;
                                    }
                                }

                                &.nolink {
                                    cursor: default;
                                }

                                &.current,
                                &:hover {
                                    color: #FFE800;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .login-form {
        display: inline-block;
        color: #FFF;

        .login-input {
            display: inline-block;
            margin-right: 10px;
        }

        .login-btn {
            display: inline-block;
            margin-right: 2px;
            cursor: pointer;
        }

        .login-input__input {
            width: 170px;
            height: 33px;
            padding-left: 14px;
            background-color: #CACACA;
            border: none;
            color: #000;
            border-radius: 20px;

            &::placeholder {
                color: #000;
            }
        }

        .login-input--captcha {
            position: relative;

            .login-input__image {
                position: absolute;
                right: 3px;
                top: 5px;
                width: 80px;
            }
        }

        .login-btn--submit {
            margin-right: 10px;
            padding: 0 10px;
            line-height: 36px;
            font-size: 14px;
            color: #000;
            background-color: #FFB800;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;
        }
    }

    .lang-wrap {
        float: right;
    }

    .space-line {
        display: inline-block;
    }

    .mem-info-wrap,
    .mem-menu-wrap,
    .mem-info-item,
    .link-item,
    .link-line,
    .balance-wrap {
        display: inline-block;
        vertical-align: top;
    }

    .balance-list-wrap {
        top: 185px !important;
        background-color: #DDD;
        color: #383838;
    }

    .balance-list-bottom {
        background-color: #FF8C24;
    }

    .balance-translate {
        color: #FFF;
        background-color: #474747;
    }

    .balance-icon {
        width: 12px;
        margin: 0 12px;
    }
}

.join {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 116px;
    height: 60px;
    background: url('/static/image/tpl/customizeHome/500013/header/btn_join02.png') 0 0 no-repeat;
}

.login-form-wrap {
    background-color: rgba(0, 0, 0, 0.9);
}

.field-wrap {
    position: relative;
    width: 990px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.top-link {
    min-height: 12px;
}

.agent-join,
.agent-login {
    display: inline-block;
    line-height: 36px;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;

    &:hover {
        color: #FFC38F;
    }
}

.line {
    font-size: 14px;
    color: #323232;
    margin: 0 8px;
}

.mem-wrap {
    display: inline-block;
    color: #FFC38F;
    font-size: 14px;
}
