.header-wrap {
    min-height: 165px;

    // Fixed 設定樣式
    /deep/ {
        .fixed-wrap {
            background: #010101;
            &.fixed {
                .fixed-block {
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    min-width: 1280px;
                    background-color: inherit;
                }
            }
        }
    }

    .header {
        padding: 0 20px;
        margin: 0 auto;
        width: 1280px;
    }
    // header-top-wrap
    .header-top-wrap {
        position: relative;
    }
    /deep/ .header-logo-wrap {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    .header-right {
        padding-left: 200px;
    }
    .header-right-top {
        position: relative;
    }
    .news-wrap {
        height: 40px;
        padding: 0 286px 0 146px;
        /deep/ .news-content {
            font-size: 16px;
            line-height: 40px;
            color: #AAA;
        }
    }
    .agent-link-wrap {
        position: absolute;
        top: 5px;
        right: 0;
        span {
            font-size: 14px;
            line-height: 35px;
            float: right;
            overflow: hidden;
            width: 120px;
            height: 35px;
            padding-left: 42px;
            cursor: pointer;
            vertical-align: top;
            white-space: nowrap;
            text-decoration: none;
            text-overflow: ellipsis;
            color: #000;
            border-radius: 3px;
            background-color: #FEEA00;
            background-repeat: no-repeat;
            background-position: 15px 50%;
        }
        .agent-join {
            margin-right: 16px;
        }
    }
    .header-middle {
        position: relative;
        height: 40px;
        padding: 15px 0 0 10px;
    }
    /deep/ .nav-wrap {
        padding-right: 45px;
        .nav-item-wrap {
            position: relative;
            float: left;
            width: 88px;
            .nav-item-icon {
                display: block;
                position: absolute;
                bottom: 30px;
                left: 68%;

                img {
                    display: block;
                }
            }
            .nav-item {
                font-size: 15px;
                line-height: 38px;
                display: block;
                overflow: hidden;
                height: 38px;
                padding: 0 5px;
                cursor: pointer;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #FEEA00;
                &.nolink {
                    cursor: default;
                }
                &.current,
                &:hover {
                    color: #000 !important;
                    background: #FEEA00;
                }
            }
            .nav-sub-wrap {
                position: absolute;
                z-index: 100;
                top: 38px;
                left: 0;
                width: 140%;
                margin-left: -20%;
                background: #292929;
                .nav-sub-item {
                    position: relative;
                    color: #FEEA00;

                    span {
                        font-size: 15px;
                        line-height: 48px;
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        height: 48px;
                        padding: 0 10px;
                        cursor: pointer;
                        text-align: center;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .nav-sub-icon-wrap {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        bottom: 29px;
                        left: 100px;
                        cursor: pointer;

                        .nav-sub-item-icon {
                            position: absolute;
                            max-width: 100%;
                            bottom: 0;
                            left: 0;
                        }
                    }

                    &.nolink {
                        cursor: default;
                    }
                    &.current,
                    &:hover {
                        color: #000 !important;
                        background: #FEEA00;
                    }
                }
            }
        }
        .nav-more-wrap {
            position: relative;
            float: left;
            margin-left: 30px;

            .more-btn {
                display: block;
                width: 38px;
                height: 38px;
                padding-top: 12px;
                cursor: pointer;
                text-align: center;
                background: #222;
                svg {
                    display: block;
                    margin: 0 auto;
                    color: #FFF;
                }
                &:hover,
                &.current {
                    background: #FEEA00;
                    svg {
                        color: #000;
                    }
                }
            }
            .more-list {
                position: absolute;
                z-index: 100;
                top: 38px;
                right: 0;
                width: 100px;
                background: #292929;

                .more-list-item {
                    position: relative;
                    font-size: 15px;
                    line-height: 48px;
                    display: block;
                    width: 100%;
                    height: 48px;
                    cursor: pointer;
                    text-align: center;
                    color: #FEEA00;
                    &.current,
                    &:hover {
                        color: #000 !important;
                        background: #FEEA00;
                    }

                    .text {
                        display: block;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding: 0 18px;
                    }

                    .nav-more-icon-wrap {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        bottom: 29px;
                        left: 75px;
                        cursor: pointer;

                        .nav-more-item-icon {
                            position: absolute;
                            max-width: 100%;
                            bottom: 0;
                            left: 0;
                        }
                    }

                    .nav-more-caret {
                        position: absolute;
                        right: 7px;
                        top: 50%;
                        margin-top: -8px;
                    }

                    .nav-more-sub-wrap {
                        position: absolute;
                        z-index: 100;
                        top: 0;
                        width: 100px;
                        background: #292929;

                        .nav-more-sub-item {
                            position: relative;
                            color: #FEEA00;
                            font-size: 15px;

                            .nav-more-sub-icon-wrap {
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                bottom: 29px;
                                left: 75px;
                                cursor: pointer;

                                .nav-more-sub-item-icon {
                                    position: absolute;
                                    max-width: 100%;
                                    bottom: 0;
                                    left: 0;
                                }
                            }

                            &.nolink {
                                cursor: default;
                            }

                            &.current,
                            &:hover {
                                color: #000 !important;
                                background: #FEEA00;
                            }
                        }
                    }
                }
            }
        }
    }
    /deep/ .lang {
        position: absolute;
        top: 14px;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 6px;
        cursor: pointer;
        color: #FFF;
        border: 2px solid #595959;
        border-radius: 50%;

        @import "~@/css/tpl/common/header/lang/2.scss";
    }
    // header-bottom-wrap
    .header-bottom-wrap {
        position: relative;
        padding: 26px 180px 15px 0;
        &.is-login {
            padding-right: 0;
        }
    }
    .header-bottom-links {
        position: absolute;
        top: 26px;
        right: 0;

        .links-join,
        .links-forget {
            font-size: 13px;
            line-height: 30px;
            float: right;
            cursor: pointer;
            color: #BDBDBD;

            &:hover {
                color: #D84D2C;
            }
        }

        .links-forget {
            max-width: 92px;
            margin: 0 20px;
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
        }
    }
    /deep/ .login-form-wrap {
        text-align: right;
        .login-unit {
            display: inline-block;
            width: 220px;
            height: 30px;
            margin-right: 8px;
            padding-left: 30px;
            input {
                font-size: 13px;
                line-height: 30px;
                width: 100%;
                height: 30px;
                color: #A9A9A9;
                border: none;
                outline: none;
            }
        }
        .login-unit-captcha {
            position: relative;
            width: 160px;
            margin-right: 12px;
            img {
                position: absolute;
                top: 3px;
                right: 2px;
                cursor: pointer;
                background: #202020;
            }
        }
        .login-submit {
            font-size: 13px;
            line-height: 30px;
            display: inline-block;
            cursor: pointer;
            color: #BDBDBD;
            &:hover {
                color: #D84D2C;
            }
        }
    }
    /deep/ .login-info-wrap {
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        text-align: right;
        color: #A1A1A1;
        .login-info-item {
            display: inline-block;
            &.account {
                margin-right: 20px;
            }
        }
        .balance-wrap {
            position: relative;
            display: inline-block;
            width: 14px;
            height: 16px;
            margin: 0 9px 0 5px;
            vertical-align: -3px;
            .balance-icon {
                display: block;
                cursor: pointer;
                color: #D64D2B;
            }
            .balance-list-wrap {
                position: absolute;
                z-index: 100;
                top: 18px;
                right: 0;
                visibility: hidden;
                width: 250px;
                transition: visibility 0.3s;
                &.show {
                    visibility: visible;
                }
                &.right {
                    right: auto;
                    left: 0;
                }
                .balance-list {
                    line-height: 22px;
                    padding: 16px;
                    text-align: left;
                    color: #A1A1A1;
                    border-width: 1px 1px 0 0;
                    border-style: solid;
                    border-color: #EEE;
                    border-radius: 2px 2px 0 0;
                    background: #FAFAFA;
                }
                .balance-tran {
                    height: 30px;
                    padding: 4px 8px 0 0;
                    border-radius: 0 0 2px 2px;
                    background: #313131;
                    .balance-tran-btn {
                        font-size: 12px;
                        line-height: 22px;
                        float: right;
                        width: 58px;
                        height: 22px;
                        cursor: pointer;
                        text-align: center;
                        color: #FFF;
                        border-radius: 5px;
                        background: #D64D2B;
                        overflow : hidden;
                        text-overflow : ellipsis;
                        white-space : nowrap;

                        &:hover {
                            background: #EC5E3B;
                        }
                    }
                }
            }
        }
        .login-info-links {
            display: inline-block;
            span {
                display: inline-block;
                &.link-item {
                    cursor: pointer;
                    color: #BBBBBC;
                    &:hover {
                        color: #D84D2C;
                    }
                }
                &.logout {
                    margin-left: 23px;
                }
            }
        }
    }
}
