@import "./porn1.index.scss";

.balance-wrap {
  .balance-total-item {
    .balance-item-money {
      color: #e42a30;
    }
  }

  .recycle-btn {
    color: #e42a30;
  }

  .credit-trans-link {
    color: #e42a30;
  }
}
