@import "./porn1.index.scss";
.balance-wrap {
  .balance-total-item {
    .balance-item-money {
      color: var(--mcenter_wallet_text_color);
    }
  }

  .recycle-btn {
    color: #000000;
  }

  .credit-trans-link {
    flex: 1;
    font-size: 16px;
    color: #000000;
  }
}
