.feedback-button-wrap {
    height: 33px;
    background: #FFF;
    margin-top: 1px;
    position: relative;
}

.field-wrap {
    padding-bottom: 10px;
}

.tab-button {
    float: left;
    width: 25%;
    height: 100%;
    line-height: 33px;
    color: #000;
    text-align: center;
    font-size: 12px;
    &.is-current {
        color: $tabBtnActiveColor;
    }
}

.add-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    div {
        width: 23px;
        height: 23px;
        color: $addBtnColor;
        background: $addBtnBg;
        border-radius: 50%;
        position: relative;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
    }
}

.feedback-field {
    padding: 10px 15px 0;
    background: #FFF;
    border-bottom: 1px solid #BEBCBC;
    &.is-content {
        background: #F5F5F5;
    }
    &:first-child {
        margin-top: 10px;
        border-top: 1px solid #BEBCBC;
    }
}

.field-title {
    color: #BEBCBC;

    .field-star-icon {
        color: #F00;
    }
}

.field-select {
    float: left;
    width: 100%;
    border: none;
    color: #FF3D3D;
    padding: 5px 0;
    font-size: 17px;
    :global {
        .multiselect__tags {
            border-radius: 0;
            border: 1px solid #D9D9D9;
        }

        .multiselect__placeholder {
            color: #000;
        }

        .multiselect__option--highlight {
            color: rgba(0, 0, 0, 0.87);
            background: rgba(0, 0, 0, 0.05);
        }
    }
}

.field-input {
    float: left;
    width: 100%;
    height: 23px;
    line-height: 23px;
    margin: 10px 0;
    outline: none;
    color: #000;
    border: none;

    &.is-error {
        border: 1px solid #F00;
    }

    // Chrome/Opera/Safari
    &::-webkit-input-placeholder {
        color: #000;
    }

    // Firefox 19+
    &::-moz-placeholder {
        color: #000;
    }

    // IE 10+
    &:-ms-input-placeholder {
        color: #000;
    }

    // Firefox 18-
    &:-moz-placeholder {
        color: #000;
    }
}

.field-textarea {
    padding: 10px 0;
    resize: none;
    width: 100%;
    outline: none;
    color: #000;
    border: none;
    background: #F5F5F5;
    min-height: 204px;

    // Chrome/Opera/Safari
    &::-webkit-input-placeholder {
        color: #000;
    }

    // Firefox 19+
    &::-moz-placeholder {
        color: #000;
    }

    // IE 10+
    &:-ms-input-placeholder {
        color: #000;
    }

    // Firefox 18-
    &:-moz-placeholder {
        color: #000;
    }
}

.image-release-btn {
    margin: 20px 0 20px 15px;
    text-decoration: underline;
    cursor: pointer;
    color: #0091D2;
    font-size: 16px;
}

.feedback-tip-wrap {
    margin: 0 0 25px 15px;
}

.tip-text {
    font-size: 11px;
    color: #AAAAAA;
}

.feedback-btn {
    width: 270px;
    height: 39px;
    line-height: 39px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: $feedbackBtnColor;
    background: $feedbackBtnBg;
}

.message-delete-wrap {
    padding: 7px 3.15%;
    background: #DDD;
    font-family: 'Nirmala UI';
}

.message-delete {
    float: right;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: $deleteIconBg;
    color: $deleteIconColor;
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.message-cancel {
    float: right;
    display: none;
    margin-left: 10px;
    position: relative;
    width: 80px;
    height: 33px;
    border-radius: 25px;
    background: $cancelIconBg;
    color: $cancelIconColor;
    &.active {
        display: block;
    }
}

.message-cancel-text {
    line-height: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    font-size: 12px;
    transform: translate(-50%, -50%);
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.message-item {
    padding: 1.55% 3.15%;
    position: relative;
    background: #FFF url('/static/image/mobile/mcenter/btn_next_n.png') no-repeat;
    background-size: 14px 14px;
    background-position: right 3.15% bottom 50%;
    font-family: 'Nirmala UI';
    &:first-child {
        margin-top: 10px;
    }
    
    &.active {
        padding-left: 12.5%;
        background-image: none;

        .message-item-time {
            float: right;
        }
    }

    &.no-read {
        .message-item-category {
            margin: 0 4px 0 16px;
        }

        .message-item-top {
            background: url('/static/image/mobile/mcenter/ic_mailnew.png') no-repeat;
            background-size: 10px 10px;
            background-position: 0 3px;
        }
    }
}
.field-wrap:not(.field-wrap-mailbox) {
    .message-item:nth-child(2n) {
        background: #F6F4F4 url('/static/image/mobile/mcenter/btn_next_n.png') no-repeat;
        background-size: 14px 14px;
        background-position: right 3.15% bottom 50%;
    }
}
.field-wrap-mailbox {
    .message-item:nth-child(2n-1) {
        background: #F6F4F4 url('/static/image/mobile/mcenter/btn_next_n.png') no-repeat;
        background-size: 14px 14px;
        background-position: right 3.15% bottom 50%;
    }
}

.message-item-check {
    max-width: 16px;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);

    img {
        display: block;
        max-width: 100%;
    }
}

.message-item-top {
    line-height: 1.35;
    margin-bottom: 4px;
    font-size: 12px;
}

.message-item-category {
    float: left;
    width: 47%;
    max-width: 303px;
    min-width: 140px;
    margin-right: 20px;
    color: #2693FC;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.field-wrap-mailbox {
    .message-item-category {
        color: $mailboxCategoryColor;
    }
}

.message-item-time {
    float: left;
    width: 40%;
    max-width: 238px;
    min-width: 109px;
    text-align: right;
    color: #BEBCBC;
}

.message-item-title {
    width: 90%;
    height: 50px;
    max-width: 585px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    p {
        height: 42px;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.no-message {
    margin-top: 33px;
    text-align: center;
}

