// 會員遊戲紀錄
.game-record {
    .main-title {
        position: relative;
        line-height: 39px;
        span {
            &.title {
                float: none;
                display: block;
            }
        }
        .pointer {
            margin-right: 7px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .arrow {
            margin-right: 7px;
            color: #999;
        }
        .text {
            color: #999;
        }
        .detial {
            color: #ACACAC;
        }
        .main-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 9.6%;
            min-width: 60px;
        }
    }
    .settle-wrap {
        margin-bottom: 7px;
        .main-radio {
            float: right;
            margin: 0 0 0 24px;
        }
    }
    .game-record-field {
        margin-bottom: 40px;
        .select-list {
            width: 100%;
            font-size: 16px;
            .ui.fluid.dropdown {
                height: 37px;
                min-height: 100%;
                line-height: 37px;
                padding: 0;
                border-color: #CDCDCD;
                .search {
                    height: 35px;
                    line-height: 35px;
                    padding: 0 0 0 2%;
                }
                .text {
                    display: block;
                    line-height: 35px;
                    margin-left: 2%;
                    color: #9F9F9F;
                }
            }
        }
        .main-input {
            height: 37px;
            line-height: 37px;
            &.select-list {
                padding-left: 2%;
            }
            &.username {
                float: left;
                padding-left: 2%;
                width: 74%;
                font-size: 16px;
                &::-webkit-input-placeholder {
                    color: #999;
                }
            }
        }
        .main-calendar-wrap {
            position: relative;
            margin: 10px 0;
            padding-left: 68px;
            width: 100%;
            .date-text {
                position: absolute;
                top: 0;
                left: 0;
                color: #848383;
                line-height: 37px;
            }
            .main-calendar {
                float: left;
                width: 48%;
                .vdp-datepicker__calendar {
                    width: 260px;
                }
                &.left {
                    float: left;
                    .vdp-datepicker__calendar {
                        left: -50px;
                    }
                }
                &.right {
                    float: right;
                    .vdp-datepicker__calendar {
                        right: 0;
                    }
                }
                .main-input {
                    padding-left: 5%;
                    width: 100%;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    cursor: pointer;
                }
            }
            .date-line {
                float: left;
                width: 4%;
                line-height: 37px;
                color: #999;
                text-align: center;
            }
        }
        .inquire-btn {
            float: right;
            width: 24%;
            height: 37px;
            line-height: 37px;
        }
    }
    .pad-sort-wrap {
        position: relative;
        margin-bottom: 10px;
        padding-right: 90px;
        .sort-btn {
            position: absolute;
            top: 0;
            background-image: url(/static/image/record_sort_icon.png);
            background-color: #CCC;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            cursor: pointer;
            &.big {
                right: 40px;
                background-position: 50% 0;
            }
            &.small {
                right: 0;
                background-position: 50% 100%;
            }
            &.current {
                background-color: #313F52;
            }
        }
        .select-sort {
            margin-right: 10px;
            padding-left: 10px;
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
        }
    }
    .main-table {
        border-bottom: none;
        thead {
            &.agcenter-pc {
                display: none;
            }
        }
        th {
            width: 18%;
            padding: 0 1.5%;
            text-align: right;
            &.amount,
            &.valid,
            &.result {
                cursor: pointer;
                &.active,
                &:hover {
                    color: #545D6E;
                }
            }
        }
        .number,
        .username,
        .view-next {
            padding: 5px 0;
            text-align: center;
        }
        .number {
            width: 10%;
        }
        .username {
            width: 17.5%;
        }
        .view-next {
            width: 18.5%;
            span {
                display: block;
                margin: 0 auto;
                background: url("/static/image/agent/features_btn.png") 0 0 no-repeat;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }
        .platform,
        .gametype {
            text-align: center;
        }
        .result {
            &.negative {
                color: #D99090;
            }
        }
        tr {
            &.sub-total,
            &.main-total {
                height: 50px;
                .title {
                    text-align: center;
                }
            }
            &.sub-total {
                background: #F9F9F9;
                .title {
                    background: #FFF3F3;
                }
            }
            &.main-total {
                background: #EEE;
                .title {
                    background: #CBCED3;
                }
            }
        }
        tbody {
            tr {
                &.agcenter-pc {
                    display: none;
                }
            }
            td {
                width: 18%;
                padding: 5px 1.5%;
                text-align: right;
            }
            table {
                margin-bottom: 40px;
                border-bottom: 1px solid #EEE;
                &.pad {
                    width: 100%;
                    tr {
                        &.number {
                            background: #C3C3C3;
                            color: #FFF;
                            font-weight: bold;
                            td {
                                text-align: center;
                            }
                        }
                        &.title {
                            font-weight: bold;
                            td {
                                text-align: center;
                            }
                        }
                    }
                    td {
                        &.caption {
                            padding-left: 3%;
                            width: 38%;
                            text-align: left;
                        }
                        &.content {
                            padding-left: 3%;
                            width: auto;
                            text-align: left;
                            &.detail {
                                span {
                                    margin: 0;
                                }
                            }
                        }
                        &.view-next {
                            span {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// phone 以上
@media screen and (min-width: $phone) {
    .game-record {
        .main-title {
            span {
                &.title {
                    float: left;
                }
            }
        }
        .game-record-field {
            .select-list {
                float: left;
                margin-right: 2%;
                width: 30%;
                .ui.fluid.dropdown {
                    .search {
                        padding: 0 0 0 5%;
                    }
                    .text {
                        margin-left: 5%;
                    }
                }
            }
            .main-calendar-wrap {
                float: left;
                margin-top: 0;
                width: 68%;
                .main-calendar {
                    &.left {
                        .vdp-datepicker__calendar {
                            left: -25px;
                        }
                    }
                }
            }
        }
    }
}

// pad 以上
@media screen and (min-width: $pad) {
    .game-record {
        .game-record-field {
            .select-list {
                margin-right: 1%;
                width: 19%;
            }
            .main-input {
                &.username {
                    margin-left: 1%;
                    width: 20.3%;
                }
            }
            .main-calendar-wrap {
                margin-bottom: 0;
                width: 45%;
                .main-calendar {
                    &.left {
                        .vdp-datepicker__calendar {
                            left: 0;
                        }
                    }
                    .main-btn {
                        letter-spacing: 0.5px;
                    }
                }
            }
            .inquire-btn {
                width: 12.5%;
            }
        }
        .pad-sort-wrap {
            display: none;
        }
        .main-table {
            border-bottom: 1px solid #EEE;
            thead {
                &.agcenter-pc {
                    display: table-header-group;
                }
            }
            tbody {
                tr {
                    &.agcenter-pc {
                        display: table-row;
                    }
                }
                table {
                    display: none;
                }
            }
        }
    }
}
