@import "~@/css/variable.scss";

.container {
    position: relative;
    background-color: #f8f8f7;
}

.menu-list-wrap {
    max-width: $mobile_max_width;
    position: fixed;
    top: 43px;
    width: 100%;
    z-index: 3;
}

@media (orientation: landscape) {
    .menu-list-wrap {
        max-width: $mobile_max_landscape_width !important;
    }
}


.menu-list {
    position: relative;
    float: left;
    width: 33.333%;
    background-color: #FFF;
    text-align: center;
}

.menu-title {
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 0 auto;
    color: #A5A9B3;
    font-size: 13px;
    text-align: center;

    &.active {
        border-bottom-color: #D2B79C;
        color: #414655;
    }
}

.menu-tips {
    position: absolute;
    top: 8px;
    left: 50%;
    height: 12px;
    line-height: 12px;
    margin-left: 15px;
    padding: 0 5px;
    border-radius: 7px;
    background-color: #DB6372;
    color: #FFF;
    font-size: 12px;
}

.active-slider {
    position: absolute;
    width: 40px;
    height: 2px;
    bottom: 0;
    transform: translateX(-50%);
    background: #be9e7f;
    left: calc(33% / 2 - 20px);
    transition: left 0.31s;
}
