.withdraw-feature-wrap {
    padding: 0 44px;
}

.withdraw-title {
    display: block;
    margin-bottom: 24px;
    padding: 20px 44px 0;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.withdraw-info-table {
    display: table;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #E2E2E2;
}

.withdraw-info-thead {
    background: #EEE;
}

.withdraw-info-tr {
    display: table-row;

    &:last-child {
        .withdraw-info-td {
            border-bottom: none;
        }
    }
}

.withdraw-info-td {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 60%;
    height: 40px;
    line-height: 40px;
    padding: 0 40px 0 10px;
    text-align: right;
    font-size: 16px;
    border-bottom: 1px solid #E2E2E2;

    &:first-child {
        width: 40%;
        text-align: left;
        padding: 0 10px 0 20px;
    }

    &.multiple-item {
        padding: 0;
    }

    &.is-deduction {
        color: #F00;
    }
}

.tip-icon-wrap {
    position: absolute;
    line-height: 41px;
    top: 0;
    right: 9px;
    cursor: pointer;
    color: #BBB;
}

.tip-wrap {
    position: absolute;
    width: 500px;
    right: 0;
    bottom: 33px;
    text-align: right;
}

.bonus-btn {
    text-decoration: underline;
    cursor: pointer;
    color: #55B9FF;
}

.withdraw-important {
    font-weight: bold;
}

.icon-wrap {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: #AAA;
}

.spang-btn {
    float: right;
    overflow: hidden;
    min-width: 96px;
    height: 36px;
    line-height: 36px;
    margin: 8px 0 16px;
    padding: 0 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 18px;
    color: #FFF;
    background: #53B2F3;
}

.withdraw-input {
    width: 100%;
    text-align: right;
    font-size: 14px;
    outline: none;
    border: none;
    color: #000;

    // Chrome/Opera/Safari
    &::-webkit-input-placeholder {
        color: #DDD;
    }
    // Firefox 19+
    &::-moz-placeholder {
        color: #DDD;
    }
    // IE 10+
    &:-ms-input-placeholder {
        color: #DDD;
    }
    // Firefox 18-
    &:-moz-placeholder {
        color: #DDD;
    }
}

.water-wrap {
    margin: 8px 0 16px;
    text-align: right;
    color: #F00;
}

.details-btn {
    margin-left: 8px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: #55B9FF;
}

.withdraw-select-wrap {
    height: 100%;
    min-height: initial;
    max-height: 40px;
    text-align: right;
    color: #000;

    :global {
        .multiselect__tags {
            min-height: initial;
            height: 100%;
            max-height: 40px;
            padding: 0 40px 0 0;
            border: none;
            background: transparent;
        }

        .multiselect__option--highlight {
            color: rgba(0, 0, 0, 0.87);
            background: rgba(0, 0, 0, 0.05);
        }

        .multiselect__placeholder {
            margin-bottom: 0;
            padding-top: 0;
        }

        .multiselect__single {
            line-height: 40px;
            margin-bottom: 0;
            background: transparent;
        }
    }
}

.withdraw-tip {
    padding-top: 10px;
    text-align: right;
    color: #55B9FF;
}

.withdraw-checkbox-wrap {
    padding: 10px 0 5px;
    text-align: right;
    color: #F00;
}

.input-checkbox {
    display: inline-block;
    vertical-align: middle;
}

.input-tip {
    display: inline-block;
    vertical-align: middle;
}

.next-btn,
.reset-btn {
    float: right;
    overflow: hidden;
    width: 86px;
    height: 40px;
    line-height: 40px;
    margin: 8px 0 0 4px;
    padding: 0 7px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
}

.next-btn {
    color: #FFF;
    background: #53B2F3;
}

.reset-btn {
    border: 1px solid #CDCDCD;
    color: #7E7E7E;
}

.withdraw-third-iframe {
    width: 100%;
}

.loading-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 258px 0;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

.loading-item {
    display: inline-block;
    vertical-align: top;
}

.theme-miller {
    .spang-btn{
        color: #000;
        background-color: #F7B500;
    }
    .details-btn{
        color: #F7B500;
    }
    .withdraw-info-thead{
        background-color: #F9F9F9;
        color: #747577;
        border-color: #EBEEF5;
    }
    .withdraw-record-wrap{
        background-color: #F9F9F9;
    }
}
