$popupBg: url('/static/image/mobile/tpl/theme3/home/acc_bg.png') 0 0 no-repeat;
$popupColor: inherit;
$popupBorder: 0;
$popupTipColor: #F00;
$titleBg: url('/static/image/mobile/tpl/theme3/home/acc_header_bg.png') 0 0 no-repeat;
$closeColor: #999;
$btnBg: url('/static/image/mobile/tpl/theme3/home/submit_btn.png') 0 0 no-repeat;
$btnBgHover: #71BFF5;
$mainInputBorder: 1px solid #E8E8E8;
$mainInputBg: #FFF;
$mainInputColor: #9C6E54;
$mainInputBorderRadius: 4px;
$btnRadius: 5px;
$selectTextColor: initial;
$selectBgColor: #FFF;
$selectOptionColor: initial;
$selectBorderRadius: 5px;
$agentBtnBg: #FF8989;
$agentBtnBgHover: #F99A9A;
$vipContent: #000;
$vipText: #0070C0;
$vipCloseBtn: #FFF;
$vipTitle: #F7F0F0;
$vipBg: #363C5D;
$vipPopTitle: #363C5D;
$inputBg: #E6D7CE url('/static/image/mobile/tpl/theme3/home/input_bg.png') 0 0 no-repeat;
