$titleColor: #FFF;
$btnBg: #CA8C54;
$btnHoverBg: #B16F34;
$radioTextColor: #FFF;
$radioBg: #CA8C54;
$radioCheckedBg: #CA8C54;
$fieldBorder: #CA8C54;
$borderRadius: 0;
$searchIcon: url("/static/image/agent/519/member_search_btn.png") 0 0 no-repeat;

// table
$theadBorder: #CA8C54;
$theadBg: #CECECE;
$theadColor: #000;
$tableBorder: #CA8C54;
$tableBg: #FFF;
$tableColor: #000;
$tableBottomBorder: 1px solid #CA8C54;
$tableThIcon: #FFF;
$tableThActiveIcon: #CA8C54;
$thColor: #000;
$thHoverColor: #000;
$tableCollapse: collapse;

// pager
$pagerBtnBg: rgba(255, 255, 255, .1);
$pagerTextColor: #FFF;
