$titleColor: #262626;
$btnBg: #A389E8;
$btnHoverBg: #A389E8;
$radioTextColor: inherit;
$radioBg: #CCC;
$radioCheckedBg: #A389E8;
$fieldBorder: #CDCDCD;
$borderRadius: 4px;

// table
$theadBorder: #EBEEF5;
$theadBg: #F9F9F9;
$theadColor: #7E7E7E;
$tableBorder: #EBEEF5;
$tableBg: #FFF;
$tableColor: #7E7E7E;
$tableBottomBorder: 1px solid #EBEEF5;
$tableThIcon: inherit;
$tableThActiveIcon: #545D6E;
$thColor: inherit;
$thHoverColor: #313F52;
$tableCollapse: initial;

// pager
$pagerBtnBg: #FFF;
$pagerTextColor: #000;
