$titleColor: #262626;
$btnBg: #DFAF50;
$btnHoverBg: #DFAF50;
$radioTextColor: inherit;
$radioBg: #CCC;
$radioCheckedBg: #DFAF50;
$fieldBorder: #CDCDCD;
$borderRadius: 4px;

// table
$theadBorder: #CCC;
$theadBg: #CBCED3;
$theadColor: #FFF;
$tableBorder: #EEE;
$tableBg: transparent;
$tableColor: #313F52;
$tableBottomBorder: 1px solid #EEE;
$tableThIcon: inherit;
$tableThActiveIcon: #545D6E;
$thColor: inherit;
$thHoverColor: #313F52;
$tableCollapse: initial;

// pager
$pagerBtnBg: #FFF;
$pagerTextColor: #000;
