$titleColor: #FFF;
$radioTextColor: #FFF;
$radioBg: #CA8C54;
$radioCheckedBg: #CA8C54;
$reloadIconWidth: 30px;
$reloadIconHeight: 30px;
$reloadIconPadding: 7px;
$reloadIconBackgroundColor: #C18E5D;
$reloadIconColor: #FFF;

// table
$theadBorder: #CA8C54;
$theadBg: #CECECE;
$theadColor: #000;
$tableBorder: #CA8C54;
$tableBg: #FFF;
$tableColor: #000;
$tableBottomBorder: 1px solid #CA8C54;

// pager
$pagerBtnBg: rgba(255, 255, 255, .1);
$pagerTextColor: #FFF;
