$titleColor: #262626;
$radioTextColor: inherit;
$radioBg: #CCC;
$radioCheckedBg: #FF8989;
$reloadIconWidth: 28px;
$reloadIconHeight: 28px;
$reloadIconPadding: 6px;
$reloadIconBackgroundColor: #FE8B8C;
$reloadIconColor: #FFF;

// table
$theadBorder: #CCC;
$theadBg: #CBCED3;
$theadColor: #FFF;
$tableBorder: #EEE;
$tableBg: transparent;
$tableColor: #313F52;
$tableBottomBorder: 1px solid #EEE;

// pager
$pagerBtnBg: #FFF;
$pagerTextColor: #000;
