@import "./porn1.module.scss";

.link {
  color: #a6a9b2;

  &.active {
    color: #222222;
  }
}
.dropdown-wrap {
  li {
    color: #a6a9b2;
    border: 1px solid #eee;

    &.active {
      color: #fff;
      background: #e42a30;
      background-image: unset;
      background-image: unset;
    }
  }
}

.time-cancel {
  color: #fff;
  background: #222222;
  background-image: unset;
  background-image: unset;
}

.time-confirm {
  color: #fff;
  background: #e42a30;
  background-image: unset;
  background-image: unset;
}

.no-data-wrap {
  .btn-money {
    border-radius: 5px;
    background: #e42a30;
    color: #fff;
  }
}

//rebateRate
.serial-number-title {
  &::before {
    background: #e42a30;
  }
}

//customDate
.field-search-wrap {
  .btn-search {
    background: #e42a30;
  }
}
