@import "./porn1.module.scss";

.search-tab {
  color: var(--mcenter_slider_text_color);

  &.active {
    color: var(--mcenter_main_color);
  }
}

.field-search-wrap {
  .btn-search {
    border-radius: 23px;
  }
}

//rebateRate
.serial-number-title {
  &::before {
    background: var(--deco_color);
  }
}
