@import "./porn1.module.scss";

.link {
  color: $member_text_color3;

  &.active {
    color: $member_color1;
  }
}

.search-tab {
  color: $member_text_color3;

  &.active {
    color: $member_color1;
  }
}

.field-search-wrap {
  .btn-search {
    background: $member_gradient_color1;

    color: $member_text_color1;

    &.disable {
      background: $member_gradient_color2;
    }
  }
}

//rebateRate
.serial-number-title {
  &::before {
    background: $deco_color;
  }
}
