@import "./porn1.module.scss";

.link {
  color: #a2a2a2;

  &.active {
    color: $main_title_color1;
  }
}

.search-tab {
  color: #a2a2a2;

  &.active {
    color: $main_title_color1;
  }
}

.field-search-wrap {
  .btn-search {
    background: $main_title_color1;
    border-radius: 23px;
    color: white;

    &.disable {
      opacity: 0.5;
    }
  }
}

//rebateRate
.serial-number-title {
  &::before {
    background: $main_title_color1;
  }
}
