@import "~@/css/variable.scss";

.top-bg {
    position: relative;
    background-image: url('/static/image/casino/title_bg.png'), url('/static/image/casino/title_bg.png');
    background-position: -1px 0, 100% -96px;
    background-repeat: no-repeat, no-repeat;
    padding: 0 9px;
    height: 48px;
    z-index: 1;
}

.top-bg-repeat {
    background: url('/static/image/casino/title_bg.png') 0 -48px repeat-x;
    height: inherit;
}

.border-bg {
    background-image: url('/static/image/casino/itembtn_frame.png'), url('/static/image/casino/itembtn_frame.png');
    background-position: 0 0, 100% -76px;
    background-repeat: no-repeat, no-repeat;
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
}

.border-bg-repeat {
    background: url('/static/image/casino/itembtn_frame.png') 0 -38px repeat-x;
    height: inherit;
}

.title-wrap {
    float: left;
    width: 93px;
    margin-top: 5px;
    margin-left: 12px;
    text-align: center;
    cursor: pointer;
}

.title {
    color: #FFF;
    font-size: 16px;
}

.collapse-icon {
    background: url('/static/image/casino/itembtn_icon.png') 0 0 no-repeat;
    position: relative;
    top: 2px;
    display: inline-block;
    vertical-align: text-bottom;
    width: 22px;
    height: 22px;

    &.is-show {
        background-position: 0 100%;
    }
}

.search-btn-wrap {
    float: right;
    margin: 5px 12px 0 0;
    cursor: pointer;
}

.search {
    background: none;
    width: 0;
    height: inherit;
    border: none;
    outline: none;
    color: #FFF;
    transition: width .3s;

    &::-ms-clear {
        display: none;
    }

    &::placeholder {
        color: #888888;
    }

    &.is-show {
        width: 120px;
    }

    &.is-empty {
        color: #FF5910;
    }
}

.search-icon {
    float: right;
    background: url('/static/image/casino/search_icon.png') 0 7px no-repeat;
    width: 23px;
    height: 38px;
}

@media screen and (min-width: $phone + $sidebar) {
    .search {
        &.is-show {
            width: 195px;
        }
    }
}

@media screen and (min-width: $pad + $sidebar) {
    .search {
        width: 195px;
    }
}

@media screen and (min-width: $pc + $sidebar) {
    .title-wrap {
        width: auto;
        cursor: default;

        &.border-bg,
        .border-bg-repeat {
            background: none;
        }

        .title {
            font-size: 22px;
        }

        .collapse-icon {
            display: none;
        }
    }
}
