@import "~@/css/variable.scss";

.game-list-wrap {
    margin: 0 auto;
    padding: 10px 0;
    width: 306px;

    .is-empty {
        position: fixed;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: #FFF;
        font-size: 16px;
        text-align: center;

        &.activity {
            margin-top: 0;
            padding: 124px 0;
            background: none;
        }
    }
}

@media screen and (min-width: $phone + $sidebar) {
    .game-list-wrap {
        width: 408px;
    }

    .game-list-item {
        margin: 5px;
    }
}

@media screen and (min-width: $pad + $sidebar) {
    .game-list-wrap {
        position: relative;
        width: 744px;
    }
}

@media screen and (min-width: $pc + $sidebar) {
    .game-list-wrap {
        width: 936px;
        .is-empty {
            margin: 70px 0 20px;
            position: static;
            left: auto;
            bottom: auto;
            transform: none;
        }
    }


    // 彩金
    .item-style {
        clear: both;
    }
}
