.qrcode-wrap {
    background: #9E9E9E url('/static/image/tpl/customizeHome/70/body/first_mobile_bg.png?v=2') 50% 0 no-repeat;
}

.qrcode-container {
    width: 1280px;
    margin: 0 auto;
    height: 557px;
}

.qrcode-img {
    position: relative;
    display: inline-block;
    margin: 262px 0 0 103px;

    &:last-child {
        margin-left: 75px;
    }
}

.qrcode {
    width: 178px;
}

.qrcode-tips {
    position: absolute;
    top: 75px;
    width: 100%;
    text-align: center;
    color: #FFF;
}

.links-wrap {
    padding: 14px 0;
    background-color: #FFB800;
    text-align: center;
}

.img-wrap {
    position: relative;
    display: inline-block;
    margin-left: 24px;
    cursor: pointer;
    font-weight: bold;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        color: #FFF;
    }
}

.copy-wrap {
    padding: 28px 0 20px;
    background-color: #282929;
}

.copy-container {
    width: 1280px;
    margin: 0 auto;
}

.copy-text {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}

.copy-info {
    display: inline-block;
    margin-left: 38px;
}

.copy-info-title {
    display: block;
    height: 14px;
    margin-bottom: 14px;
}

.img-bbin {
    width: 78px;
    height: 30px;
}

.img-gli {
    width: 89px;
    height: 31px;
}

.img-payment {
    width: 463px;
    height: 31px;
}
