.top-link {
    .link-item {
        float: left;
        background-color: #262626;
        padding: 13px 0 10px;
        width: 33.33%;
        height: 80px;
        text-align: center;
        color: #CCC;
        border-top: 3px solid #333;
        border-right: 1px solid #111;
        border-left: 2px solid #333;

        &:active {
            color: #55B9FF;

            img {
                display: none;

                &.is-active {
                    display: block;
                }
            }
        }

        &.has-promotion {
            width: 50%;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 35px;
            height: 35px;
            pointer-events: none;

            &.is-active {
                display: none;
            }
        }
    }
}
