/****** 變數 ******/
@import '~@/css/variable.scss';

.account-pop-wrap {
    position: relative;
    background: $popupBg;
    margin: 194px auto 0;
    width: 98%;
    max-width: 700px;
    min-height: 336px;
    color: $popupColor;
    border: $popupBorder;
    box-shadow: 0 2px 8px rgba(0,0,0,.33);
    .close-btn {
        position: absolute;
        top: 13px;
        right: 13px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 46px;
        font-family: initial;
        color: $closeColor;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease;
    }
    .account-pop-title {
        background: $titleBg;
        height: 50px;
        line-height: 50px;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .account-pop-content {
        padding: 72px 0;
        /deep/ {
            .account-pop-btn {
                margin: 0 auto;
                border-radius: $btnRadius;
                background: $btnBg;
                width: 21%;
                height: 40px;
                line-height: 40px;
                color: #FFF;
                text-align: center;
                min-width: 130px;
                cursor: pointer;
                &:hover {
                    background: $btnBgHover;
                }
            }
            .account-pop-text {
                margin-bottom: 20px;
                color: $popupTipColor;
                font-size: 15px;
            }
            .main-input {
                border-radius: $mainInputBorderRadius;
                border: $mainInputBorder;
                background-color: $mainInputBg;
                height: 37px;
                line-height: 37px;
                color: #646E7D;
            }
            select {
                background: $selectBgColor url("/static/image/member_select_bg_arrow.png") 95% 50% no-repeat;
                -webkit-appearance: none;
                -moz-appearance: none;
                cursor: pointer;
                color: $selectTextColor;
                border-radius: $selectBorderRadius;

                option {
                    color: $selectOptionColor;
                }
            }
            .main-radio {
                position: relative;
                float: left;
                margin-right: 24px;
                padding-left: 26px;
                line-height: 25px;
                input[type="radio"] {
                    display: none;
                }
                input[type="radio"] + label {
                    position: absolute;
                    top: 2px;
                    left: 0;
                    border: 2px solid #CCC;
                    border-radius: 100%;
                    height: 17px;
                    width: 17px;
                    .radio-style {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 100%;
                        height: 17px;
                        width: 17px;
                        cursor: pointer;
                    }
                }
                input[type="radio"]:checked + label {
                    border-color: #55B9FF;
                    .radio-style {
                        top: 2px;
                        left: 2px;
                        background: #CCC;
                        width: 13px;
                        height: 13px;
                    }
                }
            }
            .main-btn {
                border-radius: 4px;
                background: $btnBg;
                height: 39px;
                line-height: 39px;
                color: #FFF;
                text-align: center;
                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
                cursor: pointer;
                &:hover {
                    background: #71BFF5;
                }
            }
            .account-pop-field {
                position: relative;
                margin: 0 auto 25px;
                border-color: #CDCDCD;
                width: 80%;
                height: 39px;
                text-align: right;
                input {
                    padding: 0 5%;
                    border: none;
                    background: transparent;
                    width: 100%;
                    height: 39px;
                    line-height: 39px;
                    color: $mainInputColor;
                    font-size: 16px;
                }
                label {
                    position: absolute;
                    top: 0;
                    left: 4%;
                    font-size: 16px;
                    color: #262626;
                    line-height: 39px;
                }
            }
        }
        &.email,
        &.phone {
            padding-top: 40px;
            /deep/ {
                .account-pop-bind {
                    margin: 0 auto;
                    width: 80%;
                    .main-radio-wrap {
                        margin-bottom: 20px;
                    }
                    .no-radio {
                        padding-top: 32px;
                    }
                    .account-pop-field {
                        width: 100%;
                        &.code {
                            margin-bottom: 20px;
                        }
                    }
                    select {
                        margin-bottom: 25px;
                        border-color: #CBCDCC;
                        padding-left: 3%;
                        width: 100%;
                        height: 39px;
                        font-size: 16px;
                        font-family: "Microsoft JhengHei", "微軟正黑體", arial, helvetica, sans-serif;
                    }
                    .main-btn {
                        margin: 0 auto 20px;
                        width: 24%;
                        height: 41px;
                        line-height: 41px;
                        min-width: 130px;
                        &.lock {
                            background: #BFBFBF;
                            color: #616366;
                            cursor: no-drop;
                            span {
                                color: $popupTipColor;
                            }
                        }
                    }
                    .account-pop-tip {
                        margin-bottom: 20px;
                        font-size: 14px;
                        span {
                            color: $popupTipColor;
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                    .account-pop-btn {
                        width: 30%;
                    }
                    &.no-verification {
                        width: 72%;
                        .account-pop-field {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &.password {
            /deep/ {
                .pwd-field {
                    border-radius: $mainInputBorderRadius;
                    border: $mainInputBorder;
                    background-color: $mainInputBg;
                }
                .account-pop-field {
                    margin-bottom: 38px;
                    height: auto;
                    border: none;
                    .pwd-tip {
                        color: $popupTipColor;
                        line-height: normal;
                    }
                }
            }
        }
        &.withdrawPwd {
            text-align: center;
            /deep/ {
                .account-pop-withdrawPwd {
                    margin-bottom: 25px;
                    padding: 0 1%;
                    span {
                        display: block;
                        padding-left: 1%;
                        line-height: 40px;
                        text-align: left;
                    }
                    select {
                        margin: 0 1%;
                        border-color: #CBCDCC;
                        padding: 0 8%;
                        width: 23%;
                        height: 39px;
                        font-size: 15px;
                    }
                }
            }
        }
        &.birthday {
            /deep/ {
                .account-pop-field {
                    .vdp-datepicker {
                        width: 100%;
                        input {
                            width: 100%;
                            cursor: pointer;
                        }
                        .vdp-datepicker__calendar {
                            right: -20px;
                            width: 280px;
                            text-align: left;
                        }
                        .vdp-datepicker__clear-button {
                            position: absolute;
                            top: 0;
                            right: 5px;
                        }
                    }
                }
            }
        }
        &.gender {
            /deep/ {
                .account-pop-field {
                    select {
                        border: none;
                        padding: 0 10% 0 15px;
                        background-position: 98% 50%;
                        width: 100%;
                        height: 100%;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    &.agent {
        /deep/ {
            .main-radio {
                input[type="radio"]:checked + label {
                    border-color: #FF8989;
                }
            }
            .main-btn,
            .account-pop-btn {
                background: $btnBg;
                &:hover {
                    background: $btnBgHover;
                }
            }
        }
    }

    &.vip {
        width: 260px;
        min-height: 150px;
        margin-top: 199px;

        .close-btn {
            width: 18px;
            height: 18px;
            top: 2px;
            color: $vipCloseBtn;
        }

        .account-pop-title {
            height: 30px;
            padding-left: 36px;
            color: $vipTitle;
            font-weight: bolder;
            text-align: left;
            font-size: 16px;
            line-height: 30px;
            background-color: $vipBg;
        }

        /deep/ .account-pop-content {
            padding: 15px 15px;

            .account-pop-vip {
                .member-level-text {
                    margin-bottom: 3px;
                    color: $vipPopTitle;
                    font-size: 12px;
                }

                .prompt-text {
                    color: $vipContent;

                    span {
                        color: $vipText;
                    }
                }
            }
        }
    }

    &.alias {
        /deep/ .account-pop-content {
            .show-field-wrap {
                width: 80%;
                margin: 0 auto 28px;
                text-align: left;

                .field-checkbox {
                    vertical-align: middle;
                    margin-left: 14px;
                    cursor: pointer;
                }

                .field-text {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}

@media screen and (min-width: $phone + $sidebar) {
    .account-pop-wrap {
        .account-pop-content {
            &.withdrawPwd {
                /deep/ {
                    .account-pop-withdrawPwd {
                        padding: 0;
                        span {
                            display: inline-block;
                            padding-left: 0;
                            line-height: normal;
                        }
                        select {
                            padding: 0 5% 0 6%;
                            width: 18%;
                        }
                    }
                }
            }
        }

        &.vip {
            width: 390px;
            min-height: 188px;

            .close-btn {
                width: 30px;
                height: 30px;
                font-size: 60px;
                top: 11px;
            }

            .account-pop-title {
                height: 46px;
                padding-left: 36px;
                font-size: 20px;
                line-height: 46px;
            }

            /deep/ .account-pop-content {
                padding: 27px;
                font-size: 18px;
                line-height: 22px;

                .account-pop-vip {
                    .member-level-text {
                        margin-bottom: 4px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $pad + $sidebar) {
    .account-pop-wrap {
        .account-pop-content {
            /deep/ {
                .account-pop-field {
                    width: 64%;
                }
            }
            &.email {
                /deep/ {
                    .account-pop-bind {
                        .account-pop-field {
                            float: left;
                            width: 74%;
                        }
                        .main-btn {
                            float: right;
                        }
                        select {
                            float: left;
                            width: 74%;
                            &.no-verification {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &.phone {
                /deep/ {
                    .account-pop-bind {
                        &.no-verification {
                            .account-pop-field {
                                width: 80%;
                            }
                        }
                        .account-pop-field {
                            float: left;
                            width: 54%;
                            &.code {
                                width: 74%;
                            }
                        }
                        .main-btn {
                            float: right;
                        }
                        select {
                            clear: both;
                            float: left;
                            width: 18%;
                            margin-right: 2%;
                        }
                    }
                }
            }
            &.withdrawPwd {
                /deep/ {
                    .account-pop-withdrawPwd {
                        padding: 0;
                        select {
                            width: 14.5%;
                        }
                    }
                }
            }
        }

        &.vip {
            width: 660px;
            min-height: 316px;

            .close-btn {
                width: 40px;
                height: 40px;
                font-size: 105px;
                top: 26px;
                right: 39px;
            }

            .account-pop-title {
                height: 78px;
                padding-left: 36px;
                font-size: 36px;
                line-height: 78px;
            }

            /deep/ .account-pop-content {
                padding: 44px;
                font-size: 32px;
                line-height: 40px;

                .account-pop-vip {
                    .member-level-text {
                        margin-bottom: 8px;
                        font-size: 28px;
                    }
                }
            }
        }

        &.alias {
            /deep/ .account-pop-content {
                .show-field-wrap {
                    width: 64%;
                }
            }
        }
    }
}
