// header
.header-wrap {
    .header {
        position: relative;
    }

    // LOGO
    /deep/ .header-logo-wrap {
        position: absolute;
        width: 306px;
        height: 95px;
        margin-left: -153px;
        top: 5px;
        left: 50%;
        cursor: pointer;

        img {
            vertical-align: middle;
        }
    }

    .header-top-wrap {
        width: 1000px;
        margin: 0 auto;
        padding-top: 7px;
    }

    .header-feature-wrap {
        width: 1030px;
        margin: 0 auto;
    }

    .spare-url {
        float: right;
        line-height: 30px;
        margin-right: 16px;
        color: #DFDAD1;

        &:hover {
            color: #F4D15C;
        }
    }

    .header-login-wrap {
        float: right;
        width: 228px;
        height: 249px;
        margin: 43px 21px 0 0;
        background: url("/static/image/tpl/customizeHome/177/login_bg1.png") 50% 0 no-repeat;

        &.is-login {
            margin-right: 20px;
            padding: 20px;
            background: url("/static/image/tpl/customizeHome/177/login_bg2.png") 50% 0 no-repeat;
        }
    }

    // 導覽列
    /deep/ .nav-wrap {
        float: left;
        box-sizing: border-box;
        width: 199px;
        height: 448px;
        margin-top: 33px;
        padding: 30px 30px 0 20px;
        background: url("/static/image/tpl/customizeHome/177/g_navi_bg.png") 50% 0 no-repeat;
    
        .nav {
            position: relative;
    
            .nav-item-wrap {
                position: relative;
                width: 149px;
                margin: 0 auto 2px;
                padding: 0 2px;
                background: url("/static/image/tpl/customizeHome/177/nav_line.png") 50% 100% no-repeat;
    
                &.nav-last-item-wrap {
                    margin-bottom: 0;
                }
    
                .nav-item-icon {
                    position: absolute;
                    display: block;
                    right: 5px;
                    bottom: 19px;
                }
    
                .nav-item {
                    display: block;
                    overflow: hidden;
                    height: 34px;
                    line-height: 34px;
                    padding: 0 5px;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    color: #D4CCB5;
    
                    &.nolink {
                        cursor: default;
                    }
    
                    &.current,
                    &:hover {
                        font-size: 14px;
                        color: #362425 !important;
                        background: url("/static/image/tpl/customizeHome/177/nav_over.png") 50% 0 no-repeat;
                    }
                }
    
                .nav-sub-wrap {
                    position: absolute;
                    z-index: 100;
                    top: -3px;
                    left: 169px;
                    border: 2px solid #F8E978;
                    background: rgba(0,0,0,0.7);
    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 13px;
                        left: -8px;
                        width: 6px;
                        height: 9px;
                        background: url("/static/image/tpl/customizeHome/177/arrow.png") 50% 0 no-repeat;
                    }
    
                    .nav-sub-title {
                        height: 36px;
                        color: #F00;
                        background-color: #000;
                        font-size: 14px;
                        text-align: center;
                        font-weight: bolder;
                        line-height: 36px;
                    }
    
                    .nav-sub-list {
                        float: left;
                        width: 130px;
                    }
    
                    .nav-sub-item {
                        position: relative;
                        border-bottom: 1px dotted #534A43;
                        color: #FFF;
    
                        span {
                            display: block;
                            overflow: hidden;
                            width: 100%;
                            height: 35px;
                            line-height: 35px;
                            padding: 0 10px;
                            text-align: center;
                            font-size: 14px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            cursor: pointer;
                        }
    
                        .nav-sub-icon-wrap {
                            position: absolute;
                            width: 21px;
                            height: 21px;
                            top: -6px;
                            right: 1px;
                            cursor: pointer;
    
                            .nav-sub-item-icon {
                                position: absolute;
                                max-width: 100%;
                                bottom: 0;
                                left: 0;
                            }
                        }
    
                        &.nolink {
                            cursor: default;
                        }
    
                        &.current,
                        &:hover {
                            color: #FFD053 !important;
                        }
                    }
                }
            }
    
            .nav-more-wrap {
                position: relative;
                float: left;
                width: 149px;
                height: 15px;
                top: 2px;
                
                &:hover {
                    background: url("/static/image/tpl/customizeHome/177/nav_over.png") 50% 0 no-repeat;
    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -20px;
                        left: 0;
                        bottom: 0;
                    }
    
                    .more-btn {
                        svg {
                            color: #000;
                        }
                    }
                }
    
                .more-btn {
                    display: block;
                    width: 11px;
                    height: 11px;
                    margin: 0 auto;
                    padding-top: 2px;
                    cursor: pointer;
    
                    svg {
                        display: block;
                        margin: 0 auto;
                        color: #D4CCB5;
                    }
                }
    
                .more-list {
                    position: absolute;
                    z-index: 100;
                    width: 130px;
                    top: -10px;
                    left: 169px;
                    border: 2px solid #F8E978;
                    background: rgba(0,0,0,0.7);
    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 13px;
                        left: -8px;
                        width: 6px;
                        height: 9px;
                        background: url("/static/image/tpl/customizeHome/177/arrow.png") 50% 0 no-repeat;
                    }
    
                    .more-list-item {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        cursor: pointer;
                        border-bottom: 1px dotted #534A43;
                        color: #FFF;
    
                        &.current,
                        &:hover {
                            color: #FFD053 !important;
                        }
    
                        .text {
                            display: block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            padding: 0 18px;
                        }
    
                        .nav-more-icon-wrap {
                            position: absolute;
                            width: 21px;
                            height: 21px;
                            top: -6px;
                            right: 1px;
                            cursor: pointer;
    
                            .nav-more-item-icon {
                                position: absolute;
                                max-width: 100%;
                                bottom: 0;
                                left: 0;
                            }
                        }
    
                        .nav-more-caret {
                            position: absolute;
                            right: 7px;
                            top: 50%;
                            margin-top: -8px;
                        }
    
                        .nav-more-sub-wrap {
                            position: absolute;
                            z-index: 100;
                            top: 0;
                            border: 2px solid #F8E978;
                            background: rgba(0,0,0,0.7);
    
                            .nav-more-sub-list {
                                float: left;
                                width: 130px;
                            }
    
                            .nav-more-sub-item {
                                position: relative;
                                color: #FFF;
                                border-bottom: 1px dotted #534A43;
    
                                .nav-more-sub-icon-wrap {
                                    position: absolute;
                                    width: 21px;
                                    height: 21px;
                                    top: -6px;
                                    right: 1px;
                                    cursor: pointer;
    
                                    .nav-more-sub-item-icon {
                                        position: absolute;
                                        max-width: 100%;
                                        bottom: 0;
                                        left: 0;
                                    }
                                }
    
                                &.nolink {
                                    cursor: default;
                                }
    
                                &.current,
                                &:hover {
                                    color: #FFD053 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // 跑馬燈
    .news-wrap {
        clear: right;
        float: right;
        width: 337px;
        height: 87px;
        margin: 161px 6px 0 0;
        padding: 8px 10px 9px 65px;
        background: url("/static/image/tpl/customizeHome/177/new_bg.png") 50% 0 no-repeat;

        /deep/ .news-content {
            height: 70px;
            white-space: initial;
            color: #9F9F9F;
        }
    }
}
