/****** 各模板共用 ******/
@import "~@/css/tpl/index.scss";

.body {
    &.customize-body-wrap {
        overflow-x: auto;
        background: #090304;
    }

    .customize-home-wrap {
        min-width: 1030px;
        font-size: 12px;
        background: url("/static/image/tpl/customizeHome/177/bg01.jpg") #090304 50% 0 no-repeat;

        // 最近玩過
        &.is-login {
            padding-bottom: 28px;
        }
    }

    // 會員中心導覽選單
    .mcenter-list-wrap {
        position: absolute;
        top: 0;
    }
}
