// 語系元件
.lang /deep/ {
    position: relative;
    float: right;
    width: 98px;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    padding: 0 10px 0 5px;
    border-radius: 5px;
    color: #888888;
    background: rgba(53, 40, 40, 0.9);

    .lang-select,
    .lang-list-wrap {
        .lang-select-icon,
        .lang-list-icon {
            float: left;
            width: 18px;
            height: 18px;
            margin: 5px 7px 0 0;

            span {
                display: block;
                width: 18px;
                height: 18px;
                background-repeat: no-repeat;
                background-position: 50% 0;
                background-size: cover;
                background-image: url("/static/image/tpl/common/header/lang/3/zh-cn.png");

                &.zh-tw {
                    background-image: url("/static/image/tpl/common/header/lang/3/zh-tw.png");
                }

                &.en {
                    background-image: url("/static/image/tpl/common/header/lang/3/en.png");
                }
            }
        }

        .lang-select-text,
        .lang-list-text {
            float: left;
            height: 28px;
            line-height: 28px;
        }
    }

    .lang-select {
        position: relative;
        padding-right: 9px;
        cursor: pointer;
        background: url("/static/image/tpl/customizeHome/177/select_icon.png") 100% 14px no-repeat;
    }

    .lang-list-wrap {
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        border: 1px solid #323232;
        background-color: #131211;
        color: #FFF;

        .lang-list-item {
            line-height: 28px;
            padding: 4px 7px;
            cursor: pointer;

            &:hover,
            &.current {
                background-color: #000;

                .lang-list-text {
                    color: #F4D15C;
                }
            }
        }
    }
}